In [1]:
# Import the requests library.
import requests
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
import numpy as np

In [2]:
covid_data = pd.read_csv('counties.csv')
covid_df = pd.DataFrame(covid_data)
covid_df.head()

,fips,country,state,county,level,lat,locationId,long,population,metrics.testPositivityRatio,...,actuals.vaccinesDistributed,actuals.vaccinationsInitiated,actuals.vaccinationsCompleted,lastUpdatedDate,url,metrics.vaccinationsInitiatedRatio,metrics.vaccinationsCompletedRatio,actuals.newDeaths,actuals.vaccinesAdministered,cdcTransmissionLevel
0,2013,US,AK,Aleutians East Borough,county,NaN,iso1:us#iso2:us-ak#fips:02013,NaN,3337,NaN,...,NaN,2512.0,2313.0,2021-11-04,https://covidactnow.org/us/alaska-ak/county/al...,0.753,0.693,0.0,NaN,2
1,2016,US,AK,Aleutians West Census Area,county,NaN,iso1:us#iso2:us-ak#fips:02016,NaN,5634,0.000,...,NaN,3738.0,3152.0,2021-11-04,https://covidactnow.org/us/alaska-ak/county/al...,0.663,0.559,0.0,NaN,1
2,2020,US,AK,Anchorage Municipality,county,NaN,iso1:us#iso2:us-ak#fips:02020,NaN,288000,0.083,...,NaN,185037.0,162085.0,2021-11-04,https://covidactnow.org/us/alaska-ak/county/an...,0.642,0.563,5.0,NaN,3
3,2050,US,AK,Bethel Census Area,county,NaN,iso1:us#iso2:us-ak#fips:02050,NaN,18386,0.006,...,NaN,11597.0,10675.0,2021-11-04,https://covidactnow.org/us/alaska-ak/county/be...,0.631,0.581,0.0,NaN,3
4,2060,US,AK,Bristol Bay Borough,county,NaN,iso1:us#iso2:us-ak#fips:02060,NaN,836,NaN,...,NaN,NaN,NaN,2021-11-04,https://covidactnow.org/us/alaska-ak/county/br...,NaN,NaN,0.0,NaN,0

In [3]:
column_list = []
for column in covid_df.columns:
    column_list.append(column)
column_list

['fips',
 'country',
 'state',
 'county',
 'level',
 'lat',
 'locationId',
 'long',
 'population',
 'metrics.testPositivityRatio',
 'metrics.testPositivityRatioDetails.source',
 'metrics.caseDensity',
 'metrics.contactTracerCapacityRatio',
 'metrics.infectionRate',
 'metrics.infectionRateCI90',
 'unused1',
 'unused2',
 'metrics.icuCapacityRatio',
 'riskLevels.overall',
 'riskLevels.testPositivityRatio',
 'riskLevels.caseDensity',
 'riskLevels.contactTracerCapacityRatio',
 'riskLevels.infectionRate',
 'unused3',
 'riskLevels.icuCapacityRatio',
 'actuals.cases',
 'actuals.deaths',
 'actuals.positiveTests',
 'actuals.negativeTests',
 'actuals.contactTracers',
 'actuals.hospitalBeds.capacity',
 'actuals.hospitalBeds.currentUsageTotal',
 'actuals.hospitalBeds.currentUsageCovid',
 'unused4',
 'actuals.icuBeds.capacity',
 'actuals.icuBeds.currentUsageTotal',
 'actuals.icuBeds.currentUsageCovid',
 'unused5',
 'actuals.newCases',
 'actuals.vaccinesDistributed',
 'actuals.vaccinationsInitiated',
 'actuals.vaccinationsCompleted',
 'lastUpdatedDate',
 'url',
 'metrics.vaccinationsInitiatedRatio',
 'metrics.vaccinationsCompletedRatio',
 'actuals.newDeaths',
 'actuals.vaccinesAdministered',
 'cdcTransmissionLevel']

In [4]:
drop_list = ['level','lat','locationId','long','unused1','unused2','unused3','unused4','unused5','url']

In [5]:
covid_df.drop(drop_list, axis=1, inplace=True)
covid_df.head()

,fips,country,state,county,population,metrics.testPositivityRatio,metrics.testPositivityRatioDetails.source,metrics.caseDensity,metrics.contactTracerCapacityRatio,metrics.infectionRate,...,actuals.newCases,actuals.vaccinesDistributed,actuals.vaccinationsInitiated,actuals.vaccinationsCompleted,lastUpdatedDate,metrics.vaccinationsInitiatedRatio,metrics.vaccinationsCompletedRatio,actuals.newDeaths,actuals.vaccinesAdministered,cdcTransmissionLevel
0,2013,US,AK,Aleutians East Borough,3337,NaN,other,12.8,NaN,1.00,...,0,NaN,2512.0,2313.0,2021-11-04,0.753,0.693,0.0,NaN,2
1,2016,US,AK,Aleutians West Census Area,5634,0.000,other,5.1,NaN,1.00,...,2,NaN,3738.0,3152.0,2021-11-04,0.663,0.559,0.0,NaN,1
2,2020,US,AK,Anchorage Municipality,288000,0.083,other,79.2,NaN,0.88,...,172,NaN,185037.0,162085.0,2021-11-04,0.642,0.563,5.0,NaN,3
3,2050,US,AK,Bethel Census Area,18386,0.006,other,106.4,NaN,0.83,...,1,NaN,11597.0,10675.0,2021-11-04,0.631,0.581,0.0,NaN,3
4,2060,US,AK,Bristol Bay Borough,836,NaN,other,0.0,NaN,1.00,...,0,NaN,NaN,NaN,2021-11-04,NaN,NaN,0.0,NaN,0

In [6]:
for x in covid_df.columns:
    print(f'{x}: {covid_df[x].nunique()}')

fips: 3222
country: 1
state: 53
county: 1957
population: 3166
metrics.testPositivityRatio: 338
metrics.testPositivityRatioDetails.source: 1
metrics.caseDensity: 816
metrics.contactTracerCapacityRatio: 1
metrics.infectionRate: 92
metrics.infectionRateCI90: 118
metrics.icuCapacityRatio: 103
riskLevels.overall: 5
riskLevels.testPositivityRatio: 5
riskLevels.caseDensity: 5
riskLevels.contactTracerCapacityRatio: 2
riskLevels.infectionRate: 5
riskLevels.icuCapacityRatio: 5
actuals.cases: 2887
actuals.deaths: 654
actuals.positiveTests: 1
actuals.negativeTests: 1
actuals.contactTracers: 1
actuals.hospitalBeds.capacity: 637
actuals.hospitalBeds.currentUsageTotal: 563
actuals.hospitalBeds.currentUsageCovid: 171
actuals.icuBeds.capacity: 245
actuals.icuBeds.currentUsageTotal: 211
actuals.icuBeds.currentUsageCovid: 80
actuals.newCases: 234
actuals.vaccinesDistributed: 2
actuals.vaccinationsInitiated: 3081
actuals.vaccinationsCompleted: 3076
lastUpdatedDate: 1
metrics.vaccinationsInitiatedRatio: 584
metrics.vaccinationsCompletedRatio: 547
actuals.newDeaths: 17
actuals.vaccinesAdministered: 1256
cdcTransmissionLevel: 4

In [7]:
covid_df

,fips,country,state,county,population,metrics.testPositivityRatio,metrics.testPositivityRatioDetails.source,metrics.caseDensity,metrics.contactTracerCapacityRatio,metrics.infectionRate,...,actuals.newCases,actuals.vaccinesDistributed,actuals.vaccinationsInitiated,actuals.vaccinationsCompleted,lastUpdatedDate,metrics.vaccinationsInitiatedRatio,metrics.vaccinationsCompletedRatio,actuals.newDeaths,actuals.vaccinesAdministered,cdcTransmissionLevel
0,2013,US,AK,Aleutians East Borough,3337,NaN,other,12.8,NaN,1.00,...,0,NaN,2512.0,2313.0,2021-11-04,0.753,0.693,0.0,NaN,2
1,2016,US,AK,Aleutians West Census Area,5634,0.000,other,5.1,NaN,1.00,...,2,NaN,3738.0,3152.0,2021-11-04,0.663,0.559,0.0,NaN,1
2,2020,US,AK,Anchorage Municipality,288000,0.083,other,79.2,NaN,0.88,...,172,NaN,185037.0,162085.0,2021-11-04,0.642,0.563,5.0,NaN,3
3,2050,US,AK,Bethel Census Area,18386,0.006,other,106.4,NaN,0.83,...,1,NaN,11597.0,10675.0,2021-11-04,0.631,0.581,0.0,NaN,3
4,2060,US,AK,Bristol Bay Borough,836,NaN,other,0.0,NaN,1.00,...,0,NaN,NaN,NaN,2021-11-04,NaN,NaN,0.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3217,56037,US,WY,Sweetwater County,42343,0.132,other,50.9,NaN,0.98,...,15,NaN,20879.0,16940.0,2021-11-04,0.493,0.370,11.0,NaN,3
3218,56039,US,WY,Teton County,23464,0.060,other,34.7,NaN,0.86,...,3,NaN,21728.0,19110.0,2021-11-04,0.926,0.770,0.0,NaN,3
3219,56041,US,WY,Uinta County,20226,0.119,other,33.9,NaN,0.79,...,10,NaN,9931.0,8552.0,2021-11-04,0.491,0.390,1.0,NaN,3
3220,56043,US,WY,Washakie County,7805,0.048,other,102.5,NaN,0.71,...,11,NaN,3208.0,2898.0,2021-11-04,0.411,0.370,0.0,NaN,3
3221,56045,US,WY,Weston County,6927,0.316,other,162.9,NaN,0.98,...,5,NaN,2475.0,2233.0,2021-11-04,0.357,0.320,0.0,NaN,3

In [8]:
covid_df.isnull().sum()

fips                                            0
country                                         0
state                                           0
county                                          0
population                                      0
metrics.testPositivityRatio                   247
metrics.testPositivityRatioDetails.source       0
metrics.caseDensity                             0
metrics.contactTracerCapacityRatio           3221
metrics.infectionRate                         260
metrics.infectionRateCI90                     260
metrics.icuCapacityRatio                     1781
riskLevels.overall                              0
riskLevels.testPositivityRatio                  0
riskLevels.caseDensity                          0
riskLevels.contactTracerCapacityRatio           0
riskLevels.infectionRate                        0
riskLevels.icuCapacityRatio                     0
actuals.cases                                   0
actuals.deaths                                171
actuals.positiveTests                        3221
actuals.negativeTests                        3221
actuals.contactTracers                       3221
actuals.hospitalBeds.capacity                 776
actuals.hospitalBeds.currentUsageTotal        783
actuals.hospitalBeds.currentUsageCovid        833
actuals.icuBeds.capacity                     1511
actuals.icuBeds.currentUsageTotal            1591
actuals.icuBeds.currentUsageCovid            1675
actuals.newCases                                0
actuals.vaccinesDistributed                  3188
actuals.vaccinationsInitiated                  11
actuals.vaccinationsCompleted                  11
lastUpdatedDate                                 0
metrics.vaccinationsInitiatedRatio             12
metrics.vaccinationsCompletedRatio             12
actuals.newDeaths                             171
actuals.vaccinesAdministered                 1922
cdcTransmissionLevel                            0
dtype: int64

In [9]:
len(covid_df.index)

3222

In [10]:
covid_df['actuals.positiveTests']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
3217   NaN
3218   NaN
3219   NaN
3220   NaN
3221   NaN
Name: actuals.positiveTests, Length: 3222, dtype: float64

In [11]:
or_df = covid_df[covid_df['state'] == 'OR']
or_df['actuals.hospitalBeds.currentUsageCovid']

2210      1.0
2211     11.0
2212     35.0
2213      2.0
2214      NaN
2215      3.0
2216      0.0
2217      1.0
2218     71.0
2219      9.0
2220      NaN
2221      1.0
2222      2.0
2223      3.0
2224     41.0
2225      0.0
2226     21.0
2227     23.0
2228      1.0
2229     48.0
2230      2.0
2231      6.0
2232      3.0
2233     48.0
2234      NaN
2235    123.0
2236      NaN
2237      NaN
2238      2.0
2239     11.0
2240      0.0
2241      1.0
2242      6.0
2243     64.0
2244      NaN
2245      7.0
Name: actuals.hospitalBeds.currentUsageCovid, dtype: float64

In [12]:
or_df

,fips,country,state,county,population,metrics.testPositivityRatio,metrics.testPositivityRatioDetails.source,metrics.caseDensity,metrics.contactTracerCapacityRatio,metrics.infectionRate,...,actuals.newCases,actuals.vaccinesDistributed,actuals.vaccinationsInitiated,actuals.vaccinationsCompleted,lastUpdatedDate,metrics.vaccinationsInitiatedRatio,metrics.vaccinationsCompletedRatio,actuals.newDeaths,actuals.vaccinesAdministered,cdcTransmissionLevel
2210,41001,US,OR,Baker County,16124,0.082,other,22.1,NaN,0.67,...,4,NaN,13198.0,10724.0,2021-11-04,0.819,0.665,0.0,14464.0,3
2211,41003,US,OR,Benton County,93053,0.032,other,20.6,NaN,0.89,...,8,NaN,67443.0,63921.0,2021-11-04,0.725,0.687,0.0,136447.0,3
2212,41005,US,OR,Clackamas County,418187,0.066,other,22.1,NaN,1.02,...,97,NaN,274547.0,259633.0,2021-11-04,0.657,0.621,1.0,556214.0,3
2213,41007,US,OR,Clatsop County,40224,0.047,other,10.7,NaN,0.68,...,3,NaN,26694.0,24302.0,2021-11-04,0.664,0.604,0.0,49161.0,2
2214,41009,US,OR,Columbia County,52354,0.093,other,24.0,NaN,0.89,...,16,NaN,31952.0,28950.0,2021-11-04,0.610,0.553,0.0,54849.0,3
2215,41011,US,OR,Coos County,64487,0.044,other,26.6,NaN,0.91,...,24,NaN,37362.0,34004.0,2021-11-04,0.579,0.527,0.0,70115.0,3
2216,41013,US,OR,Crook County,24404,0.154,other,64.4,NaN,0.79,...,24,NaN,12329.0,11335.0,2021-11-04,0.505,0.464,2.0,23870.0,3
2217,41015,US,OR,Curry County,22925,0.051,other,5.6,NaN,0.75,...,1,NaN,13624.0,11636.0,2021-11-04,0.594,0.508,0.0,24637.0,1
2218,41017,US,OR,Deschutes County,197692,0.116,other,48.3,NaN,0.98,...,51,NaN,133226.0,123137.0,2021-11-04,0.674,0.623,3.0,264203.0,3
2219,41019,US,OR,Douglas County,110980,0.069,other,32.3,NaN,0.96,...,43,NaN,60630.0,54717.0,2021-11-04,0.546,0.493,0.0,101859.0,3
2220,41021,US,OR,Gilliam County,1912,0.071,other,44.8,NaN,NaN,...,2,NaN,878.0,764.0,2021-11-04,0.459,0.400,0.0,1596.0,3
2221,41023,US,OR,Grant County,7199,0.048,other,27.8,NaN,0.66,...,2,NaN,3269.0,3040.0,2021-11-04,0.454,0.422,1.0,5846.0,3
2222,41025,US,OR,Harney County,7393,0.168,other,29.0,NaN,0.55,...,1,NaN,3451.0,3098.0,2021-11-04,0.467,0.419,0.0,6175.0,3
2223,41027,US,OR,Hood River County,23382,0.065,other,20.8,NaN,0.72,...,7,NaN,18937.0,17629.0,2021-11-04,0.810,0.754,0.0,32459.0,3
2224,41029,US,OR,Jackson County,220944,0.081,other,23.9,NaN,1.00,...,41,NaN,128344.0,117363.0,2021-11-04,0.581,0.531,3.0,244801.0,3
2225,41031,US,OR,Jefferson County,24658,0.095,other,57.4,NaN,0.88,...,9,NaN,15213.0,13757.0,2021-11-04,0.617,0.558,1.0,25583.0,3
2226,41033,US,OR,Josephine County,87487,0.051,other,29.4,NaN,1.06,...,27,NaN,44518.0,40908.0,2021-11-04,0.509,0.468,1.0,86543.0,3
2227,41035,US,OR,Klamath County,68238,0.187,other,64.3,NaN,0.99,...,108,NaN,34791.0,31619.0,2021-11-04,0.510,0.463,0.0,62706.0,3
2228,41037,US,OR,Lake County,7869,0.189,other,25.4,NaN,0.65,...,4,NaN,3097.0,2885.0,2021-11-04,0.394,0.367,0.0,5767.0,3
2229,41039,US,OR,Lane County,382067,0.044,other,19.0,NaN,0.90,...,58,NaN,260239.0,240026.0,2021-11-04,0.681,0.628,2.0,508618.0,3
2230,41041,US,OR,Lincoln County,49962,0.044,other,21.4,NaN,0.86,...,11,NaN,35046.0,32553.0,2021-11-04,0.701,0.652,2.0,69004.0,3
2231,41043,US,OR,Linn County,129749,0.071,other,46.7,NaN,0.96,...,37,NaN,71530.0,66580.0,2021-11-04,0.551,0.513,1.0,138789.0,3
2232,41045,US,OR,Malheur County,30571,0.093,other,43.9,NaN,0.80,...,22,NaN,14317.0,12798.0,2021-11-04,0.468,0.419,0.0,22620.0,3
2233,41047,US,OR,Marion County,347818,0.106,other,31.9,NaN,1.00,...,95,NaN,216293.0,197656.0,2021-11-04,0.622,0.568,0.0,415232.0,3
2234,41049,US,OR,Morrow County,11603,0.174,other,32.0,NaN,0.75,...,6,NaN,6250.0,5691.0,2021-11-04,0.539,0.490,0.0,10655.0,3
2235,41051,US,OR,Multnomah County,812855,0.051,other,17.3,NaN,1.04,...,103,NaN,637969.0,580183.0,2021-11-04,0.785,0.714,5.0,1186105.0,3
2236,41053,US,OR,Polk County,86085,0.086,other,30.5,NaN,0.96,...,47,NaN,52816.0,49845.0,2021-11-04,0.614,0.579,0.0,105991.0,3
2237,41055,US,OR,Sherman County,1780,0.247,other,120.4,NaN,NaN,...,7,NaN,1044.0,942.0,2021-11-04,0.587,0.529,0.0,1777.0,3
2238,41057,US,OR,Tillamook County,27036,0.041,other,17.4,NaN,0.82,...,8,NaN,17561.0,16326.0,2021-11-04,0.650,0.604,2.0,33191.0,3
2239,41059,US,OR,Umatilla County,77950,0.104,other,29.5,NaN,0.77,...,32,NaN,43141.0,38719.0,2021-11-04,0.553,0.497,2.0,65298.0,3
2240,41061,US,OR,Union County,26835,0.067,other,30.9,NaN,0.78,...,5,NaN,13036.0,11953.0,2021-11-04,0.486,0.445,0.0,23606.0,3
2241,41063,US,OR,Wallowa County,7208,0.102,other,41.6,NaN,0.75,...,9,NaN,4254.0,3919.0,2021-11-04,0.590,0.544,0.0,7819.0,3
2242,41065,US,OR,Wasco County,26682,0.090,other,42.3,NaN,0.85,...,21,NaN,17235.0,15934.0,2021-11-04,0.646,0.597,0.0,30184.0,3
2243,41067,US,OR,Washington County,601592,0.052,other,15.8,NaN,0.98,...,82,NaN,435495.0,408642.0,2021-11-04,0.724,0.679,2.0,862502.0,3
2244,41069,US,OR,Wheeler County,1332,0.056,other,0.0,NaN,NaN,...,0,NaN,734.0,698.0,2021-11-04,0.551,0.524,0.0,1419.0,1
2245,41071,US,OR,Yamhill County,107100,0.096,other,30.8,NaN,1.04,...,71,NaN,66326.0,61204.0,2021-11-04,0.619,0.571,0.0,124720.0,3

In [13]:
counties_historic = pd.read_csv('counties.timeseries.csv')

In [14]:
ch_df = pd.DataFrame(counties_historic)
ch_df

,date,country,state,county,fips,lat,long,locationId,actuals.cases,actuals.deaths,...,unused3,unused4,metrics.icuCapacityRatio,riskLevels.overall,metrics.vaccinationsInitiatedRatio,metrics.vaccinationsCompletedRatio,actuals.newDeaths,actuals.vaccinesAdministered,riskLevels.caseDensity,cdcTransmissionLevel
0,2020-01-22,US,AK,Aleutians East Borough,2013,NaN,NaN,iso1:us#iso2:us-ak#fips:02013,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,0
1,2020-01-23,US,AK,Aleutians East Borough,2013,NaN,NaN,iso1:us#iso2:us-ak#fips:02013,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,0
2,2020-01-24,US,AK,Aleutians East Borough,2013,NaN,NaN,iso1:us#iso2:us-ak#fips:02013,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,0
3,2020-01-25,US,AK,Aleutians East Borough,2013,NaN,NaN,iso1:us#iso2:us-ak#fips:02013,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,0
4,2020-01-26,US,AK,Aleutians East Borough,2013,NaN,NaN,iso1:us#iso2:us-ak#fips:02013,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2084626,2021-10-30,US,WY,Weston County,56045,NaN,NaN,iso1:us#iso2:us-wy#fips:56045,1109.0,9.0,...,NaN,NaN,NaN,5,0.356,0.31,0.0,NaN,5,3
2084627,2021-10-31,US,WY,Weston County,56045,NaN,NaN,iso1:us#iso2:us-wy#fips:56045,1109.0,9.0,...,NaN,NaN,NaN,5,0.356,0.31,0.0,NaN,5,3
2084628,2021-11-01,US,WY,Weston County,56045,NaN,NaN,iso1:us#iso2:us-wy#fips:56045,1121.0,9.0,...,NaN,NaN,NaN,5,0.357,0.32,0.0,NaN,5,3
2084629,2021-11-02,US,WY,Weston County,56045,NaN,NaN,iso1:us#iso2:us-wy#fips:56045,1126.0,9.0,...,NaN,NaN,NaN,5,0.357,0.32,0.0,NaN,5,3
2084630,2021-11-03,US,WY,Weston County,56045,NaN,NaN,iso1:us#iso2:us-wy#fips:56045,NaN,NaN,...,NaN,NaN,NaN,5,NaN,0.32,NaN,NaN,5,3

In [15]:
county_list = []
for x in ch_df.columns:
    county_list.append(x)
county_list

['date',
 'country',
 'state',
 'county',
 'fips',
 'lat',
 'long',
 'locationId',
 'actuals.cases',
 'actuals.deaths',
 'actuals.positiveTests',
 'actuals.negativeTests',
 'actuals.contactTracers',
 'actuals.hospitalBeds.capacity',
 'actuals.hospitalBeds.currentUsageTotal',
 'actuals.hospitalBeds.currentUsageCovid',
 'unused1',
 'actuals.icuBeds.capacity',
 'actuals.icuBeds.currentUsageTotal',
 'actuals.icuBeds.currentUsageCovid',
 'unused2',
 'actuals.newCases',
 'actuals.vaccinesDistributed',
 'actuals.vaccinationsInitiated',
 'actuals.vaccinationsCompleted',
 'metrics.testPositivityRatio',
 'metrics.testPositivityRatioDetails',
 'metrics.caseDensity',
 'metrics.contactTracerCapacityRatio',
 'metrics.infectionRate',
 'metrics.infectionRateCI90',
 'unused3',
 'unused4',
 'metrics.icuCapacityRatio',
 'riskLevels.overall',
 'metrics.vaccinationsInitiatedRatio',
 'metrics.vaccinationsCompletedRatio',
 'actuals.newDeaths',
 'actuals.vaccinesAdministered',
 'riskLevels.caseDensity',
 'cdcTransmissionLevel']

In [16]:
li = ['date', 'state', 'county', 'fips', 'actuals.cases', 'actuals.deaths', 'actuals.positiveTests', 'actuals.hospitalBeds.capacity', 'actuals.hospitalBeds.currentUsageTotal', 'actuals.icuBeds.capacity', 'actuals.icuBeds.currentUsageTotal']
for x in li:
    county_list.remove(x)
    
county_list

['country',
 'lat',
 'long',
 'locationId',
 'actuals.negativeTests',
 'actuals.contactTracers',
 'actuals.hospitalBeds.currentUsageCovid',
 'unused1',
 'actuals.icuBeds.currentUsageCovid',
 'unused2',
 'actuals.newCases',
 'actuals.vaccinesDistributed',
 'actuals.vaccinationsInitiated',
 'actuals.vaccinationsCompleted',
 'metrics.testPositivityRatio',
 'metrics.testPositivityRatioDetails',
 'metrics.caseDensity',
 'metrics.contactTracerCapacityRatio',
 'metrics.infectionRate',
 'metrics.infectionRateCI90',
 'unused3',
 'unused4',
 'metrics.icuCapacityRatio',
 'riskLevels.overall',
 'metrics.vaccinationsInitiatedRatio',
 'metrics.vaccinationsCompletedRatio',
 'actuals.newDeaths',
 'actuals.vaccinesAdministered',
 'riskLevels.caseDensity',
 'cdcTransmissionLevel']

In [17]:
ch_df.drop(county_list, axis=1, inplace=True)
ch_df.head()

,date,state,county,fips,actuals.cases,actuals.deaths,actuals.positiveTests,actuals.hospitalBeds.capacity,actuals.hospitalBeds.currentUsageTotal,actuals.icuBeds.capacity,actuals.icuBeds.currentUsageTotal
0,2020-01-22,AK,Aleutians East Borough,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-23,AK,Aleutians East Borough,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-24,AK,Aleutians East Borough,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-25,AK,Aleutians East Borough,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-26,AK,Aleutians East Borough,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
ch_df.isnull().sum()

date                                            0
state                                           0
county                                          0
fips                                            0
actuals.cases                              259479
actuals.deaths                             313604
actuals.positiveTests                     2084029
actuals.hospitalBeds.capacity             1894638
actuals.hospitalBeds.currentUsageTotal    1897520
actuals.icuBeds.capacity                  1962481
actuals.icuBeds.currentUsageTotal         1974630
dtype: int64

In [19]:
ch_df['actuals.hospitalBeds.capacity'].isnull().sum()

1894638

In [20]:
nyt_data = pd.DataFrame(pd.read_csv('us-counties.csv'))
nyt_data

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
1888090  2021-11-05  Sweetwater     Wyoming  56037.0   7695    91.0
1888091  2021-11-05       Teton     Wyoming  56039.0   5243    14.0
1888092  2021-11-05       Uinta     Wyoming  56041.0   3901    27.0
1888093  2021-11-05    Washakie     Wyoming  56043.0   1780    35.0
1888094  2021-11-05      Weston     Wyoming  56045.0   1154     9.0

[1888095 rows x 6 columns]

In [21]:
hospital_data_df = pd.DataFrame(pd.read_csv('COVID-19_Reported_Patient_Impact_and_Hospital_Capacity_by_Facility.csv'))

In [22]:
hospital_data_df.isnull().sum()

hospital_pk                                                     0
collection_week                                                 0
state                                                           0
ccn                                                           753
hospital_name                                                   0
                                                            ...
total_personnel_covid_vaccinated_doses_one_7_day           197348
total_personnel_covid_vaccinated_doses_all_7_day           197084
previous_week_patients_covid_vaccinated_doses_one_7_day    197186
previous_week_patients_covid_vaccinated_doses_all_7_day    197128
is_corrected                                                    0
Length: 106, dtype: int64

In [23]:
hospital_data_df.dropna(inplace=True)

In [24]:
hospital_data_df.dtypes

hospital_pk                                                 object
collection_week                                             object
state                                                       object
ccn                                                         object
hospital_name                                               object
                                                            ...
total_personnel_covid_vaccinated_doses_one_7_day           float64
total_personnel_covid_vaccinated_doses_all_7_day           float64
previous_week_patients_covid_vaccinated_doses_one_7_day    float64
previous_week_patients_covid_vaccinated_doses_all_7_day    float64
is_corrected                                                  bool
Length: 106, dtype: object

In [25]:
# Find the data types for the NYT data
nyt_data.dtypes

date       object
county     object
state      object
fips      float64
cases       int64
deaths    float64
dtype: object

In [26]:
# Convert the date column in the NYT data to a datetime object using pd.to_datetime
nyt_data['date'] = pd.to_datetime(nyt_data['date'])
nyt_data.head()

        date     county       state     fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061.0      1     0.0
1 2020-01-22  Snohomish  Washington  53061.0      1     0.0
2 2020-01-23  Snohomish  Washington  53061.0      1     0.0
3 2020-01-24       Cook    Illinois  17031.0      1     0.0
4 2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [27]:
# Convert the date column in the hospital data to a datetime object using pd.to_datetime
hospital_data_df['collection_week'] = pd.to_datetime(hospital_data_df['collection_week'])
# Check to verify the date is now a datetime object
hospital_data_df.dtypes

hospital_pk                                                        object
collection_week                                            datetime64[ns]
state                                                              object
ccn                                                                object
hospital_name                                                      object
                                                                ...
total_personnel_covid_vaccinated_doses_one_7_day                  float64
total_personnel_covid_vaccinated_doses_all_7_day                  float64
previous_week_patients_covid_vaccinated_doses_one_7_day           float64
previous_week_patients_covid_vaccinated_doses_all_7_day           float64
is_corrected                                                         bool
Length: 106, dtype: object

In [28]:
# The NYT data is already sorted by date
# Sort the hospital data by date
hospital_data_df = hospital_data_df.sort_values(by='collection_week')
hospital_data_df

# The hospital data is binned by collection week ending on every friday

,hospital_pk,collection_week,state,ccn,hospital_name,address,city,zip,hospital_subtype,fips_code,...,previous_day_admission_pediatric_covid_confirmed_7_day_coverage,previous_day_admission_adult_covid_suspected_7_day_coverage,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected
212405,420026,2021-01-01,SC,420026,MUSC HEALTH COLUMBIA MEDICAL CENTER DOWNTOWN,2435 FOREST DRIVE,COLUMBIA,29204.0,Short Term,45079.0,...,7,7,7,0.0,0.0,0.0,0.0,0.0,0.0,False
221589,520116,2021-01-08,WI,520116,WATERTOWN REGIONAL MEDICAL CENTER,125 HOSPITAL DRIVE,WATERTOWN,53098.0,Short Term,55027.0,...,7,7,7,339.0,0.0,368.0,339.0,0.0,0.0,False
206919,042011,2021-01-08,AR,042011,ADVANCED CARE HOSPITAL WHITE COUNTY,1200 SOUTH MAIN STREET,SEARCY,72143.0,Long Term,5145.0,...,7,7,7,19.0,5.0,53.0,14.0,0.0,0.0,False
199907,041322,2021-01-08,AR,041322,FULTON COUNTY HOSPITAL,679 NORTH MAIN STREET,SALEM,72576.0,Critical Access Hospitals,5049.0,...,7,7,7,54.0,26.0,26.0,28.0,0.0,0.0,False
199900,330115,2021-01-08,NY,330115,ONEIDA HEALTH HOSPITAL,321 GENESEE STREET,ONEIDA,13421.0,Short Term,36053.0,...,7,7,7,427.0,0.0,289.0,621.0,0.0,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6975,370201,2021-10-22,OK,370201,SURGICAL HOSPITAL OF OKLAHOMA,100 SOUTHEAST 59TH STREET,OKLAHOMA CITY,73129.0,Short Term,40109.0,...,7,7,7,0.0,40.0,0.0,20.0,0.0,0.0,False
6963,390327,2021-10-22,PA,390327,WELLSPAN SURGERY AND REHABILITATION HOSPITAL,55 MONUMENT ROAD,YORK,17403.0,Short Term,42133.0,...,7,7,7,7.0,140.0,9.0,291.0,0.0,0.0,False
6958,010062,2021-10-22,AL,010062,WIREGRASS MEDICAL CENTER,1200 W MAPLE AVENUE,GENEVA,36340.0,Short Term,1061.0,...,6,6,6,0.0,0.0,0.0,0.0,0.0,0.0,False
3887,151327,2021-10-22,IN,151327,SULLIVAN COUNTY COMMUNITY HOSPITAL,2200 N SECTION ST,SULLIVAN,47882.0,Critical Access Hospitals,18153.0,...,7,7,7,-999999.0,92.0,223.0,262.0,6.0,24.0,False
6198,041330,2021-10-22,AR,041330,PIGGOTT COMMUNITY HOSPITAL,216 EAST MAIN STREET,PIGGOTT,72454.0,Critical Access Hospitals,5021.0,...,7,7,7,0.0,146.0,0.0,150.0,0.0,0.0,False

In [29]:
# 1. Remove the data for dates before 7-31-20 and after 10-22-21
# 2. Bin the date column by weeks ending every friday
# 3. Sum the cases and deaths columns for each week binned

# Step 1:
nyt_data_filtered = nyt_data[nyt_data['date'] >= '2020-07-25']
nyt_data_filtered = nyt_data_filtered[nyt_data_filtered['date'] <= '2021-10-22']
nyt_data_filtered

              date      county    state     fips  cases  deaths
366652  2020-07-25     Autauga  Alabama   1001.0    932    21.0
366653  2020-07-25     Baldwin  Alabama   1003.0   2662    18.0
366654  2020-07-25     Barbour  Alabama   1005.0    552     4.0
366655  2020-07-25        Bibb  Alabama   1007.0    318     2.0
366656  2020-07-25      Blount  Alabama   1009.0    637     1.0
...            ...         ...      ...      ...    ...     ...
1842600 2021-10-22  Sweetwater  Wyoming  56037.0   7414    79.0
1842601 2021-10-22       Teton  Wyoming  56039.0   5119    14.0
1842602 2021-10-22       Uinta  Wyoming  56041.0   3781    26.0
1842603 2021-10-22    Washakie  Wyoming  56043.0   1676    33.0
1842604 2021-10-22      Weston  Wyoming  56045.0   1027     9.0

[1475953 rows x 6 columns]

In [30]:
# Step 2:
# Step 3:
columns_to_sum = [nyt_data_filtered['cases'], nyt_data_filtered['deaths']]
nyt_data_grouped = nyt_data_filtered.groupby(['fips', pd.Grouper(key='date', freq='W-FRI')]).agg({'cases':'sum','deaths':'sum'}).reset_index()
nyt_data_grouped

           fips       date  cases  deaths
0        1001.0 2020-07-31   6817   147.0
1        1001.0 2020-08-07   7503   150.0
2        1001.0 2020-08-14   8531   158.0
3        1001.0 2020-08-21   9009   161.0
4        1001.0 2020-08-28   9484   161.0
...         ...        ...    ...     ...
208977  78030.0 2021-09-24  24720   297.0
208978  78030.0 2021-10-01  24982   304.0
208979  78030.0 2021-10-08  25204   308.0
208980  78030.0 2021-10-15  25290   311.0
208981  78030.0 2021-10-22  25435   315.0

[208982 rows x 4 columns]

In [31]:
# Resort the nyt_data_grouped by date
nyt_data_grouped = nyt_data_grouped.sort_values(by='date')
nyt_data_grouped

           fips       date  cases  deaths
0        1001.0 2020-07-31   6817   147.0
167222  48119.0 2020-07-31     88     0.0
32676   13241.0 2020-07-31   1161    21.0
167287  48121.0 2020-07-31  44680   448.0
32611   13239.0 2020-07-31    185     7.0
...         ...        ...    ...     ...
179867  48507.0 2021-10-22  17555   371.0
51697   19017.0 2021-10-22  24875   472.0
142867  40151.0 2021-10-22  11280   163.0
51177   19001.0 2021-10-22   7311   241.0
208981  78030.0 2021-10-22  25435   315.0

[208982 rows x 4 columns]

In [32]:
# Read in the vaccination data and complete the data cleaning steps as outlined above
vaccine_df = pd.DataFrame(pd.read_csv('COVID-19_Vaccinations_in_the_United_States_County.csv'))
vaccine_df

,Date,FIPS,MMWR_week,Recip_County,Recip_State,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_12Plus,Series_Complete_12PlusPop_Pct,Series_Complete_18Plus,...,SVI_CTGY,Series_Complete_Pop_Pct_SVI,Series_Complete_12PlusPop_Pct_SVI,Series_Complete_18PlusPop_Pct_SVI,Series_Complete_65PlusPop_Pct_SVI,Metro_status,Series_Complete_Pop_Pct_UR_Equity,Series_Complete_12PlusPop_Pct_UR_Equity,Series_Complete_18PlusPop_Pct_UR_Equity,Series_Complete_65PlusPop_Pct_UR_Equity
0,11/06/2021,21097,44,Harrison County,KY,43.2,8163,8163.0,50.7,7772,...,C,11.0,12.0,12.0,12.0,Non-metro,7.0,8.0,8.0,8.0
1,11/06/2021,18105,44,Monroe County,IN,54.7,81158,81155.0,61.0,76819,...,B,8.0,8.0,8.0,8.0,Metro,4.0,4.0,4.0,4.0
2,11/06/2021,46023,44,Charles Mix County,SD,47.3,4399,4398.0,59.8,4119,...,C,11.0,12.0,12.0,12.0,Non-metro,7.0,8.0,8.0,8.0
3,11/06/2021,41045,44,Malheur County,OR,42.2,12893,12884.0,51.1,12170,...,D,15.0,16.0,16.0,16.0,Non-metro,7.0,8.0,8.0,8.0
4,11/06/2021,39127,44,Perry County,OH,36.9,13339,13339.0,43.5,12823,...,C,10.0,11.0,11.0,12.0,Metro,2.0,3.0,3.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079793,12/13/2020,45045,51,Greenville County,SC,0.0,0,0.0,0.0,0,...,C,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN
1079794,12/13/2020,05145,51,White County,AR,0.0,0,0.0,0.0,0,...,C,NaN,NaN,NaN,NaN,Non-metro,NaN,NaN,NaN,NaN
1079795,12/13/2020,55025,51,Dane County,WI,0.0,0,0.0,0.0,0,...,A,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN
1079796,12/13/2020,18109,51,Morgan County,IN,0.0,0,0.0,0.0,0,...,A,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN
1079797,12/13/2020,72119,51,Rio Grande Municipio,PR,0.0,0,0.0,0.0,0,...,C,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN

In [33]:
# Get the data types for the vaccination data set
vaccine_df.dtypes

Date                                        object
FIPS                                        object
MMWR_week                                    int64
Recip_County                                object
Recip_State                                 object
Series_Complete_Pop_Pct                    float64
Series_Complete_Yes                          int64
Series_Complete_12Plus                     float64
Series_Complete_12PlusPop_Pct              float64
Series_Complete_18Plus                       int64
Series_Complete_18PlusPop_Pct              float64
Series_Complete_65Plus                       int64
Series_Complete_65PlusPop_Pct              float64
Completeness_pct                           float64
Administered_Dose1_Recip                   float64
Administered_Dose1_Pop_Pct                 float64
Administered_Dose1_Recip_12Plus            float64
Administered_Dose1_Recip_12PlusPop_Pct     float64
Administered_Dose1_Recip_18Plus            float64
Administered_Dose1_Recip_18PlusPop_Pct     float64
Administered_Dose1_Recip_65Plus            float64
Administered_Dose1_Recip_65PlusPop_Pct     float64
SVI_CTGY                                    object
Series_Complete_Pop_Pct_SVI                float64
Series_Complete_12PlusPop_Pct_SVI          float64
Series_Complete_18PlusPop_Pct_SVI          float64
Series_Complete_65PlusPop_Pct_SVI          float64
Metro_status                                object
Series_Complete_Pop_Pct_UR_Equity          float64
Series_Complete_12PlusPop_Pct_UR_Equity    float64
Series_Complete_18PlusPop_Pct_UR_Equity    float64
Series_Complete_65PlusPop_Pct_UR_Equity    float64
dtype: object

In [34]:
# Convert the date column to a pandas datetime
vaccine_df['Date'] = pd.to_datetime(vaccine_df['Date'])
vaccine_df.dtypes

Date                                       datetime64[ns]
FIPS                                               object
MMWR_week                                           int64
Recip_County                                       object
Recip_State                                        object
Series_Complete_Pop_Pct                           float64
Series_Complete_Yes                                 int64
Series_Complete_12Plus                            float64
Series_Complete_12PlusPop_Pct                     float64
Series_Complete_18Plus                              int64
Series_Complete_18PlusPop_Pct                     float64
Series_Complete_65Plus                              int64
Series_Complete_65PlusPop_Pct                     float64
Completeness_pct                                  float64
Administered_Dose1_Recip                          float64
Administered_Dose1_Pop_Pct                        float64
Administered_Dose1_Recip_12Plus                   float64
Administered_Dose1_Recip_12PlusPop_Pct            float64
Administered_Dose1_Recip_18Plus                   float64
Administered_Dose1_Recip_18PlusPop_Pct            float64
Administered_Dose1_Recip_65Plus                   float64
Administered_Dose1_Recip_65PlusPop_Pct            float64
SVI_CTGY                                           object
Series_Complete_Pop_Pct_SVI                       float64
Series_Complete_12PlusPop_Pct_SVI                 float64
Series_Complete_18PlusPop_Pct_SVI                 float64
Series_Complete_65PlusPop_Pct_SVI                 float64
Metro_status                                       object
Series_Complete_Pop_Pct_UR_Equity                 float64
Series_Complete_12PlusPop_Pct_UR_Equity           float64
Series_Complete_18PlusPop_Pct_UR_Equity           float64
Series_Complete_65PlusPop_Pct_UR_Equity           float64
dtype: object

In [35]:
or_state = vaccine_df[vaccine_df['Recip_State'] == 'OR']
or_umatilla = or_state[or_state['Recip_County'] == 'Umatilla County']
or_umatilla

,Date,FIPS,MMWR_week,Recip_County,Recip_State,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_12Plus,Series_Complete_12PlusPop_Pct,Series_Complete_18Plus,...,SVI_CTGY,Series_Complete_Pop_Pct_SVI,Series_Complete_12PlusPop_Pct_SVI,Series_Complete_18PlusPop_Pct_SVI,Series_Complete_65PlusPop_Pct_SVI,Metro_status,Series_Complete_Pop_Pct_UR_Equity,Series_Complete_12PlusPop_Pct_UR_Equity,Series_Complete_18PlusPop_Pct_UR_Equity,Series_Complete_65PlusPop_Pct_UR_Equity
17,2021-11-06,41059,44,Umatilla County,OR,49.9,38931,38891.0,59.7,36228,...,D,15.0,16.0,16.0,16.0,Non-metro,7.0,8.0,8.0,8.0
3599,2021-11-05,41059,44,Umatilla County,OR,49.9,38869,38829.0,59.6,36171,...,D,15.0,16.0,16.0,16.0,Non-metro,7.0,8.0,8.0,8.0
6724,2021-11-04,41059,44,Umatilla County,OR,49.8,38829,38789.0,59.5,36135,...,D,15.0,16.0,16.0,16.0,Non-metro,7.0,8.0,8.0,8.0
12492,2021-11-03,41059,44,Umatilla County,OR,49.7,38763,38723.0,59.4,36077,...,D,15.0,16.0,16.0,16.0,Non-metro,7.0,8.0,8.0,8.0
14323,2021-11-02,41059,44,Umatilla County,OR,49.7,38719,38679.0,59.4,36034,...,D,15.0,16.0,16.0,16.0,Non-metro,7.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064759,2020-12-17,41059,51,Umatilla County,OR,0.0,0,0.0,0.0,0,...,D,NaN,NaN,NaN,NaN,Non-metro,NaN,NaN,NaN,NaN
1067481,2020-12-16,41059,51,Umatilla County,OR,0.0,0,0.0,0.0,0,...,D,NaN,NaN,NaN,NaN,Non-metro,NaN,NaN,NaN,NaN
1070824,2020-12-15,41059,51,Umatilla County,OR,0.0,0,0.0,0.0,0,...,D,NaN,NaN,NaN,NaN,Non-metro,NaN,NaN,NaN,NaN
1075975,2020-12-14,41059,51,Umatilla County,OR,0.0,0,0.0,0.0,0,...,D,NaN,NaN,NaN,NaN,Non-metro,NaN,NaN,NaN,NaN
1079719,2020-12-13,41059,51,Umatilla County,OR,0.0,0,0.0,0.0,0,...,D,NaN,NaN,NaN,NaN,Non-metro,NaN,NaN,NaN,NaN

In [36]:
or_umatilla = or_umatilla.groupby(['FIPS', pd.Grouper(key='Date', freq='W-FRI')]).agg({'Series_Complete_Yes':lambda g: g.iloc[0] - g.iloc[-1]}).reset_index()
or_umatilla.sort_values('Date', inplace=True)
or_umatilla

     FIPS       Date  Series_Complete_Yes
0   41059 2020-12-18                    0
1   41059 2020-12-25                    0
2   41059 2021-01-01                    0
3   41059 2021-01-08                    0
4   41059 2021-01-15                   40
5   41059 2021-01-22                   46
6   41059 2021-01-29                  471
7   41059 2021-02-05                  391
8   41059 2021-02-12                  526
9   41059 2021-02-19                  509
10  41059 2021-02-26                 1365
11  41059 2021-03-05                 1266
12  41059 2021-03-12                  731
13  41059 2021-03-19                 1715
14  41059 2021-03-26                  443
15  41059 2021-04-02                 1544
16  41059 2021-04-09                 1555
17  41059 2021-04-16                 1470
18  41059 2021-04-23                  717
19  41059 2021-04-30                  710
20  41059 2021-05-07                 1431
21  41059 2021-05-14                  757
22  41059 2021-05-21                  528
23  41059 2021-05-28                  516
24  41059 2021-06-04                  573
25  41059 2021-06-11                 2093
26  41059 2021-06-18                  821
27  41059 2021-06-25                  524
28  41059 2021-07-02                  361
29  41059 2021-07-09                  250
30  41059 2021-07-16                  327
31  41059 2021-07-23                  305
32  41059 2021-07-30                  346
33  41059 2021-08-06                  327
34  41059 2021-08-13                  524
35  41059 2021-08-20                  535
36  41059 2021-08-27                  537
37  41059 2021-09-03                  548
38  41059 2021-09-10                  488
39  41059 2021-09-17                  529
40  41059 2021-09-24                  447
41  41059 2021-10-01                  567
42  41059 2021-10-08                  542
43  41059 2021-10-15                  396
44  41059 2021-10-22                  372
45  41059 2021-10-29                  403
46  41059 2021-11-05                  269
47  41059 2021-11-12                    0

In [37]:
merged_df = pd.concat([hospital_data_df, nyt_data_grouped], join='outer').reset_index()
merged_df

,index,hospital_pk,collection_week,state,ccn,hospital_name,address,city,zip,hospital_subtype,...,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected,fips,date,cases,deaths
0,212405,420026,2021-01-01,SC,420026,MUSC HEALTH COLUMBIA MEDICAL CENTER DOWNTOWN,2435 FOREST DRIVE,COLUMBIA,29204.0,Short Term,...,0.0,0.0,0.0,0.0,0.0,False,NaN,NaT,NaN,NaN
1,221589,520116,2021-01-08,WI,520116,WATERTOWN REGIONAL MEDICAL CENTER,125 HOSPITAL DRIVE,WATERTOWN,53098.0,Short Term,...,0.0,368.0,339.0,0.0,0.0,False,NaN,NaT,NaN,NaN
2,206919,042011,2021-01-08,AR,042011,ADVANCED CARE HOSPITAL WHITE COUNTY,1200 SOUTH MAIN STREET,SEARCY,72143.0,Long Term,...,5.0,53.0,14.0,0.0,0.0,False,NaN,NaT,NaN,NaN
3,199907,041322,2021-01-08,AR,041322,FULTON COUNTY HOSPITAL,679 NORTH MAIN STREET,SALEM,72576.0,Critical Access Hospitals,...,26.0,26.0,28.0,0.0,0.0,False,NaN,NaT,NaN,NaN
4,199900,330115,2021-01-08,NY,330115,ONEIDA HEALTH HOSPITAL,321 GENESEE STREET,ONEIDA,13421.0,Short Term,...,0.0,289.0,621.0,0.0,0.0,False,NaN,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319195,179867,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48507.0,2021-10-22,17555.0,371.0
319196,51697,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19017.0,2021-10-22,24875.0,472.0
319197,142867,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40151.0,2021-10-22,11280.0,163.0
319198,51177,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19001.0,2021-10-22,7311.0,241.0
319199,208981,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,78030.0,2021-10-22,25435.0,315.0

In [38]:
nyt_data_grouped.nunique()

fips       3218
date         65
cases     74577
deaths    10167
dtype: int64

In [39]:
hospital_data_df.nunique()

hospital_pk                                                3269
collection_week                                              43
state                                                        51
ccn                                                        3269
hospital_name                                              3187
                                                           ...
total_personnel_covid_vaccinated_doses_one_7_day           5025
total_personnel_covid_vaccinated_doses_all_7_day           6437
previous_week_patients_covid_vaccinated_doses_one_7_day    2998
previous_week_patients_covid_vaccinated_doses_all_7_day    3104
is_corrected                                                  2
Length: 106, dtype: int64

In [40]:
hospital_data_df.rename(columns={'collection_week': 'date'}, inplace=True)
hospital_data_df.fips.nunique()

2987

In [41]:
m_df = nyt_data_grouped.merge(hospital_data_df, on='fips')
m_df

,fips,date_x,cases,deaths,hospital_pk,date_y,state,ccn,hospital_name,address,...,previous_day_admission_pediatric_covid_confirmed_7_day_coverage,previous_day_admission_adult_covid_suspected_7_day_coverage,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected
0,48135.0,2020-07-31,21562,294.0,230244,2021-01-15,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,297.0,837.0,203.0,521.0,78.0,10.0,False
1,48135.0,2020-07-31,21562,294.0,230244,2021-01-22,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,111.0,809.0,178.0,576.0,5.0,6.0,False
2,48135.0,2020-07-31,21562,294.0,230244,2021-01-29,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,38.0,796.0,177.0,589.0,-999999.0,-999999.0,False
3,48135.0,2020-07-31,21562,294.0,230244,2021-02-05,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,769.0,798.0,175.0,594.0,-999999.0,5.0,False
4,48135.0,2020-07-31,21562,294.0,230244,2021-02-12,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,9.0,729.0,171.0,600.0,0.0,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333962,48033.0,2021-10-22,294,14.0,230071,2021-09-24,MI,230071,STRAITH HOSPITAL FOR SPECIAL SURGERY,23901 LAHSER,...,7,7,7,0.0,53.0,0.0,66.0,0.0,0.0,False
333963,48033.0,2021-10-22,294,14.0,230071,2021-10-01,MI,230071,STRAITH HOSPITAL FOR SPECIAL SURGERY,23901 LAHSER,...,7,7,7,0.0,39.0,-999999.0,66.0,0.0,0.0,False
333964,48033.0,2021-10-22,294,14.0,230071,2021-10-08,MI,230071,STRAITH HOSPITAL FOR SPECIAL SURGERY,23901 LAHSER,...,7,7,7,0.0,37.0,-999999.0,68.0,0.0,0.0,False
333965,48033.0,2021-10-22,294,14.0,230071,2021-10-15,MI,230071,STRAITH HOSPITAL FOR SPECIAL SURGERY,23901 LAHSER,...,7,7,7,0.0,37.0,-999999.0,68.0,0.0,0.0,False
333966,48033.0,2021-10-22,294,14.0,230071,2021-10-22,MI,230071,STRAITH HOSPITAL FOR SPECIAL SURGERY,23901 LAHSER,...,6,6,6,0.0,35.0,-999999.0,68.0,0.0,0.0,False

In [42]:
m_df.isnull().sum()

fips                                                       0
date_x                                                     0
cases                                                      0
deaths                                                     0
hospital_pk                                                0
                                                          ..
total_personnel_covid_vaccinated_doses_one_7_day           0
total_personnel_covid_vaccinated_doses_all_7_day           0
previous_week_patients_covid_vaccinated_doses_one_7_day    0
previous_week_patients_covid_vaccinated_doses_all_7_day    0
is_corrected                                               0
Length: 109, dtype: int64

In [43]:
m_df.dropna().head(50)

,fips,date_x,cases,deaths,hospital_pk,date_y,state,ccn,hospital_name,address,...,previous_day_admission_pediatric_covid_confirmed_7_day_coverage,previous_day_admission_adult_covid_suspected_7_day_coverage,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected
0,48135.0,2020-07-31,21562,294.0,230244,2021-01-15,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,297.0,837.0,203.0,521.0,78.0,10.0,False
1,48135.0,2020-07-31,21562,294.0,230244,2021-01-22,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,111.0,809.0,178.0,576.0,5.0,6.0,False
2,48135.0,2020-07-31,21562,294.0,230244,2021-01-29,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,38.0,796.0,177.0,589.0,-999999.0,-999999.0,False
3,48135.0,2020-07-31,21562,294.0,230244,2021-02-05,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,769.0,798.0,175.0,594.0,-999999.0,5.0,False
4,48135.0,2020-07-31,21562,294.0,230244,2021-02-12,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,9.0,729.0,171.0,600.0,0.0,0.0,False
5,48135.0,2020-07-31,21562,294.0,230244,2021-02-19,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,36.0,723.0,156.0,625.0,-999999.0,6.0,False
6,48135.0,2020-07-31,21562,294.0,230244,2021-02-26,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,5.0,724.0,155.0,628.0,0.0,0.0,False
7,48135.0,2020-07-31,21562,294.0,230244,2021-03-05,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,26.0,723.0,153.0,642.0,0.0,0.0,False
8,48135.0,2020-07-31,21562,294.0,230244,2021-03-12,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,20.0,716.0,167.0,645.0,0.0,0.0,False
9,48135.0,2020-07-31,21562,294.0,230244,2021-03-19,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,13.0,713.0,176.0,647.0,0.0,0.0,False
10,48135.0,2020-07-31,21562,294.0,230244,2021-03-26,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,15.0,709.0,183.0,651.0,0.0,0.0,False
11,48135.0,2020-07-31,21562,294.0,230244,2021-04-02,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,0.0,713.0,183.0,651.0,0.0,0.0,False
12,48135.0,2020-07-31,21562,294.0,230244,2021-04-09,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,31.0,701.0,194.0,660.0,0.0,0.0,False
13,48135.0,2020-07-31,21562,294.0,230244,2021-04-16,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,19.0,702.0,189.0,672.0,0.0,0.0,False
14,48135.0,2020-07-31,21562,294.0,230244,2021-04-23,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,5.0,710.0,188.0,675.0,0.0,0.0,False
15,48135.0,2020-07-31,21562,294.0,230244,2021-04-30,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,24.0,713.0,174.0,694.0,0.0,0.0,False
16,48135.0,2020-07-31,21562,294.0,230244,2021-05-07,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,12.0,718.0,168.0,702.0,0.0,0.0,False
17,48135.0,2020-07-31,21562,294.0,230244,2021-05-14,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,0.0,729.0,168.0,702.0,0.0,0.0,False
18,48135.0,2020-07-31,21562,294.0,230244,2021-05-21,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,15.0,737.0,162.0,713.0,0.0,0.0,False
19,48135.0,2020-07-31,21562,294.0,230244,2021-05-28,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,9.0,741.0,159.0,719.0,33.0,157.0,False
20,48135.0,2020-07-31,21562,294.0,230244,2021-06-04,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,-999999.0,747.0,159.0,720.0,10.0,31.0,False
21,48135.0,2020-07-31,21562,294.0,230244,2021-06-11,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,0.0,778.0,159.0,720.0,22.0,36.0,False
22,48135.0,2020-07-31,21562,294.0,230244,2021-06-18,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,7.0,782.0,156.0,725.0,12.0,19.0,False
23,48135.0,2020-07-31,21562,294.0,230244,2021-06-25,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,0.0,791.0,156.0,725.0,8.0,37.0,False
24,48135.0,2020-07-31,21562,294.0,230244,2021-07-02,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,-999999.0,802.0,155.0,727.0,-999999.0,18.0,False
25,48135.0,2020-07-31,21562,294.0,230244,2021-07-09,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,-999999.0,802.0,155.0,727.0,-999999.0,18.0,False
26,48135.0,2020-07-31,21562,294.0,230244,2021-07-16,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,0.0,822.0,155.0,727.0,4.0,12.0,False
27,48135.0,2020-07-31,21562,294.0,230244,2021-07-23,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,5.0,835.0,156.0,729.0,5.0,25.0,False
28,48135.0,2020-07-31,21562,294.0,230244,2021-07-30,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,0.0,848.0,157.0,729.0,-999999.0,11.0,False
29,48135.0,2020-07-31,21562,294.0,230244,2021-08-06,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,0.0,848.0,157.0,729.0,-999999.0,11.0,False
30,48135.0,2020-07-31,21562,294.0,230244,2021-08-13,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,-999999.0,728.0,158.0,731.0,-999999.0,-999999.0,False
31,48135.0,2020-07-31,21562,294.0,230244,2021-08-20,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,-999999.0,728.0,158.0,731.0,-999999.0,-999999.0,False
32,48135.0,2020-07-31,21562,294.0,230244,2021-08-27,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,-999999.0,728.0,158.0,731.0,-999999.0,-999999.0,False
33,48135.0,2020-07-31,21562,294.0,230244,2021-09-03,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,-999999.0,488.0,160.0,734.0,4.0,-999999.0,False
34,48135.0,2020-07-31,21562,294.0,230244,2021-09-10,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,-999999.0,482.0,159.0,736.0,4.0,-999999.0,False
35,48135.0,2020-07-31,21562,294.0,230244,2021-09-17,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,-999999.0,478.0,160.0,736.0,-999999.0,4.0,False
36,48135.0,2020-07-31,21562,294.0,230244,2021-09-24,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,-999999.0,480.0,158.0,738.0,-999999.0,6.0,False
37,48135.0,2020-07-31,21562,294.0,230244,2021-10-01,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,-999999.0,491.0,157.0,739.0,0.0,4.0,False
38,48135.0,2020-07-31,21562,294.0,230244,2021-10-08,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,-999999.0,507.0,156.0,740.0,0.0,-999999.0,False
39,48135.0,2020-07-31,21562,294.0,230244,2021-10-15,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,-999999.0,517.0,154.0,742.0,0.0,-999999.0,False
40,48135.0,2020-07-31,21562,294.0,230244,2021-10-22,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,52.0,520.0,153.0,696.0,0.0,-999999.0,False
41,48135.0,2020-08-07,23947,363.0,230244,2021-01-15,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,297.0,837.0,203.0,521.0,78.0,10.0,False
42,48135.0,2020-08-07,23947,363.0,230244,2021-01-22,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,111.0,809.0,178.0,576.0,5.0,6.0,False
43,48135.0,2020-08-07,23947,363.0,230244,2021-01-29,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,38.0,796.0,177.0,589.0,-999999.0,-999999.0,False
44,48135.0,2020-08-07,23947,363.0,230244,2021-02-05,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,769.0,798.0,175.0,594.0,-999999.0,5.0,False
45,48135.0,2020-08-07,23947,363.0,230244,2021-02-12,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,9.0,729.0,171.0,600.0,0.0,0.0,False
46,48135.0,2020-08-07,23947,363.0,230244,2021-02-19,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,36.0,723.0,156.0,625.0,-999999.0,6.0,False
47,48135.0,2020-08-07,23947,363.0,230244,2021-02-26,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,5.0,724.0,155.0,628.0,0.0,0.0,False
48,48135.0,2020-08-07,23947,363.0,230244,2021-03-05,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,26.0,723.0,153.0,642.0,0.0,0.0,False
49,48135.0,2020-08-07,23947,363.0,230244,2021-03-12,MI,230244,GARDEN CITY HOSPITAL,6245 INKSTER RD,...,7,7,7,20.0,716.0,167.0,645.0,0.0,0.0,False

In [44]:
# Set each column to a string value so we can concatonate them together 
nyt_data_grouped['fips'] = nyt_data_grouped['fips'].astype('str')
nyt_data_grouped['date'] = nyt_data_grouped['date'].astype('str')
nyt_data_grouped['fips'].dtype

dtype('O')

In [45]:
# Concatonate the date column and the fips column to create fips_date
nyt_data_grouped['fips_date'] = nyt_data_grouped['fips'] + nyt_data_grouped['date']
nyt_data_grouped

           fips        date  cases  deaths          fips_date
0        1001.0  2020-07-31   6817   147.0   1001.02020-07-31
167222  48119.0  2020-07-31     88     0.0  48119.02020-07-31
32676   13241.0  2020-07-31   1161    21.0  13241.02020-07-31
167287  48121.0  2020-07-31  44680   448.0  48121.02020-07-31
32611   13239.0  2020-07-31    185     7.0  13239.02020-07-31
...         ...         ...    ...     ...                ...
179867  48507.0  2021-10-22  17555   371.0  48507.02021-10-22
51697   19017.0  2021-10-22  24875   472.0  19017.02021-10-22
142867  40151.0  2021-10-22  11280   163.0  40151.02021-10-22
51177   19001.0  2021-10-22   7311   241.0  19001.02021-10-22
208981  78030.0  2021-10-22  25435   315.0  78030.02021-10-22

[208982 rows x 5 columns]

In [46]:
nyt_data_grouped.nunique()

fips           3218
date             65
cases         74577
deaths        10167
fips_date    208982
dtype: int64

In [47]:
# Convert the hospital date and fips_code column to strings
hospital_data_df['date'] = hospital_data_df['date'].astype('str')
hospital_data_df['fips_code'] = hospital_data_df['fips_code'].astype('str')

In [48]:
# Concat the date and fips_code for new columns fips_date
hospital_data_df['fips_date'] = hospital_data_df['fips_code'] + hospital_data_df['date']
hospital_data_df

,hospital_pk,date,state,ccn,hospital_name,address,city,fips,hospital_subtype,fips_code,...,previous_day_admission_adult_covid_suspected_7_day_coverage,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected,fips_date
212405,420026,2021-01-01,SC,420026,MUSC HEALTH COLUMBIA MEDICAL CENTER DOWNTOWN,2435 FOREST DRIVE,COLUMBIA,29204.0,Short Term,45079.0,...,7,7,0.0,0.0,0.0,0.0,0.0,0.0,False,45079.02021-01-01
221589,520116,2021-01-08,WI,520116,WATERTOWN REGIONAL MEDICAL CENTER,125 HOSPITAL DRIVE,WATERTOWN,53098.0,Short Term,55027.0,...,7,7,339.0,0.0,368.0,339.0,0.0,0.0,False,55027.02021-01-08
206919,042011,2021-01-08,AR,042011,ADVANCED CARE HOSPITAL WHITE COUNTY,1200 SOUTH MAIN STREET,SEARCY,72143.0,Long Term,5145.0,...,7,7,19.0,5.0,53.0,14.0,0.0,0.0,False,5145.02021-01-08
199907,041322,2021-01-08,AR,041322,FULTON COUNTY HOSPITAL,679 NORTH MAIN STREET,SALEM,72576.0,Critical Access Hospitals,5049.0,...,7,7,54.0,26.0,26.0,28.0,0.0,0.0,False,5049.02021-01-08
199900,330115,2021-01-08,NY,330115,ONEIDA HEALTH HOSPITAL,321 GENESEE STREET,ONEIDA,13421.0,Short Term,36053.0,...,7,7,427.0,0.0,289.0,621.0,0.0,0.0,False,36053.02021-01-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6975,370201,2021-10-22,OK,370201,SURGICAL HOSPITAL OF OKLAHOMA,100 SOUTHEAST 59TH STREET,OKLAHOMA CITY,73129.0,Short Term,40109.0,...,7,7,0.0,40.0,0.0,20.0,0.0,0.0,False,40109.02021-10-22
6963,390327,2021-10-22,PA,390327,WELLSPAN SURGERY AND REHABILITATION HOSPITAL,55 MONUMENT ROAD,YORK,17403.0,Short Term,42133.0,...,7,7,7.0,140.0,9.0,291.0,0.0,0.0,False,42133.02021-10-22
6958,010062,2021-10-22,AL,010062,WIREGRASS MEDICAL CENTER,1200 W MAPLE AVENUE,GENEVA,36340.0,Short Term,1061.0,...,6,6,0.0,0.0,0.0,0.0,0.0,0.0,False,1061.02021-10-22
3887,151327,2021-10-22,IN,151327,SULLIVAN COUNTY COMMUNITY HOSPITAL,2200 N SECTION ST,SULLIVAN,47882.0,Critical Access Hospitals,18153.0,...,7,7,-999999.0,92.0,223.0,262.0,6.0,24.0,False,18153.02021-10-22
6198,041330,2021-10-22,AR,041330,PIGGOTT COMMUNITY HOSPITAL,216 EAST MAIN STREET,PIGGOTT,72454.0,Critical Access Hospitals,5021.0,...,7,7,0.0,146.0,0.0,150.0,0.0,0.0,False,5021.02021-10-22

In [49]:
hospital_data_df.nunique()

hospital_pk                                                 3269
date                                                          43
state                                                         51
ccn                                                         3269
hospital_name                                               3187
                                                           ...
total_personnel_covid_vaccinated_doses_all_7_day            6437
previous_week_patients_covid_vaccinated_doses_one_7_day     2998
previous_week_patients_covid_vaccinated_doses_all_7_day     3104
is_corrected                                                   2
fips_date                                                  65024
Length: 107, dtype: int64

In [50]:
hospital_data_df

,hospital_pk,date,state,ccn,hospital_name,address,city,fips,hospital_subtype,fips_code,...,previous_day_admission_adult_covid_suspected_7_day_coverage,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected,fips_date
212405,420026,2021-01-01,SC,420026,MUSC HEALTH COLUMBIA MEDICAL CENTER DOWNTOWN,2435 FOREST DRIVE,COLUMBIA,29204.0,Short Term,45079.0,...,7,7,0.0,0.0,0.0,0.0,0.0,0.0,False,45079.02021-01-01
221589,520116,2021-01-08,WI,520116,WATERTOWN REGIONAL MEDICAL CENTER,125 HOSPITAL DRIVE,WATERTOWN,53098.0,Short Term,55027.0,...,7,7,339.0,0.0,368.0,339.0,0.0,0.0,False,55027.02021-01-08
206919,042011,2021-01-08,AR,042011,ADVANCED CARE HOSPITAL WHITE COUNTY,1200 SOUTH MAIN STREET,SEARCY,72143.0,Long Term,5145.0,...,7,7,19.0,5.0,53.0,14.0,0.0,0.0,False,5145.02021-01-08
199907,041322,2021-01-08,AR,041322,FULTON COUNTY HOSPITAL,679 NORTH MAIN STREET,SALEM,72576.0,Critical Access Hospitals,5049.0,...,7,7,54.0,26.0,26.0,28.0,0.0,0.0,False,5049.02021-01-08
199900,330115,2021-01-08,NY,330115,ONEIDA HEALTH HOSPITAL,321 GENESEE STREET,ONEIDA,13421.0,Short Term,36053.0,...,7,7,427.0,0.0,289.0,621.0,0.0,0.0,False,36053.02021-01-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6975,370201,2021-10-22,OK,370201,SURGICAL HOSPITAL OF OKLAHOMA,100 SOUTHEAST 59TH STREET,OKLAHOMA CITY,73129.0,Short Term,40109.0,...,7,7,0.0,40.0,0.0,20.0,0.0,0.0,False,40109.02021-10-22
6963,390327,2021-10-22,PA,390327,WELLSPAN SURGERY AND REHABILITATION HOSPITAL,55 MONUMENT ROAD,YORK,17403.0,Short Term,42133.0,...,7,7,7.0,140.0,9.0,291.0,0.0,0.0,False,42133.02021-10-22
6958,010062,2021-10-22,AL,010062,WIREGRASS MEDICAL CENTER,1200 W MAPLE AVENUE,GENEVA,36340.0,Short Term,1061.0,...,6,6,0.0,0.0,0.0,0.0,0.0,0.0,False,1061.02021-10-22
3887,151327,2021-10-22,IN,151327,SULLIVAN COUNTY COMMUNITY HOSPITAL,2200 N SECTION ST,SULLIVAN,47882.0,Critical Access Hospitals,18153.0,...,7,7,-999999.0,92.0,223.0,262.0,6.0,24.0,False,18153.02021-10-22
6198,041330,2021-10-22,AR,041330,PIGGOTT COMMUNITY HOSPITAL,216 EAST MAIN STREET,PIGGOTT,72454.0,Critical Access Hospitals,5021.0,...,7,7,0.0,146.0,0.0,150.0,0.0,0.0,False,5021.02021-10-22

# DYLAN START HERE

In [51]:
# Create a new df to groupby the new fips_date column so each row is unique
hospital_data_df2 = hospital_data_df.groupby(['fips_date']).agg({'total_beds_7_day_sum':'sum','all_adult_hospital_beds_7_day_sum':'sum', 'all_adult_hospital_inpatient_beds_7_day_sum':'sum', 'inpatient_beds_used_7_day_sum':'sum', 'all_adult_hospital_inpatient_bed_occupied_7_day_sum':'sum', 
                                                                                                                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 'total_adult_patients_hospitalized_confirmed_covid_7_day_sum': 'sum', 'inpatient_beds_7_day_sum':'sum', 'total_icu_beds_7_day_sum':'sum', 
                                                                                                                       'total_staffed_adult_icu_beds_7_day_sum':'sum', 'icu_beds_used_7_day_sum':'sum', 'staffed_adult_icu_bed_occupancy_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_covid_7_day_sum':'sum'}).reset_index()
hospital_data_df2

,fips_date,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,10003.02021-01-08,1820.0,0.0,0.0,666.0,0.0,0.0,0.0,966.0,490.0,0.0,301.0,0.0,0.0,0.0
1,10003.02021-01-15,1820.0,0.0,0.0,628.0,0.0,0.0,0.0,966.0,490.0,0.0,339.0,0.0,0.0,0.0
2,10003.02021-01-22,1820.0,0.0,0.0,741.0,0.0,0.0,0.0,966.0,490.0,0.0,338.0,0.0,0.0,0.0
3,10003.02021-01-29,1820.0,0.0,0.0,740.0,0.0,0.0,0.0,950.0,490.0,0.0,341.0,0.0,0.0,0.0
4,10003.02021-02-05,1820.0,0.0,0.0,747.0,0.0,0.0,0.0,938.0,490.0,0.0,358.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65019,9013.02021-09-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65020,9013.02021-10-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65021,9013.02021-10-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65022,9013.02021-10-15,48.0,48.0,48.0,0.0,0.0,0.0,0.0,48.0,0.0,0.0,0.0,0.0,0.0,0.0
65023,9013.02021-10-22,56.0,56.0,56.0,0.0,0.0,0.0,0.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
hospital_data_df2.nunique()

fips_date                                                                    65024
total_beds_7_day_sum                                                          6635
all_adult_hospital_beds_7_day_sum                                             6413
all_adult_hospital_inpatient_beds_7_day_sum                                   6303
inpatient_beds_used_7_day_sum                                                 7227
all_adult_hospital_inpatient_bed_occupied_7_day_sum                           6892
total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum     2507
total_adult_patients_hospitalized_confirmed_covid_7_day_sum                   2337
inpatient_beds_7_day_sum                                                      6664
total_icu_beds_7_day_sum                                                      2609
total_staffed_adult_icu_beds_7_day_sum                                        2118
icu_beds_used_7_day_sum                                                       2841
staffed_adult_icu_bed_occupancy_7_day_sum                                     2300
staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum            1240
staffed_icu_adult_patients_confirmed_covid_7_day_sum                          1187
dtype: int64

In [83]:
df = hospital_data_df2.loc[hospital_data_df2['fips_date'].str.contains("nan", case=False)]
df

Empty DataFrame
Columns: [fips_date, total_beds_7_day_sum, all_adult_hospital_beds_7_day_sum, all_adult_hospital_inpatient_beds_7_day_sum, inpatient_beds_used_7_day_sum, all_adult_hospital_inpatient_bed_occupied_7_day_sum, total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum, total_adult_patients_hospitalized_confirmed_covid_7_day_sum, inpatient_beds_7_day_sum, total_icu_beds_7_day_sum, total_staffed_adult_icu_beds_7_day_sum, icu_beds_used_7_day_sum, staffed_adult_icu_bed_occupancy_7_day_sum, staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum, staffed_icu_adult_patients_confirmed_covid_7_day_sum]
Index: []

In [54]:
hospital_data_df2['fips_date'].tail(70)

64954    9009.02021-02-26
64955    9009.02021-03-05
64956    9009.02021-03-12
64957    9009.02021-03-19
64958    9009.02021-03-26
               ...
65019    9013.02021-09-24
65020    9013.02021-10-01
65021    9013.02021-10-08
65022    9013.02021-10-15
65023    9013.02021-10-22
Name: fips_date, Length: 70, dtype: object

In [84]:
f = hospital_data_df['fips'].unique()

In [85]:
x = nyt_data_grouped['fips'].unique()

# The list below is the different fips

In [82]:
list(set(x).symmetric_difference(set(f)))

[98310.0,
 32778.0,
 '38069.0',
 '72145.0',
 '48121.0',
 98331.0,
 98332.0,
 32796.0,
 '53039.0',
 '17103.0',
 32803.0,
 32806.0,
 32809.0,
 '72075.0',
 98356.0,
 '5139.0',
 '28035.0',
 98362.0,
 98368.0,
 98372.0,
 '72125.0',
 65613.0,
 '46013.0',
 '17155.0',
 '37071.0',
 '17115.0',
 98405.0,
 '8049.0',
 32901.0,
 32907.0,
 '17169.0',
 '5049.0',
 '18075.0',
 '48451.0',
 32932.0,
 32940.0,
 '13157.0',
 98499.0,
 98502.0,
 '21217.0',
 98520.0,
 '48147.0',
 '49051.0',
 98541.0,
 '48325.0',
 33012.0,
 33013.0,
 33016.0,
 33021.0,
 33024.0,
 '40107.0',
 33028.0,
 33029.0,
 '1089.0',
 '20053.0',
 65804.0,
 '37041.0',
 33040.0,
 98584.0,
 98586.0,
 '28097.0',
 '53047.0',
 33064.0,
 33065.0,
 '47029.0',
 98620.0,
 98624.0,
 '26003.0',
 '26031.0',
 '18131.0',
 '8035.0',
 '8061.0',
 '47083.0',
 33128.0,
 '19191.0',
 33136.0,
 98672.0,
 33137.0,
 '42131.0',
 33140.0,
 33143.0,
 '17097.0',
 98686.0,
 33150.0,
 33155.0,
 '48019.0',
 '47111.0',
 '40103.0',
 '13061.0',
 '21005.0',
 '19055.0',
 '17069.0',
 '48423.0',
 '40121.0',
 '48065.0',
 '28043.0',
 '39121.0',
 '28137.0',
 '55099.0',
 '5027.0',
 '39107.0',
 66032.0,
 98801.0,
 '26039.0',
 98807.0,
 98812.0,
 '13301.0',
 66048.0,
 98816.0,
 98823.0,
 98826.0,
 66061.0,
 '21015.0',
 66067.0,
 98837.0,
 33301.0,
 66071.0,
 '48471.0',
 98841.0,
 33308.0,
 98848.0,
 33316.0,
 98855.0,
 '55083.0',
 '6093.0',
 66097.0,
 33331.0,
 '21229.0',
 66112.0,
 '46019.0',
 '35027.0',
 '28111.0',
 '51081.0',
 98902.0,
 '72153.0',
 '13127.0',
 98926.0,
 33401.0,
 33407.0,
 33410.0,
 98948.0,
 33414.0,
 '26127.0',
 33418.0,
 '51097.0',
 33428.0,
 33430.0,
 66204.0,
 33440.0,
 66211.0,
 66213.0,
 '37119.0',
 66219.0,
 33458.0,
 33461.0,
 33484.0,
 '38065.0',
 '54021.0',
 '48105.0',
 '26111.0',
 33525.0,
 '48167.0',
 '21223.0',
 '40073.0',
 33541.0,
 '35051.0',
 33544.0,
 '48085.0',
 '5019.0',
 33563.0,
 99111.0,
 99133.0,
 '42091.0',
 33603.0,
 33611.0,
 33613.0,
 33614.0,
 '29157.0',
 99156.0,
 99159.0,
 99163.0,
 99166.0,
 99169.0,
 '13097.0',
 66434.0,
 99204.0,
 66436.0,
 '13081.0',
 '72083.0',
 99216.0,
 33701.0,
 33705.0,
 '5007.0',
 '46039.0',
 '48397.0',
 '13305.0',
 66502.0,
 66508.0,
 '21203.0',
 66521.0,
 33756.0,
 99301.0,
 66538.0,
 '48185.0',
 66547.0,
 '40033.0',
 99328.0,
 '30093.0',
 99336.0,
 '55025.0',
 33805.0,
 99344.0,
 1040.0,
 '21007.0',
 99347.0,
 99350.0,
 1060.0,
 33831.0,
 '18149.0',
 66604.0,
 33837.0,
 66606.0,
 1069.0,
 '46003.0',
 '17151.0',
 1085.0,
 33853.0,
 '51131.0',
 '51157.0',
 1104.0,
 33872.0,
 '38095.0',
 33881.0,
 '29091.0',
 '22015.0',
 33901.0,
 33905.0,
 33912.0,
 '22047.0',
 '17101.0',
 33936.0,
 '38087.0',
 33950.0,
 66720.0,
 33952.0,
 '47021.0',
 1199.0,
 66736.0,
 1201.0,
 '45053.0',
 '6017.0',
 66743.0,
 66749.0,
 33990.0,
 66762.0,
 1230.0,
 '6063.0',
 '9015.0',
 '13133.0',
 66801.0,
 '42029.0',
 '49011.0',
 '8029.0',
 '48473.0',
 '48485.0',
 99603.0,
 1301.0,
 66839.0,
 '37125.0',
 66846.0,
 '51061.0',
 '47023.0',
 '20027.0',
 '21089.0',
 66861.0,
 '20107.0',
 1331.0,
 34102.0,
 '48445.0',
 '21135.0',
 34108.0,
 99645.0,
 '27079.0',
 '17135.0',
 '19045.0',
 34119.0,
 66901.0,
 99669.0,
 '18019.0',
 '24045.0',
 '26085.0',
 '17027.0',
 '38067.0',
 '22051.0',
 66935.0,
 '28145.0',
 '30075.0',
 '36019.0',
 66945.0,
 '20083.0',
 66956.0,
 '18143.0',
 '45033.0',
 66967.0,
 66968.0,
 1432.0,
 34202.0,
 34208.0,
 1440.0,
 '1053.0',
 1453.0,
 '18013.0',
 '13195.0',
 67002.0,
 67003.0,
 34239.0,
 34240.0,
 '37001.0',
 '8039.0',
 67022.0,
 67029.0,
 67037.0,
 67045.0,
 34285.0,
 67054.0,
 '36007.0',
 67063.0,
 67068.0,
 67070.0,
 '26131.0',
 1542.0,
 1550.0,
 '51059.0',
 '21151.0',
 67104.0,
 67107.0,
 67114.0,
 1581.0,
 67124.0,
 '19043.0',
 '55115.0',
 1605.0,
 1608.0,
 67156.0,
 '72065.0',
 1655.0,
 34428.0,
 '20117.0',
 '48017.0',
 67226.0,
 '48001.0',
 1701.0,
 '19095.0',
 34474.0,
 34484.0,
 '17137.0',
 '16063.0',
 1742.0,
 '8069.0',
 '17199.0',
 1752.0,
 1757.0,
 '48315.0',
 '31151.0',
 '21169.0',
 67337.0,
 1803.0,
 67357.0,
 '21153.0',
 '1099.0',
 34601.0,
 1835.0,
 '13169.0',
 1844.0,
 1854.0,
 67401.0,
 34637.0,
 67410.0,
 1876.0,
 67420.0,
 34652.0,
 1890.0,
 '25009.0',
 '8103.0',
 67432.0,
 '22111.0',
 67439.0,
 '55035.0',
 67449.0,
 1915.0,
 67455.0,
 67456.0,
 34689.0,
 '17029.0',
 '17025.0',
 67460.0,
 34695.0,
 34698.0,
 67467.0,
 '72133.0',
 34711.0,
 1950.0,
 67502.0,
 1970.0,
 '31117.0',
 '48101.0',
 34748.0,
 67526.0,
 34761.0,
 67530.0,
 34769.0,
 67544.0,
 67547.0,
 67548.0,
 67550.0,
 67554.0,
 67560.0,
 '48311.0',
 '12119.0',
 67572.0,
 '28063.0',
 67578.0,
 '28105.0',
 67601.0,
 2072.0,
 '21019.0',
 '48075.0',
 '36113.0',
 '20081.0',
 '54063.0',
 '37017.0',
 '72149.0',
 67642.0,
 2111.0,
 2114.0,
 2115.0,
 67654.0,
 2118.0,
 2120.0,
 2124.0,
 67661.0,
 67663.0,
 67665.0,
 2130.0,
 2131.0,
 2135.0,
 67672.0,
 2138.0,
 '26011.0',
 '1115.0',
 '36087.0',
 '20151.0',
 '23009.0',
 2176.0,
 '38017.0',
 2186.0,
 2190.0,
 67730.0,
 67735.0,
 '72041.0',
 67740.0,
 '48465.0',
 67748.0,
 67749.0,
 2215.0,
 67752.0,
 '51197.0',
 67756.0,
 34995.0,
 '2188.0',
 35010.0,
 35021.0,
 '48029.0',
 '55123.0',
 '23011.0',
 67801.0,
 35042.0,
 '1033.0',
 2301.0,
 2302.0,
 67854.0,
 67855.0,
 67860.0,
 67861.0,
 67864.0,
 67865.0,
 '48103.0',
 '45041.0',
 67871.0,
 '35045.0',
 '48061.0',
 67879.0,
 '28143.0',
 '51065.0',
 2360.0,
 '39145.0',
 67901.0,
 '17177.0',
 35161.0,
 67951.0,
 '18103.0',
 '21191.0',
 '39081.0',
 35209.0,
 35211.0,
 '51043.0',
 '37013.0',
 '49019.0',
 '4005.0',
 2462.0,
 35233.0,
 '40037.0',
 35235.0,
 68008.0,
 35243.0,
 '51177.0',
 '46069.0',
 68025.0,
 '72115.0',
 2494.0,
 '47183.0',
 68045.0,
 68046.0,
 '53011.0',
 '33013.0',
 68066.0,
 2540.0,
 '39157.0',
 '31043.0',
 2554.0,
 '13263.0',
 '42065.0',
 '51199.0',
 68114.0,
 '47089.0',
 68118.0,
 68122.0,
 68123.0,
 68124.0,
 68130.0,
 68131.0,
 '40067.0',
 2601.0,
 '48449.0',
 68144.0,
 '17105.0',
 '41069.0',
 '17163.0',
 35401.0,
 '37057.0',
 '6099.0',
 '51530.0',
 '13183.0',
 '46101.0',
 '48059.0',
 '46077.0',
 35462.0,
 2703.0,
 '45025.0',
 '17041.0',
 2720.0,
 2721.0,
 '19171.0',
 '19009.0',
 35502.0,
 '21187.0',
 '12086.0',
 2745.0,
 '51033.0',
 68305.0,
 2780.0,
 '42045.0',
 '13269.0',
 '6073.0',
 35565.0,
 '37097.0',
 35570.0,
 35582.0,
 68359.0,
 35594.0,
 68370.0,
 68371.0,
 2840.0,
 35611.0,
 '19067.0',
 '72059.0',
 35630.0,
 68410.0,
 '30057.0',
 2879.0,
 '13163.0',
 35653.0,
 2886.0,
 2891.0,
 35661.0,
 2895.0,
 '48231.0',
 '40095.0',
 68434.0,
 '54065.0',
 '37145.0',
 '38023.0',
 2903.0,
 2904.0,
 2905.0,
 2906.0,
 '46065.0',
 2908.0,
 '21111.0',
 '6071.0',
 68450.0,
 2921.0,
 '34029.0',
 '37065.0',
 '54043.0',
 '18049.0',
 '45037.0',
 68502.0,
 68506.0,
 68510.0,
 '6097.0',
 68526.0,
 35768.0,
 '1085.0',
 '12093.0',
 35801.0,
 '8027.0',
 '20133.0',
 '13019.0',
 '20119.0',
 '48159.0',
 '17141.0',
 3060.0,
 68601.0,
 '48099.0',
 '1109.0',
 '8063.0',
 '20171.0',
 '72107.0',
 '12115.0',
 68632.0,
 3102.0,
 3103.0,
 '53029.0',
 '28051.0',
 68661.0,
 '51075.0',
 35901.0,
 '17185.0',
 35903.0,
 '51179.0',
 '78030.0',
 '17111.0',
 68701.0,
 '48239.0',
 68713.0,
 68714.0,
 '40137.0',
 '1007.0',
 35960.0,
 '28041.0',
 '47161.0',
 68763.0,
 3235.0,
 '24005.0',
 3246.0,
 '36099.0',
 '39049.0',
 68787.0,
 68788.0,
 '31145.0',
 '5085.0',
 3257.0,
 3264.0,
 68803.0,
 '20187.0',
 36037.0,
 '51175.0',
 36049.0,
 68818.0,
 68822.0,
 68826.0,
 '46023.0',
 '41013.0',
 36067.0,
 3301.0,
 68845.0,
 36078.0,
 36081.0,
 '51121.0',
 36089.0,
 36092.0,
 68862.0,
 36116.0,
 36117.0,
 '47087.0',
 '55011.0',
 68901.0,
 '27007.0',
 '48259.0',
 '2240.0',
 68939.0,
 68949.0,
 '5147.0',
 68959.0,
 3431.0,
 36201.0,
 36202.0,
 36207.0,
 '20051.0',
 3458.0,
 '12059.0',
 '33007.0',
 '46021.0',
 '51600.0',
 '46049.0',
 '13001.0',
 '31141.0',
 69022.0,
 '21011.0',
 '51049.0',
 '72057.0',
 36278.0,
 '47139.0',
 '22091.0',
 36301.0,
 36302.0,
 36305.0,
 '19011.0',
 '41055.0',
 '20067.0',
 '18059.0',
 3561.0,
 36330.0,
 '19091.0',
 69101.0,
 3570.0,
 '47125.0',
 36340.0,
 '48181.0',
 '53009.0',
 3576.0,
 3584.0,
 '53043.0',
 69138.0,
 '12047.0',
 69140.0,
 69145.0,
 '27139.0',
 69153.0,
 69154.0,
 '12049.0',
 '6081.0',
 69162.0,
 '47145.0',
 '28107.0',
 '37185.0',
 '30015.0',
 '54029.0',
 36420.0,
 '39111.0',
 '31173.0',
 '36009.0',
 69210.0,
 36451.0,
 '17017.0',
 36460.0,
 '17183.0',
 '21023.0',
 '19147.0',
 36502.0,
 36507.0,
 3743.0,
 36518.0,
 '55137.0',
 3756.0,
 '19087.0',
 36532.0,
 3766.0,
 36535.0,
 36545.0,
 '72027.0',
 '8041.0',
 3785.0,
 69336.0,
 69337.0,
 69343.0,
 '40115.0',
 '72029.0',
 '21167.0',
 3820.0,
 69361.0,
 '19129.0',
 3833.0,
 '27137.0',
 36607.0,
 36608.0,
 '54035.0',
 36617.0,
 '22007.0',
 3860.0,
 '48353.0',
 '21027.0',
 '21147.0',
 '48349.0',
 '29013.0',
 3894.0,
 '8105.0',
 '1117.0',
 3909.0,
 '30025.0',
 '35041.0',
 '48141.0',
 '36041.0',
 36726.0,
 36732.0,
 '19097.0',
 36744.0,
 '30027.0',
 '53065.0',
 '40069.0',
 4005.0,
 '19169.0',
 4009.0,
 4011.0,
 '16023.0',
 36801.0,
 '12079.0',
 '39089.0',
 '31169.0',
 '32013.0',
 36853.0,
 36854.0,
 36867.0,
 '45029.0',
 4102.0,
 '5017.0',
 '31033.0',
 '17187.0',
 36925.0,
 '29023.0',
 '2170.0',
 '53003.0',
 '40015.0',
 '55093.0',
 '5115.0',
 '31101.0',
 4240.0,
 4243.0,
 37015.0,
 '13119.0',
 '20163.0',
 '30019.0',
 37030.0,
 37033.0,
 '31127.0',
 4268.0,
 '39125.0',
 37040.0,
 4276.0,
 '46053.0',
 37055.0,
 '48507.0',
 37061.0,
 37066.0,
 37067.0,
 37074.0,
 37075.0,
 37076.0,
 37083.0,
 37087.0,
 37091.0,
 4330.0,
 '27143.0',
 '31071.0',
 37110.0,
 37129.0,
 '26029.0',
 '31139.0',
 '29089.0',
 37160.0,
 '36097.0',
 '55109.0',
 37166.0,
 37167.0,
 '47069.0',
 4401.0,
 37172.0,
 '28117.0',
 37185.0,
 37190.0,
 '46025.0',
 4426.0,
 37203.0,
 '36053.0',
 37207.0,
 37208.0,
 37211.0,
 4457.0,
 4462.0,
 37232.0,
 70002.0,
 37236.0,
 '21141.0',
 70006.0,
 '39039.0',
 '20001.0',
 '56035.0',
 70043.0,
 '26115.0',
 '41005.0',
 '20121.0',
 '48153.0',
 70065.0,
 '19089.0',
 70070.0,
 70071.0,
 70072.0,
 37311.0,
 4543.0,
 '21189.0',
 37321.0,
 '18175.0',
 37334.0,
 '13281.0',
 70112.0,
 70115.0,
 70118.0,
 70119.0,
 70121.0,
 37355.0,
 70127.0,
 70128.0,
 70130.0,
 37367.0,
 37371.0,
 4609.0,
 '51087.0',
 4619.0,
 37388.0,
 '55031.0',
 37398.0,
 '48149.0',
 37402.0,
 37403.0,
 37404.0,
 '26083.0',
 '51077.0',
 '42003.0',
 '51193.0',
 '42123.0',
 '27167.0',
 4654.0,
 '47057.0',
 '21069.0',
 '33011.0',
 '28017.0',
 '48407.0',
 '12063.0',
 4730.0,
 '37063.0',
 4736.0,
 4743.0,
 '53025.0',
 '5135.0',
 70301.0,
 '47103.0',
 '18041.0',
 '37109.0',
 '41053.0',
 70345.0,
 70346.0,
 70360.0,
 70363.0,
 37604.0,
 '5003.0',
 '48467.0',
 70380.0,
 70390.0,
 4856.0,
 70394.0,
 '42025.0',
 70403.0,
 37643.0,
 '22109.0',
 37650.0,
 70422.0,
 70427.0,
 37660.0,
 '31121.0',
 37662.0,
 70433.0,
 4901.0,
 70438.0,
 '29101.0',
 '8099.0',
 70441.0,
 70443.0,
 70444.0,
 37683.0,
 ...]

In [58]:
# for x in y:
#     if 

# hospital_data_df3 = hospital_data_df2.drop(hospital_data_df2['fips_date'] == y)
# hospital_data_df3

In [76]:
# merged nyt data and hospital data
merged = hospital_data_df2.merge(nyt_data_grouped)
merged

,fips_date,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips,date,cases,deaths
0,10003.02021-01-08,1820.0,0.0,0.0,666.0,0.0,0.0,0.0,966.0,490.0,0.0,301.0,0.0,0.0,0.0,10003.0,2021-01-08,245806,3290.0
1,10003.02021-01-15,1820.0,0.0,0.0,628.0,0.0,0.0,0.0,966.0,490.0,0.0,339.0,0.0,0.0,0.0,10003.0,2021-01-15,266761,3431.0
2,10003.02021-01-22,1820.0,0.0,0.0,741.0,0.0,0.0,0.0,966.0,490.0,0.0,338.0,0.0,0.0,0.0,10003.0,2021-01-22,285430,3597.0
3,10003.02021-01-29,1820.0,0.0,0.0,740.0,0.0,0.0,0.0,950.0,490.0,0.0,341.0,0.0,0.0,0.0,10003.0,2021-01-29,301070,3706.0
4,10003.02021-02-05,1820.0,0.0,0.0,747.0,0.0,0.0,0.0,938.0,490.0,0.0,358.0,0.0,0.0,0.0,10003.0,2021-02-05,312543,3870.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64767,9013.02021-09-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9013.0,2021-09-24,75617,1344.0
64768,9013.02021-10-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9013.0,2021-10-01,76439,1363.0
64769,9013.02021-10-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9013.0,2021-10-08,77081,1372.0
64770,9013.02021-10-15,48.0,48.0,48.0,0.0,0.0,0.0,0.0,48.0,0.0,0.0,0.0,0.0,0.0,0.0,9013.0,2021-10-15,77633,1376.0
64771,9013.02021-10-22,56.0,56.0,56.0,0.0,0.0,0.0,0.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0,9013.0,2021-10-22,78669,1386.0

In [75]:
clean_merge = merged.dropna()
clean_merge

,fips_date,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips,date,cases,deaths
0,10003.02021-01-08,1820.0,0.0,0.0,666.0,0.0,0.0,0.0,966.0,490.0,0.0,301.0,0.0,0.0,0.0,10003.0,2021-01-08,245806,3290.0
1,10003.02021-01-15,1820.0,0.0,0.0,628.0,0.0,0.0,0.0,966.0,490.0,0.0,339.0,0.0,0.0,0.0,10003.0,2021-01-15,266761,3431.0
2,10003.02021-01-22,1820.0,0.0,0.0,741.0,0.0,0.0,0.0,966.0,490.0,0.0,338.0,0.0,0.0,0.0,10003.0,2021-01-22,285430,3597.0
3,10003.02021-01-29,1820.0,0.0,0.0,740.0,0.0,0.0,0.0,950.0,490.0,0.0,341.0,0.0,0.0,0.0,10003.0,2021-01-29,301070,3706.0
4,10003.02021-02-05,1820.0,0.0,0.0,747.0,0.0,0.0,0.0,938.0,490.0,0.0,358.0,0.0,0.0,0.0,10003.0,2021-02-05,312543,3870.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64767,9013.02021-09-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9013.0,2021-09-24,75617,1344.0
64768,9013.02021-10-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9013.0,2021-10-01,76439,1363.0
64769,9013.02021-10-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9013.0,2021-10-08,77081,1372.0
64770,9013.02021-10-15,48.0,48.0,48.0,0.0,0.0,0.0,0.0,48.0,0.0,0.0,0.0,0.0,0.0,0.0,9013.0,2021-10-15,77633,1376.0
64771,9013.02021-10-22,56.0,56.0,56.0,0.0,0.0,0.0,0.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0,9013.0,2021-10-22,78669,1386.0

In [62]:
nyt_data_grouped[nyt_data_grouped['fips'] == '1001.0'].sort_values(by='date')

      fips        date  cases  deaths         fips_date
0   1001.0  2020-07-31   6817   147.0  1001.02020-07-31
1   1001.0  2020-08-07   7503   150.0  1001.02020-08-07
2   1001.0  2020-08-14   8531   158.0  1001.02020-08-14
3   1001.0  2020-08-21   9009   161.0  1001.02020-08-21
4   1001.0  2020-08-28   9484   161.0  1001.02020-08-28
..     ...         ...    ...     ...               ...
60  1001.0  2021-09-24  66898   917.0  1001.02021-09-24
61  1001.0  2021-10-01  67933   972.0  1001.02021-10-01
62  1001.0  2021-10-08  68621   999.0  1001.02021-10-08
63  1001.0  2021-10-15  69024  1013.0  1001.02021-10-15
64  1001.0  2021-10-22  69438  1024.0  1001.02021-10-22

[65 rows x 5 columns]

In [74]:
# get the cases for each week rather than the overall increase in the data
for x in nyt_data_grouped['cases']:
    cases_list = []
    cases_list.append(nyt_data_grouped['cases'][x+1] - nyt_data_grouped['cases'][x])
    
nyt_data_grouped['cases'][1] - nyt_data_grouped['cases'][0]
# nyt_data_grouped['cases'][x+1]

KeyError: 337394