In [1]:
# Import the requests library.
import requests
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
import numpy as np
import awswrangler as wr

In [2]:
# Create variables for each of the data files
nyt_data = 'https://group3data.s3.us-west-2.amazonaws.com/us-counties.csv'
hospital_data = 'https://group3data.s3.us-west-2.amazonaws.com/COVID-19_Reported_Patient_Impact_and_Hospital_Capacity_by_Facility.csv'
vaccination_data = 'https://group3data.s3.us-west-2.amazonaws.com/COVID-19_Vaccinations_in_the_United_States_County.csv'

In [3]:
# read in data from S3 bucket and create dataframes
nyt_data_df = pd.read_csv(nyt_data)
hospital_data_df = pd.read_csv(hospital_data)
vaccination_data_df = pd.read_csv(vaccination_data)

# Data Cleaning:
## NYT Data

In [4]:
# Find the data types for the NYT data
nyt_data_df.dtypes

date       object
county     object
state      object
fips      float64
cases       int64
deaths    float64
dtype: object

In [5]:
# Convert the date column in the NYT data to a datetime object using pd.to_datetime
nyt_data_df['date'] = pd.to_datetime(nyt_data_df['date'])
nyt_data_df.head()

        date     county       state     fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061.0      1     0.0
1 2020-01-22  Snohomish  Washington  53061.0      1     0.0
2 2020-01-23  Snohomish  Washington  53061.0      1     0.0
3 2020-01-24       Cook    Illinois  17031.0      1     0.0
4 2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [6]:
# 1. Remove the data for dates before 7-31-20 and after 10-22-21
# 2. Bin the date column by weeks ending every friday
# 3. Sum the cases and deaths columns for each week binned

# Step 1:
nyt_data_filtered = nyt_data_df[nyt_data_df['date'] >= '2020-07-18']
nyt_data_filtered = nyt_data_filtered[nyt_data_filtered['date'] <= '2021-10-29']
nyt_data_filtered

              date      county    state     fips  cases  deaths
344228  2020-07-18     Autauga  Alabama   1001.0    827    21.0
344229  2020-07-18     Baldwin  Alabama   1003.0   1819    15.0
344230  2020-07-18     Barbour  Alabama   1005.0    483     3.0
344231  2020-07-18        Bibb  Alabama   1007.0    264     2.0
344232  2020-07-18      Blount  Alabama   1009.0    458     1.0
...            ...         ...      ...      ...    ...     ...
1865346 2021-10-29  Sweetwater  Wyoming  56037.0   7575    80.0
1865347 2021-10-29       Teton  Wyoming  56039.0   5204    14.0
1865348 2021-10-29       Uinta  Wyoming  56041.0   3829    26.0
1865349 2021-10-29    Washakie  Wyoming  56043.0   1730    35.0
1865350 2021-10-29      Weston  Wyoming  56045.0   1109     9.0

[1521123 rows x 6 columns]

In [7]:
# Step 2:
# Step 3:
columns_to_sum = [nyt_data_filtered['cases'], nyt_data_filtered['deaths']]
nyt_data_grouped = nyt_data_filtered.groupby(['fips', pd.Grouper(key='date', freq='W-FRI')]).agg({'cases':'sum','deaths':'sum'}).reset_index()
nyt_data_grouped

           fips       date  cases  deaths
0        1001.0 2020-07-24   6103   147.0
1        1001.0 2020-07-31   6817   147.0
2        1001.0 2020-08-07   7503   150.0
3        1001.0 2020-08-14   8531   158.0
4        1001.0 2020-08-21   9009   161.0
...         ...        ...    ...     ...
215376  78030.0 2021-10-01  24982   304.0
215377  78030.0 2021-10-08  25204   308.0
215378  78030.0 2021-10-15  25290   311.0
215379  78030.0 2021-10-22  25435   315.0
215380  78030.0 2021-10-29  25537   320.0

[215381 rows x 4 columns]

In [8]:
# Resort the nyt_data_grouped by date
nyt_data_grouped = nyt_data_grouped.sort_values(by='date')
nyt_data_grouped

           fips       date   cases  deaths
0        1001.0 2020-07-24    6103   147.0
55227   19077.0 2020-07-24     752    35.0
113913  31101.0 2020-07-24      66     0.0
162903  47027.0 2020-07-24     256     0.0
28587   13087.0 2020-07-24    2854    56.0
...         ...        ...     ...     ...
150041  42009.0 2021-10-29   47133  1187.0
149974  42007.0 2021-10-29  154109  3285.0
35621   13297.0 2021-10-29  105674  2386.0
35286   13287.0 2021-10-29   11911   338.0
215380  78030.0 2021-10-29   25537   320.0

[215381 rows x 4 columns]

In [9]:
# Set each column to a string value so we can concatonate them together 
nyt_data_grouped['fips'] = nyt_data_grouped['fips'].astype('str')
nyt_data_grouped['date'] = nyt_data_grouped['date'].astype('str')
nyt_data_grouped['fips'].dtype

dtype('O')

In [10]:
# Concatonate the date column and the fips column to create fips_date
nyt_data_grouped['fips_date'] = nyt_data_grouped['fips'] + nyt_data_grouped['date']
nyt_data_grouped

           fips        date   cases  deaths          fips_date
0        1001.0  2020-07-24    6103   147.0   1001.02020-07-24
55227   19077.0  2020-07-24     752    35.0  19077.02020-07-24
113913  31101.0  2020-07-24      66     0.0  31101.02020-07-24
162903  47027.0  2020-07-24     256     0.0  47027.02020-07-24
28587   13087.0  2020-07-24    2854    56.0  13087.02020-07-24
...         ...         ...     ...     ...                ...
150041  42009.0  2021-10-29   47133  1187.0  42009.02021-10-29
149974  42007.0  2021-10-29  154109  3285.0  42007.02021-10-29
35621   13297.0  2021-10-29  105674  2386.0  13297.02021-10-29
35286   13287.0  2021-10-29   11911   338.0  13287.02021-10-29
215380  78030.0  2021-10-29   25537   320.0  78030.02021-10-29

[215381 rows x 5 columns]

In [11]:
# Get the difference in the number of cases/deaths instead of the cumulative total
test_nyt = nyt_data_grouped[nyt_data_grouped['fips'] == '1001.0'].sort_values(by='date')
#nyt_data_grouped['cases'] = nyt_data_grouped['cases'].diff()

test_nyt['cases'] = test_nyt['cases'].diff()
test_nyt['deaths'] = test_nyt['deaths'].diff()
test_nyt

      fips        date   cases  deaths         fips_date
0   1001.0  2020-07-24     NaN     NaN  1001.02020-07-24
1   1001.0  2020-07-31   714.0     0.0  1001.02020-07-31
2   1001.0  2020-08-07   686.0     3.0  1001.02020-08-07
3   1001.0  2020-08-14  1028.0     8.0  1001.02020-08-14
4   1001.0  2020-08-21   478.0     3.0  1001.02020-08-21
..     ...         ...     ...     ...               ...
62  1001.0  2021-10-01  1035.0    55.0  1001.02021-10-01
63  1001.0  2021-10-08   688.0    27.0  1001.02021-10-08
64  1001.0  2021-10-15   403.0    14.0  1001.02021-10-15
65  1001.0  2021-10-22   414.0    11.0  1001.02021-10-22
66  1001.0  2021-10-29  1291.0    12.0  1001.02021-10-29

[67 rows x 5 columns]

In [12]:
# test diff() on whole nyt dataframe
test_df = nyt_data_grouped.sort_values(by=['fips','date'])
test_df['cases'] = test_df['cases'].diff()
test_df['deaths'] = test_df['deaths'].diff()
test_df

          fips        date   cases  deaths          fips_date
21016  10001.0  2020-07-24     NaN     NaN  10001.02020-07-24
21017  10001.0  2020-07-31   715.0    59.0  10001.02020-07-31
21018  10001.0  2020-08-07   651.0    12.0  10001.02020-08-07
21019  10001.0  2020-08-14   772.0     7.0  10001.02020-08-14
21020  10001.0  2020-08-21  1170.0     3.0  10001.02020-08-21
...        ...         ...     ...     ...                ...
21011   9015.0  2021-10-01  1555.0    39.0   9015.02021-10-01
21012   9015.0  2021-10-08  1554.0    35.0   9015.02021-10-08
21013   9015.0  2021-10-15  1489.0     9.0   9015.02021-10-15
21014   9015.0  2021-10-22  1673.0    16.0   9015.02021-10-22
21015   9015.0  2021-10-29  1323.0    29.0   9015.02021-10-29

[215381 rows x 5 columns]

In [13]:
test_df.isnull().sum()

fips         0
date         0
cases        1
deaths       1
fips_date    0
dtype: int64

## Hospital Data

In [14]:
# Convert the date column in the hospital data to a datetime object using pd.to_datetime
hospital_data_df['collection_week'] = pd.to_datetime(hospital_data_df['collection_week'])
# Check to verify the date is now a datetime object
hospital_data_df.dtypes

hospital_pk                                                        object
collection_week                                            datetime64[ns]
state                                                              object
ccn                                                                object
hospital_name                                                      object
                                                                ...
total_personnel_covid_vaccinated_doses_one_7_day                  float64
total_personnel_covid_vaccinated_doses_all_7_day                  float64
previous_week_patients_covid_vaccinated_doses_one_7_day           float64
previous_week_patients_covid_vaccinated_doses_all_7_day           float64
is_corrected                                                         bool
Length: 106, dtype: object

In [15]:
# The NYT data is already sorted by date
# Sort the hospital data by date
hospital_data_df = hospital_data_df.sort_values(by='collection_week')
hospital_data_df

# The hospital data is binned by collection week ending on every friday

,hospital_pk,collection_week,state,ccn,hospital_name,address,city,zip,hospital_subtype,fips_code,...,previous_day_admission_pediatric_covid_confirmed_7_day_coverage,previous_day_admission_adult_covid_suspected_7_day_coverage,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected
324747,110045,2020-07-31,GA,110045,NORTHEAST GEORGIA MEDICAL CENTER BARROW,316 NORTH BROAD STREET,WINDER,30680.0,Short Term,13013.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
319367,180045,2020-07-31,KY,180045,ST ELIZABETH FLORENCE,4900 HOUSTON ROAD,FLORENCE,41042.0,Short Term,21015.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
319371,100168,2020-07-31,FL,100168,BOCA RATON REGIONAL HOSPITAL,800 MEADOWS RD,BOCA RATON,33486.0,Short Term,12099.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
319374,161322,2020-07-31,IA,161322,DALLAS COUNTY HOSPITAL,610 TENTH STREET,PERRY,50220.0,Critical Access Hospitals,19049.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
319375,050660,2020-07-31,CA,050660,USC KENNETH NORRIS JR CANCER HOSPITAL,1441 EASTLAKE AVE,LOS ANGELES,90089.0,Short Term,6037.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10378,341320,2021-10-22,NC,341320,ALLEGHANY COUNTY MEMORIAL HOSPITAL,617 DOCTORS STREET,SPARTA,28675.0,Critical Access Hospitals,37005.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
10377,451311,2021-10-22,TX,451311,SWEENY COMMUNITY HOSPITAL,305 NORTH MCKINNEY,SWEENY,77480.0,Critical Access Hospitals,48039.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
6377,171318,2021-10-22,KS,171318,SEDAN CITY HOSPITAL,300 NORTH STREET,SEDAN,67361.0,Critical Access Hospitals,20019.0,...,7,7,7,0.0,12.0,-999999.0,29.0,0.0,0.0,False
10372,180011,2021-10-22,KY,180011,CHI SAINT JOSEPH LONDON,1001 SAINT JOSEPH LANE,LONDON,40741.0,Short Term,21125.0,...,7,7,7,0.0,0.0,0.0,0.0,0.0,0.0,False
10352,110030,2021-10-22,GA,110030,PIEDMONT CARTERSVILLE MEDICAL CENTER,960 JOE FRANK HARRIS PARKWAY,CARTERSVILLE,30120.0,Short Term,13015.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False

In [16]:
# Convert the hospital date and fips_code column to strings
hospital_data_df.rename(columns={'collection_week': 'date'}, inplace=True)
hospital_data_df['date'] = hospital_data_df['date'].astype('str')
hospital_data_df['fips_code'] = hospital_data_df['fips_code'].astype('str')

In [17]:
# Concat the date and fips_code for new columns fips_date
hospital_data_df['fips_date'] = hospital_data_df['fips_code'] + hospital_data_df['date']
hospital_data_df

,hospital_pk,date,state,ccn,hospital_name,address,city,zip,hospital_subtype,fips_code,...,previous_day_admission_adult_covid_suspected_7_day_coverage,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected,fips_date
324747,110045,2020-07-31,GA,110045,NORTHEAST GEORGIA MEDICAL CENTER BARROW,316 NORTH BROAD STREET,WINDER,30680.0,Short Term,13013.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False,13013.02020-07-31
319367,180045,2020-07-31,KY,180045,ST ELIZABETH FLORENCE,4900 HOUSTON ROAD,FLORENCE,41042.0,Short Term,21015.0,...,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False,21015.02020-07-31
319371,100168,2020-07-31,FL,100168,BOCA RATON REGIONAL HOSPITAL,800 MEADOWS RD,BOCA RATON,33486.0,Short Term,12099.0,...,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False,12099.02020-07-31
319374,161322,2020-07-31,IA,161322,DALLAS COUNTY HOSPITAL,610 TENTH STREET,PERRY,50220.0,Critical Access Hospitals,19049.0,...,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False,19049.02020-07-31
319375,050660,2020-07-31,CA,050660,USC KENNETH NORRIS JR CANCER HOSPITAL,1441 EASTLAKE AVE,LOS ANGELES,90089.0,Short Term,6037.0,...,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False,6037.02020-07-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10378,341320,2021-10-22,NC,341320,ALLEGHANY COUNTY MEMORIAL HOSPITAL,617 DOCTORS STREET,SPARTA,28675.0,Critical Access Hospitals,37005.0,...,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False,37005.02021-10-22
10377,451311,2021-10-22,TX,451311,SWEENY COMMUNITY HOSPITAL,305 NORTH MCKINNEY,SWEENY,77480.0,Critical Access Hospitals,48039.0,...,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False,48039.02021-10-22
6377,171318,2021-10-22,KS,171318,SEDAN CITY HOSPITAL,300 NORTH STREET,SEDAN,67361.0,Critical Access Hospitals,20019.0,...,7,7,0.0,12.0,-999999.0,29.0,0.0,0.0,False,20019.02021-10-22
10372,180011,2021-10-22,KY,180011,CHI SAINT JOSEPH LONDON,1001 SAINT JOSEPH LANE,LONDON,40741.0,Short Term,21125.0,...,7,7,0.0,0.0,0.0,0.0,0.0,0.0,False,21125.02021-10-22
10352,110030,2021-10-22,GA,110030,PIEDMONT CARTERSVILLE MEDICAL CENTER,960 JOE FRANK HARRIS PARKWAY,CARTERSVILLE,30120.0,Short Term,13015.0,...,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False,13015.02021-10-22

In [18]:
# Create a new df to groupby the new fips_date column so each row is unique
agg_hospital_data_df = hospital_data_df.groupby(['fips_date']).agg({'total_beds_7_day_sum':'sum','all_adult_hospital_beds_7_day_sum':'sum', 'all_adult_hospital_inpatient_beds_7_day_sum':'sum', 'inpatient_beds_used_7_day_sum':'sum', 'all_adult_hospital_inpatient_bed_occupied_7_day_sum':'sum', 
                                                                                                                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 'total_adult_patients_hospitalized_confirmed_covid_7_day_sum': 'sum', 'inpatient_beds_7_day_sum':'sum', 'total_icu_beds_7_day_sum':'sum', 
                                                                                                                      'total_staffed_adult_icu_beds_7_day_sum':'sum', 'icu_beds_used_7_day_sum':'sum', 'staffed_adult_icu_bed_occupancy_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_covid_7_day_sum':'sum'}).reset_index()
agg_hospital_data_df

,fips_date,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,10001.02020-07-31,2100.0,1939.0,1688.0,1713.0,1558.0,152.0,84.0,1876.0,322.0,203.0,266.0,189.0,28.0,28.0
1,10001.02020-08-07,2100.0,1939.0,1694.0,1672.0,1548.0,112.0,71.0,1876.0,322.0,203.0,273.0,188.0,22.0,22.0
2,10001.02020-08-14,2100.0,1939.0,1210.0,1141.0,1028.0,132.0,55.0,1340.0,198.0,134.0,183.0,128.0,29.0,29.0
3,10001.02020-08-21,2100.0,1939.0,1729.0,1650.0,1502.0,93.0,57.0,1908.0,285.0,193.0,245.0,171.0,23.0,23.0
4,10001.02020-08-28,2100.0,1939.0,1939.0,1730.0,1624.0,65.0,49.0,2100.0,315.0,203.0,251.0,182.0,19.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159931,nan2021-09-24,1218.0,1204.0,1008.0,526.0,447.0,0.0,0.0,1218.0,49.0,49.0,37.0,37.0,0.0,0.0
159932,nan2021-10-01,1218.0,1204.0,1008.0,523.0,441.0,0.0,0.0,1218.0,49.0,49.0,34.0,34.0,0.0,0.0
159933,nan2021-10-08,1218.0,1204.0,1008.0,524.0,443.0,0.0,0.0,1218.0,49.0,49.0,38.0,38.0,0.0,0.0
159934,nan2021-10-15,1218.0,1204.0,1008.0,540.0,462.0,0.0,0.0,1218.0,49.0,49.0,41.0,41.0,0.0,0.0
159935,nan2021-10-22,1228.0,1214.0,1018.0,589.0,491.0,0.0,0.0,1228.0,49.0,49.0,19.0,19.0,0.0,0.0

# Merge the data sets

In [19]:
# Merge the NYT and hospital dataframes
merged_df = agg_hospital_data_df.merge(nyt_data_grouped)
merged_df

,fips_date,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips,date,cases,deaths
0,10001.02020-07-31,2100.0,1939.0,1688.0,1713.0,1558.0,152.0,84.0,1876.0,322.0,203.0,266.0,189.0,28.0,28.0,10001.0,2020-07-31,14925,737.0
1,10001.02020-08-07,2100.0,1939.0,1694.0,1672.0,1548.0,112.0,71.0,1876.0,322.0,203.0,273.0,188.0,22.0,22.0,10001.0,2020-08-07,15576,749.0
2,10001.02020-08-14,2100.0,1939.0,1210.0,1141.0,1028.0,132.0,55.0,1340.0,198.0,134.0,183.0,128.0,29.0,29.0,10001.0,2020-08-14,16348,756.0
3,10001.02020-08-21,2100.0,1939.0,1729.0,1650.0,1502.0,93.0,57.0,1908.0,285.0,193.0,245.0,171.0,23.0,23.0,10001.0,2020-08-21,17518,759.0
4,10001.02020-08-28,2100.0,1939.0,1939.0,1730.0,1624.0,65.0,49.0,2100.0,315.0,203.0,251.0,182.0,19.0,19.0,10001.0,2020-08-28,17907,763.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159059,9015.02021-09-24,951.0,937.0,783.0,565.0,565.0,56.0,42.0,783.0,119.0,119.0,34.0,34.0,14.0,10.0,9015.0,2021-09-24,85476,1400.0
159060,9015.02021-10-01,956.0,942.0,788.0,530.0,530.0,61.0,57.0,788.0,119.0,119.0,32.0,32.0,15.0,14.0,9015.0,2021-10-01,87031,1439.0
159061,9015.02021-10-08,956.0,942.0,788.0,557.0,557.0,87.0,85.0,788.0,119.0,119.0,32.0,32.0,20.0,20.0,9015.0,2021-10-08,88585,1474.0
159062,9015.02021-10-15,955.0,941.0,787.0,521.0,521.0,76.0,74.0,787.0,119.0,119.0,26.0,26.0,19.0,19.0,9015.0,2021-10-15,90074,1483.0
159063,9015.02021-10-22,952.0,938.0,784.0,550.0,550.0,84.0,75.0,784.0,119.0,119.0,32.0,32.0,29.0,28.0,9015.0,2021-10-22,91747,1499.0

# Experiementation
Below is experiemntation on the data sets to clean them further

In [20]:
# NYT data Cleanup
nyt_test_df = nyt_data_grouped
# 1. create a list that holds all of the unique fips data
fips_list = list(nyt_data_grouped['fips'].unique())
fips_list

['1001.0',
 '19077.0',
 '31101.0',
 '47027.0',
 '13087.0',
 '19075.0',
 '31105.0',
 '47025.0',
 '19073.0',
 '31107.0',
 '47023.0',
 '13089.0',
 '31109.0',
 '4007.0',
 '19071.0',
 '31111.0',
 '47021.0',
 '47019.0',
 '72007.0',
 '13091.0',
 '19069.0',
 '31117.0',
 '47017.0',
 '47015.0',
 '19067.0',
 '31119.0',
 '13085.0',
 '47029.0',
 '47031.0',
 '31099.0',
 '47045.0',
 '13077.0',
 '31083.0',
 '47043.0',
 '54109.0',
 '19085.0',
 '31087.0',
 '47041.0',
 '13079.0',
 '19083.0',
 '31089.0',
 '31091.0',
 '13093.0',
 '47039.0',
 '13081.0',
 '72009.0',
 '1085.0',
 '19081.0',
 '31093.0',
 '47035.0',
 '31095.0',
 '47033.0',
 '13083.0',
 '55001.0',
 '19079.0',
 '31097.0',
 '47037.0',
 '72011.0',
 '31121.0',
 '47013.0',
 '55005.0',
 '19055.0',
 '31141.0',
 '46129.0',
 '31143.0',
 '46127.0',
 '72003.0',
 '13105.0',
 '19053.0',
 '31145.0',
 '46125.0',
 '31147.0',
 '46123.0',
 '13107.0',
 '19051.0',
 '31149.0',
 '46121.0',
 '1089.0',
 '55007.0',
 '31151.0',
 '46119.0',
 '13109.0',
 '19049.0',
 '31153.0',
 '46117.0',
 '4005.0',
 '31139.0',
 '13103.0',
 '19057.0',
 '19065.0',
 '31123.0',
 '1087.0',
 '47011.0',
 '13095.0',
 '31125.0',
 '47009.0',
 '19063.0',
 '31127.0',
 '47007.0',
 '13097.0',
 '31129.0',
 '55003.0',
 '47005.0',
 '19061.0',
 '31131.0',
 '31133.0',
 '47003.0',
 '47001.0',
 '13101.0',
 '72005.0',
 '19059.0',
 '31135.0',
 '46137.0',
 '31137.0',
 '46135.0',
 '13099.0',
 '31081.0',
 '19087.0',
 '47047.0',
 '19115.0',
 '31029.0',
 '47093.0',
 '13051.0',
 '31031.0',
 '47091.0',
 '19113.0',
 '31033.0',
 '47089.0',
 '72017.0',
 '13053.0',
 '54103.0',
 '31035.0',
 '47087.0',
 '19111.0',
 '1081.0',
 '31037.0',
 '47085.0',
 '13055.0',
 '31039.0',
 '19109.0',
 '47083.0',
 '31041.0',
 '47081.0',
 '13057.0',
 '13049.0',
 '47095.0',
 '31027.0',
 '47097.0',
 '1079.0',
 '13039.0',
 '47109.0',
 '19125.0',
 '31011.0',
 '47107.0',
 '31013.0',
 '13043.0',
 '19123.0',
 '47105.0',
 '31015.0',
 '47103.0',
 '19107.0',
 '13045.0',
 '31019.0',
 '4012.0',
 '47101.0',
 '19119.0',
 '31021.0',
 '47099.0',
 '31023.0',
 '13047.0',
 '54101.0',
 '72019.0',
 '19117.0',
 '31025.0',
 '19121.0',
 '31043.0',
 '47079.0',
 '31045.0',
 '31063.0',
 '1083.0',
 '47061.0',
 '54107.0',
 '47059.0',
 '19095.0',
 '31065.0',
 '13069.0',
 '31067.0',
 '47057.0',
 '47055.0',
 '19093.0',
 '19097.0',
 '31069.0',
 '31071.0',
 '47053.0',
 '47051.0',
 '19091.0',
 '31073.0',
 '13073.0',
 '47049.0',
 '19089.0',
 '31077.0',
 '4009.0',
 '31079.0',
 '13075.0',
 '13071.0',
 '31155.0',
 '72013.0',
 '47063.0',
 '47077.0',
 '13059.0',
 '19105.0',
 '31047.0',
 '4011.0',
 '31049.0',
 '47075.0',
 '47073.0',
 '13061.0',
 '19103.0',
 '31051.0',
 '72015.0',
 '13067.0',
 '47071.0',
 '13063.0',
 '54105.0',
 '19101.0',
 '31055.0',
 '47069.0',
 '31057.0',
 '47067.0',
 '13065.0',
 '19099.0',
 '31059.0',
 '47065.0',
 '31061.0',
 '31053.0',
 '13111.0',
 '46115.0',
 '19047.0',
 '13157.0',
 '46029.0',
 '56039.0',
 '18181.0',
 '34009.0',
 '46027.0',
 '13159.0',
 '34011.0',
 '46025.0',
 '13161.0',
 '18179.0',
 '34013.0',
 '34015.0',
 '2997.0',
 '46023.0',
 '18177.0',
 '34017.0',
 '46021.0',
 '13163.0',
 '56037.0',
 '1097.0',
 '34019.0',
 '46019.0',
 '46017.0',
 '13165.0',
 '34007.0',
 '46031.0',
 '34005.0',
 '18183.0',
 '13149.0',
 '56041.0',
 '19007.0',
 '33011.0',
 '46045.0',
 '1095.0',
 '55017.0',
 '33013.0',
 '46043.0',
 '13151.0',
 '19005.0',
 '33015.0',
 '18175.0',
 '46041.0',
 '46039.0',
 '13153.0',
 '19003.0',
 '33019.0',
 '46037.0',
 '34001.0',
 '46035.0',
 '13155.0',
 '19001.0',
 '34003.0',
 '55019.0',
 '46033.0',
 '33017.0',
 '34021.0',
 '55021.0',
 '34023.0',
 '45087.0',
 '18163.0',
 '35001.0',
 '2290.0',
 '35003.0',
 '45085.0',
 '1099.0',
 '13177.0',
 '18161.0',
 '35005.0',
 '45083.0',
 '45081.0',
 '13175.0',
 '13179.0',
 '35006.0',
 '35007.0',
 '45079.0',
 '55025.0',
 '18157.0',
 '35009.0',
 '45077.0',
 '13181.0',
 '45075.0',
 '56033.0',
 '18155.0',
 '35013.0',
 '18159.0',
 '46047.0',
 '34041.0',
 '34039.0',
 '46015.0',
 '18173.0',
 '34025.0',
 '46013.0',
 '13167.0',
 '18171.0',
 '34027.0',
 '46011.0',
 '34029.0',
 '46009.0',
 '13169.0',
 '18169.0',
 '45089.0',
 '34031.0',
 '55023.0',
 '34033.0',
 '46005.0',
 '13171.0',
 '18167.0',
 '34035.0',
 '34037.0',
 '46003.0',
 '56035.0',
 '13173.0',
 '45091.0',
 '18165.0',
 '46007.0',
 '47111.0',
 '33009.0',
 '33007.0',
 '19037.0',
 '31175.0',
 '13121.0',
 '31177.0',
 '1091.0',
 '46095.0',
 '13123.0',
 '19035.0',
 '31179.0',
 '46093.0',
 '55011.0',
 '31181.0',
 '19033.0',
 '46091.0',
 '13125.0',
 '46089.0',
 '19031.0',
 '31185.0',
 '46087.0',
 '32001.0',
 '13127.0',
 '46085.0',
 '19029.0',
 '32003.0',
 '46083.0',
 '46097.0',
 '46099.0',
 '31173.0',
 '13119.0',
 '31157.0',
 '46111.0',
 '31159.0',
 '13113.0',
 '19045.0',
 '46109.0',
 '31161.0',
 '46107.0',
 '13115.0',
 '72001.0',
 '19043.0',
 '31163.0',
 '32005.0',
 '46105.0',
 '46103.0',
 '13117.0',
 '19041.0',
 '31167.0',
 '4003.0',
 '31169.0',
 '46102.0',
 '46101.0',
 '55009.0',
 '19039.0',
 '31171.0',
 '69120.0',
 '31165.0',
 '13129.0',
 '69110.0',
 '46081.0',
 '13139.0',
 '55015.0',
 '19017.0',
 '32029.0',
 '32031.0',
 '46061.0',
 '13141.0',
 '19015.0',
 '32033.0',
 '46059.0',
 '32510.0',
 '46057.0',
 '46065.0',
 '13143.0',
 '46055.0',
 '56043.0',
 '33001.0',
 '46053.0',
 '13145.0',
 '19011.0',
 '33003.0',
 '46051.0',
 '33005.0',
 '46049.0',
 '13147.0',
 '19009.0',
 '19013.0',
 '2998.0',
 '32027.0',
 '32023.0',
 '19027.0',
 '32007.0',
 '46079.0',
 '13131.0',
 '32011.0',
 '46077.0',
 '19025.0',
 '32013.0',
 '4001.0',
 '46075.0',
 '13133.0',
 '19023.0',
 '46067.0',
 '32015.0',
 '55013.0',
 '32017.0',
 '46073.0',
 '13135.0',
 '19021.0',
 '32019.0',
 '1093.0',
 '46071.0',
 '32021.0',
 '46069.0',
 '13137.0',
 '19019.0',
 '56045.0',
 '31007.0',
 '19127.0',
 '47113.0',
 '72047.0',
 '48103.0',
 '48101.0',
 '20035.0',
 '29151.0',
 '12077.0',
 '29153.0',
 '48099.0',
 '4025.0',
 '20033.0',
 '29155.0',
 '48097.0',
 '1065.0',
 '12079.0',
 '29157.0',
 '54075.0',
 '20031.0',
 '29159.0',
 '48095.0',
 '29161.0',
 '48093.0',
 '12081.0',
 '20029.0',
 '29163.0',
 '48091.0',
 '29149.0',
 '12075.0',
 '48105.0',
 '29147.0',
 '48121.0',
 '48119.0',
 '20045.0',
 '29133.0',
 '12067.0',
 '29135.0',
 '48117.0',
 '48115.0',
 '20043.0',
 '29137.0',
 '12069.0',
 '54073.0',
 '48089.0',
 '29139.0',
 '72049.0',
 '48113.0',
 '29141.0',
 '48111.0',
 '12071.0',
 '20039.0',
 '29143.0',
 '48109.0',
 '12073.0',
 '29145.0',
 '48107.0',
 '20037.0',
 '20041.0',
 '12083.0',
 '20027.0',
 '29165.0',
 '48071.0',
 '20017.0',
 '12091.0',
 '29185.0',
 '48069.0',
 '54079.0',
 '20015.0',
 '29186.0',
 '48067.0',
 '29187.0',
 '12093.0',
 '48065.0',
 '4023.0',
 '20013.0',
 '12095.0',
 '29195.0',
 '48063.0',
 '48061.0',
 '20011.0',
 '29197.0',
 '12097.0',
 '72041.0',
 '29199.0',
 '54081.0',
 '48059.0',
 '20009.0',
 '29189.0',
 '29131.0',
 '1067.0',
 '48073.0',
 '29167.0',
 '48087.0',
 '54077.0',
 '72045.0',
 '12085.0',
 '20025.0',
 '29169.0',
 '48085.0',
 '29171.0',
 '48083.0',
 '12086.0',
 '20023.0',
 '29183.0',
 '29173.0',
 '29175.0',
 '48079.0',
 '12087.0',
 '20021.0',
 '29177.0',
 '72043.0',
 '48077.0',
 '29179.0',
 '48075.0',
 '12089.0',
 '20019.0',
 '29181.0',
 '48081.0',
 '29201.0',
 '12065.0',
 '48123.0',
 '12039.0',
 '29079.0',
 '48169.0',
 '20073.0',
 '29081.0',
 '48167.0',
 '12041.0',
 '29083.0',
 '48165.0',
 '20071.0',
 '29085.0',
 '48163.0',
 '12043.0',
 '29087.0',
 '54067.0',
 '20069.0',
 '29089.0',
 '48161.0',
 '29091.0',
 '48159.0',
 '12045.0',
 '20067.0',
 '29093.0',
 '48157.0',
 '72054.0',
 '29077.0',
 '20075.0',
 '54065.0',
 '48171.0',
 '48185.0',
 '20083.0',
 '29063.0',
 '12031.0',
 '29065.0',
 '48183.0',
 '72057.0',
 '48181.0',
 '12033.0',
 '20081.0',
 '29067.0',
 '29069.0',
 '48155.0',
 '48179.0',
 '20079.0',
 '29071.0',
 '48177.0',
 '12035.0',
 '29073.0',
 '20077.0',
 '48175.0',
 '12037.0',
 '72055.0',
 '29075.0',
 '48173.0',
 '1059.0',
 '5003.0',
 '29095.0',
 '12047.0',
 '20065.0',
 '12057.0',
 '20055.0',
 '29115.0',
 '48135.0',
 '29117.0',
 '48133.0',
 '20053.0',
 '12059.0',
 '29119.0',
 '48131.0',
 '12061.0',
 '20051.0',
 '48137.0',
 '72051.0',
 '48129.0',
 '29123.0',
 '48127.0',
 '12063.0',
 '20049.0',
 '29125.0',
 '48125.0',
 '29127.0',
 '4027.0',
 '54071.0',
 '20047.0',
 '29129.0',
 '29121.0',
 '1063.0',
 '29113.0',
 '29111.0',
 '48153.0',
 '29097.0',
 '12049.0',
 '5001.0',
 '20063.0',
 '29099.0',
 '48151.0',
 '29101.0',
 '48149.0',
 '12051.0',
 '72053.0',
 '1061.0',
 '48139.0',
 '48147.0',
 '29103.0',
 '48145.0',
 '29105.0',
 '12053.0',
 '54069.0',
 '20059.0',
 '29107.0',
 '48143.0',
 '29109.0',
 '48141.0',
 '12055.0',
 '20057.0',
 '20061.0',
 '45073.0',
 '48057.0',
 '29203.0',
 '19157.0',
 '30063.0',
 '47159.0',
 '13013.0',
 '19155.0',
 '30065.0',
 '47157.0',
 '30067.0',
 '47155.0',
 '13015.0',
 '19153.0',
 '4015.0',
 '54093.0',
 '19151.0',
 '30073.0',
 '47153.0',
 '72027.0',
 '30075.0',
 '47151.0',
 '13017.0',
 '19149.0',
 '47149.0',
 '47147.0',
 '13019.0',
 '19147.0',
 '1075.0',
 '13011.0',
 '47161.0',
 '30059.0',
 '30043.0',
 '47177.0',
 '13003.0',
 '30045.0',
 '47175.0',
 '19165.0',
 '30047.0',
 '47173.0',
 '13005.0',
 '30049.0',
 '54091.0',
 '19163.0',
 '30081.0',
 '30051.0',
 '47169.0',
 '72029.0',
 '13007.0',
 '19161.0',
 '30053.0',
 '47167.0',
 '30055.0',
 '47165.0',
 '13009.0',
 '19159.0',
 '30057.0',
 '47163.0',
 '47171.0',
 '47145.0',
 '30083.0',
 '54095.0',
 '47127.0',
 '54097.0',
 '19135.0',
 '30103.0',
 '47125.0',
 '72023.0',
 '13031.0',
 '30105.0',
 '47123.0',
 '19133.0',
 '30107.0',
 '47121.0',
 '30101.0',
 '13033.0',
 '47119.0',
 '19131.0',
 '30111.0',
 '47117.0',
 '13035.0',
 '31001.0',
 '54099.0',
 '72021.0',
 '47115.0',
 '19129.0',
 '31003.0',
 '13037.0',
 '30109.0',
 '19167.0',
 '4013.0',
 '19137.0',
 '47143.0',
 '19145.0',
 '30085.0',
 '13021.0',
 '72025.0',
 '30087.0',
 '47141.0',
 '47139.0',
 '13023.0',
 '19143.0',
 '30089.0',
 '30091.0',
 '30099.0',
 '47137.0',
 '1077.0',
 '47135.0',
 '19141.0',
 '30093.0',
 '47133.0',
 '13027.0',
 '19139.0',
 '30095.0',
 '47131.0',
 '30097.0',
 '47129.0',
 '13029.0',
 '13025.0',
 '12099.0',
 '47179.0',
 '13001.0',
 '48039.0',
 '12109.0',
 '19195.0',
 '29223.0',
 '48037.0',
 '29225.0',
 '48035.0',
 '12111.0',
 '72037.0',
 '48031.0',
 '19193.0',
 '29227.0',
 '12113.0',
 '29229.0',
 '54085.0',
 '19191.0',
 '48029.0',
 '29510.0',
 '48027.0',
 '12115.0',
 '19189.0',
 '30001.0',
 '48025.0',
 '30003.0',
 '48023.0',
 '29221.0',
 '29219.0',
 '19197.0',
 '54083.0',
 '48055.0',
 '20007.0',
 '29205.0',
 '48053.0',
 '12101.0',
 '29207.0',
 '48051.0',
 '72039.0',
 '20005.0',
 '48049.0',
 '29209.0',
 '12103.0',
 '72035.0',
 '48047.0',
 '20003.0',
 '29211.0',
 '48045.0',
 '29213.0',
 '4021.0',
 '12105.0',
 '20001.0',
 '29215.0',
 '48043.0',
 '12107.0',
 '29217.0',
 '48041.0',
 '1069.0',
 '12117.0',
 '19187.0',
 '1071.0',
 '30025.0',
 '30027.0',
 '48003.0',
 '48001.0',
 '54089.0',
 '19175.0',
 '30029.0',
 '12129.0',
 '19173.0',
 '30031.0',
 '47189.0',
 '30033.0',
 '19177.0',
 '47187.0',
 '72031.0',
 '1073.0',
 '47185.0',
 '19171.0',
 '30035.0',
 '47183.0',
 '12133.0',
 '30037.0',
 '4017.0',
 '19169.0',
 '30039.0',
 '47181.0',
 '12131.0',
 '30041.0',
 '12127.0',
 '48005.0',
 '48021.0',
 '30005.0',
 '48019.0',
 '30007.0',
 '12119.0',
 '4019.0',
 '19185.0',
 '30009.0',
 '48017.0',
 '48015.0',
 '19183.0',
 '39089.0',
 '72033.0',
 '12121.0',
 '48013.0',
 '12123.0',
 '19181.0',
 '30017.0',
 '54087.0',
 '48011.0',
 '48009.0',
 '19179.0',
 '30021.0',
 '12125.0',
 '30023.0',
 '48007.0',
 '30015.0',
 '48187.0',
 '35015.0',
 '45071.0',
 '16045.0',
 '17157.0',
 '38007.0',
 '40089.0',
 '40087.0',
 '55123.0',
 '17155.0',
 '38009.0',
 '16047.0',
 '38011.0',
 '2130.0',
 '40085.0',
 '17153.0',
 '38013.0',
 '40083.0',
 '38015.0',
 '55075.0',
 '16049.0',
 '17151.0',
 '38017.0',
 '40081.0',
 '55121.0',
 '38019.0',
 '40079.0',
 '16051.0',
 '40091.0',
 '40093.0',
 '38005.0',
 '38003.0',
 '40109.0',
 '16035.0',
 '37189.0',
 '40107.0',
 '55125.0',
 '40105.0',
 '17165.0',
 '37191.0',
 '16037.0',
 '37193.0',
 '40103.0',
 '55073.0',
 '17149.0',
 '17163.0',
 '37195.0',
 '40101.0',
 '16039.0',
 '37197.0',
 '40099.0',
 ...]

In [58]:
# 1.a each fips code corresponds to 65 rows 1 fips per 65 dates
nyt_test_df = nyt_test_df.sort_values(by=['fips', 'date'])
nyt_test_df.head()

          fips        date  cases  deaths          fips_date
21016  10001.0  2020-07-24  14210   678.0  10001.02020-07-24
21017  10001.0  2020-07-31  14925   737.0  10001.02020-07-31
21018  10001.0  2020-08-07  15576   749.0  10001.02020-08-07
21019  10001.0  2020-08-14  16348   756.0  10001.02020-08-14
21020  10001.0  2020-08-21  17518   759.0  10001.02020-08-21

In [76]:
# 2. Loop through the list to create a new df and sort by date

for x in fips[:75]:
    i = 0
    if nyt_test_df['fips'][i] == x:
        print(nyt_test_df['fips'][i])
        i += 1
        print(i)
    else:
        print('not working :(')
        print(nyt_test_df['fips'][i])
        print(x)
#             cases = []
#             cases.append(nyt_test_df['cases'][y])
#             test_cases.append(cases.diff())

not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10001.0
not working :(
1001.0
10003.0
not working :(
1001.0
10003.0
not working :(
1001.0
10003.0
not working :(
1001.0
10003.0
not working :(
1001.0
10003.0
not working :(
1001.0
10003.0
not working :(
1001.0
10003.0
not working :(
1001.0
10003.0

In [53]:
# for x in nyt_test_df['fips'][:75]:
#     print(x)

In [87]:
fips = list(nyt_data_filtered['fips'])
len(fips)

1521123

In [83]:
nyt_data_filtered.dtypes

date      datetime64[ns]
county            object
state             object
fips             float64
cases              int64
deaths           float64
dtype: object