In [1]:
# pip install psycopg2-binary in mlenv
# Create config.py file with postgres password as db_password
# Create postgres database called COVID_Risk_Final_Project on POstgreSQL 13 server

In [1]:
# Import the requests library.
import requests
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
from sqlalchemy import create_engine
from config import db_password
import numpy as np

In [4]:
# Read NYT data into dataframe
nyt_data = 'https://group3data.s3.us-west-2.amazonaws.com/us-counties.csv'
nyt_data_df = pd.read_csv(nyt_data)
nyt_data_df

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
1888090  2021-11-05  Sweetwater     Wyoming  56037.0   7695    91.0
1888091  2021-11-05       Teton     Wyoming  56039.0   5243    14.0
1888092  2021-11-05       Uinta     Wyoming  56041.0   3901    27.0
1888093  2021-11-05    Washakie     Wyoming  56043.0   1780    35.0
1888094  2021-11-05      Weston     Wyoming  56045.0   1154     9.0

[1888095 rows x 6 columns]

In [6]:
# Convert the date column in the NYT data to a datetime object using pd.to_datetime
nyt_data_df['date'] = pd.to_datetime(nyt_data_df['date'])
nyt_data_df.head()

        date     county       state     fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061.0      1     0.0
1 2020-01-22  Snohomish  Washington  53061.0      1     0.0
2 2020-01-23  Snohomish  Washington  53061.0      1     0.0
3 2020-01-24       Cook    Illinois  17031.0      1     0.0
4 2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [7]:
# 1. Remove the data for dates before 7-31-20 and after 10-22-21
# 2. Bin the date column by weeks ending every friday
# 3. Sum the cases and deaths columns for each week binned

# Step 1:
nyt_data_filtered = nyt_data_df[nyt_data_df['date'] >= '2020-07-25']
nyt_data_filtered = nyt_data_filtered[nyt_data_filtered['date'] <= '2021-10-22']
nyt_data_filtered

              date      county    state     fips  cases  deaths
366652  2020-07-25     Autauga  Alabama   1001.0    932    21.0
366653  2020-07-25     Baldwin  Alabama   1003.0   2662    18.0
366654  2020-07-25     Barbour  Alabama   1005.0    552     4.0
366655  2020-07-25        Bibb  Alabama   1007.0    318     2.0
366656  2020-07-25      Blount  Alabama   1009.0    637     1.0
...            ...         ...      ...      ...    ...     ...
1842600 2021-10-22  Sweetwater  Wyoming  56037.0   7414    79.0
1842601 2021-10-22       Teton  Wyoming  56039.0   5119    14.0
1842602 2021-10-22       Uinta  Wyoming  56041.0   3781    26.0
1842603 2021-10-22    Washakie  Wyoming  56043.0   1676    33.0
1842604 2021-10-22      Weston  Wyoming  56045.0   1027     9.0

[1475953 rows x 6 columns]

In [8]:
# Step 2:
# Step 3:

nyt_data_grouped = nyt_data_filtered.groupby(['fips', pd.Grouper(key='date', freq='W-FRI')]).agg({'cases':'sum','deaths':'sum'}).reset_index()
nyt_data_grouped

           fips       date  cases  deaths
0        1001.0 2020-07-31   6817   147.0
1        1001.0 2020-08-07   7503   150.0
2        1001.0 2020-08-14   8531   158.0
3        1001.0 2020-08-21   9009   161.0
4        1001.0 2020-08-28   9484   161.0
...         ...        ...    ...     ...
208977  78030.0 2021-09-24  24720   297.0
208978  78030.0 2021-10-01  24982   304.0
208979  78030.0 2021-10-08  25204   308.0
208980  78030.0 2021-10-15  25290   311.0
208981  78030.0 2021-10-22  25435   315.0

[208982 rows x 4 columns]

In [9]:
# Set each column to a string value so we can concatonate them together 
nyt_data_grouped['fips'] = nyt_data_grouped['fips'].astype('str')
nyt_data_grouped['date'] = nyt_data_grouped['date'].astype('str')
nyt_data_grouped['fips'].dtype

dtype('O')

In [10]:
# Concatonate the date column and the fips column to create fips_date
nyt_data_grouped['fips_date'] = nyt_data_grouped['fips'] + nyt_data_grouped['date']
nyt_data_grouped

           fips        date  cases  deaths          fips_date
0        1001.0  2020-07-31   6817   147.0   1001.02020-07-31
1        1001.0  2020-08-07   7503   150.0   1001.02020-08-07
2        1001.0  2020-08-14   8531   158.0   1001.02020-08-14
3        1001.0  2020-08-21   9009   161.0   1001.02020-08-21
4        1001.0  2020-08-28   9484   161.0   1001.02020-08-28
...         ...         ...    ...     ...                ...
208977  78030.0  2021-09-24  24720   297.0  78030.02021-09-24
208978  78030.0  2021-10-01  24982   304.0  78030.02021-10-01
208979  78030.0  2021-10-08  25204   308.0  78030.02021-10-08
208980  78030.0  2021-10-15  25290   311.0  78030.02021-10-15
208981  78030.0  2021-10-22  25435   315.0  78030.02021-10-22

[208982 rows x 5 columns]

In [11]:
# Read Hospital data (healthdata.gov) into dataframe
hospital_data = 'https://group3data.s3.us-west-2.amazonaws.com/COVID-19_Reported_Patient_Impact_and_Hospital_Capacity_by_Facility.csv'
hospital_data_df = pd.read_csv(hospital_data)
hospital_data_df

,hospital_pk,collection_week,state,ccn,hospital_name,address,city,zip,hospital_subtype,fips_code,...,previous_day_admission_pediatric_covid_confirmed_7_day_coverage,previous_day_admission_adult_covid_suspected_7_day_coverage,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected
0,140158,2021/10/15,IL,140158,INSIGHT HOSPITAL AND MEDICAL CENTER CHICAGO,2525 S MICHIGAN AVE,CHICAGO,60616.0,Short Term,17031.0,...,7,7,7,0.0,NaN,NaN,NaN,0.0,NaN,False
1,450162,2021/10/15,TX,450162,GRACE SURGICAL HOSPITAL,2412 50TH ST,LUBBOCK,79412.0,Short Term,48303.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
2,451318,2021/10/15,TX,451318,STONEWALL MEMORIAL HOSPITAL DISTRICT,821 NORTH BROADWAY,ASPERMONT,79502.0,Critical Access Hospitals,48433.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
3,050769,2021/10/08,CA,050769,HOAG ORTHOPEDIC INSTITUTE,16250 SAND CANYON AVENUE,IRVINE,92618.0,Short Term,6059.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
4,291500,2021/10/08,NV,291500,NATHAN ADELSON HOSPICE,4141 UNIVERSITY CENTER DR,LAS VEGAS,89119.0,Short Term,32003.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324743,100291,2020/08/07,FL,100291,STEWARD REGIONAL MEDICAL CENTER,250 NORTH WICKHAM ROAD,MELBOURNE,32935.0,Short Term,12009.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
324744,250096,2020/07/31,MS,250096,MERIT HEALTH RANKIN,350 CROSSGATES BLVD,BRANDON,39042.0,Short Term,28121.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
324745,241345,2020/07/31,MN,241345,MAYO CLINIC HEALTH SYSTEM-WASECA,501 NORTH STATE STREET,WASECA,56093.0,Critical Access Hospitals,27161.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
324746,271311,2020/08/07,MT,271311,BIG SANDY MEDICAL CENTER,166 MONTANA AVE E,BIG SANDY,59520.0,Critical Access Hospitals,30015.0,...,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,False
324747,110045,2020/07/31,GA,110045,NORTHEAST GEORGIA MEDICAL CENTER BARROW,316 NORTH BROAD STREET,WINDER,30680.0,Short Term,13013.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [12]:
# Create list of columns to drop
drop_list_hospitals = ['hospital_pk', 'state', 'ccn', 'hospital_name', 'address', 'city', 'zip', 'hospital_subtype', 
                       'is_metro_micro', 'total_beds_7_day_avg', 'all_adult_hospital_beds_7_day_avg', 
                       'all_adult_hospital_inpatient_beds_7_day_avg', 'inpatient_beds_used_7_day_avg', 
                       'all_adult_hospital_inpatient_bed_occupied_7_day_avg', 
                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_avg', 
                       'total_adult_patients_hospitalized_confirmed_covid_7_day_avg', 
                       'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_avg', 
                       'total_pediatric_patients_hospitalized_confirmed_covid_7_day_avg', 'inpatient_beds_7_day_avg', 
                       'total_icu_beds_7_day_avg', 'total_staffed_adult_icu_beds_7_day_avg', 'icu_beds_used_7_day_avg', 
                       'staffed_adult_icu_bed_occupancy_7_day_avg', 
                       'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_avg', 
                       'staffed_icu_adult_patients_confirmed_covid_7_day_avg', 
                       'total_patients_hospitalized_confirmed_influenza_7_day_avg', 
                       'icu_patients_confirmed_influenza_7_day_avg', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_avg', 
                       'all_adult_hospital_inpatient_beds_7_day_coverage', 
                       'inpatient_beds_used_7_day_coverage', 'all_adult_hospital_inpatient_bed_occupied_7_day_coverage', 
                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_coverage', 
                       'total_adult_patients_hospitalized_confirmed_covid_7_day_coverage', 
                       'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_coverage', 
                       'total_pediatric_patients_hospitalized_confirmed_covid_7_day_coverage', 
                       'inpatient_beds_7_day_coverage', 'total_icu_beds_7_day_coverage', 
                       'total_staffed_adult_icu_beds_7_day_coverage', 'icu_beds_used_7_day_coverage', 
                       'staffed_adult_icu_bed_occupancy_7_day_coverage', 
                       'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_coverage', 
                       'staffed_icu_adult_patients_confirmed_covid_7_day_coverage', 
                       'total_patients_hospitalized_confirmed_influenza_7_day_coverage', 
                       'icu_patients_confirmed_influenza_7_day_coverage', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_coverage', 
                       'previous_day_admission_adult_covid_confirmed_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_18-19_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_20-29_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_30-39_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_40-49_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_50-59_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_60-69_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_70-79_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_80+_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_unknown_7_day_sum', 
                       'previous_day_admission_pediatric_covid_confirmed_7_day_sum', 
                       'previous_day_covid_ED_visits_7_day_sum', 'previous_day_admission_adult_covid_suspected_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_18-19_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_20-29_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_30-39_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_40-49_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_50-59_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_60-69_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_70-79_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_80+_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_unknown_7_day_sum', 
                       'previous_day_admission_pediatric_covid_suspected_7_day_sum', 
                       'previous_day_total_ED_visits_7_day_sum', 'previous_day_admission_influenza_confirmed_7_day_sum', 
                       'geocoded_hospital_address', 'hhs_ids', 
                       'previous_day_admission_adult_covid_confirmed_7_day_coverage', 
                       'previous_day_admission_pediatric_covid_confirmed_7_day_coverage', 
                       'previous_day_admission_adult_covid_suspected_7_day_coverage', 
                       'previous_day_admission_pediatric_covid_suspected_7_day_coverage', 
                       'previous_week_personnel_covid_vaccinated_doses_administered_7_day', 
                       'total_personnel_covid_vaccinated_doses_none_7_day', 
                       'total_personnel_covid_vaccinated_doses_one_7_day', 
                       'total_personnel_covid_vaccinated_doses_all_7_day', 
                       'previous_week_patients_covid_vaccinated_doses_one_7_day', 
                       'previous_week_patients_covid_vaccinated_doses_all_7_day', 'is_corrected', 
                       'total_beds_7_day_coverage', 'all_adult_hospital_beds_7_day_coverage',
                       'total_patients_hospitalized_confirmed_influenza_7_day_sum', 
                       'icu_patients_confirmed_influenza_7_day_sum', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_sum'
]

In [13]:
# Remove drop_list columns from df
hospital_data_df.drop(drop_list_hospitals, axis=1, inplace=True)
hospital_data_df.head()

,collection_week,fips_code,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,2021/10/15,17031.0,350.0,350.0,252.0,160.0,160.0,7.0,7.0,0.0,0.0,252.0,28.0,28.0,16.0,16.0,7.0,7.0
1,2021/10/15,48303.0,268.0,268.0,261.0,34.0,34.0,0.0,0.0,0.0,0.0,261.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2021/10/15,48433.0,77.0,77.0,63.0,0.0,0.0,0.0,0.0,0.0,0.0,63.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2021/10/08,6059.0,245.0,245.0,133.0,126.0,126.0,0.0,0.0,0.0,0.0,133.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2021/10/08,32003.0,266.0,266.0,266.0,191.0,191.0,11.0,11.0,0.0,0.0,266.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# Convert the date column in the hospital data to a datetime object using pd.to_datetime
hospital_data_df['collection_week'] = pd.to_datetime(hospital_data_df['collection_week'])
# Check to verify the date is now a datetime object
hospital_data_df.dtypes

collection_week                                                                  datetime64[ns]
fips_code                                                                               float64
total_beds_7_day_sum                                                                    float64
all_adult_hospital_beds_7_day_sum                                                       float64
all_adult_hospital_inpatient_beds_7_day_sum                                             float64
inpatient_beds_used_7_day_sum                                                           float64
all_adult_hospital_inpatient_bed_occupied_7_day_sum                                     float64
total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum               float64
total_adult_patients_hospitalized_confirmed_covid_7_day_sum                             float64
total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum           float64
total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum                         float64
inpatient_beds_7_day_sum                                                                float64
total_icu_beds_7_day_sum                                                                float64
total_staffed_adult_icu_beds_7_day_sum                                                  float64
icu_beds_used_7_day_sum                                                                 float64
staffed_adult_icu_bed_occupancy_7_day_sum                                               float64
staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum                      float64
staffed_icu_adult_patients_confirmed_covid_7_day_sum                                    float64
dtype: object

In [15]:
# Sort the hospital data by date
hospital_data_df = hospital_data_df.sort_values(by='collection_week')
hospital_data_df

# The hospital data is binned by collection week ending on every friday

,collection_week,fips_code,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
324747,2020-07-31,13013.0,266.0,NaN,NaN,199.0,NaN,0.0,NaN,-999999.0,NaN,266.0,0.0,NaN,0.0,NaN,NaN,NaN
319367,2020-07-31,21015.0,1062.0,1062.0,1062.0,949.0,949.0,-999999.0,-999999.0,0.0,0.0,1062.0,126.0,108.0,109.0,109.0,-999999.0,-999999.0
319371,2020-07-31,12099.0,3332.0,2710.0,2710.0,1873.0,1859.0,266.0,266.0,0.0,0.0,3206.0,287.0,287.0,178.0,178.0,41.0,41.0
319374,2020-07-31,19049.0,102.0,126.0,84.0,-999999.0,9.0,4.0,-999999.0,0.0,0.0,84.0,0.0,0.0,0.0,0.0,0.0,0.0
319375,2020-07-31,6037.0,824.0,404.0,341.0,296.0,296.0,5.0,0.0,0.0,0.0,341.0,20.0,20.0,18.0,18.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10378,2021-10-22,37005.0,42.0,42.0,42.0,26.0,26.0,-999999.0,-999999.0,0.0,0.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0
10377,2021-10-22,48039.0,15.0,15.0,9.0,4.0,4.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
6377,2021-10-22,20019.0,154.0,154.0,126.0,10.0,10.0,0.0,0.0,0.0,0.0,126.0,0.0,0.0,0.0,0.0,0.0,0.0
10372,2021-10-22,21125.0,1421.0,864.0,864.0,658.0,658.0,158.0,158.0,0.0,0.0,864.0,336.0,336.0,229.0,229.0,71.0,71.0
10352,2021-10-22,13015.0,1134.0,1134.0,834.0,821.0,791.0,69.0,69.0,0.0,0.0,842.0,147.0,147.0,139.0,139.0,47.0,47.0

In [16]:
# Group and sort hospital_data_df by fips_code
hospital_data_df = hospital_data_df.groupby(['fips_code', pd.Grouper(key='collection_week', freq='W-FRI')]).agg({'total_beds_7_day_sum':'sum','all_adult_hospital_beds_7_day_sum':'sum', 'all_adult_hospital_inpatient_beds_7_day_sum':'sum', 'inpatient_beds_used_7_day_sum':'sum', 'all_adult_hospital_inpatient_bed_occupied_7_day_sum':'sum', 
                                                                                                                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 'total_adult_patients_hospitalized_confirmed_covid_7_day_sum': 'sum', 'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 'total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum':'sum', 'inpatient_beds_7_day_sum':'sum', 'total_icu_beds_7_day_sum':'sum', 
                                                                                                                       'total_staffed_adult_icu_beds_7_day_sum':'sum', 'icu_beds_used_7_day_sum':'sum', 'staffed_adult_icu_bed_occupancy_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_covid_7_day_sum':'sum'}).reset_index()
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,1001.0,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0
1,1001.0,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0
2,1001.0,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0
3,1001.0,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0
4,1001.0,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0
159867,78020.0,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0
159868,78020.0,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0
159869,78020.0,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0
159870,78020.0,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0

In [17]:
# Convert the hospital date and fips_code column to strings
hospital_data_df['collection_week'] = hospital_data_df['collection_week'].astype('str')
hospital_data_df['fips_code'] = hospital_data_df['fips_code'].astype('str')

In [18]:
# Concat the date and fips_code for new columns fips_date
hospital_data_df['fips_date'] = hospital_data_df['fips_code'] + hospital_data_df['collection_week']
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001.0,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,1001.02020-07-31
1,1001.0,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,1001.02020-08-07
2,1001.0,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,1001.02020-08-14
3,1001.0,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,1001.02020-08-21
4,1001.0,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,1001.02020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,78020.02021-09-24
159867,78020.0,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,78020.02021-10-01
159868,78020.0,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,78020.02021-10-08
159869,78020.0,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,78020.02021-10-15
159870,78020.0,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0,78020.02021-10-22

In [19]:
# Convert all negative values to 0
num = hospital_data_df._get_numeric_data()
num[num < 0] = 0

In [20]:
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001.0,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,1001.02020-07-31
1,1001.0,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,1001.02020-08-07
2,1001.0,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,1001.02020-08-14
3,1001.0,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,1001.02020-08-21
4,1001.0,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,1001.02020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,78020.02021-09-24
159867,78020.0,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,78020.02021-10-01
159868,78020.0,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,78020.02021-10-08
159869,78020.0,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,78020.02021-10-15
159870,78020.0,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,78020.02021-10-22

In [21]:
f = hospital_data_df['fips_date'].unique()

In [22]:
x = nyt_data_grouped['fips_date'].unique()

In [23]:
# Create list of fips_date values that only appear in one data set
remove_list = list(set(x).symmetric_difference(set(f)))
remove_list

['2180.02021-04-02',
 '21077.02021-05-28',
 '51069.02020-10-30',
 '29025.02020-12-04',
 '20139.02021-09-24',
 '51610.02021-06-25',
 '5095.02021-05-21',
 '51131.02021-04-09',
 '12075.02021-01-15',
 '18041.02021-01-08',
 '29017.02021-04-30',
 '21235.02021-01-29',
 '21197.02020-11-27',
 '37197.02021-08-20',
 '48377.02021-03-19',
 '21187.02020-07-31',
 '31027.02020-12-11',
 '46085.02020-11-27',
 '72115.02021-02-12',
 '48455.02021-02-26',
 '2158.02020-08-21',
 '2120.02021-10-22',
 '29085.02021-09-17',
 '29087.02021-09-03',
 '31035.02021-10-15',
 '51011.02020-11-13',
 '17003.02021-01-22',
 '8121.02021-08-06',
 '17139.02021-10-08',
 '47153.02021-04-23',
 '48467.02020-12-04',
 '54049.02021-04-02',
 '38043.02021-07-23',
 '2280.02020-09-25',
 '18147.02021-02-05',
 '26119.02020-11-27',
 '37033.02020-12-11',
 '18047.02021-09-17',
 '47153.02020-08-14',
 '72109.02021-01-01',
 '16051.02021-08-06',
 '29197.02021-02-12',
 '47175.02021-02-19',
 '72043.02021-01-01',
 '48031.02021-07-30',
 '69000.02020-09-11',
 '48011.02020-12-11',
 '72077.02020-10-23',
 '16033.02020-11-06',
 '51079.02020-10-30',
 '48409.02020-12-25',
 '21031.02021-02-05',
 '28137.02021-08-27',
 '29201.02020-09-11',
 '13319.02021-10-08',
 '18047.02021-01-29',
 '40003.02021-07-30',
 '13181.02021-08-20',
 '42103.02020-09-25',
 '16051.02021-10-01',
 '20049.02021-01-29',
 '47049.02021-06-25',
 '48311.02020-10-16',
 '35061.02021-08-20',
 '48081.02020-08-14',
 '51031.02020-09-18',
 '17017.02021-04-09',
 '13289.02021-04-16',
 '21237.02020-08-14',
 '55051.02021-05-14',
 '51091.02021-10-22',
 '48203.02021-04-09',
 '47039.02020-08-07',
 '17017.02020-07-31',
 '21191.02021-01-15',
 '13085.02021-06-18',
 '72137.02021-10-01',
 '39137.02020-10-09',
 '17139.02021-10-01',
 '19195.02020-12-18',
 '31165.02021-07-09',
 '13049.02021-09-17',
 '48333.02020-09-11',
 '37073.02021-01-15',
 '37095.02021-06-04',
 '49015.02021-02-19',
 '36121.02020-09-11',
 '51089.02021-03-12',
 '38007.02021-05-07',
 '48203.02021-06-11',
 '48119.02020-11-20',
 '48473.02021-09-24',
 '5091.02021-08-27',
 '20011.02021-09-03',
 '46117.02021-03-05',
 '18013.02020-12-18',
 '29053.02021-07-30',
 '48455.02021-03-12',
 '1029.02021-02-12',
 '34015.02021-03-05',
 '28057.02020-11-06',
 '12043.02020-08-14',
 '13289.02020-11-06',
 '31025.02020-09-11',
 '38083.02021-08-06',
 '40089.02020-08-28',
 '47061.02020-11-06',
 '2188.02021-05-14',
 '2220.02021-01-08',
 '51161.02021-10-22',
 '49015.02020-09-18',
 '46071.02021-08-06',
 '2180.02021-10-08',
 '31035.02021-04-02',
 '48283.02021-02-12',
 '48243.02021-10-22',
 '72093.02020-08-28',
 '72001.02020-11-27',
 '72037.02020-09-04',
 '29125.02021-10-22',
 '21159.02020-10-16',
 '51820.02021-08-06',
 '51163.02021-01-15',
 '18129.02020-08-14',
 '21113.02021-08-20',
 '26009.02020-12-18',
 '40107.02021-01-29',
 '38041.02020-09-25',
 '27027.02021-08-06',
 '48269.02021-02-26',
 '12041.02020-10-02',
 '31049.02020-10-30',
 '22095.02021-05-21',
 '37079.02020-10-16',
 '48417.02020-11-20',
 '48381.02021-08-06',
 '31025.02020-08-14',
 '29041.02021-09-17',
 '29067.02021-08-20',
 '18101.02021-09-03',
 '72117.02021-02-26',
 '21165.02021-10-22',
 '51141.02021-03-12',
 '51035.02021-03-19',
 '12121.02020-12-11',
 '46095.02021-06-04',
 '51111.02020-12-11',
 '17123.02020-12-04',
 '36085.02021-07-23',
 '45039.02021-05-07',
 '21103.02021-04-30',
 '26109.02021-01-22',
 '37199.02021-07-30',
 '51690.02021-09-17',
 '72041.02021-04-02',
 '2185.02021-07-02',
 '21169.02020-11-13',
 '13289.02021-09-03',
 '47057.02021-06-04',
 '69110.02020-12-04',
 '13309.02021-06-11',
 '46097.02021-01-01',
 '16015.02021-10-01',
 '8113.02020-12-25',
 '13079.02021-05-14',
 '46019.02020-10-16',
 '8023.02020-10-23',
 '29045.02020-08-07',
 '13239.02021-01-22',
 '8109.02020-11-13',
 '16033.02020-07-31',
 '13029.02020-09-04',
 '26135.02020-10-02',
 '26085.02021-10-22',
 '21119.02020-10-30',
 '51036.02021-01-22',
 '31091.02021-08-20',
 '47173.02021-07-16',
 '29209.02020-08-28',
 '37153.02020-09-18',
 '17035.02021-01-08',
 '48319.02021-03-19',
 '48507.02021-02-19',
 '48205.02021-01-22',
 '51021.02021-01-29',
 '5079.02021-03-05',
 '18119.02021-01-15',
 '29179.02021-06-04',
 '13191.02021-04-09',
 '50009.02021-06-11',
 '20107.02021-03-05',
 '51113.02020-12-18',
 '47049.02020-10-23',
 '72007.02021-09-03',
 '72027.02021-04-23',
 '46025.02021-04-09',
 '48045.02021-05-21',
 '72015.02021-02-05',
 '72019.02021-09-03',
 '21075.02021-07-23',
 '38077.02020-09-11',
 '26113.02021-02-12',
 '51790.02021-04-30',
 '18007.02021-06-11',
 '12043.02021-06-18',
 '51143.02020-12-25',
 '48259.02021-10-08',
 '50009.02020-10-09',
 '13273.02021-04-16',
 '48351.02021-01-01',
 '48311.02021-03-26',
 '51125.02021-01-29',
 '47039.02021-01-15',
 '54093.02020-11-27',
 '5105.02021-01-29',
 '21169.02021-02-05',
 '37153.02021-09-03',
 '8011.02020-11-27',
 '16043.02021-06-18',
 '54079.02021-03-12',
 '31049.02021-10-01',
 '51113.02021-01-22',
 '18111.02021-09-03',
 '51790.02020-12-04',
 '20049.02021-06-18',
 '38087.02021-01-29',
 '2275.02021-04-30',
 '2198.02021-10-01',
 '17151.02021-01-15',
 '40033.02021-03-05',
 '24039.02021-09-17',
 '17079.02021-03-19',
 '48315.02021-10-22',
 '51023.02021-10-01',
 '1067.02021-01-15',
 '21113.02021-08-06',
 '48351.02021-07-09',
 '47161.02021-05-14',
 '28021.02020-09-18',
 '21143.02020-08-28',
 '48421.02021-05-14',
 '56035.02020-08-07',
 '72067.02020-08-28',
 '21229.02021-09-17',
 '54073.02021-07-09',
 '31091.02021-09-24',
 '40025.02020-08-28',
 '17153.02021-07-23',
 '17007.02020-10-23',
 '53059.02021-01-15',
 '51135.02021-01-22',
 '13191.02020-09-04',
 '13309.02021-03-05',
 '48505.02021-02-26',
 '48137.02021-09-03',
 '54015.02021-09-24',
 '72123.02021-03-19',
 '78030.02021-03-05',
 '29169.02021-04-23',
 '72117.02020-10-02',
 '72067.02021-05-07',
 '48159.02021-02-26',
 '19129.02021-02-12',
 '13049.02021-10-22',
 '34015.02021-05-07',
 '16061.02020-10-23',
 '19171.02021-01-08',
 '27045.02021-04-09',
 '42097.02021-10-01',
 '26143.02021-01-22',
 '2188.02021-03-19',
 '8011.02020-08-21',
 '12029.02020-07-31',
 '12029.02021-01-01',
 '18101.02021-02-19',
 '20017.02020-12-04',
 '26083.02021-03-05',
 '44001.02021-06-11',
 '31085.02021-01-08',
 '17193.02021-03-05',
 '45039.02021-07-09',
 '51045.02021-03-05',
 '48319.02020-10-09',
 '51790.02020-09-04',
 '72123.02021-04-23',
 '37075.02021-07-16',
 '51105.02021-01-22',
 '46017.02021-03-26',
 '8019.02020-12-18',
 '72117.02020-11-20',
 '36041.02021-04-16',
 '69110.02020-11-06',
 '72055.02021-08-27',
 '51137.02021-02-05',
 '51165.02020-08-07',
 '17047.02020-12-11',
 '45017.02021-02-26',
 '26143.02020-10-09',
 '13295.02021-09-24',
 '8027.02021-02-12',
 '21159.02021-03-12',
 '47101.02021-06-04',
 '30109.02021-01-08',
 '51077.02021-04-30',
 '49055.02021-07-09',
 '30079.02020-07-31',
 '45069.02021-07-23',
 '29089.02021-03-19',
 '29085.02020-08-14',
 '72029.02021-05-07',
 '21201.02021-01-22',
 '28015.02021-09-24',
 '51520.02021-09-10',
 '51570.02021-03-05',
 '8113.02021-03-12',
 '2275.02020-12-18',
 '2122.02020-12-25',
 '72085.02021-08-27',
 '26031.02020-12-11',
 '48175.02021-04-16',
 '39163.02021-04-16',
 '48431.02021-10-01',
 '31165.02021-08-20',
 '5129.02021-04-02',
 '31025.02020-12-25',
 '54105.02020-12-18',
 '28131.02021-05-21',
 '31087.02021-04-30',
 '48359.02020-09-11',
 '21079.02020-12-25',
 '35033.02021-05-07',
 '5091.02021-05-28',
 '17003.02020-09-25',
 '46117.02021-01-29',
 '29173.02021-03-05',
 '16015.02020-10-23',
 '29141.02021-08-06',
 '51175.02021-05-28',
 '46121.02021-05-14',
 '48059.02020-10-02',
 '17151.02020-11-06',
 '12129.02020-08-14',
 '13003.02020-08-14',
 '26031.02021-03-12',
 '54099.02020-08-07',
 '13085.02020-09-11',
 '17071.02021-03-26',
 '18025.02021-05-07',
 '28101.02021-07-09',
 '72045.02020-08-21',
 '21233.02021-04-02',
 '31085.02021-04-30',
 '2275.02021-06-04',
 '31035.02021-03-05',
 '29135.02021-03-05',
 '17129.02021-04-23',
 '29069.02021-01-22',
 '13169.02020-08-28',
 '37185.02021-06-25',
 '21075.02020-10-30',
 '38025.02021-05-14',
 '45039.02021-04-16',
 '49033.02021-04-02',
 '36041.02021-02-26',
 '29035.02021-10-22',
 '46003.02021-02-05',
 '8109.02020-08-21',
 '48289.02021-03-26',
 '31007.02021-08-27',
 '38005.02020-12-11',
 '48385.02021-10-15',
 '29015.02020-12-25',
 '48129.02020-10-30',
 '20049.02020-09-04',
 '21023.02021-03-26',
 '8109.02021-09-24',
 '31117.02021-08-06',
 '29041.02021-02-19',
 '13073.02020-09-04',
 '48269.02021-10-22',
 '13229.02020-11-20',
 '47137.02020-11-13',
 '47101.02020-12-04',
 '38013.02020-07-31',
 '5133.02020-11-20',
 '5099.02021-08-20',
 '47161.02021-01-08',
 '32011.02020-10-16',
 '48271.02020-08-21',
 '31063.02021-05-28',
 '47175.02020-10-23',
 '21077.02021-07-02',
 '29203.02020-09-18',
 '36107.02020-09-25',
 '72063.02021-08-06',
 '20017.02021-04-23',
 '21191.02020-12-18',
 '13049.02021-10-08',
 '31171.02021-01-08',
 '54073.02021-03-12',
 '13025.02020-09-25',
 '51143.02020-11-13',
 '12129.02021-01-29',
 '5105.02020-09-11',
 '44001.02020-08-28',
 '17175.02021-05-28',
 '21135.02020-09-18',
 '36081.02020-11-13',
 '48125.02021-10-15',
 '51157.02021-07-02',
 '8047.02021-07-16',
 '29089.02021-06-25',
 '48407.02021-02-26',
 '22047.02021-10-15',
 '17023.02021-03-12',
 '5111.02021-09-10',
 '21181.02020-10-23',
 '47153.02020-12-18',
 '45039.02020-10-16',
 '54109.02021-05-28',
 '24011.02021-03-12',
 '47049.02021-02-19',
 '51029.02021-05-28',
 '38083.02021-06-18',
 '13167.02021-04-30',
 '27021.02021-10-22',
 '17093.02020-10-23',
 '48203.02021-07-02',
 '72037.02020-12-25',
 '29173.02021-10-15',
 '21153.02021-09-17',
 '72001.02020-09-25',
 '20049.02021-09-24',
 '72043.02020-11-20',
 '54009.02020-08-21',
 '13003.02021-06-18',
 '51119.02020-11-06',
 '5129.02021-01-29',
 '31171.02021-09-24',
 '48345.02021-06-11',
 '72041.02021-07-02',
 '47173.02021-02-12',
 '18111.02021-08-13',
 '51157.02021-01-22',
 '31005.02021-10-22',
 '13319.02021-08-20',
 '51163.02021-05-28',
 '19129.02021-08-20',
 '18129.02021-07-02',
 '8019.02021-10-01',
 '13147.02021-03-26',
 '13147.02021-04-02',
 '21189.02021-09-10',
 '27125.02021-07-30',
 '48119.02020-12-04',
 '30045.02021-02-05',
 '48081.02021-02-26',
 '48361.02020-09-04',
 '29149.02021-05-28',
 '46119.02021-10-01',
 '31025.02021-08-27',
 '42131.02021-10-15',
 '12043.02021-01-22',
 '46097.02021-10-01',
 '13195.02020-08-14',
 '12065.02021-03-05',
 '47101.02021-07-16',
 '72117.02021-04-30',
 '54049.02020-11-20',
 '24011.02021-07-02',
 '13249.02021-04-09',
 '47039.02020-08-21',
 '13183.02020-07-31',
 '26143.02021-07-30',
 '12007.02021-08-06',
 '13053.02020-11-20',
 '46102.02021-07-23',
 '48431.02021-06-25',
 '48045.02020-10-16',
 '40053.02021-04-30',
 '49031.02020-11-06',
 '17151.02020-07-31',
 '31113.02021-08-06',
 '5101.02021-08-06',
 '48159.02020-09-04',
 '31005.02021-06-11',
 '31009.02021-04-23',
 '20011.02021-06-04',
 '48377.02020-12-11',
 '72147.02020-11-27',
 '2120.02021-09-03',
 '19115.02020-12-18',
 '21219.02021-05-14',
 '13007.02020-10-16',
 '18101.02021-08-20',
 '46085.02021-04-30',
 '12075.02021-07-02',
 '51175.02020-10-02',
 '29035.02021-02-19',
 '48359.02021-05-07',
 '47075.02020-08-21',
 '51690.02021-04-30',
 '29203.02020-10-09',
 '13229.02021-03-12',
 '17175.02021-01-29',
 '20069.02020-08-14',
 '21113.02021-10-01',
 '29053.02020-08-28',
 '35003.02021-09-17',
 '48011.02021-08-27',
 '51125.02021-04-02',
 '21109.02021-04-02',
 '29003.02021-09-03',
 '5111.02020-12-18',
 '48247.02020-10-09',
 '38091.02020-12-18',
 '13209.02020-12-25',
 '36047.02021-04-02',
 '29179.02021-04-16',
 '17007.02020-11-27',
 '72041.02021-06-25',
 '47161.02021-09-10',
 '37069.02021-01-29',
 '8113.02021-06-11',
 '72107.02021-01-01',
 '22095.02021-06-04',
 '39087.02020-09-18',
 '18111.02020-12-25',
 '5111.02021-07-02',
 '48155.02021-10-15',
 '2997.02021-02-12',
 '54015.02021-03-19',
 '13003.02020-09-04',
 '24039.02021-01-29',
 '41021.02021-07-02',
 '49029.02021-08-20',
 '37043.02021-04-16',
 '55077.02021-05-28',
 '48505.02020-09-18',
 '19115.02020-11-27',
 '17035.02021-10-08',
 '24035.02021-04-09',
 '28053.02021-04-09',
 '31025.02021-03-26',
 '13301.02021-05-07',
 '30103.02021-08-13',
 '21079.02020-12-04',
 '51081.02021-08-20',
 '72045.02021-06-18',
 '48155.02020-08-07',
 '48205.02021-03-26',
 '51007.02020-09-04',
 '28131.02021-02-26',
 '47095.02020-11-13',
 '55011.02020-12-04',
 '38047.02020-09-04',
 '37043.02021-05-21',
 '12129.02021-08-13',
 '51089.02021-01-29',
 '28101.02021-07-02',
 '53069.02020-09-25',
 '31165.02021-06-18',
 '1067.02021-10-15',
 '51053.02021-10-22',
 '55041.02021-10-08',
 '48045.02020-12-11',
 '54063.02021-04-09',
 '13239.02020-10-23',
 '17171.02021-04-16',
 '1075.02020-08-28',
 '17071.02021-02-19',
 '72107.02020-12-18',
 '22107.02021-05-14',
 '53069.02021-10-22',
 '21119.02021-06-18',
 '55041.02021-01-01',
 '69110.02020-09-18',
 '13079.02020-12-04',
 '8111.02021-07-16',
 '2120.02020-10-30',
 '2068.02020-08-28',
 '39087.02021-01-15',
 '8019.02021-04-09',
 '72045.02021-08-13',
 '54031.02020-12-04',
 '5097.02021-01-22',
 '48421.02021-03-12',
 '1075.02021-09-17',
 '12029.02021-07-30',
 '12075.02020-10-30',
 '55051.02021-07-30',
 '28055.02021-03-26',
 '46069.02021-07-16',
 '21233.02021-07-16',
 '5087.02021-03-26',
 '51820.02020-11-06',
 '48379.02021-05-28',
 '13239.02020-10-02',
 '72055.02021-03-05',
 '21135.02020-10-16',
 '13209.02021-03-26',
 '27055.02020-08-07',
 '26009.02021-04-30',
 '13137.02020-08-21',
 '29069.02021-10-22',
 '21181.02021-04-09',
 '29173.02021-04-09',
 '51023.02020-11-27',
 '48287.02020-08-21',
 '8053.02021-01-08',
 '39087.02020-09-25',
 '48345.02021-08-20',
 '8057.02020-11-27',
 '46063.02021-01-01',
 '13029.02021-09-24',
 '21187.02020-11-20',
 '5099.02020-10-30',
 '21089.02020-07-31',
 '54021.02020-10-30',
 '13167.02021-09-17',
 '21103.02021-10-08',
 '19171.02020-11-13',
 '31117.02021-10-01',
 '16063.02021-06-18',
 '45009.02021-06-04',
 '16051.02020-11-27',
 '47121.02021-04-09',
 '28131.02021-04-02',
 '46025.02020-09-11',
 '5085.02021-02-12',
 '51157.02020-10-30',
 '47175.02021-05-07',
 '42109.02021-02-26',
 '48473.02020-08-07',
 '51049.02021-08-06',
 '8093.02021-03-05',
 '13209.02021-10-01',
 '22107.02020-11-20',
 '12121.02021-01-22',
 '21005.02021-07-09',
 '2013.02021-07-09',
 '37095.02021-07-02',
 '24011.02021-05-28',
 '51093.02021-01-22',
 '29223.02020-10-16',
 '48191.02020-09-18',
 '35003.02020-09-11',
 '51113.02021-06-04',
 '38025.02021-10-01',
 '36115.02021-07-23',
 '51097.02021-02-12',
 '51109.02021-02-05',
 '51720.02020-10-02',
 '46137.02020-11-06',
 '21149.02021-05-28',
 '21235.02021-06-04',
 '48191.02020-08-21',
 '21197.02021-02-05',
 '38083.02021-05-21',
 '39121.02021-06-11',
 '72135.02020-09-25',
 '72019.02021-03-12',
 '8109.02020-10-23',
 '39111.02021-01-08',
 '5085.02021-06-11',
 '51035.02020-08-14',
 '1107.02020-11-06',
 '37115.02021-09-03',
 '38083.02020-12-25',
 '29219.02021-10-08',
 '46003.02021-05-14',
 '48137.02021-05-28',
 '35033.02020-12-04',
 '51029.02021-06-18',
 '5129.02021-05-21',
 '47049.02021-07-02',
 '2016.02021-09-03',
 '48505.02021-09-03',
 '29025.02021-01-29',
 '41069.02021-04-02',
 '13239.02020-09-18',
 '29131.02020-12-18',
 '54085.02021-09-03',
 '23023.02021-07-16',
 '19129.02021-03-12',
 '12075.02021-06-25',
 '46057.02021-07-30',
 '37069.02021-03-05',
 '48395.02020-07-31',
 '48259.02021-01-01',
 '29131.02021-02-05',
 '21165.02021-04-30',
 '13147.02021-08-06',
 '47129.02020-10-30',
 '48019.02020-12-18',
 '17059.02021-02-12',
 '18119.02021-04-16',
 '2100.02020-10-16',
 '17007.02021-01-29',
 '18025.02020-08-21',
 '20107.02020-09-18',
 '17013.02020-08-07',
 '27055.02021-08-20',
 '51125.02021-04-23',
 '48311.02020-11-13',
 '72039.02021-02-12',
 '72065.02021-10-22',
 '47175.02020-12-25',
 '16037.02020-08-14',
 '21105.02020-08-14',
 '46105.02021-09-10',
 '51109.02020-08-21',
 '47101.02021-08-27',
 '27009.02020-08-21',
 '13145.02021-04-23',
 '41055.02020-09-25',
 '29089.02020-12-25',
 '37143.02020-11-13',
 '22107.02020-10-09',
 '29179.02021-04-30',
 '51750.02020-10-23',
 '48295.02021-08-06',
 '13125.02021-03-19',
 '22043.02021-02-12',
 '41009.02021-08-20',
 '40053.02021-05-21',
 '13149.02020-11-20',
 '46019.02021-04-09',
 '48411.02020-10-09',
 '72109.02021-10-01',
 '8061.02020-09-04',
 '5133.02021-04-09',
 '1105.02020-10-16',
 '29059.02021-02-05',
 '51043.02021-03-26',
 '13167.02021-09-24',
 '8019.02021-07-02',
 '40077.02021-06-11',
 '19181.02020-07-31',
 '48351.02020-12-25',
 '2220.02020-11-27',
 '13283.02020-10-02',
 '40003.02020-09-25',
 '21149.02021-07-02',
 '19189.02021-06-25',
 '22095.02021-04-16',
 '54021.02020-09-11',
 '13263.02020-12-11',
 '13269.02020-09-18',
 '48379.02021-08-20',
 '28131.02021-08-06',
 '51161.02020-09-25',
 '18125.02021-10-01',
 '17151.02021-05-21',
 '20043.02021-07-02',
 '48019.02020-07-31',
 '72109.02021-05-21',
 '48381.02021-04-02',
 '29059.02020-09-04',
 '12047.02021-10-22',
 '16075.02021-07-09',
 '44001.02021-03-26',
 '17093.02021-05-07',
 '27039.02021-05-07',
 '45009.02021-04-30',
 '72054.02021-04-23',
 '16033.02021-01-01',
 '51790.02021-02-26',
 '5013.02021-04-09',
 '48007.02021-08-13',
 '35023.02021-08-06',
 '29207.02021-07-16',
 '5085.02020-08-14',
 '45065.02021-03-12',
 '46041.02021-03-05',
 '5025.02020-11-20',
 '26083.02021-10-08',
 '17139.02021-07-16',
 '29135.02021-07-09',
 '38075.02020-08-07',
 '72109.02021-02-05',
 '38043.02020-10-02',
 '48419.02021-05-14',
 '35023.02020-10-16',
 '72071.02021-07-16',
 '18007.02020-09-18',
 '20107.02020-08-14',
 '78030.02021-05-14',
 '41055.02021-01-29',
 '51091.02021-04-23',
 '8047.02021-03-19',
 '1067.02021-05-14',
 '40003.02021-02-12',
 '2016.02021-05-14',
 '18047.02021-09-24',
 '51141.02021-06-04',
 '40003.02020-11-20',
 '72135.02020-10-30',
 '47139.02020-10-02',
 '72055.02020-11-27',
 '29085.02021-03-05',
 '13311.02020-11-20',
 '22095.02021-09-17',
 '38007.02020-08-14',
 '12041.02021-06-11',
 '13029.02021-02-19',
 '13271.02021-07-02',
 '48125.02021-05-21',
 '54009.02021-01-08',
 '72135.02021-09-24',
 '46075.02020-09-25',
 '48421.02021-10-22',
 '13267.02020-08-28',
 '72011.02021-04-02',
 '13053.02021-05-07',
 '37185.02021-10-01',
 '37153.02020-08-14',
 '47027.02020-11-06',
 '72023.02021-04-09',
 '48155.02021-08-06',
 '54059.02020-08-07',
 '72085.02021-06-04',
 '29139.02021-07-09',
 '12047.02020-10-30',
 '48381.02021-07-16',
 '48247.02021-03-26',
 '13231.02021-02-12',
 '31167.02021-07-16',
 '72129.02020-12-11',
 '48119.02021-09-17',
 '31043.02020-12-11',
 '46007.02020-07-31',
 '51580.02020-12-18',
 '47139.02020-12-18',
 '38047.02020-12-25',
 '51043.02021-08-06',
 '1085.02021-07-30',
 '2275.02020-09-18',
 '37075.02020-12-25',
 '16051.02021-09-10',
 '48007.02020-10-30',
 '72003.02021-06-04',
 '29205.02021-01-15',
 '51131.02021-02-05',
 '36061.02020-09-04',
 '37137.02020-11-13',
 '72105.02020-08-07',
 '2261.02021-09-24',
 '51035.02021-08-06',
 '28143.02021-07-09',
 '28129.02020-12-18',
 '5135.02020-11-27',
 '48131.02020-08-21',
 '27021.02021-07-02',
 '48243.02020-08-28',
 '2275.02021-05-07',
 '48031.02021-06-25',
 '51093.02020-12-18',
 '29017.02020-12-25',
 '51075.02021-07-23',
 '8053.02020-09-11',
 '48407.02021-10-08',
 '2100.02021-01-08',
 '48473.02020-08-14',
 '22043.02021-01-29',
 '13093.02021-01-22',
 '26089.02020-10-02',
 '51021.02021-08-06',
 '12129.02020-10-23',
 '51021.02021-09-10',
 '13263.02021-08-27',
 '46075.02021-01-15',
 '46071.02021-03-19',
 '51735.02020-08-14',
 '2240.02021-09-10',
 '13037.02020-10-09',
 '78030.02021-03-26',
 '54009.02020-12-25',
 '48311.02021-01-15',
 '55077.02021-09-24',
 '17151.02021-03-05',
 '51199.02021-06-18',
 '32029.02021-04-30',
 '26135.02021-06-25',
 '29209.02021-09-24',
 '1087.02020-11-13',
 '21007.02021-06-25',
 '51045.02021-07-30',
 '29129.02020-10-30',
 '17133.02021-09-10',
 '38091.02020-12-25',
 '8111.02020-10-09',
 '51181.02021-02-19',
 '54105.02020-11-27',
 '48119.02020-12-11',
 '46057.02021-06-18',
 '72087.02020-08-28',
 '21237.02020-08-21',
 '2188.02021-01-15',
 '45035.02020-11-27',
 '48459.02021-09-10',
 '37069.02021-09-24',
 '48203.02021-02-26',
 '5067.02021-08-27',
 '29045.02021-07-23',
 '36085.02021-10-01',
 '54085.02020-09-25',
 '29045.02020-10-30',
 '51036.02020-10-16',
 '47139.02020-08-07',
 '72147.02020-10-02',
 '72087.02021-08-27',
 '51111.02020-12-04',

In [24]:
# Eliminate rows with fips_date values that do not appear in counties dataset
hospital_data_df = hospital_data_df[~hospital_data_df['fips_date'].isin(remove_list)]
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001.0,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,1001.02020-07-31
1,1001.0,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,1001.02020-08-07
2,1001.0,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,1001.02020-08-14
3,1001.0,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,1001.02020-08-21
4,1001.0,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,1001.02020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,78020.02021-09-24
159867,78020.0,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,78020.02021-10-01
159868,78020.0,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,78020.02021-10-08
159869,78020.0,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,78020.02021-10-15
159870,78020.0,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,78020.02021-10-22

In [25]:
# Shorten column names to avoid truncating in postgres (confirmed=con, suspected=sus, pediatric=ped)
hospital_data_df.rename({'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum', 
                         'total_adult_patients_hospitalized_confirmed_covid_7_day_sum':'total_adult_patients_hospitalized_con_covid_7_day_sum', 
                         'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum', 
                         'total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum':'total_ped_patients_hospitalized_con_covid_7_day_sum', 
                         'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum':'staffed_icu_adult_patients_con_and_sus_covid_7_day_sum', 
                         'staffed_icu_adult_patients_confirmed_covid_7_day_sum':'staffed_icu_adult_patients_con_covid_7_day_sum'}, axis=1, inplace=True)
hospital_data_df

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001.0,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,1001.02020-07-31
1,1001.0,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,1001.02020-08-07
2,1001.0,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,1001.02020-08-14
3,1001.0,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,1001.02020-08-21
4,1001.0,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,1001.02020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,78020.02021-09-24
159867,78020.0,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,78020.02021-10-01
159868,78020.0,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,78020.02021-10-08
159869,78020.0,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,78020.02021-10-15
159870,78020.0,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,78020.02021-10-22

In [26]:
# Eliminate rows with fips_date values that do not appear in hospitals dataset
nyt_data_grouped = nyt_data_grouped[~nyt_data_grouped['fips_date'].isin(remove_list)]
nyt_data_grouped

           fips        date  cases  deaths          fips_date
0        1001.0  2020-07-31   6817   147.0   1001.02020-07-31
1        1001.0  2020-08-07   7503   150.0   1001.02020-08-07
2        1001.0  2020-08-14   8531   158.0   1001.02020-08-14
3        1001.0  2020-08-21   9009   161.0   1001.02020-08-21
4        1001.0  2020-08-28   9484   161.0   1001.02020-08-28
...         ...         ...    ...     ...                ...
208912  78020.0  2021-09-24   2258    21.0  78020.02021-09-24
208913  78020.0  2021-10-01   2293    21.0  78020.02021-10-01
208914  78020.0  2021-10-08   2317    21.0  78020.02021-10-08
208915  78020.0  2021-10-15   2317    21.0  78020.02021-10-15
208916  78020.0  2021-10-22   2322    21.0  78020.02021-10-22

[159064 rows x 5 columns]

In [27]:
nyt_data_grouped.dtypes

fips          object
date          object
cases          int64
deaths       float64
fips_date     object
dtype: object

In [28]:
# Convert float data types to integers in NYT data set
columns = ['deaths']
nyt_data_grouped[columns] = nyt_data_grouped[columns].applymap(np.int64)
nyt_data_grouped

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

           fips        date  cases  deaths          fips_date
0        1001.0  2020-07-31   6817     147   1001.02020-07-31
1        1001.0  2020-08-07   7503     150   1001.02020-08-07
2        1001.0  2020-08-14   8531     158   1001.02020-08-14
3        1001.0  2020-08-21   9009     161   1001.02020-08-21
4        1001.0  2020-08-28   9484     161   1001.02020-08-28
...         ...         ...    ...     ...                ...
208912  78020.0  2021-09-24   2258      21  78020.02021-09-24
208913  78020.0  2021-10-01   2293      21  78020.02021-10-01
208914  78020.0  2021-10-08   2317      21  78020.02021-10-08
208915  78020.0  2021-10-15   2317      21  78020.02021-10-15
208916  78020.0  2021-10-22   2322      21  78020.02021-10-22

[159064 rows x 5 columns]

In [29]:
# Convert NYT date column to datetime data type
nyt_data_grouped['date'] = pd.to_datetime(nyt_data_grouped['date'])
nyt_data_grouped

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           fips       date  cases  deaths          fips_date
0        1001.0 2020-07-31   6817     147   1001.02020-07-31
1        1001.0 2020-08-07   7503     150   1001.02020-08-07
2        1001.0 2020-08-14   8531     158   1001.02020-08-14
3        1001.0 2020-08-21   9009     161   1001.02020-08-21
4        1001.0 2020-08-28   9484     161   1001.02020-08-28
...         ...        ...    ...     ...                ...
208912  78020.0 2021-09-24   2258      21  78020.02021-09-24
208913  78020.0 2021-10-01   2293      21  78020.02021-10-01
208914  78020.0 2021-10-08   2317      21  78020.02021-10-08
208915  78020.0 2021-10-15   2317      21  78020.02021-10-15
208916  78020.0 2021-10-22   2322      21  78020.02021-10-22

[159064 rows x 5 columns]

In [30]:
nyt_data_grouped.dtypes

fips                 object
date         datetime64[ns]
cases                 int64
deaths                int64
fips_date            object
dtype: object

In [31]:
# Rename NYT columns 
nyt_data_grouped.rename({'date':'collection_week', 'cases':'cases_to_date', 'deaths':'deaths_to_date'}, axis=1, inplace=True)
nyt_data_grouped

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,fips,collection_week,cases_to_date,deaths_to_date,fips_date
0,1001.0,2020-07-31,6817,147,1001.02020-07-31
1,1001.0,2020-08-07,7503,150,1001.02020-08-07
2,1001.0,2020-08-14,8531,158,1001.02020-08-14
3,1001.0,2020-08-21,9009,161,1001.02020-08-21
4,1001.0,2020-08-28,9484,161,1001.02020-08-28
...,...,...,...,...,...
208912,78020.0,2021-09-24,2258,21,78020.02021-09-24
208913,78020.0,2021-10-01,2293,21,78020.02021-10-01
208914,78020.0,2021-10-08,2317,21,78020.02021-10-08
208915,78020.0,2021-10-15,2317,21,78020.02021-10-15
208916,78020.0,2021-10-22,2322,21,78020.02021-10-22

In [32]:
hospital_data_df.dtypes

fips_code                                                         object
collection_week                                                   object
total_beds_7_day_sum                                             float64
all_adult_hospital_beds_7_day_sum                                float64
all_adult_hospital_inpatient_beds_7_day_sum                      float64
inpatient_beds_used_7_day_sum                                    float64
all_adult_hospital_inpatient_bed_occupied_7_day_sum              float64
total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum    float64
total_adult_patients_hospitalized_con_covid_7_day_sum            float64
total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum      float64
total_ped_patients_hospitalized_con_covid_7_day_sum              float64
inpatient_beds_7_day_sum                                         float64
total_icu_beds_7_day_sum                                         float64
total_staffed_adult_icu_beds_7_day_sum                           float64
icu_beds_used_7_day_sum                                          float64
staffed_adult_icu_bed_occupancy_7_day_sum                        float64
staffed_icu_adult_patients_con_and_sus_covid_7_day_sum           float64
staffed_icu_adult_patients_con_covid_7_day_sum                   float64
fips_date                                                         object
dtype: object

In [33]:
# Convert float data types to integers in hospitals data set
columns = ['total_beds_7_day_sum', 'all_adult_hospital_beds_7_day_sum', 
           'all_adult_hospital_inpatient_beds_7_day_sum', 'inpatient_beds_used_7_day_sum', 
           'all_adult_hospital_inpatient_bed_occupied_7_day_sum', 
           'total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum', 
           'total_adult_patients_hospitalized_con_covid_7_day_sum', 
           'total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum', 
           'total_ped_patients_hospitalized_con_covid_7_day_sum', 'inpatient_beds_7_day_sum', 'total_icu_beds_7_day_sum', 
           'total_staffed_adult_icu_beds_7_day_sum', 'icu_beds_used_7_day_sum', 'staffed_adult_icu_bed_occupancy_7_day_sum',
           'staffed_icu_adult_patients_con_and_sus_covid_7_day_sum', 'staffed_icu_adult_patients_con_covid_7_day_sum']
hospital_data_df[columns] = hospital_data_df[columns].applymap(np.int64)
hospital_data_df

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001.0,2020-07-31,574,574,455,363,363,117,103,0,0,455,42,42,40,40,28,26,1001.02020-07-31
1,1001.0,2020-08-07,574,574,455,369,369,153,139,0,0,455,42,42,41,41,38,37,1001.02020-08-07
2,1001.0,2020-08-14,574,574,455,384,384,125,111,0,0,455,42,42,42,42,38,32,1001.02020-08-14
3,1001.0,2020-08-21,574,574,455,348,348,86,74,0,0,455,42,42,38,38,48,35,1001.02020-08-21
4,1001.0,2020-08-28,574,574,455,346,346,77,75,0,0,455,42,42,40,40,18,18,1001.02020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924,868,728,410,389,20,20,0,0,784,56,56,29,29,7,7,78020.02021-09-24
159867,78020.0,2021-10-01,924,868,728,362,340,12,12,0,0,784,56,56,43,43,7,7,78020.02021-10-01
159868,78020.0,2021-10-08,924,868,728,412,381,12,12,0,0,784,56,56,48,48,7,7,78020.02021-10-08
159869,78020.0,2021-10-15,924,868,728,402,365,7,7,0,0,784,56,56,40,40,7,7,78020.02021-10-15
159870,78020.0,2021-10-22,924,868,728,381,356,0,0,0,0,784,56,56,36,36,0,0,78020.02021-10-22

In [34]:
# Convert NYT date column to datetime data type
hospital_data_df['collection_week'] = pd.to_datetime(hospital_data_df['collection_week'])
hospital_data_df

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001.0,2020-07-31,574,574,455,363,363,117,103,0,0,455,42,42,40,40,28,26,1001.02020-07-31
1,1001.0,2020-08-07,574,574,455,369,369,153,139,0,0,455,42,42,41,41,38,37,1001.02020-08-07
2,1001.0,2020-08-14,574,574,455,384,384,125,111,0,0,455,42,42,42,42,38,32,1001.02020-08-14
3,1001.0,2020-08-21,574,574,455,348,348,86,74,0,0,455,42,42,38,38,48,35,1001.02020-08-21
4,1001.0,2020-08-28,574,574,455,346,346,77,75,0,0,455,42,42,40,40,18,18,1001.02020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924,868,728,410,389,20,20,0,0,784,56,56,29,29,7,7,78020.02021-09-24
159867,78020.0,2021-10-01,924,868,728,362,340,12,12,0,0,784,56,56,43,43,7,7,78020.02021-10-01
159868,78020.0,2021-10-08,924,868,728,412,381,12,12,0,0,784,56,56,48,48,7,7,78020.02021-10-08
159869,78020.0,2021-10-15,924,868,728,402,365,7,7,0,0,784,56,56,40,40,7,7,78020.02021-10-15
159870,78020.0,2021-10-22,924,868,728,381,356,0,0,0,0,784,56,56,36,36,0,0,78020.02021-10-22

In [35]:
hospital_data_df.dtypes

fips_code                                                                object
collection_week                                                  datetime64[ns]
total_beds_7_day_sum                                                      int64
all_adult_hospital_beds_7_day_sum                                         int64
all_adult_hospital_inpatient_beds_7_day_sum                               int64
inpatient_beds_used_7_day_sum                                             int64
all_adult_hospital_inpatient_bed_occupied_7_day_sum                       int64
total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum             int64
total_adult_patients_hospitalized_con_covid_7_day_sum                     int64
total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum               int64
total_ped_patients_hospitalized_con_covid_7_day_sum                       int64
inpatient_beds_7_day_sum                                                  int64
total_icu_beds_7_day_sum                                                  int64
total_staffed_adult_icu_beds_7_day_sum                                    int64
icu_beds_used_7_day_sum                                                   int64
staffed_adult_icu_bed_occupancy_7_day_sum                                 int64
staffed_icu_adult_patients_con_and_sus_covid_7_day_sum                    int64
staffed_icu_adult_patients_con_covid_7_day_sum                            int64
fips_date                                                                object
dtype: object

Connection String

In [36]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/COVID_Risk_Final_Project"

In [37]:
engine = create_engine(db_string)

In [39]:
nyt_data_grouped.to_sql(name='counties', con=engine)

In [40]:
hospital_data_df.to_sql(name='hospitals', con=engine)