In [1]:
# pip install psycopg2-binary in mlenv
# Create config.py file with postgres password as db_password
# Create postgres database called COVID_Risk_Final_Project on POstgreSQL 13 server

In [2]:
# Import the requests library.
import requests
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
from sqlalchemy import create_engine
from config import db_password
import numpy as np

In [3]:
# Read vaccination data into dataframe
vax_data = 'https://group3data.s3.us-west-2.amazonaws.com/COVID-19_Vaccinations_in_the_United_States_County.csv'
vax_data_df = pd.read_csv(vax_data)
vax_data_df

,Date,FIPS,MMWR_week,Recip_County,Recip_State,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_12Plus,Series_Complete_12PlusPop_Pct,Series_Complete_18Plus,...,SVI_CTGY,Series_Complete_Pop_Pct_SVI,Series_Complete_12PlusPop_Pct_SVI,Series_Complete_18PlusPop_Pct_SVI,Series_Complete_65PlusPop_Pct_SVI,Metro_status,Series_Complete_Pop_Pct_UR_Equity,Series_Complete_12PlusPop_Pct_UR_Equity,Series_Complete_18PlusPop_Pct_UR_Equity,Series_Complete_65PlusPop_Pct_UR_Equity
0,11/06/2021,21097,44,Harrison County,KY,43.2,8163,8163.0,50.7,7772,...,C,11.0,12.0,12.0,12.0,Non-metro,7.0,8.0,8.0,8.0
1,11/06/2021,18105,44,Monroe County,IN,54.7,81158,81155.0,61.0,76819,...,B,8.0,8.0,8.0,8.0,Metro,4.0,4.0,4.0,4.0
2,11/06/2021,46023,44,Charles Mix County,SD,47.3,4399,4398.0,59.8,4119,...,C,11.0,12.0,12.0,12.0,Non-metro,7.0,8.0,8.0,8.0
3,11/06/2021,41045,44,Malheur County,OR,42.2,12893,12884.0,51.1,12170,...,D,15.0,16.0,16.0,16.0,Non-metro,7.0,8.0,8.0,8.0
4,11/06/2021,39127,44,Perry County,OH,36.9,13339,13339.0,43.5,12823,...,C,10.0,11.0,11.0,12.0,Metro,2.0,3.0,3.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079793,12/13/2020,45045,51,Greenville County,SC,0.0,0,0.0,0.0,0,...,C,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN
1079794,12/13/2020,05145,51,White County,AR,0.0,0,0.0,0.0,0,...,C,NaN,NaN,NaN,NaN,Non-metro,NaN,NaN,NaN,NaN
1079795,12/13/2020,55025,51,Dane County,WI,0.0,0,0.0,0.0,0,...,A,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN
1079796,12/13/2020,18109,51,Morgan County,IN,0.0,0,0.0,0.0,0,...,A,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN
1079797,12/13/2020,72119,51,Rio Grande Municipio,PR,0.0,0,0.0,0.0,0,...,C,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN

In [4]:
drop_list_vax = ['MMWR_week', 'Recip_County', 'Recip_State', 'SVI_CTGY', 'Series_Complete_Pop_Pct_SVI', 
                 'Series_Complete_12PlusPop_Pct_SVI', 'Series_Complete_18PlusPop_Pct_SVI', 
                 'Series_Complete_65PlusPop_Pct_SVI', 'Metro_status', 'Series_Complete_Pop_Pct_UR_Equity', 
                 'Series_Complete_12PlusPop_Pct_UR_Equity', 'Series_Complete_18PlusPop_Pct_UR_Equity', 
                 'Series_Complete_65PlusPop_Pct_UR_Equity', 'Administered_Dose1_Recip_18Plus', 'Series_Complete_12Plus', 
                 'Series_Complete_12PlusPop_Pct', 'Administered_Dose1_Recip', 'Administered_Dose1_Recip_12Plus', 
                 'Administered_Dose1_Recip_12PlusPop_Pct', 'Administered_Dose1_Recip_65Plus']

In [5]:
# Remove drop_list columns from df
vax_data_df.drop(drop_list_vax, axis=1, inplace=True)
vax_data_df.head()

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct
0,11/06/2021,21097,43.2,8163,7772,53.2,2708,79.4,94.0,48.1,59.1,84.9
1,11/06/2021,18105,54.7,81158,76819,61.3,17297,86.0,98.7,57.9,64.7,89.0
2,11/06/2021,46023,47.3,4399,4119,63.2,1409,81.6,96.3,59.9,78.3,90.0
3,11/06/2021,41045,42.2,12893,12170,53.7,4168,81.1,97.8,47.2,59.9,88.0
4,11/06/2021,39127,36.9,13339,12823,46.4,4555,74.2,98.6,38.7,48.6,77.6

In [6]:
# Convert date column to datetime
vax_data_df['Date'] = pd.to_datetime(vax_data_df['Date'])

In [7]:
# Set each column to a string value so we can concatonate them together 
vax_data_df['FIPS'] = vax_data_df['FIPS'].astype('str')
vax_data_df['Date'] = vax_data_df['Date'].astype('str')

In [8]:
# Concatonate the date column and the fips column to create fips_date
vax_data_df['fips_date'] = vax_data_df['FIPS'] + vax_data_df['Date']
vax_data_df

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
0,2021-11-06,21097,43.2,8163,7772,53.2,2708,79.4,94.0,48.1,59.1,84.9,210972021-11-06
1,2021-11-06,18105,54.7,81158,76819,61.3,17297,86.0,98.7,57.9,64.7,89.0,181052021-11-06
2,2021-11-06,46023,47.3,4399,4119,63.2,1409,81.6,96.3,59.9,78.3,90.0,460232021-11-06
3,2021-11-06,41045,42.2,12893,12170,53.7,4168,81.1,97.8,47.2,59.9,88.0,410452021-11-06
4,2021-11-06,39127,36.9,13339,12823,46.4,4555,74.2,98.6,38.7,48.6,77.6,391272021-11-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079793,2020-12-13,45045,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,450452020-12-13
1079794,2020-12-13,05145,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,051452020-12-13
1079795,2020-12-13,55025,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,550252020-12-13
1079796,2020-12-13,18109,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,181092020-12-13
1079797,2020-12-13,72119,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,721192020-12-13

In [9]:
# Sort by fips_date
vax_data_df.sort_values(by=['fips_date'])

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
1079754,2020-12-13,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-13
1075917,2020-12-14,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-14
1071696,2020-12-15,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-15
1067633,2020-12-16,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-16
1065713,2020-12-17,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2952,2021-11-06,UNK,0.0,163735,158310,0.0,39580,0.0,92.6,0.0,0.0,0.0,UNK2021-11-06
2941,2021-11-06,UNK,0.0,379701,333208,0.0,101590,0.0,93.6,0.0,0.0,0.0,UNK2021-11-06
2664,2021-11-06,UNK,0.0,15721,14428,0.0,1714,0.0,0.0,0.0,0.0,0.0,UNK2021-11-06
2742,2021-11-06,UNK,0.0,2160207,2095932,0.0,533935,0.0,58.1,0.0,0.0,0.0,UNK2021-11-06
2500,2021-11-06,UNK,0.0,73412,72906,0.0,29599,0.0,96.7,0.0,0.0,0.0,UNK2021-11-06

In [10]:
# Eliminate '0' from fips_date columns that begin with '0'
cols_to_check = ['fips_date']
for col in cols_to_check:
    vax_data_df[col] = vax_data_df[col].apply(lambda x : x[1:] if x.startswith("0") else x)

In [11]:
vax_data_df.sort_values(by=['fips_date'])

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
1079237,2020-12-13,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-13
1073653,2020-12-14,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-14
1070840,2020-12-15,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-15
1069915,2020-12-16,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-16
1063782,2020-12-17,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2941,2021-11-06,UNK,0.0,379701,333208,0.0,101590,0.0,93.6,0.0,0.0,0.0,UNK2021-11-06
353,2021-11-06,UNK,0.0,33674,32944,0.0,8929,0.0,96.5,0.0,0.0,0.0,UNK2021-11-06
1550,2021-11-06,UNK,0.0,9206,9004,0.0,2436,0.0,96.4,0.0,0.0,0.0,UNK2021-11-06
2742,2021-11-06,UNK,0.0,2160207,2095932,0.0,533935,0.0,58.1,0.0,0.0,0.0,UNK2021-11-06
228,2021-11-06,UNK,0.0,152399,146910,0.0,35360,0.0,97.3,0.0,0.0,0.0,UNK2021-11-06

In [12]:
# Read NYT data into dataframe
nyt_data = 'https://group3data.s3.us-west-2.amazonaws.com/us-counties.csv'
nyt_data_df = pd.read_csv(nyt_data)
nyt_data_df

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
1888090  2021-11-05  Sweetwater     Wyoming  56037.0   7695    91.0
1888091  2021-11-05       Teton     Wyoming  56039.0   5243    14.0
1888092  2021-11-05       Uinta     Wyoming  56041.0   3901    27.0
1888093  2021-11-05    Washakie     Wyoming  56043.0   1780    35.0
1888094  2021-11-05      Weston     Wyoming  56045.0   1154     9.0

[1888095 rows x 6 columns]

In [13]:
# Convert the date column in the NYT data to a datetime object using pd.to_datetime
nyt_data_df['date'] = pd.to_datetime(nyt_data_df['date'])
nyt_data_df.head()

        date     county       state     fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061.0      1     0.0
1 2020-01-22  Snohomish  Washington  53061.0      1     0.0
2 2020-01-23  Snohomish  Washington  53061.0      1     0.0
3 2020-01-24       Cook    Illinois  17031.0      1     0.0
4 2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [14]:
# 1. Remove the data for dates before 7-31-20 and after 10-22-21
# 2. Bin the date column by weeks ending every friday
# 3. Sum the cases and deaths columns for each week binned

# Step 1:
nyt_data_filtered = nyt_data_df[nyt_data_df['date'] >= '2020-07-25']
nyt_data_filtered = nyt_data_filtered[nyt_data_filtered['date'] <= '2021-10-22']
nyt_data_filtered

              date      county    state     fips  cases  deaths
366652  2020-07-25     Autauga  Alabama   1001.0    932    21.0
366653  2020-07-25     Baldwin  Alabama   1003.0   2662    18.0
366654  2020-07-25     Barbour  Alabama   1005.0    552     4.0
366655  2020-07-25        Bibb  Alabama   1007.0    318     2.0
366656  2020-07-25      Blount  Alabama   1009.0    637     1.0
...            ...         ...      ...      ...    ...     ...
1842600 2021-10-22  Sweetwater  Wyoming  56037.0   7414    79.0
1842601 2021-10-22       Teton  Wyoming  56039.0   5119    14.0
1842602 2021-10-22       Uinta  Wyoming  56041.0   3781    26.0
1842603 2021-10-22    Washakie  Wyoming  56043.0   1676    33.0
1842604 2021-10-22      Weston  Wyoming  56045.0   1027     9.0

[1475953 rows x 6 columns]

In [15]:
# Step 2:
# Step 3:

nyt_data_grouped = nyt_data_filtered.groupby(['fips', pd.Grouper(key='date', freq='W-FRI')]).agg({'cases':'sum','deaths':'sum'}).reset_index()
nyt_data_grouped

           fips       date  cases  deaths
0        1001.0 2020-07-31   6817   147.0
1        1001.0 2020-08-07   7503   150.0
2        1001.0 2020-08-14   8531   158.0
3        1001.0 2020-08-21   9009   161.0
4        1001.0 2020-08-28   9484   161.0
...         ...        ...    ...     ...
208977  78030.0 2021-09-24  24720   297.0
208978  78030.0 2021-10-01  24982   304.0
208979  78030.0 2021-10-08  25204   308.0
208980  78030.0 2021-10-15  25290   311.0
208981  78030.0 2021-10-22  25435   315.0

[208982 rows x 4 columns]

In [16]:
# Convert fips to integer
columns = ['fips']
nyt_data_grouped[columns] = nyt_data_grouped[columns].applymap(np.int64)
nyt_data_grouped

         fips       date  cases  deaths
0        1001 2020-07-31   6817   147.0
1        1001 2020-08-07   7503   150.0
2        1001 2020-08-14   8531   158.0
3        1001 2020-08-21   9009   161.0
4        1001 2020-08-28   9484   161.0
...       ...        ...    ...     ...
208977  78030 2021-09-24  24720   297.0
208978  78030 2021-10-01  24982   304.0
208979  78030 2021-10-08  25204   308.0
208980  78030 2021-10-15  25290   311.0
208981  78030 2021-10-22  25435   315.0

[208982 rows x 4 columns]

In [17]:
# Set each column to a string value so we can concatonate them together 
nyt_data_grouped['fips'] = nyt_data_grouped['fips'].astype('str')
nyt_data_grouped['date'] = nyt_data_grouped['date'].astype('str')
nyt_data_grouped['fips'].dtype

dtype('O')

In [18]:
# Concatonate the date column and the fips column to create fips_date
nyt_data_grouped['fips_date'] = nyt_data_grouped['fips'] + nyt_data_grouped['date']
nyt_data_grouped

         fips        date  cases  deaths        fips_date
0        1001  2020-07-31   6817   147.0   10012020-07-31
1        1001  2020-08-07   7503   150.0   10012020-08-07
2        1001  2020-08-14   8531   158.0   10012020-08-14
3        1001  2020-08-21   9009   161.0   10012020-08-21
4        1001  2020-08-28   9484   161.0   10012020-08-28
...       ...         ...    ...     ...              ...
208977  78030  2021-09-24  24720   297.0  780302021-09-24
208978  78030  2021-10-01  24982   304.0  780302021-10-01
208979  78030  2021-10-08  25204   308.0  780302021-10-08
208980  78030  2021-10-15  25290   311.0  780302021-10-15
208981  78030  2021-10-22  25435   315.0  780302021-10-22

[208982 rows x 5 columns]

In [19]:
# Read Hospital data (healthdata.gov) into dataframe
hospital_data = 'https://group3data.s3.us-west-2.amazonaws.com/COVID-19_Reported_Patient_Impact_and_Hospital_Capacity_by_Facility.csv'
hospital_data_df = pd.read_csv(hospital_data)
hospital_data_df

,hospital_pk,collection_week,state,ccn,hospital_name,address,city,zip,hospital_subtype,fips_code,...,previous_day_admission_pediatric_covid_confirmed_7_day_coverage,previous_day_admission_adult_covid_suspected_7_day_coverage,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected
0,140158,2021/10/15,IL,140158,INSIGHT HOSPITAL AND MEDICAL CENTER CHICAGO,2525 S MICHIGAN AVE,CHICAGO,60616.0,Short Term,17031.0,...,7,7,7,0.0,NaN,NaN,NaN,0.0,NaN,False
1,450162,2021/10/15,TX,450162,GRACE SURGICAL HOSPITAL,2412 50TH ST,LUBBOCK,79412.0,Short Term,48303.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
2,451318,2021/10/15,TX,451318,STONEWALL MEMORIAL HOSPITAL DISTRICT,821 NORTH BROADWAY,ASPERMONT,79502.0,Critical Access Hospitals,48433.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
3,050769,2021/10/08,CA,050769,HOAG ORTHOPEDIC INSTITUTE,16250 SAND CANYON AVENUE,IRVINE,92618.0,Short Term,6059.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
4,291500,2021/10/08,NV,291500,NATHAN ADELSON HOSPICE,4141 UNIVERSITY CENTER DR,LAS VEGAS,89119.0,Short Term,32003.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324743,100291,2020/08/07,FL,100291,STEWARD REGIONAL MEDICAL CENTER,250 NORTH WICKHAM ROAD,MELBOURNE,32935.0,Short Term,12009.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
324744,250096,2020/07/31,MS,250096,MERIT HEALTH RANKIN,350 CROSSGATES BLVD,BRANDON,39042.0,Short Term,28121.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
324745,241345,2020/07/31,MN,241345,MAYO CLINIC HEALTH SYSTEM-WASECA,501 NORTH STATE STREET,WASECA,56093.0,Critical Access Hospitals,27161.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
324746,271311,2020/08/07,MT,271311,BIG SANDY MEDICAL CENTER,166 MONTANA AVE E,BIG SANDY,59520.0,Critical Access Hospitals,30015.0,...,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,False
324747,110045,2020/07/31,GA,110045,NORTHEAST GEORGIA MEDICAL CENTER BARROW,316 NORTH BROAD STREET,WINDER,30680.0,Short Term,13013.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [20]:
# Create list of columns to drop
drop_list_hospitals = ['hospital_pk', 'state', 'ccn', 'hospital_name', 'address', 'city', 'zip', 'hospital_subtype', 
                       'is_metro_micro', 'total_beds_7_day_avg', 'all_adult_hospital_beds_7_day_avg', 
                       'all_adult_hospital_inpatient_beds_7_day_avg', 'inpatient_beds_used_7_day_avg', 
                       'all_adult_hospital_inpatient_bed_occupied_7_day_avg', 
                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_avg', 
                       'total_adult_patients_hospitalized_confirmed_covid_7_day_avg', 
                       'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_avg', 
                       'total_pediatric_patients_hospitalized_confirmed_covid_7_day_avg', 'inpatient_beds_7_day_avg', 
                       'total_icu_beds_7_day_avg', 'total_staffed_adult_icu_beds_7_day_avg', 'icu_beds_used_7_day_avg', 
                       'staffed_adult_icu_bed_occupancy_7_day_avg', 
                       'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_avg', 
                       'staffed_icu_adult_patients_confirmed_covid_7_day_avg', 
                       'total_patients_hospitalized_confirmed_influenza_7_day_avg', 
                       'icu_patients_confirmed_influenza_7_day_avg', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_avg', 
                       'all_adult_hospital_inpatient_beds_7_day_coverage', 
                       'inpatient_beds_used_7_day_coverage', 'all_adult_hospital_inpatient_bed_occupied_7_day_coverage', 
                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_coverage', 
                       'total_adult_patients_hospitalized_confirmed_covid_7_day_coverage', 
                       'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_coverage', 
                       'total_pediatric_patients_hospitalized_confirmed_covid_7_day_coverage', 
                       'inpatient_beds_7_day_coverage', 'total_icu_beds_7_day_coverage', 
                       'total_staffed_adult_icu_beds_7_day_coverage', 'icu_beds_used_7_day_coverage', 
                       'staffed_adult_icu_bed_occupancy_7_day_coverage', 
                       'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_coverage', 
                       'staffed_icu_adult_patients_confirmed_covid_7_day_coverage', 
                       'total_patients_hospitalized_confirmed_influenza_7_day_coverage', 
                       'icu_patients_confirmed_influenza_7_day_coverage', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_coverage', 
                       'previous_day_admission_adult_covid_confirmed_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_18-19_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_20-29_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_30-39_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_40-49_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_50-59_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_60-69_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_70-79_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_80+_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_unknown_7_day_sum', 
                       'previous_day_admission_pediatric_covid_confirmed_7_day_sum', 
                       'previous_day_covid_ED_visits_7_day_sum', 'previous_day_admission_adult_covid_suspected_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_18-19_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_20-29_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_30-39_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_40-49_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_50-59_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_60-69_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_70-79_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_80+_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_unknown_7_day_sum', 
                       'previous_day_admission_pediatric_covid_suspected_7_day_sum', 
                       'previous_day_total_ED_visits_7_day_sum', 'previous_day_admission_influenza_confirmed_7_day_sum', 
                       'geocoded_hospital_address', 'hhs_ids', 
                       'previous_day_admission_adult_covid_confirmed_7_day_coverage', 
                       'previous_day_admission_pediatric_covid_confirmed_7_day_coverage', 
                       'previous_day_admission_adult_covid_suspected_7_day_coverage', 
                       'previous_day_admission_pediatric_covid_suspected_7_day_coverage', 
                       'previous_week_personnel_covid_vaccinated_doses_administered_7_day', 
                       'total_personnel_covid_vaccinated_doses_none_7_day', 
                       'total_personnel_covid_vaccinated_doses_one_7_day', 
                       'total_personnel_covid_vaccinated_doses_all_7_day', 
                       'previous_week_patients_covid_vaccinated_doses_one_7_day', 
                       'previous_week_patients_covid_vaccinated_doses_all_7_day', 'is_corrected', 
                       'total_beds_7_day_coverage', 'all_adult_hospital_beds_7_day_coverage',
                       'total_patients_hospitalized_confirmed_influenza_7_day_sum', 
                       'icu_patients_confirmed_influenza_7_day_sum', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_sum'
]

In [21]:
# Remove drop_list columns from df
hospital_data_df.drop(drop_list_hospitals, axis=1, inplace=True)
hospital_data_df.head()

,collection_week,fips_code,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,2021/10/15,17031.0,350.0,350.0,252.0,160.0,160.0,7.0,7.0,0.0,0.0,252.0,28.0,28.0,16.0,16.0,7.0,7.0
1,2021/10/15,48303.0,268.0,268.0,261.0,34.0,34.0,0.0,0.0,0.0,0.0,261.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2021/10/15,48433.0,77.0,77.0,63.0,0.0,0.0,0.0,0.0,0.0,0.0,63.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2021/10/08,6059.0,245.0,245.0,133.0,126.0,126.0,0.0,0.0,0.0,0.0,133.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2021/10/08,32003.0,266.0,266.0,266.0,191.0,191.0,11.0,11.0,0.0,0.0,266.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
# Convert the date column in the hospital data to a datetime object using pd.to_datetime
hospital_data_df['collection_week'] = pd.to_datetime(hospital_data_df['collection_week'])
# Check to verify the date is now a datetime object
hospital_data_df.dtypes

collection_week                                                                  datetime64[ns]
fips_code                                                                               float64
total_beds_7_day_sum                                                                    float64
all_adult_hospital_beds_7_day_sum                                                       float64
all_adult_hospital_inpatient_beds_7_day_sum                                             float64
inpatient_beds_used_7_day_sum                                                           float64
all_adult_hospital_inpatient_bed_occupied_7_day_sum                                     float64
total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum               float64
total_adult_patients_hospitalized_confirmed_covid_7_day_sum                             float64
total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum           float64
total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum                         float64
inpatient_beds_7_day_sum                                                                float64
total_icu_beds_7_day_sum                                                                float64
total_staffed_adult_icu_beds_7_day_sum                                                  float64
icu_beds_used_7_day_sum                                                                 float64
staffed_adult_icu_bed_occupancy_7_day_sum                                               float64
staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum                      float64
staffed_icu_adult_patients_confirmed_covid_7_day_sum                                    float64
dtype: object

In [23]:
# Sort the hospital data by date
hospital_data_df = hospital_data_df.sort_values(by='collection_week')
hospital_data_df

# The hospital data is binned by collection week ending on every friday

,collection_week,fips_code,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
324747,2020-07-31,13013.0,266.0,NaN,NaN,199.0,NaN,0.0,NaN,-999999.0,NaN,266.0,0.0,NaN,0.0,NaN,NaN,NaN
319367,2020-07-31,21015.0,1062.0,1062.0,1062.0,949.0,949.0,-999999.0,-999999.0,0.0,0.0,1062.0,126.0,108.0,109.0,109.0,-999999.0,-999999.0
319371,2020-07-31,12099.0,3332.0,2710.0,2710.0,1873.0,1859.0,266.0,266.0,0.0,0.0,3206.0,287.0,287.0,178.0,178.0,41.0,41.0
319374,2020-07-31,19049.0,102.0,126.0,84.0,-999999.0,9.0,4.0,-999999.0,0.0,0.0,84.0,0.0,0.0,0.0,0.0,0.0,0.0
319375,2020-07-31,6037.0,824.0,404.0,341.0,296.0,296.0,5.0,0.0,0.0,0.0,341.0,20.0,20.0,18.0,18.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10378,2021-10-22,37005.0,42.0,42.0,42.0,26.0,26.0,-999999.0,-999999.0,0.0,0.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0
10377,2021-10-22,48039.0,15.0,15.0,9.0,4.0,4.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
6377,2021-10-22,20019.0,154.0,154.0,126.0,10.0,10.0,0.0,0.0,0.0,0.0,126.0,0.0,0.0,0.0,0.0,0.0,0.0
10372,2021-10-22,21125.0,1421.0,864.0,864.0,658.0,658.0,158.0,158.0,0.0,0.0,864.0,336.0,336.0,229.0,229.0,71.0,71.0
10352,2021-10-22,13015.0,1134.0,1134.0,834.0,821.0,791.0,69.0,69.0,0.0,0.0,842.0,147.0,147.0,139.0,139.0,47.0,47.0

In [24]:
# Group and sort hospital_data_df by fips_code
hospital_data_df = hospital_data_df.groupby(['fips_code', pd.Grouper(key='collection_week', freq='W-FRI')]).agg({'total_beds_7_day_sum':'sum','all_adult_hospital_beds_7_day_sum':'sum', 'all_adult_hospital_inpatient_beds_7_day_sum':'sum', 'inpatient_beds_used_7_day_sum':'sum', 'all_adult_hospital_inpatient_bed_occupied_7_day_sum':'sum', 
                                                                                                                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 'total_adult_patients_hospitalized_confirmed_covid_7_day_sum': 'sum', 'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 'total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum':'sum', 'inpatient_beds_7_day_sum':'sum', 'total_icu_beds_7_day_sum':'sum', 
                                                                                                                       'total_staffed_adult_icu_beds_7_day_sum':'sum', 'icu_beds_used_7_day_sum':'sum', 'staffed_adult_icu_bed_occupancy_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_covid_7_day_sum':'sum'}).reset_index()
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,1001.0,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0
1,1001.0,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0
2,1001.0,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0
3,1001.0,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0
4,1001.0,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0
159867,78020.0,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0
159868,78020.0,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0
159869,78020.0,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0
159870,78020.0,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0

In [25]:
# Convert fips to integer
columns = ['fips_code']
hospital_data_df[columns] = hospital_data_df[columns].applymap(np.int64)
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0

In [26]:
# Convert the hospital date and fips_code column to strings
hospital_data_df['collection_week'] = hospital_data_df['collection_week'].astype('str')
hospital_data_df['fips_code'] = hospital_data_df['fips_code'].astype('str')

In [27]:
# Concat the date and fips_code for new columns fips_date
hospital_data_df['fips_date'] = hospital_data_df['fips_code'] + hospital_data_df['collection_week']
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,10012020-07-31
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,10012020-08-07
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,10012020-08-14
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,10012020-08-21
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,780202021-09-24
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,780202021-10-01
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,780202021-10-08
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,780202021-10-15
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0,780202021-10-22

In [28]:
# Convert all negative values to 0
num = hospital_data_df._get_numeric_data()
num[num < 0] = 0

In [29]:
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,10012020-07-31
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,10012020-08-07
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,10012020-08-14
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,10012020-08-21
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,780202021-09-24
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,780202021-10-01
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,780202021-10-08
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,780202021-10-15
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,780202021-10-22

In [30]:
f = hospital_data_df['fips_date'].unique()

In [31]:
x = nyt_data_grouped['fips_date'].unique()

In [32]:
# Create list of fips_date values that only appear in one data set
remove_list = list(set(x).symmetric_difference(set(f)))
remove_list

['370792021-01-22',
 '510332021-03-26',
 '440012021-04-16',
 '720392021-07-16',
 '80472020-12-18',
 '450612021-04-02',
 '511192021-01-08',
 '131492021-05-21',
 '540852021-05-21',
 '132652021-04-09',
 '370792021-04-30',
 '310092021-03-05',
 '20702021-05-28',
 '721092021-10-15',
 '310872021-06-04',
 '484592021-03-26',
 '210052021-10-01',
 '721512021-06-11',
 '201992021-09-03',
 '292092021-06-18',
 '50912020-08-21',
 '691202021-07-02',
 '20802021-06-25',
 '260892020-11-06',
 '540992021-06-04',
 '191712021-05-14',
 '460752020-08-07',
 '280152020-10-16',
 '212332021-09-03',
 '281012020-10-30',
 '292012020-10-30',
 '721152021-07-30',
 '500132020-10-23',
 '211592020-11-13',
 '171292020-09-25',
 '511312021-02-19',
 '480672021-03-05',
 '510312021-09-24',
 '51172021-03-19',
 '460212020-12-25',
 '211092021-08-20',
 '170072021-10-01',
 '380332020-09-04',
 '190312021-10-08',
 '511632020-12-11',
 '483112020-10-23',
 '130252020-10-02',
 '370032021-04-02',
 '50672020-08-28',
 '160332021-02-12',
 '460032021-02-12',
 '320292021-10-22',
 '370692020-10-09',
 '212152021-04-02',
 '311632020-12-11',
 '131832020-09-18',
 '281432020-09-18',
 '481592020-08-14',
 '350612021-10-08',
 '484312021-03-26',
 '291412021-07-09',
 '720332020-12-04',
 '421092020-10-09',
 '212352021-03-05',
 '350332021-01-08',
 '471272020-09-11',
 '400572020-09-04',
 '310512021-01-01',
 '470232021-05-07',
 '530172021-09-10',
 '291292021-07-30',
 '481732021-07-23',
 '181112020-09-25',
 '480472021-03-12',
 '721212020-08-21',
 '420232021-07-16',
 '310772021-08-27',
 '460752021-08-20',
 '390872021-03-05',
 '290032021-04-02',
 '460852020-12-25',
 '401072020-08-28',
 '160252021-04-16',
 '540712021-09-24',
 '471732021-03-26',
 '518302021-10-15',
 '311632021-02-12',
 '721032021-07-16',
 '212332020-12-18',
 '471092021-10-01',
 '191952021-10-08',
 '290592021-03-19',
 '490332020-11-06',
 '540852020-09-04',
 '310092020-10-23',
 '10752021-06-25',
 '310492021-03-12',
 '191712021-09-17',
 '29972021-10-22',
 '350572021-01-01',
 '292032021-03-19',
 '511992021-04-23',
 '80532021-01-22',
 '391632021-08-27',
 '290432020-09-04',
 '300432021-01-22',
 '120672020-10-09',
 '240392021-10-22',
 '511612020-12-18',
 '511612021-01-15',
 '721012020-09-25',
 '181292020-09-04',
 '470952021-09-24',
 '390192020-12-11',
 '281312020-08-21',
 '420672020-08-14',
 '132872021-05-28',
 '80572021-10-01',
 '460312020-12-25',
 '660102020-12-18',
 '481752021-05-07',
 '271252020-08-21',
 '310492020-08-07',
 '211232020-08-07',
 '211032021-01-15',
 '290872021-08-13',
 '300052021-10-15',
 '200692020-10-23',
 '270552021-06-04',
 '280092021-02-05',
 '380432021-01-01',
 '291792021-06-18',
 '511012021-02-12',
 '480472021-02-19',
 '212332021-05-14',
 '80332021-09-24',
 '720732020-10-16',
 '131692021-09-03',
 '132692020-08-14',
 '484212021-04-30',
 '21582021-04-23',
 '450812021-06-04',
 '290032020-09-25',
 '200692021-05-21',
 '720872020-12-25',
 '720332021-09-17',
 '550372020-11-20',
 '130852021-10-08',
 '21802021-08-20',
 '450692021-01-01',
 '721212020-10-02',
 '212352021-04-16',
 '131772021-07-30',
 '50912021-09-03',
 '511252021-07-16',
 '291252021-02-19',
 '131692020-12-11',
 '51172020-10-23',
 '370952020-11-06',
 '170872021-08-27',
 '350612020-08-07',
 '461022021-01-22',
 '720112021-03-05',
 '310872020-08-28',
 '482472020-10-09',
 '291732020-08-21',
 '310732020-08-14',
 '80392020-12-18',
 '181152021-08-27',
 '210792021-01-22',
 '50872020-10-23',
 '483872020-09-11',
 '482612021-10-22',
 '720072020-09-11',
 '401072020-10-23',
 '511492021-07-16',
 '291192021-03-05',
 '515702021-03-26',
 '510792021-10-15',
 '230232020-09-04',
 '50892021-03-19',
 '160032020-09-11',
 '311712021-05-28',
 '721492021-03-19',
 '484112021-06-25',
 '511312021-04-23',
 '21002020-12-04',
 '720472020-08-21',
 '171332021-04-02',
 '261132020-11-27',
 '471092021-06-04',
 '130852020-08-28',
 '720712021-08-13',
 '311132020-12-04',
 '401072021-01-29',
 '131232020-10-16',
 '380412020-10-30',
 '370032021-07-30',
 '210112021-05-07',
 '281192020-08-21',
 '21802021-10-01',
 '220432021-08-06',
 '515202021-04-30',
 '510792021-03-26',
 '29982020-09-18',
 '210752021-05-14',
 '370532021-07-02',
 '540432021-03-12',
 '460032021-06-18',
 '485072020-09-11',
 '510332021-06-25',
 '481732021-08-20',
 '481292021-04-16',
 '460412021-04-16',
 '470612021-08-06',
 '470332021-06-25',
 '221212021-01-08',
 '291192021-04-30',
 '180072021-10-22',
 '480192021-04-30',
 '290592021-08-27',
 '212332020-10-16',
 '212372021-03-05',
 '480092021-04-02',
 '50792021-06-18',
 '240352021-04-09',
 '291732021-07-02',
 '10852020-10-23',
 '201392021-08-06',
 '480112021-09-03',
 '21882021-02-05',
 '221212021-09-03',
 '380912020-10-23',
 '510772021-01-01',
 '22302020-10-23',
 '80232021-07-23',
 '51352021-02-26',
 '511352020-07-31',
 '380852021-04-30',
 '290252021-05-14',
 '301032020-12-25',
 '50792021-02-05',
 '212152020-11-13',
 '450172020-10-30',
 '540172020-11-13',
 '51292020-09-18',
 '181192021-01-01',
 '371372020-10-09',
 '470952021-04-09',
 '720032020-11-27',
 '171532021-07-02',
 '518302021-09-10',
 '132872021-03-05',
 '311812020-10-30',
 '160332021-10-01',
 '132652021-09-24',
 '131412020-07-31',
 '510452021-03-05',
 '130252021-04-30',
 '211652021-05-21',
 '200692020-11-20',
 '281012021-01-08',
 '270552021-09-10',
 '490332021-05-28',
 '190312021-05-14',
 '510992021-05-07',
 '181112021-05-14',
 '80252021-04-02',
 '480192021-09-10',
 '483612020-12-25',
 '380432020-08-14',
 '190232020-09-25',
 '720552021-01-08',
 '721392021-09-10',
 '170352020-10-30',
 '50732021-03-05',
 '50732021-04-16',
 '50912020-09-04',
 '220752021-07-16',
 '516102021-08-13',
 '130372020-12-04',
 '290872020-12-11',
 '291512020-11-13',
 '21852021-03-05',
 '181472021-05-14',
 '133012021-08-20',
 '720272021-03-26',
 '530172021-10-22',
 '484892020-09-18',
 '291392021-07-09',
 '450172021-04-16',
 '320112020-10-02',
 '483872020-08-28',
 '511012021-01-15',
 '550612021-08-06',
 '720832021-02-26',
 '181152020-08-28',
 '482692020-11-27',
 '511572021-06-18',
 '518302020-09-04',
 '484192021-08-20',
 '260832020-11-27',
 '301092021-08-20',
 '481312021-07-30',
 '460172021-07-16',
 '281192020-08-28',
 '290172021-06-04',
 '190232021-03-12',
 '133192021-06-11',
 '380772021-05-14',
 '310852020-12-11',
 '540932020-11-06',
 '510752021-07-16',
 '240192021-07-16',
 '133192020-08-21',
 '170932021-05-07',
 '511052020-08-21',
 '350032021-03-12',
 '481552021-06-11',
 '720632021-02-26',
 '470232021-10-22',
 '300052021-01-15',
 '484892020-10-16',
 '290572021-08-13',
 '240352021-01-15',
 '380072020-08-07',
 '221212020-12-04',
 '212012021-06-04',
 '51472021-01-15',
 '460032021-10-01',
 '484432021-07-23',
 '211092021-06-25',
 '390192020-07-31',
 '130792021-03-12',
 '660102020-08-07',
 '530592021-09-03',
 '550772021-05-14',
 '261412020-10-30',
 '210772021-01-22',
 '450812021-08-06',
 '261432021-03-26',
 '390192021-03-26',
 '483592020-11-20',
 '160632021-07-30',
 '292092021-04-09',
 '510232021-08-27',
 '190232020-08-28',
 '211032021-04-30',
 '380852020-10-16',
 '291292021-04-23',
 '720072021-07-09',
 '540932020-11-13',
 '540712020-09-25',
 '370292021-01-01',
 '350612021-03-19',
 '550072021-03-19',
 '171752021-01-08',
 '481592021-04-23',
 '310272021-02-12',
 '80112021-01-08',
 '471292021-03-12',
 '540932021-07-16',
 '311632020-07-31',
 '171712021-04-02',
 '391212021-09-10',
 '460212020-11-27',
 '380832021-04-23',
 '517902021-04-16',
 '350612021-08-06',
 '211292020-10-30',
 '482052021-06-25',
 '281292020-11-20',
 '450172021-05-21',
 '311652021-10-08',
 '720932021-03-26',
 '482712021-05-14',
 '181212021-10-15',
 '721032020-11-06',
 '360412020-11-20',
 '480312021-01-01',
 '210112021-06-04',
 '541092021-09-24',
 '721332021-09-03',
 '450172021-05-07',
 '290672021-07-16',
 '370692021-10-15',
 '721492021-08-13',
 '131252020-12-04',
 '391272021-02-05',
 '21582021-06-25',
 '483852021-04-02',
 '240192021-08-27',
 '130032020-10-09',
 '171752020-09-25',
 '482472021-08-06',
 '510092021-06-18',
 '310052020-08-21',
 '511812021-05-14',
 '291532020-12-18',
 '220432021-07-16',
 '721492021-04-09',
 '483812020-11-20',
 '240352020-09-04',
 '460632021-10-15',
 '380812020-10-23',
 '510092020-07-31',
 '21582021-08-20',
 '260892021-09-10',
 '130112021-01-08',
 '291412021-05-21',
 '380492020-10-30',
 '220432021-04-16',
 '200172021-09-17',
 '410692021-05-28',
 '720152020-09-18',
 '511312020-07-31',
 '370532021-05-21',
 '481372021-08-27',
 '311132020-10-23',
 '160332020-09-11',
 '540432021-01-08',
 '721492020-10-16',
 '484212021-05-14',
 '260832021-02-12',
 '510352021-09-24',
 '460712021-04-09',
 '180252020-08-28',
 '720772021-07-23',
 '310052020-11-06',
 '160432021-10-22',
 '180412021-04-16',
 '720412021-06-18',
 '130532021-07-02',
 '210632020-12-18',
 '380272020-11-27',
 '240112021-04-02',
 '290432020-09-18',
 '720952020-09-04',
 '450812020-11-20',
 '21982021-07-30',
 '483592020-10-16',
 '460752021-04-30',
 '380412020-08-14',
 '260312021-05-14',
 '310752021-09-03',
 '550512020-12-04',
 '130932020-10-23',
 '281312020-12-11',
 '120072020-10-23',
 '200692021-02-12',
 '50672020-10-30',
 '480312021-03-12',
 '29972020-11-20',
 '490292021-03-19',
 '131712021-08-06',
 '170032021-10-08',
 '20802021-08-06',
 '310512021-10-15',
 '291292021-04-30',
 '490312020-10-09',
 '221212020-10-16',
 '210112020-09-18',
 '421132021-10-01',
 '691202021-05-21',
 '200692021-03-26',
 '160252021-02-05',
 '21802021-10-15',
 '511652021-04-23',
 '170092020-10-30',
 '211192021-04-09',
 '291332020-11-13',
 '410692021-03-12',
 '60032020-12-04',
 '482832021-03-19',
 '380332021-03-05',
 '201392020-10-09',
 '291312020-10-02',
 '290452020-10-23',
 '380912021-02-05',
 '120472021-05-28',
 '720392020-09-25',
 '510912020-11-27',
 '211532021-09-10',
 '511252020-09-11',
 '511412021-08-13',
 '720072020-10-09',
 '490552021-08-20',
 '560352020-10-02',
 '483192021-06-18',
 '51472021-08-13',
 '291252020-11-13',
 '470872021-06-25',
 '721492020-11-13',
 '181212021-09-03',
 '511812020-12-04',
 '281012021-10-01',
 '540492021-07-02',
 '720292020-09-04',
 '131472021-06-18',
 '540712020-11-27',
 '120672021-06-11',
 '310352021-04-23',
 '51092021-10-22',
 '160612020-10-16',
 '511412021-10-08',
 '270552020-09-18',
 '511432021-07-02',
 '291532021-01-15',
 '191292020-07-31',
 '280532021-01-08',
 '450612021-07-16',
 '480312021-01-22',
 '540852021-03-19',
 '280052021-06-18',
 '360412021-08-06',
 '350032021-06-25',
 '290612021-07-30',
 '485072021-06-11',
 '510492021-05-07',
 '360392021-05-28',
 '517502021-05-14',
 '482052021-10-01',
 '511152021-09-17',
 '311632021-01-08',
 '291032020-10-30',
 '311652021-06-25',
 '212152021-05-14',
 '170132020-10-09',
 '511812021-03-12',
 '132432021-10-15',
 '260012021-04-16',
 '171392021-05-21',
 '483152021-05-14',
 '720112021-02-12',
 '511312021-10-15',
 '500132021-09-03',
 '720892021-06-04',
 '29982021-05-21',
 '450812021-04-30',
 '170132021-10-08',
 '51012021-04-30',
 '270212021-05-28',
 '130732020-12-04',
 '210612021-10-08',
 '171752020-10-23',
 '260012021-07-02',
 '721112020-12-25',
 '350212021-01-15',
 '130612020-09-18',
 '481312021-02-12',
 '290672021-01-29',
 '410552020-09-25',
 '210912020-09-04',
 '483612021-10-22',
 '483872021-03-26',
 '210792020-10-09',
 '480452021-07-02',
 '484672020-12-25',
 '460972021-09-17',
 '50912021-04-02',
 '50532021-05-28',
 '291252021-04-16',
 '130252021-09-24',
 '132712021-03-19',
 '410092021-07-30',
 '510932020-12-04',
 '50892020-11-20',
 '290172021-07-16',
 '380832021-01-29',
 '720732020-07-31',
 '380432020-11-27',
 '10672020-08-28',
 '11072021-07-02',
 '300752021-08-06',
 '131452021-08-06',
 '483952020-10-23',
 '29972020-12-18',
 '291352021-02-05',
 '132632021-10-15',
 '480192021-03-26',
 '120652021-01-29',
 '517502021-06-25',
 '380752021-01-15',
 '132592021-06-18',
 '483432021-07-16',
 '292012020-12-04',
 '371972020-09-18',
 '170092021-09-24',
 '481292021-07-02',
 '484552021-07-09',
 '50972021-07-02',
 '310092021-10-22',
 '210912020-11-27',
 '133152021-09-24',
 '290872020-10-09',
 '211052020-08-21',
 '460972021-06-25',
 '484072020-11-27',
 '50992020-08-07',
 '211892021-09-17',
 '510352021-02-19',
 '201992021-04-02',
 '291032021-06-18',
 '490312021-01-08',
 '482352020-12-18',
 '211492021-05-07',
 '481192021-01-22',
 '22402020-11-06',
 '130252021-07-23',
 '291372021-09-03',
 '120072021-07-09',
 '481252021-05-14',
 '360412020-11-13',
 '22302021-10-22',
 '171292021-04-30',
 '461212020-12-18',
 '721432021-03-05',
 '181292021-02-12',
 '721372020-10-16',
 '471392021-07-16',
 '132652021-06-18',
 '291032020-09-04',
 '460312021-03-26',
 '720392021-06-25',
 '281312021-03-26',
 '211432021-04-23',
 '480652021-06-25',
 '484672020-12-18',
 '132292021-04-16',
 '380052021-09-10',
 '482612021-05-14',
 '420992021-06-18',
 '720852021-07-09',
 '261352020-07-31',
 '170412020-12-25',
 '50852021-05-07',
 '22302021-10-08',
 '721112021-03-26',
 '210232021-01-22',
 '517352021-08-13',
 '350332021-05-07',
 '10372021-08-20',
 '484432021-10-22',
 '390192020-10-30',
 '370292021-01-08',
 '290172021-07-30',
 '510362021-01-08',
 '483592021-02-05',
 '133112021-03-05',
 '471212020-10-02',
 '484072021-04-02',
 '170792020-12-04',
 '470952020-10-02',
 '240112021-03-12',
 '300752021-01-22',
 '50132020-12-11',
 '516902020-12-25',
 '310752020-10-16',
 '380472021-09-10',
 '211892021-10-22',
 '490552021-04-16',
 '550612021-10-15',
 '291372021-05-07',
 '80932021-07-02',
 '170072020-08-07',
 '270552020-10-09',
 '510932020-08-28',
 '511492021-06-25',
 '190312020-12-11',
 '470952021-07-23',
 '210432021-07-02',
 '540432020-07-31',
 '401412021-06-04',
 '280572021-07-23',
 '22102021-02-05',
 '721152020-08-07',
 '130612021-04-23',
 '211032021-03-19',
 '130112021-09-17',
 '461372021-04-02',
 '470492020-08-07',
 '281012020-08-21',
 '130032021-08-27',
 '51472021-04-09',
 '721372021-04-09',
 '311832020-09-11',
 '131952021-06-25',
 '483772020-09-11',
 '131812020-09-25',
 '510072021-01-29',
 '460032021-08-13',
 '691102020-11-27',
 '691202021-10-15',
 '370952021-06-25',
 '132952020-10-02',
 '80572021-09-24',
 '133192021-09-10',
 '511452021-02-26',
 '120772020-09-25',
 '721292021-05-14',
 '540632021-10-01',
 '461052021-01-01',
 '720712020-11-13',
 '260092021-05-07',
 '510312020-11-06',
 '292252021-07-30',
 '511692021-06-11',
 '291732020-08-28',
 '510432021-08-27',
 '191712021-02-26',
 '390872020-08-28',
 '170792021-06-25',
 '511012021-04-23',
 '360852021-04-23',
 '160632021-02-26',
 '210392021-01-15',
 '290412021-09-10',
 '721092021-03-12',
 '191812021-03-12',
 '720392020-10-23',
 '80332021-07-30',
 '460252021-08-06',
 '80472021-09-17',
 '483432021-06-25',
 '721372020-09-25',
 '380432021-08-20',
 '212292021-05-14',
 '391632021-06-18',
 '291372021-01-08',
 '281432020-07-31',
 '211872021-09-17',
 '460252020-08-21',
 '510692020-10-23',
 '281432021-01-29',
 '483792020-10-02',
 '420532020-11-13',
 '471752021-07-16',
 '291032020-10-23',
 '180472021-02-19',
 '490312021-08-13',
 '171752020-07-31',
 '482632020-10-30',
 '540712021-08-13',
 '29972020-11-06',
 '290152020-10-02',
 '480452020-11-13',
 '460032020-08-14',
 '20502020-11-06',
 '280532021-04-16',
 '280732021-01-08',
 '482592021-05-21',
 '460252020-09-11',
 '380432021-04-09',
 '483332021-02-26',
 '240352021-05-07',
 '461112020-08-21',
 '720732021-04-30',
 '510452020-09-18',
 '482032021-06-18',
 '360852020-12-25',
 '220372020-08-07',
 '133072021-08-06',
 '80232021-02-19',
 '400332021-01-08',
 '170352020-10-09',
 '511152021-08-06',
 '471372021-04-02',
 '482972020-12-04',
 '516102021-08-06',
 '721232020-12-04',
 '720192021-09-17',
 '511492021-06-18',
 '310872021-09-10',
 '510072020-12-11',
 '131772021-08-27',
 '130492021-03-26',
 '460712021-05-21',
 '80232020-08-07',
 '210232020-10-16',
 '510912021-07-16',
 '720032021-09-10',
 '133092020-10-30',
 '170172021-08-06',
 '510352021-03-19',
 '51052020-09-25',
 '461112021-06-25',
 '421132021-10-22',
 '80472021-03-05',
 '721012021-02-26',
 '160332021-06-25',
 '10292021-05-28',
 '450172020-09-04',
 '540172021-03-12',
 '310732021-03-05',
 '510792021-07-23',
 '80232020-12-18',
 '460752021-07-30',
 '483772021-06-04',
 '120772021-10-15',
 '530172021-08-27',
 '260832020-08-28',
 '50732021-09-10',
 '720272021-05-28',
 '550612021-01-22',
 '80392021-05-07',
 '480092020-08-28',
 '20162020-10-16',
 '181112020-07-31',
 '170872020-10-02',
 '280732020-12-18',
 '310512020-10-23',
 '130252021-10-15',
 '80572020-09-11',
 '460852021-04-16',
 '721372020-11-27',
 '181612021-02-12',
 '51012021-02-05',
 '511432021-03-26',
 '181552021-05-07',
 '511932021-10-15',
 '460712021-09-10',
 '21802021-03-26',
 '211692021-06-18',
 '450392021-09-10',
 '511112020-12-18',
 '461112021-07-09',
 '80112020-07-31',
 '510332021-05-07',
 '240112021-06-25',
 '120772021-02-05',
 '292232021-04-02',
 '500132020-10-09',
 '50972020-09-11',
 '470492021-04-09',
 '132632021-07-23',
 '211492021-01-15',
 '340152020-10-16',
 '200172020-09-25',
 '480672020-11-27',
 '721232021-07-16',
 '211232020-11-13',
 '80572020-12-11',
 '350112021-02-12',
 '510232021-05-07',
 '291312021-04-09',
 '484892021-08-27',
 '120472020-09-18',
 '370792021-07-30',
 '291972021-08-20',
 '482632021-03-12',
 '10372020-11-27',
 '380052021-07-30',
 '291972020-10-16',
 '280732021-06-25',
 '212012021-08-13',
 '690002020-10-23',
 '720112020-08-28',
 '132592021-01-22',
 '261412021-06-11',
 '721372021-06-11',
 '540992021-03-26',
 '212152021-10-01',
 '131672020-09-04',
 '210792020-10-23',
 '470472020-12-25',
 '510452021-09-10',
 '480652020-08-28',
 '720272020-11-13',
 '132712021-07-23',
 '511092021-10-15',
 '131672021-10-08',
 '181112021-08-20',
 '133112021-06-25',
 '130752020-09-04',
 '370532021-06-11',
 '511312020-10-30',
 '22802020-08-14',
 '371152021-04-16',
 '240112021-07-09',
 '160432020-08-14',
 '721072020-08-21',
 '450092021-03-26',
 '212152020-11-27',
 '260312021-08-06',
 '210912021-05-21',
 '518202021-07-23',
 '210312020-12-18',
 '530592020-09-04',
 '401072021-04-23',
 '171332021-10-08',
 '480812021-05-14',
 '171532021-08-06',
 '211092020-10-09',
 '181012020-10-09',
 '310752021-06-04',
 '190312020-10-09',
 '181612021-04-16',
 '131952021-10-22',
 '483952021-10-01',
 '131472021-01-15',
 '360392020-10-16',
 '181252021-03-19',
 '230232021-10-01',
 '291252021-07-30',
 '510292020-10-09',
 '210612020-11-20',
 '511332021-06-25',
 '191812021-07-30',
 '720512021-06-11',
 '371032021-05-28',
 '483812021-03-26',
 '20132020-08-14',
 '510912020-12-04',
 '131412021-01-01',
 '22602021-08-06',
 '291732021-10-08',
 '481752021-04-16',
 '260012020-12-18',
 '461212021-06-04',
 '510362020-12-11',
 '361152021-01-29',
 '421092021-07-30',
 '270272021-03-12',
 '120652021-03-26',
 '51012021-07-30',
 '180412020-11-20',
 '480652021-09-10',
 '160032020-11-13',
 '511352021-04-30',
 '391632020-09-11',
 '720452020-10-02',
 '130032021-08-13',
 '401072021-01-08',
 '721192021-09-03',
 '50992020-10-09',
 '517352021-10-01',
 '211652020-12-11',
 '132872020-08-21',
 '171332020-12-18',
 '191812021-08-06',
 '221072020-08-21',
 '81212021-01-01',
 '421092021-02-26',
 '290672021-02-05',
 '511752021-01-29',
 '120432020-10-30',
 '510092021-09-03',
 '132952021-04-09',
 '180472021-03-26',
 '132832020-10-09',
 '691202020-09-11',
 '160032021-01-22',
 '450692021-10-15',
 '484192021-07-16',
 '720872020-12-04',
 '130252021-04-02',
 '50532021-02-19',
 '482292020-08-21',
 '483812021-04-16',
 '220752021-01-08',
 '131712021-06-04',
 '291192021-05-07',
 '410212021-05-21',
 '480672021-03-19',
 '360472021-04-16',
 '300052021-08-06',
 '482612021-03-19',
 '720892020-10-09',
 '510352021-08-06',
 '10752021-05-21',
 '21582020-08-21',
 '511352021-06-04',
 '511452020-12-25',
 '221212021-07-09',
 '481912020-10-23',
 '511132021-08-27',
 '370532021-03-19',
 '20682021-01-01',
 '292012021-10-08',
 '340152021-07-23',
 '720372021-01-15',
 '132952021-09-24',
 '292052021-08-20',
 '211232020-12-18',
 '40112021-09-24',
 '290852021-05-07',
 '483312021-02-26',
 '212352021-07-09',
 '511152020-10-16',
 '80232021-07-02',
 '191812021-04-23',
 '290252020-12-25',
 '511832021-08-20',
 '380492021-02-19',
 '160032020-12-04',
 '131012021-05-28',
 '80532020-09-18',
 '721012021-09-17',
 '360612021-04-30',
 '721112020-10-16',
 ...]

In [33]:
# Eliminate rows with fips_date values that do not appear in counties dataset
hospital_data_df = hospital_data_df[~hospital_data_df['fips_date'].isin(remove_list)]
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,10012020-07-31
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,10012020-08-07
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,10012020-08-14
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,10012020-08-21
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,780202021-09-24
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,780202021-10-01
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,780202021-10-08
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,780202021-10-15
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,780202021-10-22

In [34]:
# Shorten column names to avoid truncating in postgres (confirmed=con, suspected=sus, pediatric=ped)
hospital_data_df.rename({'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum', 
                         'total_adult_patients_hospitalized_confirmed_covid_7_day_sum':'total_adult_patients_hospitalized_con_covid_7_day_sum', 
                         'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum', 
                         'total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum':'total_ped_patients_hospitalized_con_covid_7_day_sum', 
                         'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum':'staffed_icu_adult_patients_con_and_sus_covid_7_day_sum', 
                         'staffed_icu_adult_patients_confirmed_covid_7_day_sum':'staffed_icu_adult_patients_con_covid_7_day_sum'}, axis=1, inplace=True)
hospital_data_df

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,10012020-07-31
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,10012020-08-07
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,10012020-08-14
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,10012020-08-21
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,780202021-09-24
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,780202021-10-01
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,780202021-10-08
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,780202021-10-15
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,780202021-10-22

In [35]:
# Eliminate rows with fips_date values that do not appear in hospitals dataset
nyt_data_grouped = nyt_data_grouped[~nyt_data_grouped['fips_date'].isin(remove_list)]
nyt_data_grouped

         fips        date  cases  deaths        fips_date
0        1001  2020-07-31   6817   147.0   10012020-07-31
1        1001  2020-08-07   7503   150.0   10012020-08-07
2        1001  2020-08-14   8531   158.0   10012020-08-14
3        1001  2020-08-21   9009   161.0   10012020-08-21
4        1001  2020-08-28   9484   161.0   10012020-08-28
...       ...         ...    ...     ...              ...
208912  78020  2021-09-24   2258    21.0  780202021-09-24
208913  78020  2021-10-01   2293    21.0  780202021-10-01
208914  78020  2021-10-08   2317    21.0  780202021-10-08
208915  78020  2021-10-15   2317    21.0  780202021-10-15
208916  78020  2021-10-22   2322    21.0  780202021-10-22

[159064 rows x 5 columns]

In [36]:
nyt_data_grouped.dtypes

fips          object
date          object
cases          int64
deaths       float64
fips_date     object
dtype: object

In [37]:
# Convert float data types to integers in NYT data set
columns = ['deaths']
nyt_data_grouped[columns] = nyt_data_grouped[columns].applymap(np.int64)
nyt_data_grouped

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

         fips        date  cases  deaths        fips_date
0        1001  2020-07-31   6817     147   10012020-07-31
1        1001  2020-08-07   7503     150   10012020-08-07
2        1001  2020-08-14   8531     158   10012020-08-14
3        1001  2020-08-21   9009     161   10012020-08-21
4        1001  2020-08-28   9484     161   10012020-08-28
...       ...         ...    ...     ...              ...
208912  78020  2021-09-24   2258      21  780202021-09-24
208913  78020  2021-10-01   2293      21  780202021-10-01
208914  78020  2021-10-08   2317      21  780202021-10-08
208915  78020  2021-10-15   2317      21  780202021-10-15
208916  78020  2021-10-22   2322      21  780202021-10-22

[159064 rows x 5 columns]

In [38]:
# Convert NYT date column to datetime data type
nyt_data_grouped['date'] = pd.to_datetime(nyt_data_grouped['date'])
nyt_data_grouped

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         fips       date  cases  deaths        fips_date
0        1001 2020-07-31   6817     147   10012020-07-31
1        1001 2020-08-07   7503     150   10012020-08-07
2        1001 2020-08-14   8531     158   10012020-08-14
3        1001 2020-08-21   9009     161   10012020-08-21
4        1001 2020-08-28   9484     161   10012020-08-28
...       ...        ...    ...     ...              ...
208912  78020 2021-09-24   2258      21  780202021-09-24
208913  78020 2021-10-01   2293      21  780202021-10-01
208914  78020 2021-10-08   2317      21  780202021-10-08
208915  78020 2021-10-15   2317      21  780202021-10-15
208916  78020 2021-10-22   2322      21  780202021-10-22

[159064 rows x 5 columns]

In [39]:
nyt_data_grouped.dtypes

fips                 object
date         datetime64[ns]
cases                 int64
deaths                int64
fips_date            object
dtype: object

In [40]:
# Rename NYT columns 
nyt_data_grouped.rename({'date':'collection_week', 'cases':'cases_to_date', 'deaths':'deaths_to_date'}, axis=1, inplace=True)
nyt_data_grouped

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

         fips collection_week  cases_to_date  deaths_to_date        fips_date
0        1001      2020-07-31           6817             147   10012020-07-31
1        1001      2020-08-07           7503             150   10012020-08-07
2        1001      2020-08-14           8531             158   10012020-08-14
3        1001      2020-08-21           9009             161   10012020-08-21
4        1001      2020-08-28           9484             161   10012020-08-28
...       ...             ...            ...             ...              ...
208912  78020      2021-09-24           2258              21  780202021-09-24
208913  78020      2021-10-01           2293              21  780202021-10-01
208914  78020      2021-10-08           2317              21  780202021-10-08
208915  78020      2021-10-15           2317              21  780202021-10-15
208916  78020      2021-10-22           2322              21  780202021-10-22

[159064 rows x 5 columns]

In [41]:
hospital_data_df.dtypes

fips_code                                                         object
collection_week                                                   object
total_beds_7_day_sum                                             float64
all_adult_hospital_beds_7_day_sum                                float64
all_adult_hospital_inpatient_beds_7_day_sum                      float64
inpatient_beds_used_7_day_sum                                    float64
all_adult_hospital_inpatient_bed_occupied_7_day_sum              float64
total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum    float64
total_adult_patients_hospitalized_con_covid_7_day_sum            float64
total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum      float64
total_ped_patients_hospitalized_con_covid_7_day_sum              float64
inpatient_beds_7_day_sum                                         float64
total_icu_beds_7_day_sum                                         float64
total_staffed_adult_icu_beds_7_day_sum                           float64
icu_beds_used_7_day_sum                                          float64
staffed_adult_icu_bed_occupancy_7_day_sum                        float64
staffed_icu_adult_patients_con_and_sus_covid_7_day_sum           float64
staffed_icu_adult_patients_con_covid_7_day_sum                   float64
fips_date                                                         object
dtype: object

In [42]:
# Convert float data types to integers in hospitals data set
columns = ['total_beds_7_day_sum', 'all_adult_hospital_beds_7_day_sum', 
           'all_adult_hospital_inpatient_beds_7_day_sum', 'inpatient_beds_used_7_day_sum', 
           'all_adult_hospital_inpatient_bed_occupied_7_day_sum', 
           'total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum', 
           'total_adult_patients_hospitalized_con_covid_7_day_sum', 
           'total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum', 
           'total_ped_patients_hospitalized_con_covid_7_day_sum', 'inpatient_beds_7_day_sum', 'total_icu_beds_7_day_sum', 
           'total_staffed_adult_icu_beds_7_day_sum', 'icu_beds_used_7_day_sum', 'staffed_adult_icu_bed_occupancy_7_day_sum',
           'staffed_icu_adult_patients_con_and_sus_covid_7_day_sum', 'staffed_icu_adult_patients_con_covid_7_day_sum']
hospital_data_df[columns] = hospital_data_df[columns].applymap(np.int64)
hospital_data_df

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001,2020-07-31,574,574,455,363,363,117,103,0,0,455,42,42,40,40,28,26,10012020-07-31
1,1001,2020-08-07,574,574,455,369,369,153,139,0,0,455,42,42,41,41,38,37,10012020-08-07
2,1001,2020-08-14,574,574,455,384,384,125,111,0,0,455,42,42,42,42,38,32,10012020-08-14
3,1001,2020-08-21,574,574,455,348,348,86,74,0,0,455,42,42,38,38,48,35,10012020-08-21
4,1001,2020-08-28,574,574,455,346,346,77,75,0,0,455,42,42,40,40,18,18,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924,868,728,410,389,20,20,0,0,784,56,56,29,29,7,7,780202021-09-24
159867,78020,2021-10-01,924,868,728,362,340,12,12,0,0,784,56,56,43,43,7,7,780202021-10-01
159868,78020,2021-10-08,924,868,728,412,381,12,12,0,0,784,56,56,48,48,7,7,780202021-10-08
159869,78020,2021-10-15,924,868,728,402,365,7,7,0,0,784,56,56,40,40,7,7,780202021-10-15
159870,78020,2021-10-22,924,868,728,381,356,0,0,0,0,784,56,56,36,36,0,0,780202021-10-22

In [43]:
# Convert NYT date column to datetime data type
hospital_data_df['collection_week'] = pd.to_datetime(hospital_data_df['collection_week'])
hospital_data_df

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001,2020-07-31,574,574,455,363,363,117,103,0,0,455,42,42,40,40,28,26,10012020-07-31
1,1001,2020-08-07,574,574,455,369,369,153,139,0,0,455,42,42,41,41,38,37,10012020-08-07
2,1001,2020-08-14,574,574,455,384,384,125,111,0,0,455,42,42,42,42,38,32,10012020-08-14
3,1001,2020-08-21,574,574,455,348,348,86,74,0,0,455,42,42,38,38,48,35,10012020-08-21
4,1001,2020-08-28,574,574,455,346,346,77,75,0,0,455,42,42,40,40,18,18,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924,868,728,410,389,20,20,0,0,784,56,56,29,29,7,7,780202021-09-24
159867,78020,2021-10-01,924,868,728,362,340,12,12,0,0,784,56,56,43,43,7,7,780202021-10-01
159868,78020,2021-10-08,924,868,728,412,381,12,12,0,0,784,56,56,48,48,7,7,780202021-10-08
159869,78020,2021-10-15,924,868,728,402,365,7,7,0,0,784,56,56,40,40,7,7,780202021-10-15
159870,78020,2021-10-22,924,868,728,381,356,0,0,0,0,784,56,56,36,36,0,0,780202021-10-22

In [44]:
hospital_data_df.dtypes

fips_code                                                                object
collection_week                                                  datetime64[ns]
total_beds_7_day_sum                                                      int64
all_adult_hospital_beds_7_day_sum                                         int64
all_adult_hospital_inpatient_beds_7_day_sum                               int64
inpatient_beds_used_7_day_sum                                             int64
all_adult_hospital_inpatient_bed_occupied_7_day_sum                       int64
total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum             int64
total_adult_patients_hospitalized_con_covid_7_day_sum                     int64
total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum               int64
total_ped_patients_hospitalized_con_covid_7_day_sum                       int64
inpatient_beds_7_day_sum                                                  int64
total_icu_beds_7_day_sum                                                  int64
total_staffed_adult_icu_beds_7_day_sum                                    int64
icu_beds_used_7_day_sum                                                   int64
staffed_adult_icu_bed_occupancy_7_day_sum                                 int64
staffed_icu_adult_patients_con_and_sus_covid_7_day_sum                    int64
staffed_icu_adult_patients_con_covid_7_day_sum                            int64
fips_date                                                                object
dtype: object

In [45]:
# Eliminate rows with fips_date values that do not appear in counties dataset
f = vax_data_df['fips_date'].unique()

In [46]:
x = nyt_data_grouped['fips_date'].unique()

In [47]:
remove_list_dates = list(set(x).symmetric_difference(set(f)))
remove_list_dates

['290492021-02-18',
 '300872020-09-04',
 '211072021-03-07',
 '401072021-05-02',
 '540972021-04-22',
 '510272021-09-16',
 '400992021-10-17',
 '484972021-07-28',
 '371752021-10-09',
 '220172021-08-22',
 '490012021-09-12',
 '80142020-10-23',
 '371532021-01-09',
 '190532021-02-09',
 '400892021-04-04',
 '480492021-01-21',
 '170632020-12-28',
 '201772021-06-14',
 '270212021-05-27',
 '511392021-04-07',
 '480992020-09-18',
 '310172021-05-08',
 '340072020-12-19',
 '483772021-09-19',
 '191892021-08-02',
 '480252021-04-10',
 '270572021-07-01',
 '371732020-12-26',
 '291272021-02-13',
 '181332021-05-17',
 '10812021-08-23',
 '191252021-05-05',
 '221152021-05-31',
 '530392021-10-10',
 '391532021-09-19',
 '190852021-04-17',
 '551292020-12-29',
 '81032020-12-30',
 '291212021-08-17',
 '280572021-02-08',
 '371772021-05-16',
 '721092021-10-15',
 '291972021-01-02',
 '270332021-05-30',
 '80052021-03-20',
 '391492020-09-11',
 '481072021-01-19',
 '721512021-06-11',
 '390892021-05-04',
 '371832021-01-07',
 '551392021-08-25',
 '190292020-12-19',
 '540692021-07-20',
 '201192021-02-06',
 '420412021-03-08',
 '191872021-06-08',
 '370532021-05-30',
 '20702021-08-14',
 '130192021-01-11',
 '490532021-05-27',
 '81032021-10-25',
 '461212021-03-10',
 '51352021-06-08',
 '470572021-01-10',
 '180412021-09-07',
 '401292020-12-22',
 '360612021-03-10',
 '471572021-03-04',
 '311672021-10-31',
 '170832021-08-09',
 '550612021-05-20',
 '200452021-05-11',
 '290732020-12-31',
 '291012021-10-19',
 '200032021-08-07',
 '191192021-08-29',
 '160112021-09-23',
 '550732020-12-20',
 '50712021-07-03',
 '470592021-01-25',
 '511072021-09-01',
 '450272021-01-31',
 '550812021-11-05',
 '421112021-01-05',
 '481952020-12-13',
 '181592021-05-27',
 '483792021-03-07',
 '210912021-07-11',
 '132352021-05-13',
 '484372021-08-17',
 '280872021-05-05',
 '550052021-02-17',
 '170432021-06-24',
 '60892021-09-28',
 '461192021-04-24',
 '280452021-06-24',
 '340372020-09-04',
 '160772020-09-25',
 '510312021-09-24',
 '400572021-10-11',
 '481192021-02-06',
 '211292020-12-23',
 '350532020-10-09',
 '81252021-08-23',
 '420472021-10-27',
 '160012021-01-24',
 '170072021-10-01',
 '511752021-01-06',
 '172012021-04-22',
 '250192021-11-05',
 '720232021-05-16',
 '484112021-03-17',
 '260432021-01-10',
 '460212021-01-19',
 '511992021-04-12',
 '310572021-05-03',
 '480792021-04-27',
 '180712021-02-03',
 '290052021-03-15',
 '400112020-08-07',
 '190452021-10-19',
 '291512021-04-27',
 '420752021-05-08',
 '480552021-04-29',
 '300772021-09-01',
 '171932021-02-16',
 '371412021-05-31',
 '171692021-09-05',
 '541072021-03-27',
 '470312020-08-07',
 '132012021-08-29',
 '401092021-06-12',
 '560152021-08-18',
 '340192021-04-26',
 '260792021-04-27',
 '291732021-03-29',
 '517752021-07-31',
 '320192021-10-13',
 '310472021-02-25',
 '483572021-06-30',
 '360772021-04-19',
 '450632021-01-28',
 '201932021-11-04',
 '80292021-07-17',
 '310192020-12-30',
 '484172020-12-22',
 '133112021-01-12',
 '371292021-01-12',
 '482412021-05-16',
 '380872021-01-06',
 '311012021-03-04',
 '360592021-07-19',
 '391612021-10-10',
 '271572021-10-14',
 '350052021-09-04',
 '460152021-06-20',
 '550532021-01-28',
 '80892021-02-02',
 '482752021-02-08',
 '51412021-07-05',
 '171152021-08-16',
 '381012021-03-15',
 '460352021-05-26',
 '261232021-06-20',
 '212352021-03-05',
 '482672021-05-18',
 '51232021-02-28',
 '281292021-02-08',
 '300232021-07-25',
 '483512021-09-27',
 '360812021-09-22',
 '421052021-07-20',
 '160032021-01-14',
 '211672021-10-18',
 '130732020-12-23',
 '350592021-05-27',
 '290032021-10-12',
 '201132021-06-23',
 '81192021-07-18',
 '291292021-07-30',
 '481732021-07-23',
 '120512020-12-04',
 '380732021-02-14',
 '500152021-09-07',
 '281232021-06-21',
 '360592021-09-16',
 '130472021-11-05',
 '340232021-07-01',
 '490432021-08-19',
 '470732021-03-08',
 '132092021-02-03',
 '260452021-02-14',
 '540092021-10-12',
 '132512021-04-27',
 '371112021-05-18',
 '721032021-09-19',
 '310092021-09-12',
 '480192021-08-30',
 '311612021-07-28',
 '310812021-06-06',
 '330172021-07-20',
 '551272021-03-27',
 '290672020-12-15',
 '131292021-07-20',
 '10712021-08-31',
 '211792021-08-29',
 '190612021-03-18',
 '281232021-08-30',
 '181512021-05-13',
 '211972021-03-17',
 '130232021-07-07',
 '121032021-02-18',
 '482832021-02-15',
 '120772021-03-24',
 '483492021-01-26',
 '300292021-08-11',
 '310232021-01-03',
 '510132020-12-16',
 '80572021-10-29',
 '40012021-10-13',
 '80432021-01-02',
 '133052021-03-15',
 '300152021-07-01',
 '160432021-08-19',
 '171712021-07-24',
 '181652021-09-12',
 '370692021-02-11',
 '261352021-03-28',
 '221252021-07-27',
 '191052021-02-16',
 '291012021-01-03',
 '518302021-10-15',
 '311632021-02-12',
 '483072021-10-21',
 '60632021-04-06',
 '483812021-09-04',
 '300692021-08-04',
 '420092021-02-11',
 '230312021-02-03',
 '380692021-11-02',
 '230172021-06-23',
 '170152021-02-15',
 '391172021-03-24',
 '311172021-06-07',
 '11232021-02-27',
 '471092021-10-01',
 '60412021-07-24',
 '510792021-10-10',
 '191952021-10-08',
 '290672021-03-17',
 '270212021-02-17',
 '181272021-09-18',
 '190772021-05-19',
 '10752021-06-25',
 '780302021-05-22',
 '460532021-07-29',
 '390592021-02-11',
 '191712021-09-17',
 '325102021-03-01',
 '540832021-03-14',
 '61112021-10-07',
 '191272021-01-02',
 '511332021-03-28',
 '171952020-09-04',
 '80152021-07-22',
 '320072021-04-10',
 '530032021-07-11',
 '80932021-01-14',
 '720812021-07-03',
 '292032021-03-19',
 '210512021-04-24',
 '210032021-01-18',
 '290092021-09-25',
 '220832021-10-13',
 '211252021-08-30',
 '280192021-05-05',
 '511992021-04-23',
 '310292021-08-10',
 '271692021-02-11',
 '120872021-02-04',
 '371872021-09-01',
 '300432021-01-22',
 '50112021-04-15',
 '560112021-09-12',
 '483372021-04-03',
 '10832021-07-10',
 '511612021-01-15',
 '481312021-01-11',
 '480452021-01-02',
 '292232021-07-08',
 '300392021-10-27',
 '481652021-10-30',
 '280232021-05-29',
 '310572021-01-18',
 '390212021-04-27',
 '490192021-08-26',
 '482632021-10-23',
 '470932021-03-20',
 '290972021-02-21',
 '21222021-04-15',
 '80352021-01-20',
 '390992021-09-02',
 '530052021-05-17',
 '485032021-01-10',
 '481712021-10-30',
 '130852020-12-16',
 '350612021-04-11',
 '310072021-03-27',
 '450632021-04-15',
 '550852021-10-03',
 '400852021-02-27',
 '511552020-12-14',
 '211032021-01-15',
 '11172021-11-06',
 '200032021-09-30',
 '311672021-09-14',
 '470112021-10-18',
 '340392021-08-25',
 '120292021-10-17',
 '391652021-06-21',
 '551232020-12-14',
 '270832021-06-07',
 '261612021-07-26',
 '483452021-09-28',
 '311112021-08-07',
 '240252021-09-04',
 '380292021-06-19',
 '380432021-01-01',
 '420532021-09-01',
 '721072021-10-21',
 '50952021-06-17',
 '471152021-08-14',
 '450652021-07-13',
 '130552021-09-26',
 '460872021-01-06',
 '511692021-05-11',
 '290532021-09-05',
 '350212021-06-05',
 '160192021-06-15',
 '780302021-07-10',
 '720432021-07-07',
 '470972021-05-30',
 '210692021-07-29',
 '40052021-07-12',
 '280732021-02-09',
 '300792021-09-15',
 '483572021-01-26',
 '310812021-01-30',
 '220572021-10-20',
 '483012021-08-05',
 '360252021-06-30',
 '540272021-06-28',
 '190612021-10-29',
 '311792021-06-07',
 '310452021-04-26',
 '201212020-12-04',
 '190092021-07-13',
 '400332021-09-06',
 '300612021-10-20',
 '401332021-06-03',
 '530612021-08-30',
 '720292020-12-17',
 '191652021-06-09',
 '180292021-06-19',
 '200652021-10-06',
 '120452021-08-01',
 '121332021-06-03',
 '280592021-05-31',
 '401412021-05-25',
 '130372021-06-24',
 '210692021-09-16',
 '410252021-01-20',
 '211412021-08-02',
 '516502021-08-16',
 '291752021-01-04',
 '171112021-08-23',
 '471512021-01-24',
 '350412021-07-26',
 '132532021-07-17',
 '300392021-07-22',
 '540032021-06-03',
 '410672021-06-17',
 '482392021-02-04',
 '390092021-07-31',
 '720872020-12-25',
 '380712021-07-22',
 '171872021-05-29',
 '260332021-03-08',
 '150032021-05-22',
 '480332021-06-22',
 '171432021-09-21',
 '420512021-01-05',
 '370152021-03-24',
 '240352021-02-07',
 '260512020-12-31',
 '390532021-04-13',
 '420552021-06-01',
 '721372021-02-09',
 '560292021-03-11',
 '511972021-05-30',
 '11312021-08-28',
 '281572020-09-18',
 '160832021-10-12',
 '212272021-05-26',
 '540292021-02-06',
 '21102021-10-19',
 '120952021-01-07',
 '291952021-06-08',
 '511812021-01-21',
 '60332021-08-11',
 '81092021-05-13',
 '401532021-02-16',
 '482052021-04-03',
 '210332021-05-23',
 '121072021-07-24',
 '490092021-03-09',
 '300592021-02-20',
 '484052021-05-29',
 '80212021-07-08',
 '551132020-09-11',
 '510132021-01-03',
 '311452021-04-10',
 '400352021-11-02',
 '190332021-06-13',
 '200932021-02-27',
 '21982021-02-17',
 '295102020-12-16',
 '550412021-10-20',
 '230112021-04-08',
 '461022021-01-22',
 '484492021-05-01',
 '121332021-02-07',
 '482612021-11-04',
 '280872021-02-10',
 '210232021-08-03',
 '51052021-08-21',
 '540272021-09-25',
 '350412021-02-01',
 '481952021-10-09',
 '170312021-01-02',
 '291532021-06-02',
 '500072021-01-18',
 '40172021-05-25',
 '391152021-01-21',
 '511832021-02-28',
 '300772021-06-13',
 '212272021-06-06',
 '270292020-08-07',
 '470992021-11-02',
 '200572020-12-13',
 '291612021-06-02',
 '360272021-06-07',
 '370472020-12-17',
 '483372021-10-26',
 '80392020-12-18',
 '420472021-08-26',
 '720932021-06-08',
 '130992021-03-07',
 '50392021-09-15',
 '210312021-04-15',
 '340292020-09-18',
 '461272021-10-23',
 '170792021-05-03',
 '400212021-04-07',
 '481212021-08-09',
 '370732021-10-24',
 '560092021-03-15',
 '550532020-10-30',
 '181452021-03-07',
 '482472021-09-18',
 '370672021-10-13',
 '211852021-02-15',
 '490452021-09-16',
 '484192021-03-08',
 '261172021-09-07',
 '300092021-08-25',
 '270572021-01-02',
 '200712021-06-19',
 '280612021-10-13',
 '261392021-09-15',
 '484492021-05-23',
 '400632021-05-12',
 '50892021-03-19',
 '160312021-05-30',
 '211132021-10-14',
 '311712021-05-28',
 '230072020-12-22',
 '470252021-07-31',
 '50732021-07-22',
 '220832021-08-10',
 '220092020-09-25',
 '271212021-08-29',
 '482892021-04-06',
 '81112021-01-17',
 '170812021-08-11',
 '530632021-08-11',
 '390912021-06-14',
 '300212021-10-27',
 '191912021-02-08',
 '401112021-04-15',
 '200872021-04-07',
 '131312021-04-22',
 '160532021-07-26',
 '460112021-03-03',
 '541052021-02-13',
 '210972021-05-05',
 '484812021-05-12',
 '484272021-06-23',
 '281192021-03-04',
 '490432020-09-04',
 '530632021-02-20',
 '420992021-05-11',
 '470752021-10-25',
 '450252021-04-28',
 '460472020-12-21',
 '160612021-01-25',
 '484312021-10-06',
 '450172021-09-18',
 '720712021-08-13',
 '160692021-07-11',
 '460892021-08-24',
 '421312021-02-17',
 '132772021-01-19',
 '310072021-08-24',
 '260272021-10-24',
 '160612020-12-14',
 '481952021-06-14',
 '340372020-08-21',
 '291732021-04-08',
 '370032021-07-30',
 '80892021-07-10',
 '550072021-04-24',
 '40212020-09-25',
 '480852020-12-04',
 '510612020-12-17',
 '21802021-10-01',
 '260772021-01-04',
 '390972021-04-24',
 '380552021-01-27',
 '190272021-03-31',
 '510362021-07-13',
 '10392021-03-31',
 '261252021-01-30',
 '211172021-06-01',
 '420952021-03-24',
 '471612021-03-08',
 '480152021-04-17',
 '370532021-07-02',
 '291012020-10-09',
 '121112021-03-15',
 '200932020-07-31',
 '80032021-07-04',
 '350392021-11-06',
 '80052021-01-14',
 '371112021-06-17',
 '483312021-02-15',
 '171112021-10-23',
 '460032021-06-18',
 '220412021-06-03',
 '550892021-08-23',
 '271212021-01-23',
 '270992021-10-29',
 '220452021-06-10',
 '81032021-06-19',
 '311512021-06-08',
 '380512021-01-12',
 '292132021-01-04',
 '280392020-12-19',
 '60152021-11-06',
 '360712021-09-07',
 '60772021-04-26',
 '470332021-06-25',
 '80952021-09-07',
 '221212021-01-08',
 '210392020-12-24',
 '540632021-06-13',
 '180072021-10-22',
 '200572021-01-02',
 '440032020-12-20',
 '260452021-09-07',
 '200952021-05-22',
 '10172021-07-03',
 '410272021-04-14',
 '371212021-02-08',
 '170112020-11-06',
 '160852021-09-29',
 '130672021-07-18',
 '220512021-06-22',
 '541072021-03-29',
 '482452021-04-10',
 '401132021-08-14',
 '201432021-06-13',
 '181672021-10-26',
 '480092021-04-02',
 '50792021-06-18',
 '310232020-12-04',
 '132592021-09-07',
 '380532021-04-07',
 '541032021-03-08',
 '240352021-04-09',
 '191612021-11-05',
 '370932021-06-20',
 '720172021-02-04',
 '160832021-01-06',
 '511572021-08-21',
 '471352021-03-23',
 '221012020-12-21',
 '160072021-05-12',
 '210252021-02-15',
 '391732021-07-11',
 '350512021-09-25',
 '400992021-01-06',
 '721092021-09-18',
 '260132020-11-06',
 '400572021-05-02',
 '421012021-11-01',
 '490092021-03-25',
 '480292020-08-28',
 '483112021-02-15',
 '450812021-01-05',
 '290232021-07-05',
 '370452021-08-16',
 '550272021-08-01',
 '380492021-09-08',
 '483172020-12-16',
 '271032021-01-14',
 '21882021-02-05',
 '221212021-09-03',
 '460952021-09-30',
 '290872021-01-31',
 '181192021-01-07',
 '320232021-09-04',
 '130952021-08-12',
 '720052021-06-10',
 '370312021-08-19',
 '361212021-01-12',
 '460092021-02-21',
 '210532021-07-20',
 '380932021-07-05',
 '480932021-05-24',
 '132792021-10-19',
 '310972021-09-19',
 '21702021-01-02',
 '290392021-02-13',
 '370792021-09-29',
 '510012020-08-14',
 '530672021-01-16',
 '400252020-12-16',
 '171232021-10-14',
 '484952021-10-25',
 '181172021-01-31',
 '401312021-01-28',
 '311692021-05-31',
 '410172021-08-23',
 '550552021-03-20',
 '550292021-06-12',
 '191152021-01-05',
 '211072021-04-27',
 '481632021-06-19',
 '310972021-01-21',
 '201732021-01-31',
 '721312021-05-20',
 '60192021-04-27',
 '281432021-02-27',
 '270192021-07-21',
 '130132021-07-06',
 '10052021-06-21',
 '511032021-05-30',
 '50072021-01-20',
 '721072021-01-26',
 '160672021-08-10',
 '211592021-05-17',
 '132872021-03-05',
 '201412021-09-19',
 '470092021-01-09',
 '170812021-05-27',
 '181772021-08-04',
 '391052021-05-05',
 '60852021-02-16',
 '133092021-03-28',
 '211652021-05-21',
 '350292021-03-03',
 '281012021-01-08',
 '160392021-02-15',
 '270552021-09-10',
 '291892020-12-27',
 '171392021-10-29',
 '180652021-04-12',
 '720332021-06-15',
 '133172021-04-25',
 '170892021-07-01',
 '132712021-11-04',
 '180192021-01-14',
 '380512021-09-27',
 '540192021-08-21',
 '380672021-06-26',
 '280432021-04-05',
 '132252021-06-05',
 '120272021-07-14',
 '380052021-06-16',
 '40172021-02-22',
 '370052021-05-09',
 '51032021-06-12',
 '320012021-01-31',
 '80332021-09-25',
 '220952021-08-15',
 '200292020-12-04',
 '361152021-06-06',
 '190492021-11-04',
 '211892021-09-21',
 '131512021-04-25',
 '190512021-10-18',
 '120692021-02-20',
 '200652021-01-28',
 '200492021-05-17',
 '280512021-10-11',
 '311592021-01-25',
 '200792020-09-25',
 '390032021-04-22',
 '120372021-10-14',
 '311532021-03-16',
 '270192021-02-16',
 '10792020-10-23',
 '220552021-04-10',
 '484232021-03-09',
 '280292021-08-12',
 '720372021-09-29',
 '260332020-10-23',
 '550692021-06-08',
 '483132020-10-23',
 '190232021-10-19',
 '484212021-01-21',
 '401412021-02-08',
 '260812020-10-30',
 '482192021-07-11',
 '480632020-07-31',
 '421192021-02-16',
 '401532021-05-26',
 '400932021-02-07',
 '271552021-04-04',
 '60832021-04-08',
 '481452021-04-12',
 '482192021-08-31',
 '510412021-06-30',
 '551092021-05-16',
 '300372021-10-25',
 '350472021-05-10',
 '280232021-06-20',
 '511392021-09-01',
 '50052021-07-20',
 '401192021-02-10',
 '480912021-04-17',
 '511352021-01-24',
 '550612021-09-05',
 '371592021-03-20',
 '370332021-05-10',
 '390692021-10-17',
 '450832021-09-08',
 '191652021-09-09',
 '201232020-12-14',
 '511212021-01-09',
 '292132021-02-09',
 '400052021-01-07',
 '51272021-02-27',
 '291652021-05-04',
 '421232021-09-11',
 '270452021-02-01',
 '720792021-06-24',
 '40112021-03-25',
 '261172021-01-13',
 '420612021-07-26',
 '471312021-10-19',
 '60872021-06-28',
 '201952021-10-06',
 '220512021-03-07',
 '371272021-08-17',
 '191592021-09-25',
 '510892021-04-10',
 '516702020-12-13',
 '490112021-06-15',
 '180872021-05-10',
 '181592021-09-04',
 '11052021-10-23',
 '132832021-01-13',
 '60012021-01-13',
 '221192021-10-20',
 '121032020-12-14',
 '510772021-03-18',
 '370612021-01-02',
 '80712020-12-29',
 '50392021-01-05',
 '371672021-10-23',
 '420412021-09-12',
 '370792020-12-17',
 '190232021-03-12',
 '210252021-02-20',
 '510072021-01-28',
 '390852020-08-21',
 '461352021-02-02',
 '290612021-06-01',
 '181592021-03-16',
 '260352020-12-15',
 '540832021-04-04',
 '510992021-05-26',
 '391452021-09-26',
 '511152021-06-12',
 '190932021-08-29',
 '60012021-06-28',
 '480212021-06-07',
 '130292021-10-12',
 '171412021-09-15',
 '270232020-07-31',
 '400792021-06-12',
 '720292021-09-13',
 '190752021-04-29',
 '211372021-07-25',
 '130572021-07-15',
 '401292021-04-01',
 '270292021-04-24',
 '132852021-09-20',
 '370152021-11-04',
 '170592021-07-19',
 '120932020-12-31',
 '280152021-09-18',
 '210952021-05-06',
 '171132021-08-17',
 '480192021-09-04',
 '340052021-10-09',
 '511012021-05-20',
 '340412021-04-14',
 '380152021-09-05',
 '470272020-12-26',
 'UNK2021-07-13',
 '120832021-05-01',
 '320172021-01-16',
 '720632021-03-07',
 '470952021-01-11',
 '10552021-08-02',
 '40192021-06-29',
 '470892021-07-17',
 '551232021-04-25',
 '280792021-04-27',
 '180232021-10-13',
 '551112021-08-17',
 '421332021-04-05',
 '371032021-02-23',
 '450112021-04-25',
 '515202021-03-11',
 '60712021-05-27',
 '560352021-03-16',
 '291772021-03-09',
 '211092021-06-25',
 '132012021-05-02',
 '390412020-09-18',
 '371452021-10-09',
 '483332021-03-24',
 '281052021-08-17',
 '280192021-01-16',
 '40152021-02-24',
 '11212021-03-04',
 '450812021-08-06',
 '291772021-09-01',
 '261432021-03-26',
 '10052021-01-07',
 '311032021-04-12',
 '10452021-04-17',
 '271252021-03-30',
 '530312021-07-07',
 '450112021-10-02',
 '50512020-12-16',
 '210012021-11-02',
 '80632021-06-26',
 '370332021-01-13',
 '51332021-08-14',
 '370292021-04-11',
 '181652020-10-23',
 '20162021-11-03',
 '200172021-08-08',
 '470452021-07-11',
 '420052021-04-28',
 '210112021-04-22',
 '350352021-03-09',
 '460852021-01-11',
 '201352021-08-16',
 '311632021-10-12',
 '300292021-01-27',
 '180072021-08-31',
 '480892021-02-27',
 '10032021-05-18',
 '721252021-09-09',
 '470332021-02-28',
 '485032021-01-11',
 '390312020-10-09',
 '483652021-05-24',
 '201552021-08-08',
 '550532021-02-07',
 '130372021-05-04',
 '310192021-09-09',
 '180232021-08-03',
 '518302021-10-28',
 '310612021-10-13',
 '470492021-09-05',
 '311212021-02-27',
 '133012021-01-17',
 '250112020-12-17',
 '471252021-10-19',
 '170952020-10-02',
 '132212021-03-16',
 '270572021-09-01',
 '500132021-07-08',
 '350012020-08-28',
 '482052021-06-25',
 '200592021-07-03',
 '120052021-11-04',
 '60632021-03-03',
 '484752021-04-20',
 '260072021-08-18',
 '490032021-09-08',
 '180552020-10-09',
 '260912021-03-29',
 '280812021-08-30',
 '311652021-10-08',
 '300772021-06-02',
 '121012020-10-09',
 '100012021-01-02',
 '371072021-09-12',
 '390052021-03-08',
 '170892021-09-19',
 '361152021-09-16',
 '370512021-10-31',
 '390272021-10-07',
 '170292021-05-17',
 '550032021-03-27',
 '480312021-01-01',
 '421032021-07-14',
 '133152021-08-24',
 '211472021-04-26',
 '551072021-06-01',
 '484832021-10-24',
 '511772021-03-11',
 '132732021-08-22',
 '132432021-07-03',
 '171112021-01-10',
 '160112021-05-02',
 '311192021-04-08',
 '550872021-04-20',
 '517302021-02-23',
 '170192021-03-08',
 '720072021-09-23',
 '261072021-06-23',
 '50872021-01-14',
 '371952021-01-28',
 '450172021-05-07',
 '80112021-02-13',
 '191192021-02-27',
 '230012021-01-03',
 '130292021-10-25',
 '391552021-10-13',
 '380672020-09-25',
 '320332021-02-14',
 '295102021-03-07',
 '20682021-06-10',
 '530472021-11-04',
 '511392021-07-18',
 '261112021-03-08',
 '80812021-03-24',
 '540852021-05-31',
 '530552020-12-17',
 '550132021-09-27',
 '460992021-06-24',
 '210592021-03-16',
 '240452021-08-25',
 '281392021-07-10',
 '181432021-07-01',
 '484992021-02-06',
 '490212021-08-30',
 '311392021-03-22',
 '480892021-02-23',
 '200012021-01-27',
 '10072021-07-20',
 '291732021-10-13',
 '471292021-05-31',
 '280212021-05-05',
 '530592021-01-27',
 '131572020-12-13',
 '291112021-10-20',
 '470312021-07-14',
 '211672021-05-12',
 '511192021-02-07',
 '511072021-01-19',
 '310212021-09-04',
 '130952021-03-14',
 '271052021-03-23',
 '270412021-02-18',
 '484812021-04-26',
 '320332021-02-21',
 '360932021-07-22',
 '530292021-02-20',
 '291272021-01-31',
 '171312021-03-16',
 ...]

In [48]:
vax_data_df = vax_data_df[~vax_data_df['fips_date'].isin(remove_list_dates)]
vax_data_df

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
49245,2021-10-22,16011,38.0,17795,17728,54.4,5292,78.0,97.6,42.6,60.8,83.3,160112021-10-22
49246,2021-10-22,48451,46.2,55067,52271,57.5,15433,82.9,99.1,52.1,64.7,89.3,484512021-10-22
49247,2021-10-22,48077,39.7,4162,4059,48.3,1756,70.7,99.1,43.4,52.6,74.0,480772021-10-22
49248,2021-10-22,51173,43.5,13103,12477,51.2,4617,67.9,83.0,50.1,58.9,76.2,511732021-10-22
49251,2021-10-22,47179,52.8,68276,65043,62.0,21163,87.2,97.9,59.1,69.1,94.3,471792021-10-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1063561,2020-12-18,42069,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,420692020-12-18
1063564,2020-12-18,48099,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,480992020-12-18
1063565,2020-12-18,13005,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,130052020-12-18
1063566,2020-12-18,18035,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,180352020-12-18
1063569,2020-12-18,48437,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,484372020-12-18

In [49]:
vax_data_df = vax_data_df.drop(['Date', 'FIPS'], axis=1)
vax_data_df

,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
49245,38.0,17795,17728,54.4,5292,78.0,97.6,42.6,60.8,83.3,160112021-10-22
49246,46.2,55067,52271,57.5,15433,82.9,99.1,52.1,64.7,89.3,484512021-10-22
49247,39.7,4162,4059,48.3,1756,70.7,99.1,43.4,52.6,74.0,480772021-10-22
49248,43.5,13103,12477,51.2,4617,67.9,83.0,50.1,58.9,76.2,511732021-10-22
49251,52.8,68276,65043,62.0,21163,87.2,97.9,59.1,69.1,94.3,471792021-10-22
...,...,...,...,...,...,...,...,...,...,...,...
1063561,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,420692020-12-18
1063564,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,480992020-12-18
1063565,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,130052020-12-18
1063566,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,180352020-12-18
1063569,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,484372020-12-18

In [50]:
vax_data_df.fillna(0)

,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
49245,38.0,17795,17728,54.4,5292,78.0,97.6,42.6,60.8,83.3,160112021-10-22
49246,46.2,55067,52271,57.5,15433,82.9,99.1,52.1,64.7,89.3,484512021-10-22
49247,39.7,4162,4059,48.3,1756,70.7,99.1,43.4,52.6,74.0,480772021-10-22
49248,43.5,13103,12477,51.2,4617,67.9,83.0,50.1,58.9,76.2,511732021-10-22
49251,52.8,68276,65043,62.0,21163,87.2,97.9,59.1,69.1,94.3,471792021-10-22
...,...,...,...,...,...,...,...,...,...,...,...
1063561,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,420692020-12-18
1063564,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,480992020-12-18
1063565,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,130052020-12-18
1063566,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,180352020-12-18
1063569,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,484372020-12-18

In [51]:
nyt_data_grouped = nyt_data_grouped[~nyt_data_grouped['fips_date'].isin(remove_list_dates)]
nyt_data_grouped

         fips collection_week  cases_to_date  deaths_to_date        fips_date
20       1001      2020-12-18          24040             296   10012020-12-18
21       1001      2020-12-25          26881             314   10012020-12-25
22       1001      2021-01-01          28791             333   10012021-01-01
23       1001      2021-01-08          31575             350   10012021-01-08
24       1001      2021-01-15          34774             382   10012021-01-15
...       ...             ...            ...             ...              ...
208912  78020      2021-09-24           2258              21  780202021-09-24
208913  78020      2021-10-01           2293              21  780202021-10-01
208914  78020      2021-10-08           2317              21  780202021-10-08
208915  78020      2021-10-15           2317              21  780202021-10-15
208916  78020      2021-10-22           2322              21  780202021-10-22

[110342 rows x 5 columns]

In [52]:
nyt_data_grouped = nyt_data_grouped.drop(['collection_week', 'fips'], axis=1)
nyt_data_grouped

        cases_to_date  deaths_to_date        fips_date
20              24040             296   10012020-12-18
21              26881             314   10012020-12-25
22              28791             333   10012021-01-01
23              31575             350   10012021-01-08
24              34774             382   10012021-01-15
...               ...             ...              ...
208912           2258              21  780202021-09-24
208913           2293              21  780202021-10-01
208914           2317              21  780202021-10-08
208915           2317              21  780202021-10-15
208916           2322              21  780202021-10-22

[110342 rows x 3 columns]

In [53]:
hospital_data_df = hospital_data_df[~hospital_data_df['fips_date'].isin(remove_list_dates)]
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
20,1001,2020-12-18,581,581,462,425,425,220,209,0,0,462,42,42,39,39,27,27,10012020-12-18
21,1001,2020-12-25,581,581,462,445,445,286,281,0,0,462,42,42,42,42,27,27,10012020-12-25
22,1001,2021-01-01,581,581,462,454,454,282,272,0,0,462,42,42,42,42,29,29,10012021-01-01
23,1001,2021-01-08,602,602,462,431,431,291,283,0,0,462,42,42,42,42,38,35,10012021-01-08
24,1001,2021-01-15,602,602,462,423,423,250,247,0,0,462,42,42,42,42,39,39,10012021-01-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924,868,728,410,389,20,20,0,0,784,56,56,29,29,7,7,780202021-09-24
159867,78020,2021-10-01,924,868,728,362,340,12,12,0,0,784,56,56,43,43,7,7,780202021-10-01
159868,78020,2021-10-08,924,868,728,412,381,12,12,0,0,784,56,56,48,48,7,7,780202021-10-08
159869,78020,2021-10-15,924,868,728,402,365,7,7,0,0,784,56,56,40,40,7,7,780202021-10-15
159870,78020,2021-10-22,924,868,728,381,356,0,0,0,0,784,56,56,36,36,0,0,780202021-10-22

Connection String

In [54]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/COVID_Risk_Analysis"

In [55]:
engine = create_engine(db_string)

In [56]:
nyt_data_grouped.to_sql(name='counties', con=engine)

In [57]:
hospital_data_df.to_sql(name='hospitals', con=engine)

In [58]:
vax_data_df.to_sql(name='vaccinations', con=engine)