In [50]:
# Import the requests library.
import requests
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time

In [51]:
# Read NYT data into dataframe
nyt_data = pd.DataFrame(pd.read_csv('us-counties.csv'))
nyt_data

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
1891340  2021-11-06  Sweetwater     Wyoming  56037.0   7695    91.0
1891341  2021-11-06       Teton     Wyoming  56039.0   5243    14.0
1891342  2021-11-06       Uinta     Wyoming  56041.0   3901    27.0
1891343  2021-11-06    Washakie     Wyoming  56043.0   1780    35.0
1891344  2021-11-06      Weston     Wyoming  56045.0   1154     9.0

[1891345 rows x 6 columns]

In [52]:
# Convert the date column in the NYT data to a datetime object using pd.to_datetime
nyt_data['date'] = pd.to_datetime(nyt_data['date'])
nyt_data.head()

        date     county       state     fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061.0      1     0.0
1 2020-01-22  Snohomish  Washington  53061.0      1     0.0
2 2020-01-23  Snohomish  Washington  53061.0      1     0.0
3 2020-01-24       Cook    Illinois  17031.0      1     0.0
4 2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [53]:
# 1. Remove the data for dates before 7-31-20 and after 10-22-21
# 2. Bin the date column by weeks ending every friday
# 3. Sum the cases and deaths columns for each week binned

# Step 1:
nyt_data_filtered = nyt_data[nyt_data['date'] >= '2020-07-25']
nyt_data_filtered = nyt_data_filtered[nyt_data_filtered['date'] <= '2021-10-22']
nyt_data_filtered

              date      county    state     fips  cases  deaths
366652  2020-07-25     Autauga  Alabama   1001.0    932    21.0
366653  2020-07-25     Baldwin  Alabama   1003.0   2662    18.0
366654  2020-07-25     Barbour  Alabama   1005.0    552     4.0
366655  2020-07-25        Bibb  Alabama   1007.0    318     2.0
366656  2020-07-25      Blount  Alabama   1009.0    637     1.0
...            ...         ...      ...      ...    ...     ...
1842600 2021-10-22  Sweetwater  Wyoming  56037.0   7414    79.0
1842601 2021-10-22       Teton  Wyoming  56039.0   5119    14.0
1842602 2021-10-22       Uinta  Wyoming  56041.0   3781    26.0
1842603 2021-10-22    Washakie  Wyoming  56043.0   1676    33.0
1842604 2021-10-22      Weston  Wyoming  56045.0   1027     9.0

[1475953 rows x 6 columns]

In [54]:
# Step 2:
# Step 3:

nyt_data_grouped = nyt_data_filtered.groupby(['fips', pd.Grouper(key='date', freq='W-FRI')]).agg({'cases':'sum','deaths':'sum'}).reset_index()
nyt_data_grouped

           fips       date  cases  deaths
0        1001.0 2020-07-31   6817   147.0
1        1001.0 2020-08-07   7503   150.0
2        1001.0 2020-08-14   8531   158.0
3        1001.0 2020-08-21   9009   161.0
4        1001.0 2020-08-28   9484   161.0
...         ...        ...    ...     ...
208977  78030.0 2021-09-24  24720   297.0
208978  78030.0 2021-10-01  24982   304.0
208979  78030.0 2021-10-08  25204   308.0
208980  78030.0 2021-10-15  25290   311.0
208981  78030.0 2021-10-22  25435   315.0

[208982 rows x 4 columns]

In [55]:
# Set each column to a string value so we can concatonate them together 
nyt_data_grouped['fips'] = nyt_data_grouped['fips'].astype('str')
nyt_data_grouped['date'] = nyt_data_grouped['date'].astype('str')
nyt_data_grouped['fips'].dtype

dtype('O')

In [56]:
# Concatonate the date column and the fips column to create fips_date
nyt_data_grouped['fips_date'] = nyt_data_grouped['fips'] + nyt_data_grouped['date']
nyt_data_grouped

           fips        date  cases  deaths          fips_date
0        1001.0  2020-07-31   6817   147.0   1001.02020-07-31
1        1001.0  2020-08-07   7503   150.0   1001.02020-08-07
2        1001.0  2020-08-14   8531   158.0   1001.02020-08-14
3        1001.0  2020-08-21   9009   161.0   1001.02020-08-21
4        1001.0  2020-08-28   9484   161.0   1001.02020-08-28
...         ...         ...    ...     ...                ...
208977  78030.0  2021-09-24  24720   297.0  78030.02021-09-24
208978  78030.0  2021-10-01  24982   304.0  78030.02021-10-01
208979  78030.0  2021-10-08  25204   308.0  78030.02021-10-08
208980  78030.0  2021-10-15  25290   311.0  78030.02021-10-15
208981  78030.0  2021-10-22  25435   315.0  78030.02021-10-22

[208982 rows x 5 columns]

In [57]:
# Read Hospital data (healthdata.gov) into dataframe
hospital_data_df = pd.DataFrame(pd.read_csv('COVID-19_Reported_Patient_Impact_and_Hospital_Capacity_by_Facility.csv'))

In [58]:
hospital_data_df

,hospital_pk,collection_week,state,ccn,hospital_name,address,city,zip,hospital_subtype,fips_code,...,previous_day_admission_pediatric_covid_confirmed_7_day_coverage,previous_day_admission_adult_covid_suspected_7_day_coverage,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected
0,140158,2021/10/15,IL,140158,INSIGHT HOSPITAL AND MEDICAL CENTER CHICAGO,2525 S MICHIGAN AVE,CHICAGO,60616.0,Short Term,17031.0,...,7,7,7,0.0,NaN,NaN,NaN,0.0,NaN,False
1,450162,2021/10/15,TX,450162,GRACE SURGICAL HOSPITAL,2412 50TH ST,LUBBOCK,79412.0,Short Term,48303.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
2,451318,2021/10/15,TX,451318,STONEWALL MEMORIAL HOSPITAL DISTRICT,821 NORTH BROADWAY,ASPERMONT,79502.0,Critical Access Hospitals,48433.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
3,050769,2021/10/08,CA,050769,HOAG ORTHOPEDIC INSTITUTE,16250 SAND CANYON AVENUE,IRVINE,92618.0,Short Term,6059.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
4,291500,2021/10/08,NV,291500,NATHAN ADELSON HOSPICE,4141 UNIVERSITY CENTER DR,LAS VEGAS,89119.0,Short Term,32003.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324743,100291,2020/08/07,FL,100291,STEWARD REGIONAL MEDICAL CENTER,250 NORTH WICKHAM ROAD,MELBOURNE,32935.0,Short Term,12009.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
324744,250096,2020/07/31,MS,250096,MERIT HEALTH RANKIN,350 CROSSGATES BLVD,BRANDON,39042.0,Short Term,28121.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
324745,241345,2020/07/31,MN,241345,MAYO CLINIC HEALTH SYSTEM-WASECA,501 NORTH STATE STREET,WASECA,56093.0,Critical Access Hospitals,27161.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
324746,271311,2020/08/07,MT,271311,BIG SANDY MEDICAL CENTER,166 MONTANA AVE E,BIG SANDY,59520.0,Critical Access Hospitals,30015.0,...,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,False
324747,110045,2020/07/31,GA,110045,NORTHEAST GEORGIA MEDICAL CENTER BARROW,316 NORTH BROAD STREET,WINDER,30680.0,Short Term,13013.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [59]:
# Create list of columns that have string or floating point decimal data types
drop_list_hospitals = ['hospital_pk', 'state', 'ccn', 'hospital_name', 'address', 'city', 'zip', 'hospital_subtype', 
                       'is_metro_micro', 'total_beds_7_day_avg', 'all_adult_hospital_beds_7_day_avg', 
                       'all_adult_hospital_inpatient_beds_7_day_avg', 'inpatient_beds_used_7_day_avg', 
                       'all_adult_hospital_inpatient_bed_occupied_7_day_avg', 
                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_avg', 
                       'total_adult_patients_hospitalized_confirmed_covid_7_day_avg', 
                       'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_avg', 
                       'total_pediatric_patients_hospitalized_confirmed_covid_7_day_avg', 'inpatient_beds_7_day_avg', 
                       'total_icu_beds_7_day_avg', 'total_staffed_adult_icu_beds_7_day_avg', 'icu_beds_used_7_day_avg', 
                       'staffed_adult_icu_bed_occupancy_7_day_avg', 
                       'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_avg', 
                       'staffed_icu_adult_patients_confirmed_covid_7_day_avg', 
                       'total_patients_hospitalized_confirmed_influenza_7_day_avg', 
                       'icu_patients_confirmed_influenza_7_day_avg', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_avg', 
                       'all_adult_hospital_inpatient_beds_7_day_coverage', 
                       'inpatient_beds_used_7_day_coverage', 'all_adult_hospital_inpatient_bed_occupied_7_day_coverage', 
                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_coverage', 
                       'total_adult_patients_hospitalized_confirmed_covid_7_day_coverage', 
                       'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_coverage', 
                       'total_pediatric_patients_hospitalized_confirmed_covid_7_day_coverage', 
                       'inpatient_beds_7_day_coverage', 'total_icu_beds_7_day_coverage', 
                       'total_staffed_adult_icu_beds_7_day_coverage', 'icu_beds_used_7_day_coverage', 
                       'staffed_adult_icu_bed_occupancy_7_day_coverage', 
                       'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_coverage', 
                       'staffed_icu_adult_patients_confirmed_covid_7_day_coverage', 
                       'total_patients_hospitalized_confirmed_influenza_7_day_coverage', 
                       'icu_patients_confirmed_influenza_7_day_coverage', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_coverage', 
                       'previous_day_admission_adult_covid_confirmed_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_18-19_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_20-29_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_30-39_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_40-49_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_50-59_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_60-69_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_70-79_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_80+_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_unknown_7_day_sum', 
                       'previous_day_admission_pediatric_covid_confirmed_7_day_sum', 
                       'previous_day_covid_ED_visits_7_day_sum', 'previous_day_admission_adult_covid_suspected_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_18-19_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_20-29_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_30-39_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_40-49_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_50-59_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_60-69_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_70-79_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_80+_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_unknown_7_day_sum', 
                       'previous_day_admission_pediatric_covid_suspected_7_day_sum', 
                       'previous_day_total_ED_visits_7_day_sum', 'previous_day_admission_influenza_confirmed_7_day_sum', 
                       'geocoded_hospital_address', 'hhs_ids', 
                       'previous_day_admission_adult_covid_confirmed_7_day_coverage', 
                       'previous_day_admission_pediatric_covid_confirmed_7_day_coverage', 
                       'previous_day_admission_adult_covid_suspected_7_day_coverage', 
                       'previous_day_admission_pediatric_covid_suspected_7_day_coverage', 
                       'previous_week_personnel_covid_vaccinated_doses_administered_7_day', 
                       'total_personnel_covid_vaccinated_doses_none_7_day', 
                       'total_personnel_covid_vaccinated_doses_one_7_day', 
                       'total_personnel_covid_vaccinated_doses_all_7_day', 
                       'previous_week_patients_covid_vaccinated_doses_one_7_day', 
                       'previous_week_patients_covid_vaccinated_doses_all_7_day', 'is_corrected', 
                       'total_beds_7_day_coverage', 'all_adult_hospital_beds_7_day_coverage',
                       'total_patients_hospitalized_confirmed_influenza_7_day_sum', 
                       'icu_patients_confirmed_influenza_7_day_sum', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_sum'
]

In [60]:
# Remove drop_list columns from df
hospital_data_df.drop(drop_list_hospitals, axis=1, inplace=True)
hospital_data_df.head()

,collection_week,fips_code,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,2021/10/15,17031.0,350.0,350.0,252.0,160.0,160.0,7.0,7.0,0.0,0.0,252.0,28.0,28.0,16.0,16.0,7.0,7.0
1,2021/10/15,48303.0,268.0,268.0,261.0,34.0,34.0,0.0,0.0,0.0,0.0,261.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2021/10/15,48433.0,77.0,77.0,63.0,0.0,0.0,0.0,0.0,0.0,0.0,63.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2021/10/08,6059.0,245.0,245.0,133.0,126.0,126.0,0.0,0.0,0.0,0.0,133.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2021/10/08,32003.0,266.0,266.0,266.0,191.0,191.0,11.0,11.0,0.0,0.0,266.0,0.0,0.0,0.0,0.0,0.0,0.0

In [61]:
# Convert the date column in the hospital data to a datetime object using pd.to_datetime
hospital_data_df['collection_week'] = pd.to_datetime(hospital_data_df['collection_week'])
# Check to verify the date is now a datetime object
hospital_data_df.dtypes

collection_week                                                                  datetime64[ns]
fips_code                                                                               float64
total_beds_7_day_sum                                                                    float64
all_adult_hospital_beds_7_day_sum                                                       float64
all_adult_hospital_inpatient_beds_7_day_sum                                             float64
inpatient_beds_used_7_day_sum                                                           float64
all_adult_hospital_inpatient_bed_occupied_7_day_sum                                     float64
total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum               float64
total_adult_patients_hospitalized_confirmed_covid_7_day_sum                             float64
total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum           float64
total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum                         float64
inpatient_beds_7_day_sum                                                                float64
total_icu_beds_7_day_sum                                                                float64
total_staffed_adult_icu_beds_7_day_sum                                                  float64
icu_beds_used_7_day_sum                                                                 float64
staffed_adult_icu_bed_occupancy_7_day_sum                                               float64
staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum                      float64
staffed_icu_adult_patients_confirmed_covid_7_day_sum                                    float64
dtype: object

In [62]:
# Sort the hospital data by date
hospital_data_df = hospital_data_df.sort_values(by='collection_week')
hospital_data_df

# The hospital data is binned by collection week ending on every friday

,collection_week,fips_code,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
324747,2020-07-31,13013.0,266.0,NaN,NaN,199.0,NaN,0.0,NaN,-999999.0,NaN,266.0,0.0,NaN,0.0,NaN,NaN,NaN
319353,2020-07-31,12099.0,3332.0,2710.0,2710.0,1873.0,1859.0,266.0,266.0,0.0,0.0,3206.0,287.0,287.0,178.0,178.0,41.0,41.0
319356,2020-07-31,19049.0,102.0,126.0,84.0,-999999.0,9.0,4.0,-999999.0,0.0,0.0,84.0,0.0,0.0,0.0,0.0,0.0,0.0
319357,2020-07-31,6037.0,824.0,404.0,341.0,296.0,296.0,5.0,0.0,0.0,0.0,341.0,20.0,20.0,18.0,18.0,0.0,0.0
319358,2020-07-31,39095.0,1476.0,NaN,NaN,716.0,NaN,52.0,52.0,0.0,0.0,1446.0,132.0,NaN,94.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4644,2021-10-22,21231.0,175.0,79.0,100.0,79.0,79.0,-999999.0,-999999.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0
4645,2021-10-22,21111.0,12047.0,7935.0,6736.0,7319.0,6245.0,1071.0,422.0,257.0,42.0,7897.0,1091.0,804.0,695.0,695.0,185.0,107.0
9753,2021-10-22,48303.0,965.0,358.0,274.0,714.0,241.0,7.0,7.0,14.0,14.0,881.0,164.0,26.0,79.0,7.0,-999999.0,-999999.0
9755,2021-10-22,5009.0,623.0,560.0,364.0,240.0,227.0,6.0,6.0,0.0,0.0,448.0,84.0,84.0,26.0,26.0,5.0,5.0
11081,2021-10-22,18171.0,119.0,119.0,119.0,46.0,46.0,-999999.0,-999999.0,0.0,0.0,119.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
# Group and sort hospital_data_df by fips_code
hospital_data_df = hospital_data_df.groupby(['fips_code', pd.Grouper(key='collection_week', freq='W-FRI')]).agg({'total_beds_7_day_sum':'sum','all_adult_hospital_beds_7_day_sum':'sum', 'all_adult_hospital_inpatient_beds_7_day_sum':'sum', 'inpatient_beds_used_7_day_sum':'sum', 'all_adult_hospital_inpatient_bed_occupied_7_day_sum':'sum', 
                                                                                                                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 'total_adult_patients_hospitalized_confirmed_covid_7_day_sum': 'sum', 'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 'total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum':'sum', 'inpatient_beds_7_day_sum':'sum', 'total_icu_beds_7_day_sum':'sum', 
                                                                                                                       'total_staffed_adult_icu_beds_7_day_sum':'sum', 'icu_beds_used_7_day_sum':'sum', 'staffed_adult_icu_bed_occupancy_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_covid_7_day_sum':'sum'}).reset_index()
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,1001.0,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0
1,1001.0,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0
2,1001.0,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0
3,1001.0,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0
4,1001.0,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0
159867,78020.0,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0
159868,78020.0,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0
159869,78020.0,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0
159870,78020.0,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0

In [64]:
# Convert the hospital date and fips_code column to strings
hospital_data_df['collection_week'] = hospital_data_df['collection_week'].astype('str')
hospital_data_df['fips_code'] = hospital_data_df['fips_code'].astype('str')

In [65]:
# Concat the date and fips_code for new columns fips_date
hospital_data_df['fips_date'] = hospital_data_df['fips_code'] + hospital_data_df['collection_week']
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001.0,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,1001.02020-07-31
1,1001.0,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,1001.02020-08-07
2,1001.0,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,1001.02020-08-14
3,1001.0,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,1001.02020-08-21
4,1001.0,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,1001.02020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,78020.02021-09-24
159867,78020.0,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,78020.02021-10-01
159868,78020.0,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,78020.02021-10-08
159869,78020.0,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,78020.02021-10-15
159870,78020.0,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0,78020.02021-10-22

In [66]:
hospital_data_df.dtypes

fips_code                                                                         object
collection_week                                                                   object
total_beds_7_day_sum                                                             float64
all_adult_hospital_beds_7_day_sum                                                float64
all_adult_hospital_inpatient_beds_7_day_sum                                      float64
inpatient_beds_used_7_day_sum                                                    float64
all_adult_hospital_inpatient_bed_occupied_7_day_sum                              float64
total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum        float64
total_adult_patients_hospitalized_confirmed_covid_7_day_sum                      float64
total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum    float64
total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum                  float64
inpatient_beds_7_day_sum                                                         float64
total_icu_beds_7_day_sum                                                         float64
total_staffed_adult_icu_beds_7_day_sum                                           float64
icu_beds_used_7_day_sum                                                          float64
staffed_adult_icu_bed_occupancy_7_day_sum                                        float64
staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum               float64
staffed_icu_adult_patients_confirmed_covid_7_day_sum                             float64
fips_date                                                                         object
dtype: object

In [67]:
# Convert all negative values to 0
num = hospital_data_df._get_numeric_data()
num[num < 0] = 0

In [68]:
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001.0,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,1001.02020-07-31
1,1001.0,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,1001.02020-08-07
2,1001.0,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,1001.02020-08-14
3,1001.0,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,1001.02020-08-21
4,1001.0,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,1001.02020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,78020.02021-09-24
159867,78020.0,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,78020.02021-10-01
159868,78020.0,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,78020.02021-10-08
159869,78020.0,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,78020.02021-10-15
159870,78020.0,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,78020.02021-10-22

In [69]:
# Create a new df to groupby the new fips_date column so each row is unique
hospital_data_df2 = hospital_data_df.groupby(['fips_date']).agg({'total_beds_7_day_sum':'sum', 
                                                                 'all_adult_hospital_beds_7_day_sum':'sum', 
                                                                 'all_adult_hospital_inpatient_beds_7_day_sum':'sum', 
                                                                 'inpatient_beds_used_7_day_sum':'sum', 
                                                                 'all_adult_hospital_inpatient_bed_occupied_7_day_sum':'sum',
                                                                 'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 
                                                                 'total_adult_patients_hospitalized_confirmed_covid_7_day_sum': 'sum', 
                                                                 'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 
                                                                 'total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum':'sum', 
                                                                 'inpatient_beds_7_day_sum':'sum', 'total_icu_beds_7_day_sum':'sum', 
                                                                 'total_staffed_adult_icu_beds_7_day_sum':'sum', 'icu_beds_used_7_day_sum':'sum', 
                                                                 'staffed_adult_icu_bed_occupancy_7_day_sum':'sum', 
                                                                 'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum':'sum', 
                                                                 'staffed_icu_adult_patients_confirmed_covid_7_day_sum':'sum'}).reset_index()
hospital_data_df2

,fips_date,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,10001.02020-07-31,2100.0,1939.0,1688.0,1713.0,1558.0,152.0,84.0,0.0,0.0,1876.0,322.0,203.0,266.0,189.0,28.0,28.0
1,10001.02020-08-07,2100.0,1939.0,1694.0,1672.0,1548.0,112.0,71.0,0.0,0.0,1876.0,322.0,203.0,273.0,188.0,22.0,22.0
2,10001.02020-08-14,2100.0,1939.0,1210.0,1141.0,1028.0,132.0,55.0,0.0,0.0,1340.0,198.0,134.0,183.0,128.0,29.0,29.0
3,10001.02020-08-21,2100.0,1939.0,1729.0,1650.0,1502.0,93.0,57.0,0.0,0.0,1908.0,285.0,193.0,245.0,171.0,23.0,23.0
4,10001.02020-08-28,2100.0,1939.0,1939.0,1730.0,1624.0,65.0,49.0,0.0,0.0,2100.0,315.0,203.0,251.0,182.0,19.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,9015.02021-09-24,951.0,937.0,783.0,565.0,565.0,56.0,42.0,0.0,0.0,783.0,119.0,119.0,34.0,34.0,14.0,10.0
159867,9015.02021-10-01,956.0,942.0,788.0,530.0,530.0,61.0,57.0,0.0,0.0,788.0,119.0,119.0,32.0,32.0,15.0,14.0
159868,9015.02021-10-08,956.0,942.0,788.0,557.0,557.0,87.0,85.0,0.0,0.0,788.0,119.0,119.0,32.0,32.0,20.0,20.0
159869,9015.02021-10-15,955.0,941.0,787.0,521.0,521.0,76.0,74.0,0.0,0.0,787.0,119.0,119.0,26.0,26.0,19.0,19.0
159870,9015.02021-10-22,952.0,938.0,784.0,550.0,550.0,84.0,75.0,0.0,0.0,784.0,119.0,119.0,32.0,32.0,29.0,28.0

In [70]:
f = hospital_data_df['fips_date'].unique()

In [71]:
x = nyt_data_grouped['fips_date'].unique()

In [72]:
# Create list of fips_date values that only appear in one data set

remove_list = list(set(x).symmetric_difference(set(f)))
remove_list

['13011.02021-04-16',
 '29103.02021-04-16',
 '21201.02021-07-16',
 '2998.02021-07-09',
 '48327.02021-04-02',
 '29151.02020-11-20',
 '38081.02020-07-31',
 '17035.02020-12-25',
 '21109.02021-04-23',
 '48259.02020-11-06',
 '18101.02021-04-23',
 '72123.02020-10-30',
 '27125.02020-10-09',
 '4011.02021-07-16',
 '72111.02020-12-25',
 '38085.02021-01-29',
 '2050.02021-01-29',
 '47023.02020-10-16',
 '47075.02021-02-26',
 '47095.02021-04-30',
 '72083.02021-01-08',
 '13259.02021-07-23',
 '20139.02020-08-07',
 '21043.02021-10-08',
 '38033.02021-09-10',
 '42097.02020-11-06',
 '72049.02020-10-23',
 '28027.02021-03-12',
 '48467.02021-03-12',
 '40141.02021-09-17',
 '13307.02021-10-22',
 '12129.02020-10-30',
 '12077.02020-11-20',
 '13319.02021-03-12',
 '45069.02020-10-23',
 '50013.02020-10-23',
 '13049.02020-12-25',
 '54031.02021-01-22',
 '12129.02021-04-23',
 '28005.02021-01-01',
 '2997.02020-09-18',
 '38013.02020-09-04',
 '13177.02021-07-23',
 '46075.02021-09-03',
 '72135.02021-08-27',
 '28015.02020-08-07',
 '5089.02021-08-13',
 '46137.02020-10-09',
 '36035.02021-05-21',
 '21129.02020-10-23',
 '41009.02021-02-05',
 '48105.02020-09-18',
 '18015.02021-02-26',
 '29227.02021-05-28',
 '13249.02021-02-12',
 '22043.02020-08-28',
 '30037.02021-09-24',
 '26109.02021-08-27',
 '51049.02021-05-07',
 '72015.02020-08-14',
 '17155.02020-12-11',
 '51135.02021-09-03',
 '51137.02021-04-16',
 '13243.02021-05-07',
 '47135.02021-03-26',
 '51199.02020-08-21',
 '51115.02021-01-22',
 '37177.02020-10-02',
 '51065.02021-07-02',
 '36005.02021-03-05',
 '13319.02020-11-20',
 '48395.02021-06-25',
 '16037.02021-09-03',
 '27125.02020-10-02',
 '54063.02021-02-12',
 '51193.02021-02-26',
 '5099.02021-08-20',
 '2280.02020-08-28',
 '17047.02021-01-22',
 '12029.02021-04-30',
 '47033.02021-08-20',
 '37033.02021-08-13',
 '51735.02021-02-19',
 '72151.02021-06-18',
 '36039.02021-06-11',
 '46031.02021-01-01',
 '48467.02021-10-01',
 '12029.02020-08-21',
 '21181.02021-01-29',
 '32029.02021-01-01',
 '2013.02021-10-01',
 '72049.02020-12-18',
 '24039.02020-08-28',
 '21147.02021-01-01',
 '20139.02021-08-13',
 '35061.02021-08-27',
 '5067.02020-12-25',
 '54085.02021-06-11',
 '30037.02020-11-27',
 '1037.02020-11-06',
 '31005.02020-11-06',
 '17071.02020-12-18',
 '20139.02020-11-20',
 '18015.02020-11-20',
 '29085.02020-08-28',
 '21061.02021-10-08',
 '1075.02020-12-25',
 '15005.02021-04-23',
 '48343.02021-10-08',
 '72133.02021-05-07',
 '20197.02021-05-14',
 '54105.02021-06-11',
 '29041.02021-08-13',
 '18121.02021-05-28',
 '31035.02020-08-14',
 '37043.02020-12-11',
 '51137.02020-10-09',
 '20199.02020-10-16',
 '6091.02020-10-30',
 '48297.02021-03-05',
 '37073.02021-04-09',
 '47049.02020-08-21',
 '51089.02021-04-16',
 '2158.02021-08-20',
 '69110.02021-02-05',
 '46097.02021-07-02',
 '37103.02020-09-11',
 '47087.02020-08-28',
 '47175.02020-10-23',
 '30109.02020-08-28',
 '48343.02020-12-18',
 '12047.02021-02-12',
 '51097.02021-09-17',
 '21201.02021-01-08',
 '29103.02021-04-23',
 '18047.02021-04-02',
 '46071.02021-09-10',
 '13319.02021-02-12',
 '48315.02021-05-07',
 '20049.02021-01-01',
 '51077.02020-07-31',
 '13289.02020-10-16',
 '38025.02021-01-22',
 '21235.02021-01-29',
 '2185.02020-08-07',
 '51023.02021-06-25',
 '2220.02021-04-23',
 '8109.02020-09-25',
 '21079.02020-12-25',
 '17171.02021-07-23',
 '22047.02020-11-06',
 '38013.02021-02-26',
 '13209.02020-09-25',
 '26085.02020-09-25',
 '31165.02020-09-11',
 '32011.02020-12-18',
 '48081.02021-09-17',
 '29181.02021-01-15',
 '28119.02021-09-03',
 '26031.02021-09-10',
 '42053.02021-05-07',
 '46087.02021-08-06',
 '51530.02020-09-18',
 '5129.02021-05-07',
 '29041.02020-11-20',
 '18111.02021-02-12',
 '38027.02021-04-09',
 '69110.02021-01-15',
 '37033.02021-10-08',
 '72055.02021-01-29',
 '2290.02020-12-25',
 '51159.02020-08-28',
 '2013.02021-03-26',
 '47127.02021-03-26',
 '16037.02020-12-18',
 '69000.02020-10-02',
 '47161.02021-06-11',
 '38007.02021-07-23',
 '51065.02021-01-08',
 '47173.02021-07-09',
 '21147.02020-11-06',
 '54109.02020-10-23',
 '51169.02020-09-04',
 '72067.02021-04-30',
 '5073.02021-07-09',
 '8027.02021-04-16',
 '20069.02020-09-11',
 '48007.02020-09-18',
 '54015.02021-01-22',
 '48459.02021-08-13',
 '35061.02021-02-26',
 '51145.02021-09-10',
 '55077.02021-04-02',
 '46097.02020-10-16',
 '55007.02021-08-06',
 '42053.02021-02-05',
 '16043.02021-03-19',
 '46057.02020-12-25',
 '51135.02020-09-25',
 '8109.02021-01-01',
 '48105.02021-07-23',
 '2013.02021-04-09',
 '8039.02021-07-23',
 '48129.02021-09-03',
 '47161.02021-04-30',
 '72049.02021-01-01',
 '48301.02021-10-08',
 '17133.02020-10-02',
 '72151.02021-04-23',
 '37073.02021-09-03',
 '72047.02021-01-15',
 '54017.02020-11-06',
 '38013.02021-08-27',
 '48269.02021-04-23',
 '2290.02020-07-31',
 '31171.02020-09-04',
 '17003.02021-04-23',
 '46017.02020-09-18',
 '36061.02021-09-10',
 '2220.02021-07-30',
 '48247.02020-12-25',
 '35033.02021-04-16',
 '36081.02020-10-30',
 '17079.02021-06-11',
 '18025.02021-07-30',
 '47161.02021-02-26',
 '29205.02020-08-21',
 '39137.02021-02-26',
 '22043.02020-10-23',
 '5111.02021-08-13',
 '19171.02021-08-20',
 '51735.02020-10-23',
 '13169.02020-08-28',
 '48067.02021-04-02',
 '21123.02020-12-11',
 '38065.02020-12-11',
 '27039.02020-09-18',
 '20207.02021-01-29',
 '46085.02021-08-06',
 '17007.02021-06-25',
 '50009.02020-10-09',
 '27045.02020-08-21',
 '1037.02021-06-04',
 '18121.02020-09-18',
 '2185.02021-03-05',
 '51101.02021-08-13',
 '51530.02021-09-10',
 '51690.02021-07-23',
 '29119.02020-08-21',
 '13301.02021-10-01',
 '38085.02021-10-15',
 '27039.02021-05-07',
 '48191.02021-10-15',
 '31005.02020-08-07',
 '48287.02021-01-08',
 '29137.02020-11-27',
 '16051.02021-02-05',
 '1087.02021-08-27',
 '47047.02020-11-27',
 '39019.02021-04-16',
 '36107.02021-09-17',
 '29139.02020-10-09',
 '48331.02020-10-16',
 '17013.02021-04-23',
 '26109.02021-04-02',
 '1105.02021-08-06',
 '29209.02021-09-10',
 '51820.02021-02-05',
 '47135.02021-04-23',
 '16073.02021-08-06',
 '5085.02020-11-20',
 '48159.02021-01-01',
 '29131.02021-08-06',
 '8057.02020-10-16',
 '38075.02021-06-04',
 '5077.02020-08-07',
 '51193.02020-08-14',
 '29103.02021-10-08',
 '47129.02021-06-25',
 '31171.02021-06-11',
 '22121.02020-12-25',
 '51520.02021-09-17',
 '51137.02021-04-09',
 '17175.02020-08-07',
 '48009.02020-12-25',
 '38083.02020-12-18',
 '26135.02020-12-18',
 '37131.02020-11-20',
 '29057.02021-03-26',
 '26085.02020-11-13',
 '38085.02021-01-15',
 '19195.02020-09-18',
 '51135.02020-12-11',
 '35033.02020-10-09',
 '36035.02021-07-23',
 '53069.02021-04-02',
 '48327.02021-04-09',
 '29227.02020-07-31',
 '2275.02021-03-19',
 '48009.02020-07-31',
 '19181.02020-08-28',
 '24011.02021-02-19',
 '47173.02021-04-30',
 '47139.02021-03-26',
 '48289.02020-12-25',
 '72117.02021-01-15',
 '13197.02021-03-26',
 '29069.02020-08-07',
 '21109.02021-04-09',
 '51063.02021-01-08',
 '5073.02020-11-06',
 '48459.02021-07-09',
 '13219.02021-02-12',
 '46017.02020-11-20',
 '2122.02021-05-07',
 '26109.02021-03-12',
 '72023.02020-08-21',
 '28143.02021-10-08',
 '29089.02021-07-16',
 '12041.02021-06-04',
 '54049.02021-04-23',
 '69110.02021-06-25',
 '21191.02021-09-17',
 '29085.02021-05-14',
 '5101.02021-08-06',
 '48409.02020-12-18',
 '51161.02021-03-19',
 '29225.02021-06-04',
 '31087.02020-10-16',
 '51089.02021-10-22',
 '18041.02020-09-25',
 '48345.02021-06-11',
 '31071.02021-04-30',
 '48203.02021-08-27',
 '48247.02021-02-12',
 '29125.02021-07-09',
 '72103.02020-11-06',
 '55041.02020-09-11',
 '12041.02021-06-25',
 '13011.02020-09-18',
 '48387.02020-09-04',
 '13319.02020-10-09',
 '2016.02021-03-05',
 '29173.02021-03-05',
 '18155.02021-03-26',
 '24019.02021-01-29',
 '35003.02021-10-15',
 '21215.02020-10-16',
 '5087.02021-03-12',
 '29025.02020-12-25',
 '18155.02021-05-14',
 '39121.02020-10-30',
 '72033.02020-08-21',
 '48455.02021-05-21',
 '51063.02020-09-04',
 '54031.02021-03-19',
 '8053.02021-04-09',
 '39105.02020-10-09',
 '51089.02020-09-04',
 '48011.02021-05-14',
 '2198.02021-02-26',
 '51025.02021-09-17',
 '72027.02021-01-15',
 '12041.02021-08-06',
 '29025.02020-11-20',
 '13315.02021-08-20',
 '51021.02021-02-12',
 '45011.02021-01-01',
 '51077.02021-07-30',
 '51720.02020-09-11',
 '38087.02021-07-16',
 '51049.02021-05-21',
 '72105.02021-04-16',
 '29219.02021-02-12',
 '40053.02020-10-02',
 '22037.02021-06-04',
 '54079.02021-06-11',
 '37185.02021-02-26',
 '8093.02021-05-14',
 '19115.02020-10-23',
 '37177.02021-04-02',
 '51685.02021-01-29',
 '54049.02021-09-10',
 '5085.02021-04-09',
 '17133.02021-01-22',
 '22047.02021-08-27',
 '51750.02021-09-17',
 '36061.02021-04-30',
 '5011.02020-08-14',
 '28015.02020-09-04',
 '48467.02021-03-19',
 '2070.02020-08-21',
 '48381.02021-09-10',
 '29203.02021-03-12',
 '38005.02021-07-23',
 '31075.02021-09-10',
 '72071.02020-08-07',
 '72131.02021-09-24',
 '54043.02020-09-25',
 '48331.02020-09-25',
 '41009.02021-04-09',
 '37053.02021-04-23',
 '12077.02021-10-22',
 '21089.02021-07-23',
 '21153.02020-11-13',
 '72151.02021-04-02',
 '31103.02020-10-16',
 '48059.02021-02-19',
 '20011.02021-01-01',
 '39121.02020-10-16',
 '30103.02020-12-25',
 '13181.02021-07-09',
 '47115.02021-02-26',
 '47023.02021-08-27',
 '47121.02021-06-25',
 '46119.02021-07-09',
 '26113.02021-03-12',
 '72007.02020-07-31',
 '72001.02021-01-01',
 '46025.02021-01-01',
 '8019.02021-05-21',
 '48289.02021-08-27',
 '51089.02021-07-02',
 '37095.02021-07-23',
 '53069.02020-07-31',
 '12041.02021-09-24',
 '5087.02021-02-26',
 '17123.02020-09-18',
 '72077.02021-06-04',
 '48131.02021-02-12',
 '13229.02021-04-23',
 '35061.02020-10-16',
 '46069.02020-12-25',
 '20017.02021-01-22',
 '48381.02020-08-21',
 '5135.02021-02-12',
 '29219.02020-09-18',
 '19173.02020-10-16',
 '72103.02021-05-07',
 '46095.02021-04-09',
 '47109.02020-12-04',
 '2260.02021-03-05',
 '38049.02021-02-05',
 '72107.02021-04-16',
 '72151.02020-07-31',
 '5089.02021-05-14',
 '13309.02021-06-25',
 '29207.02021-07-16',
 '13125.02021-01-22',
 '13249.02021-05-14',
 '72117.02021-04-30',
 '44001.02021-07-09',
 '37079.02021-08-06',
 '17047.02020-09-11',
 '72007.02021-06-11',
 '2290.02021-01-29',
 '48065.02020-08-07',
 '21153.02021-10-01',
 '49055.02021-04-09',
 '47061.02020-10-02',
 '48381.02021-08-13',
 '13311.02020-08-28',
 '50009.02020-11-13',
 '28101.02021-08-06',
 '29151.02021-05-28',
 '21235.02021-05-07',
 '39105.02020-08-07',
 '46137.02021-02-26',
 '17129.02021-07-09',
 '48431.02021-01-22',
 '40091.02021-09-24',
 '51105.02021-08-06',
 '48067.02021-05-21',
 '13231.02020-09-18',
 '66010.02021-05-21',
 '51091.02021-05-07',
 '31027.02020-09-11',
 '13221.02021-07-16',
 '37075.02021-07-16',
 '51119.02021-02-26',
 '51111.02020-11-06',
 '48301.02021-08-13',
 '51023.02021-04-16',
 '56035.02021-09-03',
 '17133.02020-08-21',
 '8053.02021-09-10',
 '47057.02021-04-09',
 '21011.02021-09-03',
 '38033.02020-11-27',
 '13157.02021-04-02',
 '13295.02021-01-01',
 '42053.02021-01-15',
 '29119.02021-08-06',
 '17079.02021-07-09',
 '72063.02021-02-05',
 '51157.02021-06-11',
 '1037.02021-06-18',
 '46071.02021-03-26',
 '12029.02021-02-05',
 '36099.02020-11-20',
 '72065.02020-09-04',
 '17139.02020-10-09',
 '13195.02020-08-14',
 '2261.02021-02-26',
 '39019.02021-06-04',
 '42109.02020-10-30',
 '13011.02021-09-17',
 '2122.02020-08-07',
 '49009.02021-05-07',
 '13093.02021-04-23',
 '51735.02020-11-06',
 '19195.02021-07-30',
 '13003.02021-04-09',
 '8033.02021-08-06',
 '2016.02021-02-05',
 '46017.02021-01-15',
 '72133.02021-08-27',
 '39135.02020-10-23',
 '45017.02021-04-30',
 '16063.02021-03-26',
 '18155.02020-08-28',
 '16037.02021-07-16',
 '72101.02021-04-16',
 '5147.02021-04-23',
 '46061.02021-03-05',
 '29145.02020-08-14',
 '1085.02021-09-10',
 '29041.02021-05-21',
 '72131.02021-05-07',
 '72119.02021-09-24',
 '13101.02021-08-13',
 '72107.02020-10-16',
 '29103.02021-04-09',
 '21043.02021-09-24',
 '5111.02020-10-23',
 '17079.02021-03-12',
 '26031.02020-09-25',
 '72137.02021-08-27',
 '13093.02021-06-11',
 '2290.02021-04-02',
 '39127.02021-04-09',
 '51131.02021-07-09',
 '1107.02021-06-18',
 '29069.02021-05-14',
 '36115.02021-06-11',
 '35061.02020-10-30',
 '2120.02021-05-14',
 '16015.02021-03-05',
 '46017.02021-07-16',
 '72019.02021-07-30',
 '39105.02021-05-14',
 '46102.02021-06-25',
 '17171.02021-05-21',
 '26089.02021-08-13',
 '72133.02021-10-15',
 '35003.02021-05-28',
 '48045.02021-09-03',
 '72089.02021-01-08',
 '35011.02021-06-25',
 '48295.02020-07-31',
 '41069.02021-09-24',
 '55077.02021-09-03',
 '54093.02020-11-27',
 '51600.02021-10-01',
 '47027.02021-01-08',
 '29119.02021-05-07',
 '72147.02021-07-23',
 '5105.02021-03-12',
 '37153.02021-03-05',
 '17009.02021-08-27',
 '12065.02021-04-02',
 '17155.02021-06-18',
 '21023.02021-08-13',
 '21007.02021-08-20',
 '21197.02021-10-22',
 '47075.02020-11-27',
 '48019.02021-03-12',
 '12121.02021-04-09',
 '48007.02020-12-25',
 '54105.02020-11-20',
 '24011.02021-05-07',
 '39105.02021-04-30',
 '8039.02021-09-17',
 '42023.02021-10-08',
 '48411.02020-10-02',
 '38091.02020-12-04',
 '72117.02020-09-04',
 '5105.02020-09-11',
 '47161.02020-11-27',
 '29119.02020-10-16',
 '47109.02020-10-30',
 '29041.02020-10-09',
 '54043.02021-02-26',
 '51113.02020-12-04',
 '48031.02021-01-22',
 '29227.02021-02-05',
 '72117.02021-08-27',
 '21063.02021-09-24',
 '21091.02021-04-23',
 '69000.02020-08-14',
 '22107.02021-07-02',
 '45061.02020-11-06',
 '51600.02021-02-12',
 '48507.02021-02-12',
 '46102.02021-07-23',
 '28055.02020-08-14',
 '21187.02021-04-02',
 '31117.02020-09-18',
 '72133.02020-12-25',
 '49031.02020-10-02',
 '21091.02020-10-23',
 '50013.02020-11-06',
 '20197.02021-04-02',
 '17013.02021-09-03',
 '34015.02021-06-18',
 '72063.02021-07-30',
 '13195.02021-04-09',
 '37053.02021-09-03',
 '13197.02021-09-24',
 '55078.02020-10-09',
 '78030.02021-05-07',
 '13061.02021-08-06',
 '13309.02020-07-31',
 '29149.02021-02-26',
 '27027.02020-07-31',
 '48505.02021-07-02',
 '27099.02021-04-16',
 '17087.02021-05-28',
 '21007.02020-10-09',
 '21075.02021-03-05',
 '31167.02020-09-25',
 '46007.02020-08-07',
 '40107.02021-04-09',
 '48409.02021-09-03',
 '37095.02020-09-04',
 '47095.02021-07-09',
 '46041.02021-07-09',
 '38005.02021-04-09',
 '72071.02021-08-06',
 '38045.02021-02-05',
 '8091.02020-08-07',
 '38025.02020-07-31',
 '47153.02021-03-26',
 '29059.02021-05-21',
 '18013.02021-07-09',
 '48361.02020-10-30',
 '46095.02021-10-08',
 '39019.02020-08-28',
 '30005.02020-09-25',
 '48393.02020-12-11',
 '48361.02021-01-15',
 '47101.02021-04-02',
 '55011.02021-04-16',
 '51045.02021-09-17',
 '2068.02020-09-25',
 '48203.02021-04-09',
 '2180.02021-10-15',
 '13219.02020-10-30',
 '31043.02021-10-01',
 '26113.02021-03-05',
 '29035.02021-09-24',
 '37185.02021-01-15',
 '16073.02020-10-09',
 '49055.02021-09-17',
 '2050.02020-12-04',
 '1067.02021-05-14',
 '48065.02021-04-23',
 '13195.02021-06-25',
 '48007.02021-01-08',
 '53017.02020-11-20',
 '48129.02020-11-20',
 '48155.02020-10-09',
 '54071.02021-09-24',
 '8011.02021-01-01',
 '2210.02020-10-09',
 '17071.02020-08-28',
 '72087.02020-10-16',
 '53017.02020-10-02',
 '2013.02021-09-24',
 '45061.02020-12-04',
 '47101.02021-08-13',
 '31043.02021-01-01',
 '31043.02021-01-15',
 '54043.02021-07-16',
 '17023.02021-06-18',
 '13239.02020-08-07',
 '72147.02021-03-12',
 '16025.02021-06-25',
 '1107.02021-08-13',
 '21165.02021-04-09',
 '36047.02021-03-19',
 '72067.02020-12-04',
 '28131.02021-02-19',
 '40107.02021-03-19',
 '8027.02021-03-05',
 '22043.02021-02-12',
 '29205.02021-01-22',
 '45011.02021-09-17',
 '72149.02021-01-08',
 '1085.02021-07-23',
 '51045.02021-03-19',
 '31009.02021-06-11',
 '49025.02020-08-07',
 '51023.02021-02-05',
 '69000.02021-05-07',
 '54021.02021-07-16',
 '72057.02021-08-06',
 '55078.02021-08-13',
 '29017.02020-08-07',
 '21153.02021-05-14',
 '51790.02021-10-22',
 '29003.02020-09-04',
 '46003.02021-01-29',
 '27039.02021-07-09',
 '48467.02021-06-25',
 '51079.02020-12-11',
 '51069.02021-09-17',
 '2260.02020-08-14',
 '72135.02021-01-29',
 '72077.02020-08-28',
 '16073.02021-01-22',
 '29043.02021-04-16',
 '18045.02021-10-15',
 '5025.02021-10-15',
 '2185.02021-01-01',
 '13265.02021-10-08',
 '13003.02021-09-10',
 '13101.02021-03-26',
 '29035.02021-02-26',
 '21005.02020-08-28',
 '48421.02021-09-17',
 '5087.02021-09-24',
 '47033.02021-01-22',
 '13049.02021-01-08',
 '51111.02021-02-12',
 '55061.02021-01-29',
 '2220.02021-02-12',
 '30075.02021-08-06',
 '12007.02021-08-27',
 '48131.02020-11-20',
 '35003.02021-10-08',
 '54085.02021-06-04',
 '54109.02020-11-20',
 '48489.02021-01-15',
 '29209.02021-03-12',
 '46071.02021-05-28',
 '46061.02021-05-28',
 '42103.02021-04-16',
 '2100.02021-05-07',
 '5147.02021-01-29',
 '42053.02021-04-23',
 '21201.02020-10-30',
 '47087.02021-04-02',
 '20049.02021-04-16',
 '2240.02021-01-22',
 '22037.02020-10-30',
 '18147.02020-08-21',
 '17023.02020-12-11',
 '31075.02021-08-06',
 '48269.02021-02-26',
 '72101.02020-09-25',
 '12077.02021-08-27',
 '40107.02021-03-26',
 '8025.02020-08-07',
 '51053.02021-05-21',
 '19189.02021-07-16',
 '29229.02020-10-30',
 '13219.02021-02-19',
 '29069.02021-03-26',
 '72095.02021-09-10',
 '1107.02020-07-31',
 '31021.02021-08-06',
 '5073.02020-09-25',
 '38065.02021-05-28',
 '72055.02021-01-08',
 '38045.02021-10-08',
 '51049.02021-06-04',
 '17079.02020-09-18',
 '38083.02021-06-04',
 '22121.02021-05-07',
 '17175.02020-09-04',
 '21229.02020-07-31',
 '48065.02021-01-15',
 '46087.02021-01-29',
 '29137.02021-10-01',
 '48287.02020-11-13',
 '13053.02021-02-12',
 '21153.02020-10-30',
 '21091.02021-07-02',
 '51193.02021-08-27',
 '72063.02021-08-13',
 '72117.02021-05-07',
 '31103.02021-06-11',
 '39135.02021-01-22',
 '21113.02021-02-19',
 '72027.02021-03-19',
 '21153.02020-12-04',
 '49055.02021-01-29',
 '2013.02020-11-20',
 '72029.02021-02-05',
 '13295.02020-11-27',
 '37079.02021-09-03',
 '37103.02021-04-09',
 '72139.02020-10-02',
 '48155.02021-04-30',
 '27009.02021-09-10',
 '21077.02021-02-19',
 '2198.02020-11-13',
 '38033.02021-04-30',
 '49031.02021-02-05',
 '51685.02021-01-08',
 '30109.02021-09-24',
 '72007.02021-09-24',
 '13209.02020-12-04',
 '48431.02020-09-25',
 '48101.02021-10-08',
 '37075.02021-01-22',
 '72107.02021-04-30',
 '21113.02021-09-17',
 '36085.02021-09-03',
 '51165.02021-04-23',
 '46017.02021-06-04',
 '69000.02021-05-28',
 '22095.02021-02-19',
 '28137.02021-07-23',
 '47027.02021-10-01',
 '39163.02020-09-04',
 '54009.02021-04-02',
 '22043.02021-07-02',
 '28009.02021-06-25',
 '47039.02021-02-26',
 '5129.02021-08-20',
 '48333.02020-10-23',
 '29067.02021-01-29',
 '45009.02021-10-22',
 '46025.02021-02-26',
 '46075.02021-02-19',
 '28129.02020-11-20',
 '13287.02021-07-16',
 '18147.02021-07-02',
 '5013.02021-09-24',
 '51183.02021-06-04',
 '72011.02020-11-13',
 '48119.02020-12-11',
 '16033.02021-03-05',
 '37003.02021-01-22',
 '35011.02020-09-18',
 '36041.02021-05-07',
 '29059.02021-03-19',
 '37143.02020-09-25',
 '29149.02021-06-11',
 '17193.02020-12-11',
 '5135.02021-05-21',
 '17035.02020-12-18',
 '51021.02021-04-02',
 '13029.02021-03-05',
 '51097.02021-02-19',
 '48417.02021-01-22',
 '13073.02021-04-23',
 '8047.02021-04-02',
 '13149.02021-03-05',
 '1037.02020-09-18',
 '18115.02021-05-21',
 '21219.02021-03-12',
 '5109.02020-12-18',
 '51685.02020-12-11',
 '5101.02020-08-28',
 '36115.02020-12-11',
 '29197.02021-06-04',
 '51077.02020-08-21',
 '31043.02020-08-14',
 '40141.02021-07-02',
 '51099.02020-10-23',
 '49033.02021-06-25',
 '50013.02021-04-16',
 '12075.02021-05-28',
 '8025.02021-10-01',
 '47127.02021-06-18',
 '36085.02020-11-20',
 '1075.02021-04-02',
 '66010.02020-10-23',
 '48269.02021-04-30',
 '27099.02020-12-11',
 '51111.02021-06-18',
 '48387.02021-01-01',
 '8025.02021-07-09',
 '39127.02021-07-16',
 '29169.02021-10-01',
 '51161.02021-04-02',
 '16043.02021-04-02',
 '55007.02021-01-15',
 '5053.02021-01-01',
 '13079.02021-05-28',
 '21091.02020-12-11',
 '13037.02021-03-19',
 '37073.02021-02-05',
 '72073.02020-10-30',
 '17139.02021-10-15',
 '5109.02020-07-31',
 '29139.02021-02-19',
 '13061.02021-04-23',
 '48287.02021-04-09',
 '8011.02020-09-04',
 '29119.02021-10-15',
 '38013.02021-10-01',
 '31009.02020-11-13',
 '38027.02021-10-08',
 '48421.02021-04-30',
 '72019.02021-02-05',
 '13315.02021-01-01',
 '38045.02020-12-18',
 '21233.02021-05-14',
 '27055.02021-05-14',

In [73]:
# Eliminate rows with fips_date values that do not appear in counties dataset
hospital_data_df2 = hospital_data_df2[~hospital_data_df2['fips_date'].isin(remove_list)]
hospital_data_df2

,fips_date,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,10001.02020-07-31,2100.0,1939.0,1688.0,1713.0,1558.0,152.0,84.0,0.0,0.0,1876.0,322.0,203.0,266.0,189.0,28.0,28.0
1,10001.02020-08-07,2100.0,1939.0,1694.0,1672.0,1548.0,112.0,71.0,0.0,0.0,1876.0,322.0,203.0,273.0,188.0,22.0,22.0
2,10001.02020-08-14,2100.0,1939.0,1210.0,1141.0,1028.0,132.0,55.0,0.0,0.0,1340.0,198.0,134.0,183.0,128.0,29.0,29.0
3,10001.02020-08-21,2100.0,1939.0,1729.0,1650.0,1502.0,93.0,57.0,0.0,0.0,1908.0,285.0,193.0,245.0,171.0,23.0,23.0
4,10001.02020-08-28,2100.0,1939.0,1939.0,1730.0,1624.0,65.0,49.0,0.0,0.0,2100.0,315.0,203.0,251.0,182.0,19.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,9015.02021-09-24,951.0,937.0,783.0,565.0,565.0,56.0,42.0,0.0,0.0,783.0,119.0,119.0,34.0,34.0,14.0,10.0
159867,9015.02021-10-01,956.0,942.0,788.0,530.0,530.0,61.0,57.0,0.0,0.0,788.0,119.0,119.0,32.0,32.0,15.0,14.0
159868,9015.02021-10-08,956.0,942.0,788.0,557.0,557.0,87.0,85.0,0.0,0.0,788.0,119.0,119.0,32.0,32.0,20.0,20.0
159869,9015.02021-10-15,955.0,941.0,787.0,521.0,521.0,76.0,74.0,0.0,0.0,787.0,119.0,119.0,26.0,26.0,19.0,19.0
159870,9015.02021-10-22,952.0,938.0,784.0,550.0,550.0,84.0,75.0,0.0,0.0,784.0,119.0,119.0,32.0,32.0,29.0,28.0

In [74]:
# Eliminate rows with fips_date values that do not appear in hospitals dataset
nyt_data_grouped = nyt_data_grouped[~nyt_data_grouped['fips_date'].isin(remove_list)]
nyt_data_grouped

           fips        date  cases  deaths          fips_date
0        1001.0  2020-07-31   6817   147.0   1001.02020-07-31
1        1001.0  2020-08-07   7503   150.0   1001.02020-08-07
2        1001.0  2020-08-14   8531   158.0   1001.02020-08-14
3        1001.0  2020-08-21   9009   161.0   1001.02020-08-21
4        1001.0  2020-08-28   9484   161.0   1001.02020-08-28
...         ...         ...    ...     ...                ...
208912  78020.0  2021-09-24   2258    21.0  78020.02021-09-24
208913  78020.0  2021-10-01   2293    21.0  78020.02021-10-01
208914  78020.0  2021-10-08   2317    21.0  78020.02021-10-08
208915  78020.0  2021-10-15   2317    21.0  78020.02021-10-15
208916  78020.0  2021-10-22   2322    21.0  78020.02021-10-22

[159064 rows x 5 columns]

In [77]:
# Export grouped hospital data to CSV as hospitals_grouped.csv
hospital_data_df2.to_csv(r'C:\Users\sophc\OneDrive\Desktop\Classwork\Group-3\hospitals_grouped.csv', index=False)

In [78]:
# Export grouped NYT data to CSV as counties_grouped.csv
nyt_data_grouped.to_csv(r'C:\Users\sophc\OneDrive\Desktop\Classwork\Group-3\counties_grouped.csv', index=False)