In [149]:
# Import the requests library.
import requests
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
from sqlalchemy import create_engine
from config import db_password
import numpy as np

In [150]:
# Read NYT data into dataframe
nyt_data = pd.DataFrame(pd.read_csv('us-counties.csv'))
nyt_data

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
1891340  2021-11-06  Sweetwater     Wyoming  56037.0   7695    91.0
1891341  2021-11-06       Teton     Wyoming  56039.0   5243    14.0
1891342  2021-11-06       Uinta     Wyoming  56041.0   3901    27.0
1891343  2021-11-06    Washakie     Wyoming  56043.0   1780    35.0
1891344  2021-11-06      Weston     Wyoming  56045.0   1154     9.0

[1891345 rows x 6 columns]

In [151]:
# Convert the date column in the NYT data to a datetime object using pd.to_datetime
nyt_data['date'] = pd.to_datetime(nyt_data['date'])
nyt_data.head()

        date     county       state     fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061.0      1     0.0
1 2020-01-22  Snohomish  Washington  53061.0      1     0.0
2 2020-01-23  Snohomish  Washington  53061.0      1     0.0
3 2020-01-24       Cook    Illinois  17031.0      1     0.0
4 2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [152]:
# 1. Remove the data for dates before 7-31-20 and after 10-22-21
# 2. Bin the date column by weeks ending every friday
# 3. Sum the cases and deaths columns for each week binned

# Step 1:
nyt_data_filtered = nyt_data[nyt_data['date'] >= '2020-07-25']
nyt_data_filtered = nyt_data_filtered[nyt_data_filtered['date'] <= '2021-10-22']
nyt_data_filtered

              date      county    state     fips  cases  deaths
366652  2020-07-25     Autauga  Alabama   1001.0    932    21.0
366653  2020-07-25     Baldwin  Alabama   1003.0   2662    18.0
366654  2020-07-25     Barbour  Alabama   1005.0    552     4.0
366655  2020-07-25        Bibb  Alabama   1007.0    318     2.0
366656  2020-07-25      Blount  Alabama   1009.0    637     1.0
...            ...         ...      ...      ...    ...     ...
1842600 2021-10-22  Sweetwater  Wyoming  56037.0   7414    79.0
1842601 2021-10-22       Teton  Wyoming  56039.0   5119    14.0
1842602 2021-10-22       Uinta  Wyoming  56041.0   3781    26.0
1842603 2021-10-22    Washakie  Wyoming  56043.0   1676    33.0
1842604 2021-10-22      Weston  Wyoming  56045.0   1027     9.0

[1475953 rows x 6 columns]

In [153]:
# Step 2:
# Step 3:

nyt_data_grouped = nyt_data_filtered.groupby(['fips', pd.Grouper(key='date', freq='W-FRI')]).agg({'cases':'sum','deaths':'sum'}).reset_index()
nyt_data_grouped

           fips       date  cases  deaths
0        1001.0 2020-07-31   6817   147.0
1        1001.0 2020-08-07   7503   150.0
2        1001.0 2020-08-14   8531   158.0
3        1001.0 2020-08-21   9009   161.0
4        1001.0 2020-08-28   9484   161.0
...         ...        ...    ...     ...
208977  78030.0 2021-09-24  24720   297.0
208978  78030.0 2021-10-01  24982   304.0
208979  78030.0 2021-10-08  25204   308.0
208980  78030.0 2021-10-15  25290   311.0
208981  78030.0 2021-10-22  25435   315.0

[208982 rows x 4 columns]

In [154]:
# Set each column to a string value so we can concatonate them together 
nyt_data_grouped['fips'] = nyt_data_grouped['fips'].astype('str')
nyt_data_grouped['date'] = nyt_data_grouped['date'].astype('str')
nyt_data_grouped['fips'].dtype

dtype('O')

In [155]:
# Concatonate the date column and the fips column to create fips_date
nyt_data_grouped['fips_date'] = nyt_data_grouped['fips'] + nyt_data_grouped['date']
nyt_data_grouped

           fips        date  cases  deaths          fips_date
0        1001.0  2020-07-31   6817   147.0   1001.02020-07-31
1        1001.0  2020-08-07   7503   150.0   1001.02020-08-07
2        1001.0  2020-08-14   8531   158.0   1001.02020-08-14
3        1001.0  2020-08-21   9009   161.0   1001.02020-08-21
4        1001.0  2020-08-28   9484   161.0   1001.02020-08-28
...         ...         ...    ...     ...                ...
208977  78030.0  2021-09-24  24720   297.0  78030.02021-09-24
208978  78030.0  2021-10-01  24982   304.0  78030.02021-10-01
208979  78030.0  2021-10-08  25204   308.0  78030.02021-10-08
208980  78030.0  2021-10-15  25290   311.0  78030.02021-10-15
208981  78030.0  2021-10-22  25435   315.0  78030.02021-10-22

[208982 rows x 5 columns]

In [156]:
# Read Hospital data (healthdata.gov) into dataframe
hospital_data_df = pd.DataFrame(pd.read_csv('COVID-19_Reported_Patient_Impact_and_Hospital_Capacity_by_Facility.csv'))

In [157]:
hospital_data_df

,hospital_pk,collection_week,state,ccn,hospital_name,address,city,zip,hospital_subtype,fips_code,...,previous_day_admission_pediatric_covid_confirmed_7_day_coverage,previous_day_admission_adult_covid_suspected_7_day_coverage,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected
0,140158,2021/10/15,IL,140158,INSIGHT HOSPITAL AND MEDICAL CENTER CHICAGO,2525 S MICHIGAN AVE,CHICAGO,60616.0,Short Term,17031.0,...,7,7,7,0.0,NaN,NaN,NaN,0.0,NaN,False
1,450162,2021/10/15,TX,450162,GRACE SURGICAL HOSPITAL,2412 50TH ST,LUBBOCK,79412.0,Short Term,48303.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
2,451318,2021/10/15,TX,451318,STONEWALL MEMORIAL HOSPITAL DISTRICT,821 NORTH BROADWAY,ASPERMONT,79502.0,Critical Access Hospitals,48433.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
3,050769,2021/10/08,CA,050769,HOAG ORTHOPEDIC INSTITUTE,16250 SAND CANYON AVENUE,IRVINE,92618.0,Short Term,6059.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
4,291500,2021/10/08,NV,291500,NATHAN ADELSON HOSPICE,4141 UNIVERSITY CENTER DR,LAS VEGAS,89119.0,Short Term,32003.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324743,100291,2020/08/07,FL,100291,STEWARD REGIONAL MEDICAL CENTER,250 NORTH WICKHAM ROAD,MELBOURNE,32935.0,Short Term,12009.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
324744,250096,2020/07/31,MS,250096,MERIT HEALTH RANKIN,350 CROSSGATES BLVD,BRANDON,39042.0,Short Term,28121.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
324745,241345,2020/07/31,MN,241345,MAYO CLINIC HEALTH SYSTEM-WASECA,501 NORTH STATE STREET,WASECA,56093.0,Critical Access Hospitals,27161.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
324746,271311,2020/08/07,MT,271311,BIG SANDY MEDICAL CENTER,166 MONTANA AVE E,BIG SANDY,59520.0,Critical Access Hospitals,30015.0,...,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,False
324747,110045,2020/07/31,GA,110045,NORTHEAST GEORGIA MEDICAL CENTER BARROW,316 NORTH BROAD STREET,WINDER,30680.0,Short Term,13013.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [158]:
# Create list of columns to drop
drop_list_hospitals = ['hospital_pk', 'state', 'ccn', 'hospital_name', 'address', 'city', 'zip', 'hospital_subtype', 
                       'is_metro_micro', 'total_beds_7_day_avg', 'all_adult_hospital_beds_7_day_avg', 
                       'all_adult_hospital_inpatient_beds_7_day_avg', 'inpatient_beds_used_7_day_avg', 
                       'all_adult_hospital_inpatient_bed_occupied_7_day_avg', 
                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_avg', 
                       'total_adult_patients_hospitalized_confirmed_covid_7_day_avg', 
                       'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_avg', 
                       'total_pediatric_patients_hospitalized_confirmed_covid_7_day_avg', 'inpatient_beds_7_day_avg', 
                       'total_icu_beds_7_day_avg', 'total_staffed_adult_icu_beds_7_day_avg', 'icu_beds_used_7_day_avg', 
                       'staffed_adult_icu_bed_occupancy_7_day_avg', 
                       'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_avg', 
                       'staffed_icu_adult_patients_confirmed_covid_7_day_avg', 
                       'total_patients_hospitalized_confirmed_influenza_7_day_avg', 
                       'icu_patients_confirmed_influenza_7_day_avg', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_avg', 
                       'all_adult_hospital_inpatient_beds_7_day_coverage', 
                       'inpatient_beds_used_7_day_coverage', 'all_adult_hospital_inpatient_bed_occupied_7_day_coverage', 
                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_coverage', 
                       'total_adult_patients_hospitalized_confirmed_covid_7_day_coverage', 
                       'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_coverage', 
                       'total_pediatric_patients_hospitalized_confirmed_covid_7_day_coverage', 
                       'inpatient_beds_7_day_coverage', 'total_icu_beds_7_day_coverage', 
                       'total_staffed_adult_icu_beds_7_day_coverage', 'icu_beds_used_7_day_coverage', 
                       'staffed_adult_icu_bed_occupancy_7_day_coverage', 
                       'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_coverage', 
                       'staffed_icu_adult_patients_confirmed_covid_7_day_coverage', 
                       'total_patients_hospitalized_confirmed_influenza_7_day_coverage', 
                       'icu_patients_confirmed_influenza_7_day_coverage', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_coverage', 
                       'previous_day_admission_adult_covid_confirmed_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_18-19_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_20-29_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_30-39_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_40-49_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_50-59_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_60-69_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_70-79_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_80+_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_unknown_7_day_sum', 
                       'previous_day_admission_pediatric_covid_confirmed_7_day_sum', 
                       'previous_day_covid_ED_visits_7_day_sum', 'previous_day_admission_adult_covid_suspected_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_18-19_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_20-29_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_30-39_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_40-49_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_50-59_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_60-69_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_70-79_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_80+_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_unknown_7_day_sum', 
                       'previous_day_admission_pediatric_covid_suspected_7_day_sum', 
                       'previous_day_total_ED_visits_7_day_sum', 'previous_day_admission_influenza_confirmed_7_day_sum', 
                       'geocoded_hospital_address', 'hhs_ids', 
                       'previous_day_admission_adult_covid_confirmed_7_day_coverage', 
                       'previous_day_admission_pediatric_covid_confirmed_7_day_coverage', 
                       'previous_day_admission_adult_covid_suspected_7_day_coverage', 
                       'previous_day_admission_pediatric_covid_suspected_7_day_coverage', 
                       'previous_week_personnel_covid_vaccinated_doses_administered_7_day', 
                       'total_personnel_covid_vaccinated_doses_none_7_day', 
                       'total_personnel_covid_vaccinated_doses_one_7_day', 
                       'total_personnel_covid_vaccinated_doses_all_7_day', 
                       'previous_week_patients_covid_vaccinated_doses_one_7_day', 
                       'previous_week_patients_covid_vaccinated_doses_all_7_day', 'is_corrected', 
                       'total_beds_7_day_coverage', 'all_adult_hospital_beds_7_day_coverage',
                       'total_patients_hospitalized_confirmed_influenza_7_day_sum', 
                       'icu_patients_confirmed_influenza_7_day_sum', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_sum'
]

In [159]:
# Remove drop_list columns from df
hospital_data_df.drop(drop_list_hospitals, axis=1, inplace=True)
hospital_data_df.head()

,collection_week,fips_code,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,2021/10/15,17031.0,350.0,350.0,252.0,160.0,160.0,7.0,7.0,0.0,0.0,252.0,28.0,28.0,16.0,16.0,7.0,7.0
1,2021/10/15,48303.0,268.0,268.0,261.0,34.0,34.0,0.0,0.0,0.0,0.0,261.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2021/10/15,48433.0,77.0,77.0,63.0,0.0,0.0,0.0,0.0,0.0,0.0,63.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2021/10/08,6059.0,245.0,245.0,133.0,126.0,126.0,0.0,0.0,0.0,0.0,133.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2021/10/08,32003.0,266.0,266.0,266.0,191.0,191.0,11.0,11.0,0.0,0.0,266.0,0.0,0.0,0.0,0.0,0.0,0.0

In [160]:
# Convert the date column in the hospital data to a datetime object using pd.to_datetime
hospital_data_df['collection_week'] = pd.to_datetime(hospital_data_df['collection_week'])
# Check to verify the date is now a datetime object
hospital_data_df.dtypes

collection_week                                                                  datetime64[ns]
fips_code                                                                               float64
total_beds_7_day_sum                                                                    float64
all_adult_hospital_beds_7_day_sum                                                       float64
all_adult_hospital_inpatient_beds_7_day_sum                                             float64
inpatient_beds_used_7_day_sum                                                           float64
all_adult_hospital_inpatient_bed_occupied_7_day_sum                                     float64
total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum               float64
total_adult_patients_hospitalized_confirmed_covid_7_day_sum                             float64
total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum           float64
total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum                         float64
inpatient_beds_7_day_sum                                                                float64
total_icu_beds_7_day_sum                                                                float64
total_staffed_adult_icu_beds_7_day_sum                                                  float64
icu_beds_used_7_day_sum                                                                 float64
staffed_adult_icu_bed_occupancy_7_day_sum                                               float64
staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum                      float64
staffed_icu_adult_patients_confirmed_covid_7_day_sum                                    float64
dtype: object

In [161]:
# Sort the hospital data by date
hospital_data_df = hospital_data_df.sort_values(by='collection_week')
hospital_data_df

# The hospital data is binned by collection week ending on every friday

,collection_week,fips_code,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
324747,2020-07-31,13013.0,266.0,NaN,NaN,199.0,NaN,0.0,NaN,-999999.0,NaN,266.0,0.0,NaN,0.0,NaN,NaN,NaN
319353,2020-07-31,12099.0,3332.0,2710.0,2710.0,1873.0,1859.0,266.0,266.0,0.0,0.0,3206.0,287.0,287.0,178.0,178.0,41.0,41.0
319356,2020-07-31,19049.0,102.0,126.0,84.0,-999999.0,9.0,4.0,-999999.0,0.0,0.0,84.0,0.0,0.0,0.0,0.0,0.0,0.0
319357,2020-07-31,6037.0,824.0,404.0,341.0,296.0,296.0,5.0,0.0,0.0,0.0,341.0,20.0,20.0,18.0,18.0,0.0,0.0
319358,2020-07-31,39095.0,1476.0,NaN,NaN,716.0,NaN,52.0,52.0,0.0,0.0,1446.0,132.0,NaN,94.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4644,2021-10-22,21231.0,175.0,79.0,100.0,79.0,79.0,-999999.0,-999999.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0
4645,2021-10-22,21111.0,12047.0,7935.0,6736.0,7319.0,6245.0,1071.0,422.0,257.0,42.0,7897.0,1091.0,804.0,695.0,695.0,185.0,107.0
9753,2021-10-22,48303.0,965.0,358.0,274.0,714.0,241.0,7.0,7.0,14.0,14.0,881.0,164.0,26.0,79.0,7.0,-999999.0,-999999.0
9755,2021-10-22,5009.0,623.0,560.0,364.0,240.0,227.0,6.0,6.0,0.0,0.0,448.0,84.0,84.0,26.0,26.0,5.0,5.0
11081,2021-10-22,18171.0,119.0,119.0,119.0,46.0,46.0,-999999.0,-999999.0,0.0,0.0,119.0,0.0,0.0,0.0,0.0,0.0,0.0

In [162]:
# Group and sort hospital_data_df by fips_code
hospital_data_df = hospital_data_df.groupby(['fips_code', pd.Grouper(key='collection_week', freq='W-FRI')]).agg({'total_beds_7_day_sum':'sum','all_adult_hospital_beds_7_day_sum':'sum', 'all_adult_hospital_inpatient_beds_7_day_sum':'sum', 'inpatient_beds_used_7_day_sum':'sum', 'all_adult_hospital_inpatient_bed_occupied_7_day_sum':'sum', 
                                                                                                                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 'total_adult_patients_hospitalized_confirmed_covid_7_day_sum': 'sum', 'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 'total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum':'sum', 'inpatient_beds_7_day_sum':'sum', 'total_icu_beds_7_day_sum':'sum', 
                                                                                                                       'total_staffed_adult_icu_beds_7_day_sum':'sum', 'icu_beds_used_7_day_sum':'sum', 'staffed_adult_icu_bed_occupancy_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_covid_7_day_sum':'sum'}).reset_index()
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,1001.0,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0
1,1001.0,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0
2,1001.0,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0
3,1001.0,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0
4,1001.0,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0
159867,78020.0,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0
159868,78020.0,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0
159869,78020.0,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0
159870,78020.0,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0

In [163]:
# Convert the hospital date and fips_code column to strings
hospital_data_df['collection_week'] = hospital_data_df['collection_week'].astype('str')
hospital_data_df['fips_code'] = hospital_data_df['fips_code'].astype('str')

In [164]:
# Concat the date and fips_code for new columns fips_date
hospital_data_df['fips_date'] = hospital_data_df['fips_code'] + hospital_data_df['collection_week']
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001.0,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,1001.02020-07-31
1,1001.0,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,1001.02020-08-07
2,1001.0,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,1001.02020-08-14
3,1001.0,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,1001.02020-08-21
4,1001.0,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,1001.02020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,78020.02021-09-24
159867,78020.0,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,78020.02021-10-01
159868,78020.0,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,78020.02021-10-08
159869,78020.0,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,78020.02021-10-15
159870,78020.0,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0,78020.02021-10-22

In [165]:
# Convert all negative values to 0
num = hospital_data_df._get_numeric_data()
num[num < 0] = 0

In [166]:
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001.0,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,1001.02020-07-31
1,1001.0,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,1001.02020-08-07
2,1001.0,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,1001.02020-08-14
3,1001.0,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,1001.02020-08-21
4,1001.0,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,1001.02020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,78020.02021-09-24
159867,78020.0,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,78020.02021-10-01
159868,78020.0,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,78020.02021-10-08
159869,78020.0,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,78020.02021-10-15
159870,78020.0,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,78020.02021-10-22

In [167]:
f = hospital_data_df['fips_date'].unique()

In [168]:
x = nyt_data_grouped['fips_date'].unique()

In [169]:
# Create list of fips_date values that only appear in one data set
remove_list = list(set(x).symmetric_difference(set(f)))
remove_list

['24019.02020-08-07',
 '5091.02021-08-20',
 '46003.02021-03-26',
 '48327.02020-08-28',
 '48261.02020-10-16',
 '31087.02021-08-13',
 '72089.02021-03-19',
 '18155.02020-08-14',
 '29063.02020-12-11',
 '8061.02020-07-31',
 '16075.02021-06-18',
 '38091.02020-08-28',
 '31115.02020-11-27',
 '48261.02021-10-01',
 '29209.02020-08-28',
 '22107.02021-09-03',
 '19195.02021-10-22',
 '31113.02020-12-18',
 '31007.02020-10-02',
 '38077.02021-07-09',
 '27039.02021-08-13',
 '12041.02021-09-03',
 '29179.02021-05-14',
 '48387.02020-09-04',
 '41009.02020-09-04',
 '13079.02021-03-19',
 '8047.02021-02-05',
 '54063.02021-04-23',
 '48311.02021-06-25',
 '48385.02021-03-12',
 '46061.02021-10-08',
 '32029.02021-01-22',
 '21237.02020-10-16',
 '48361.02020-11-20',
 '51097.02021-02-19',
 '46021.02021-02-26',
 '31113.02021-09-24',
 '51135.02021-10-01',
 '13239.02021-07-02',
 '13053.02021-01-15',
 '35023.02020-12-18',
 '39015.02021-05-28',
 '18045.02021-03-26',
 '72019.02020-11-27',
 '47027.02021-01-08',
 '8027.02021-06-25',
 '12029.02021-04-02',
 '39135.02020-12-18',
 '22037.02021-03-26',
 '37003.02020-07-31',
 '28005.02020-10-23',
 '29061.02021-03-12',
 '38041.02020-07-31',
 '72051.02021-01-08',
 '19031.02021-09-17',
 '21077.02020-09-11',
 '26001.02020-12-04',
 '34015.02020-08-28',
 '21169.02021-10-15',
 '19181.02021-08-27',
 '46119.02021-07-02',
 '19023.02021-09-24',
 '17153.02020-12-25',
 '13029.02021-08-20',
 '48377.02020-12-18',
 '30045.02020-07-31',
 '51610.02021-10-15',
 '48333.02021-01-15',
 '42097.02021-01-15',
 '48203.02020-09-18',
 '38041.02020-10-02',
 '8109.02021-01-01',
 '51025.02020-11-13',
 '48297.02021-09-24',
 '37053.02020-08-21',
 '48011.02021-03-19',
 '48351.02020-10-09',
 '12065.02020-09-04',
 '21113.02020-09-11',
 '48361.02020-10-16',
 '48343.02020-10-23',
 '18155.02021-06-25',
 '30045.02021-10-15',
 '13283.02021-03-19',
 '15005.02021-01-01',
 '48205.02020-09-11',
 '72089.02020-11-06',
 '20207.02021-04-16',
 '29229.02020-11-13',
 '54015.02021-08-20',
 '72123.02021-02-05',
 '35057.02020-10-30',
 '55007.02020-08-21',
 '72111.02020-12-18',
 '12075.02021-01-15',
 '28015.02020-10-02',
 '51183.02021-05-28',
 '37079.02021-09-03',
 '48259.02021-04-02',
 '40033.02020-09-04',
 '35033.02021-02-12',
 '13149.02020-10-30',
 '8019.02020-08-28',
 '29173.02020-09-04',
 '48247.02021-05-07',
 '46117.02021-01-08',
 '29151.02021-07-23',
 '51115.02020-08-07',
 '48271.02020-11-27',
 '36039.02020-09-04',
 '48203.02021-01-08',
 '46075.02020-10-23',
 '47115.02021-04-30',
 '13289.02021-06-18',
 '5117.02021-06-25',
 '38075.02021-01-22',
 '13167.02020-11-27',
 '26009.02020-12-04',
 '54049.02020-08-21',
 '18101.02021-06-04',
 '51043.02020-11-20',
 '41021.02020-12-18',
 '51131.02021-04-30',
 '29125.02021-10-15',
 '2120.02021-06-04',
 '51161.02020-10-09',
 '29203.02021-01-01',
 '48333.02021-10-22',
 '37075.02020-10-09',
 '18015.02021-10-01',
 '72121.02021-08-13',
 '21191.02020-10-09',
 '26001.02021-10-22',
 '21163.02021-04-30',
 '48081.02020-10-30',
 '13029.02020-12-25',
 '39105.02020-08-21',
 '21147.02021-02-19',
 '2100.02021-08-06',
 '51600.02021-08-20',
 '51199.02021-04-23',
 '37131.02020-12-18',
 '17035.02021-08-20',
 '72065.02020-10-02',
 '20139.02020-10-23',
 '47033.02021-04-30',
 '53059.02020-11-27',
 '12121.02021-05-21',
 '13197.02021-09-03',
 '72015.02020-08-07',
 '29223.02020-10-30',
 '29103.02020-11-20',
 '72043.02020-11-20',
 '35003.02020-09-11',
 '51163.02021-02-05',
 '37153.02021-07-02',
 '48411.02021-06-18',
 '13149.02021-06-18',
 '46057.02021-10-22',
 '28055.02020-09-11',
 '72119.02021-03-12',
 '66010.02021-04-16',
 '54093.02021-04-16',
 '35003.02021-10-15',
 '29149.02021-07-02',
 '29149.02021-06-11',
 '40091.02020-11-27',
 '19115.02021-09-24',
 '38065.02020-10-23',
 '29141.02020-10-02',
 '5077.02021-04-09',
 '38007.02020-09-18',
 '17035.02021-03-19',
 '21043.02020-10-16',
 '26085.02021-02-26',
 '27045.02021-10-08',
 '31171.02021-06-11',
 '39127.02021-09-10',
 '31063.02020-10-30',
 '46105.02020-08-28',
 '48377.02020-11-20',
 '51181.02021-06-18',
 '26001.02020-09-11',
 '48155.02020-10-30',
 '44001.02021-04-30',
 '13309.02021-07-30',
 '21181.02021-03-26',
 '26141.02020-11-13',
 '47047.02021-01-08',
 '5025.02021-10-08',
 '46097.02020-11-06',
 '37003.02021-01-29',
 '17023.02020-12-25',
 '13181.02021-02-05',
 '51720.02021-10-08',
 '48431.02021-06-11',
 '51690.02021-09-10',
 '21061.02021-09-03',
 '35061.02021-04-02',
 '17139.02021-06-11',
 '20043.02020-12-11',
 '72051.02021-07-30',
 '51009.02020-08-14',
 '29041.02021-06-25',
 '31117.02020-10-16',
 '21063.02021-01-01',
 '45081.02021-08-13',
 '46019.02021-08-13',
 '17133.02021-04-30',
 '29219.02020-12-04',
 '13259.02021-06-04',
 '51101.02021-03-12',
 '21043.02021-05-07',
 '13259.02021-02-05',
 '45017.02020-11-06',
 '46105.02021-04-02',
 '50009.02020-09-18',
 '51735.02021-06-18',
 '12065.02021-04-09',
 '38033.02021-06-25',
 '2180.02021-01-29',
 '30005.02020-08-14',
 '24011.02020-10-02',
 '46075.02020-10-09',
 '8053.02020-08-14',
 '47153.02020-08-07',
 '1107.02020-10-16',
 '31171.02020-10-23',
 '41009.02021-05-07',
 '39015.02021-03-19',
 '31171.02021-04-30',
 '48295.02020-12-11',
 '24019.02020-08-28',
 '51135.02021-07-09',
 '72123.02020-10-23',
 '5073.02021-04-09',
 '38043.02021-03-19',
 '21233.02021-09-03',
 '48175.02021-10-01',
 '13283.02021-05-14',
 '51007.02020-10-16',
 '31085.02021-02-19',
 '72133.02021-07-30',
 '31085.02021-03-05',
 '47033.02021-06-25',
 '48059.02021-10-01',
 '27027.02020-08-07',
 '29203.02021-10-22',
 '20043.02020-10-09',
 '12007.02021-02-19',
 '72149.02021-06-18',
 '29141.02021-04-30',
 '72149.02020-10-23',
 '5111.02021-01-15',
 '54071.02020-11-20',
 '2210.02020-10-23',
 '36047.02021-01-08',
 '46102.02020-11-06',
 '26119.02021-04-30',
 '72151.02020-12-04',
 '2013.02020-10-09',
 '27009.02020-10-23',
 '54093.02020-08-14',
 '54043.02020-10-30',
 '1085.02021-09-10',
 '72087.02020-12-18',
 '48243.02021-06-11',
 '39127.02020-10-23',
 '51580.02020-09-25',
 '29133.02020-10-09',
 '51137.02021-01-22',
 '12043.02021-07-02',
 '18047.02021-10-15',
 '37079.02021-01-01',
 '37153.02021-01-08',
 '21123.02020-08-28',
 '21189.02021-01-01',
 '13101.02021-06-18',
 '72054.02020-10-16',
 '29153.02020-07-31',
 '19195.02021-06-25',
 '47121.02021-04-09',
 '5089.02020-12-18',
 '2210.02021-10-22',
 '47153.02021-08-13',
 '31167.02021-02-12',
 '72115.02021-03-19',
 '51021.02021-02-26',
 '5111.02021-08-06',
 '6091.02021-06-11',
 '5109.02021-08-27',
 '72003.02021-03-12',
 '30037.02020-10-02',
 '48159.02020-11-06',
 '21029.02021-07-09',
 '48175.02021-06-11',
 '1029.02020-11-27',
 '21229.02020-12-18',
 '31085.02021-10-22',
 '21029.02021-07-02',
 '32029.02021-02-12',
 '39127.02021-03-26',
 '72077.02020-11-27',
 '72037.02021-01-29',
 '5053.02021-06-18',
 '4011.02021-07-09',
 '20069.02021-10-08',
 '51600.02021-07-02',
 '72063.02021-10-15',
 '21061.02020-10-16',
 '48345.02021-01-22',
 '47121.02020-10-23',
 '47161.02021-02-19',
 '54099.02020-10-30',
 '2230.02021-08-13',
 '72147.02021-05-21',
 '29059.02021-04-30',
 '51161.02021-02-05',
 '21023.02021-04-02',
 '29173.02021-01-29',
 '51570.02020-11-06',
 '18101.02021-08-20',
 '47139.02021-04-16',
 '46087.02020-11-13',
 '38025.02020-11-06',
 '48007.02020-12-25',
 '31087.02021-03-26',
 '8057.02021-06-04',
 '13141.02021-04-02',
 '48301.02021-05-28',
 '48431.02021-09-17',
 '48295.02020-08-28',
 '72075.02021-06-18',
 '55078.02021-08-20',
 '22107.02020-10-02',
 '48191.02021-06-11',
 '26089.02021-10-15',
 '46071.02020-11-20',
 '21159.02021-10-01',
 '29169.02021-07-23',
 '27055.02021-04-16',
 '72055.02020-12-25',
 '2220.02021-02-19',
 '20139.02021-07-30',
 '2260.02020-08-21',
 '72129.02021-01-01',
 '41009.02021-01-22',
 '26141.02021-05-14',
 '27099.02020-09-11',
 '13083.02021-06-25',
 '28027.02021-02-19',
 '49029.02021-01-15',
 '48101.02021-10-22',
 '72027.02020-08-21',
 '21215.02021-08-20',
 '19195.02021-09-03',
 '48395.02021-06-25',
 '13079.02021-01-22',
 '13263.02021-01-15',
 '29203.02021-08-27',
 '51111.02021-08-27',
 '40141.02020-08-07',
 '12121.02021-03-19',
 '48409.02020-08-28',
 '29181.02020-09-25',
 '46021.02021-06-18',
 '5129.02021-04-23',
 '51113.02021-01-08',
 '51181.02021-09-24',
 '48173.02021-07-30',
 '26031.02021-01-15',
 '55041.02021-04-23',
 '13183.02020-08-21',
 '30037.02021-01-08',
 '48173.02021-08-20',
 '48259.02020-11-20',
 '13093.02021-05-21',
 '16025.02020-09-18',
 '29219.02020-08-14',
 '21043.02020-10-02',
 '2275.02020-09-11',
 '51685.02020-08-28',
 '54071.02021-07-16',
 '51820.02021-08-06',
 '29017.02020-09-11',
 '38013.02021-08-20',
 '48359.02020-08-07',
 '29201.02021-06-04',
 '13239.02020-07-31',
 '72137.02021-02-26',
 '72039.02020-10-23',
 '18119.02021-09-10',
 '31073.02021-10-08',
 '20197.02021-03-19',
 '51009.02020-10-23',
 '5089.02021-09-24',
 '55061.02021-01-01',
 '21237.02021-01-15',
 '17003.02020-09-25',
 '36099.02021-10-08',
 '20207.02021-09-03',
 '72043.02021-10-22',
 '37137.02021-09-17',
 '41069.02020-11-13',
 '48359.02021-08-13',
 '51043.02021-10-15',
 '36107.02021-10-22',
 '1107.02020-12-25',
 '20011.02020-12-11',
 '51141.02021-07-30',
 '45011.02020-12-11',
 '13049.02021-06-18',
 '54063.02021-05-07',
 '37153.02021-06-25',
 '37095.02021-08-20',
 '72121.02020-10-30',
 '29225.02021-06-25',
 '19115.02020-08-28',
 '46119.02021-05-07',
 '49009.02021-10-15',
 '5095.02021-09-24',
 '45069.02020-08-07',
 '72041.02021-02-12',
 '22025.02021-02-26',
 '46041.02020-11-13',
 '21149.02021-03-12',
 '46057.02021-04-30',
 '51143.02020-12-11',
 '38007.02020-10-09',
 '13083.02021-04-02',
 '47023.02021-07-23',
 '51165.02021-03-05',
 '53069.02021-03-05',
 '29225.02021-03-19',
 '51137.02020-08-07',
 '48131.02021-04-16',
 '29069.02021-01-15',
 '46071.02020-10-30',
 '29209.02020-10-16',
 '8113.02021-09-03',
 '17009.02021-09-03',
 '39019.02021-03-26',
 '42067.02021-01-29',
 '18101.02021-01-29',
 '38047.02021-03-05',
 '46031.02021-08-13',
 '13061.02020-12-25',
 '48283.02021-02-05',
 '21129.02021-05-14',
 '40121.02020-09-04',
 '72049.02021-06-18',
 '39019.02021-01-08',
 '51109.02021-08-27',
 '48011.02021-01-29',
 '28057.02021-03-05',
 '22075.02021-08-06',
 '69000.02021-01-29',
 '38077.02020-08-14',
 '55041.02020-07-31',
 '1085.02020-08-14',
 '45009.02021-09-03',
 '28057.02021-08-06',
 '37153.02021-01-22',
 '5129.02021-01-08',
 '13029.02021-02-05',
 '48455.02020-12-11',
 '21135.02020-09-11',
 '48345.02021-07-23',
 '30069.02021-03-26',
 '51113.02020-08-07',
 '13181.02021-06-25',
 '51091.02021-02-12',
 '28005.02020-10-02',
 '21169.02021-07-02',
 '37137.02021-07-23',
 '48235.02020-11-27',
 '48065.02021-07-23',
 '26135.02020-12-18',
 '21123.02021-05-28',
 '1087.02021-02-12',
 '38065.02021-10-22',
 '72001.02021-01-15',
 '26141.02020-12-18',
 '51135.02021-06-04',
 '72089.02021-10-22',
 '13011.02021-10-15',
 '30075.02021-02-05',
 '18007.02020-08-21',
 '47175.02020-11-20',
 '42131.02021-10-08',
 '41009.02021-04-23',
 '5109.02021-03-19',
 '21149.02021-02-05',
 '72133.02021-07-23',
 '37103.02020-10-23',
 '69000.02021-04-16',
 '13177.02021-02-05',
 '38091.02021-03-05',
 '21105.02020-07-31',
 '29153.02021-01-29',
 '31181.02020-10-09',
 '51036.02020-08-14',
 '48361.02020-08-14',
 '51075.02021-03-05',
 '5089.02020-08-28',
 '13295.02021-04-23',
 '31063.02021-09-10',
 '18125.02021-01-22',
 '29201.02020-12-25',
 '21201.02021-03-26',
 '51143.02021-09-10',
 '29087.02021-02-26',
 '2998.02021-04-30',
 '13079.02020-11-13',
 '72007.02020-10-09',
 '29087.02021-06-11',
 '31009.02020-10-02',
 '37079.02021-03-05',
 '17041.02021-06-11',
 '48137.02021-02-19',
 '13287.02020-09-11',
 '18045.02021-04-23',
 '30069.02021-04-23',
 '17175.02021-09-03',
 '17015.02020-08-07',
 '38091.02021-09-03',
 '48137.02021-02-12',
 '45061.02021-01-01',
 '13265.02021-02-12',
 '54049.02021-09-10',
 '21159.02020-12-18',
 '39087.02021-07-02',
 '51079.02021-01-22',
 '2280.02021-08-13',
 '27055.02021-05-21',
 '44001.02021-07-23',
 '21229.02021-06-11',
 '38005.02021-07-09',
 '51023.02021-05-21',
 '54063.02021-09-17',
 '16051.02020-11-13',
 '19115.02021-03-19',
 '48169.02021-05-07',
 '51045.02021-09-24',
 '41009.02020-10-23',
 '35011.02021-07-16',
 '51169.02020-09-18',
 '51183.02021-07-02',
 '13307.02021-02-19',
 '13025.02020-09-18',
 '51165.02021-07-02',
 '48263.02020-11-20',
 '8111.02021-08-13',
 '13195.02021-03-19',
 '34015.02020-11-20',
 '48419.02021-05-14',
 '21061.02021-09-10',
 '17139.02021-02-05',
 '45011.02021-01-15',
 '72147.02021-07-16',
 '51063.02021-05-28',
 '30109.02021-08-13',
 '72049.02020-11-13',
 '29085.02021-06-11',
 '19195.02020-11-13',
 '5067.02021-09-17',
 '72117.02021-05-14',
 '55061.02021-09-10',
 '55078.02020-09-11',
 '48259.02021-09-24',
 '26009.02020-08-07',
 '2016.02021-05-14',
 '13025.02021-07-16',
 '46041.02021-08-27',
 '27055.02021-10-08',
 '29015.02021-08-13',
 '17047.02021-03-26',
 '36047.02021-04-23',
 '18015.02020-12-11',
 '47109.02021-06-04',
 '21187.02021-05-28',
 '54043.02021-07-30',
 '54043.02021-07-02',
 '20207.02020-12-25',
 '72123.02021-01-01',
 '48489.02020-12-18',
 '51820.02021-09-03',
 '29131.02020-10-09',
 '72117.02021-06-18',
 '38049.02021-05-14',
 '17079.02021-09-17',
 '15005.02021-06-11',
 '46095.02021-05-28',
 '72045.02021-06-18',
 '2290.02021-10-01',
 '8113.02021-04-02',
 '51199.02021-05-07',
 '72023.02021-07-30',
 '53059.02020-11-20',
 '28015.02021-02-26',
 '48295.02021-08-27',
 '38025.02021-07-16',
 '42113.02021-04-23',
 '13309.02021-10-22',
 '26135.02021-10-15',
 '37185.02021-01-29',
 '51111.02020-07-31',
 '38043.02020-11-13',
 '18047.02021-05-21',
 '5099.02020-09-11',
 '13123.02021-03-26',
 '13243.02021-08-27',
 '51043.02020-12-18',
 '51193.02021-09-03',
 '46003.02021-01-08',
 '19171.02021-04-09',
 '48101.02020-09-11',
 '28027.02021-06-18',
 '47175.02021-05-21',
 '16015.02020-10-09',
 '31005.02021-04-16',
 '48295.02021-08-13',
 '2188.02020-08-07',
 '39115.02021-04-02',
 '20017.02021-03-12',
 '13177.02020-09-25',
 '72027.02020-08-28',
 '17023.02021-06-18',
 '17003.02021-08-13',
 '48065.02020-12-18',
 '38049.02021-01-01',
 '72011.02020-09-25',
 '21105.02021-05-21',
 '29141.02021-01-01',
 '29227.02020-11-27',
 '48411.02021-01-08',
 '31171.02020-11-27',
 '48067.02021-09-24',
 '36081.02020-09-04',
 '51193.02021-06-25',
 '21233.02021-02-05',
 '17007.02021-04-30',
 '24035.02020-09-18',
 '20139.02021-08-20',
 '54063.02021-08-20',
 '28073.02021-03-05',
 '48205.02021-04-30',
 '2188.02020-12-04',
 '17079.02021-02-05',
 '36039.02020-08-28',
 '72093.02021-07-23',
 '51105.02020-10-16',
 '48271.02021-02-12',
 '51145.02021-04-16',
 '47027.02021-03-05',
 '24039.02020-10-09',
 '72089.02021-05-28',
 '72131.02021-06-25',
 '29053.02021-01-01',
 '31167.02020-08-07',
 '51690.02020-08-28',
 '13029.02021-10-22',
 '8019.02021-04-30',
 '29219.02021-06-11',
 '51720.02021-07-23',
 '29003.02020-12-18',
 '19189.02020-10-16',
 '72017.02021-09-03',
 '51009.02020-08-21',
 '72001.02020-12-25',
 '51735.02021-01-08',
 '31087.02021-08-27',
 '17087.02020-12-18',
 '12043.02020-10-02',
 '72019.02020-10-23',
 '12043.02021-05-28',
 '29025.02020-12-11',
 '38091.02021-07-23',
 '18119.02021-02-26',
 '37033.02020-07-31',
 '54049.02020-08-07',
 '18045.02021-10-01',
 '51097.02021-08-20',
 '21105.02021-09-24',
 '29223.02021-07-16',
 '45017.02021-08-06',
 '54099.02020-11-06',
 '38049.02020-10-09',
 '48247.02021-03-26',
 '36047.02021-07-02',
 '38075.02020-08-14',
 '48235.02021-07-02',
 '51035.02021-06-04',
 '51053.02021-04-16',
 '51720.02021-06-04',
 '47047.02021-04-16',
 '37115.02021-03-26',
 '13295.02021-07-16',
 '29223.02020-12-04',
 '48031.02021-07-23',
 '51045.02021-03-26',
 '51161.02021-06-25',
 '13311.02021-10-01',
 '72109.02020-09-04',
 '36041.02021-04-23',
 '13029.02021-01-08',
 '51021.02021-04-09',
 '72065.02021-06-18',
 '13183.02021-04-09',
 '31165.02021-04-30',
 '72049.02020-09-04',
 '2016.02020-12-04',
 '5129.02021-01-29',
 '20139.02021-04-30',
 '46085.02020-12-04',
 '18119.02021-07-30',
 '21147.02020-11-06',
 '48229.02021-01-29',
 '45081.02020-08-14',
 '21129.02021-04-09',
 '13123.02020-08-21',
 '51049.02021-09-24',
 '17129.02021-04-16',
 '13221.02021-04-09',
 '29153.02021-09-17',
 '5099.02020-10-16',
 '48315.02021-08-27',
 '24039.02020-10-23',
 '48289.02021-01-01',
 '19173.02021-04-23',
 '47033.02021-10-22',
 '24039.02021-08-13',
 '19129.02021-05-07',
 '48311.02021-08-20',
 '38085.02021-07-23',
 '48507.02020-12-18',
 '21075.02020-09-25',
 '54063.02021-03-05',
 '38075.02020-12-25',
 '47135.02021-07-02',
 '48067.02020-10-30',
 '8025.02020-08-07',
 '13037.02021-09-03',
 '29103.02021-09-24',
 '51610.02021-05-07',
 '1107.02021-04-02',
 '13171.02020-08-21',
 '23023.02021-01-22',
 '41021.02021-05-14',
 '42103.02020-12-04',
 '29181.02020-09-18',
 '37185.02021-01-01',
 '48105.02021-06-04',
 '29103.02021-07-23',
 '47101.02021-07-02',
 '24019.02021-02-19',
 '21079.02021-07-23',
 '72057.02020-10-16',
 '42067.02021-04-02',
 '26113.02020-08-07',
 '47061.02020-09-18',
 '39135.02020-12-25',
 '72017.02021-08-13',
 '46063.02020-09-25',
 '12075.02021-07-23',
 '51720.02020-08-07',
 '13157.02020-11-13',
 '38065.02021-09-10',
 '8111.02021-08-06',
 '55061.02021-05-07',
 '2240.02021-04-23',
 '29229.02020-12-25',
 '36099.02021-04-09',
 '13263.02021-07-09',
 '40077.02021-02-12',
 '51530.02021-01-29',
 '21089.02021-02-12',
 '35023.02020-09-11',
 '20069.02021-04-30',
 '51830.02020-12-25',
 '51119.02021-03-05',
 '51093.02021-06-11',
 '29219.02020-11-20',
 '72001.02020-12-04',
 '5105.02021-02-12',
 '36081.02021-10-22',
 '17151.02021-05-14',
 '50013.02020-11-20',
 '48259.02021-01-01',
 '18129.02021-01-29',
 '47101.02021-09-03',
 '13007.02021-07-09',
 '30075.02020-10-23',
 '48473.02021-07-16',
 '48473.02020-10-23',
 '46097.02021-07-02',
 '37079.02021-09-24',
 '54099.02021-07-23',
 '5089.02020-12-25',
 '26113.02021-03-12',
 '29017.02021-04-09',
 '13145.02020-10-16',
 '41009.02021-10-08',
 '48387.02021-06-11',
 '46102.02021-01-08',
 '26141.02021-07-30',
 '29205.02021-05-14',
 '51053.02021-07-02',
 '51157.02020-11-06',
 '47127.02021-09-03',
 '21077.02021-06-18',
 '28005.02021-05-14',
 '72129.02021-01-08',
 '21201.02020-11-27',
 '51069.02021-07-23',
 '28005.02021-07-02',
 '47109.02021-01-29',
 '2240.02021-09-10',
 '5073.02021-03-19',
 '29201.02021-03-19',
 '48297.02021-08-13',
 '72055.02021-03-05',
 '40141.02021-07-09',
 '13061.02021-08-13',
 '46017.02021-01-22',
 '29135.02021-01-08',
 '29135.02020-08-07',
 '28129.02020-07-31',
 '21129.02021-06-25',
 '17093.02021-02-12',
 '17041.02021-02-12',
 '42097.02020-08-07',
 '38077.02021-06-04',
 '48125.02021-03-05',
 '5079.02020-08-07',
 '21077.02021-10-15',
 '48247.02021-08-13',
 '31035.02020-12-04',
 '24011.02020-07-31',
 '48351.02021-09-17',
 '46019.02020-10-09',
 '16061.02021-05-21',
 '48351.02020-10-02',
 '12121.02020-10-23',
 '72029.02021-06-04',
 '20207.02021-10-01',
 '28073.02021-04-16',
 '40053.02020-10-16',
 '17123.02020-11-27',
 '51109.02020-08-07',
 '13309.02021-09-17',
 '17129.02020-10-02',
 '13149.02020-08-28',
 '8039.02021-07-30',
 '31117.02021-09-03',
 '31049.02021-03-26',
 '37197.02020-11-06',
 '28057.02021-07-30',
 '5109.02021-05-14',
 '2158.02021-01-29',
 '29043.02020-12-25',
 '46105.02021-09-03',
 '21043.02020-10-23',
 '42053.02020-12-11',
 '21129.02020-10-23',
 '50009.02020-08-28',
 '5091.02021-02-12',
 '13209.02021-07-16',
 '39115.02020-08-21',
 '18115.02020-10-09',
 '21215.02021-04-02',
 '21113.02020-10-09',
 '48507.02020-10-16',
 '13229.02020-11-06',
 '36115.02021-08-20',
 '38013.02021-01-08',
 '46031.02021-03-26',
 '5073.02021-07-16',
 '45065.02021-01-22',
 '13301.02021-03-12',
 '16037.02021-07-23',
 '72139.02021-05-07',
 '48263.02020-08-07',
 '39121.02020-10-02',
 '37033.02020-08-07',
 '41021.02020-12-11',
 '31171.02021-01-08',
 '13271.02021-05-07',
 '51101.02021-10-08',
 '29135.02021-04-16',
 '38005.02021-01-08',
 '2195.02021-07-23',
 '51183.02021-04-09',
 '2080.02021-04-30',
 '21197.02020-08-21',
 '72123.02021-06-25',
 '26089.02021-03-12',
 '54093.02021-08-13',
 '29153.02021-01-08',
 '12043.02021-04-02',
 '72101.02020-12-11',
 '21189.02021-07-30',
 '13273.02021-05-21',
 '13219.02021-07-30',
 '17013.02020-08-21',
 '49009.02020-11-13',
 '48259.02021-08-27',
 '47137.02021-08-27',
 '37197.02020-08-28',
 '48159.02021-04-02',
 '38033.02021-01-08',
 '31163.02020-08-14',

In [170]:
# Eliminate rows with fips_date values that do not appear in counties dataset
hospital_data_df = hospital_data_df[~hospital_data_df['fips_date'].isin(remove_list)]
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001.0,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,1001.02020-07-31
1,1001.0,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,1001.02020-08-07
2,1001.0,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,1001.02020-08-14
3,1001.0,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,1001.02020-08-21
4,1001.0,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,1001.02020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,78020.02021-09-24
159867,78020.0,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,78020.02021-10-01
159868,78020.0,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,78020.02021-10-08
159869,78020.0,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,78020.02021-10-15
159870,78020.0,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,78020.02021-10-22

In [171]:
# Shorten column names to avoid truncating in postgres (confirmed=con, suspected=sus, pediatric=ped)
hospital_data_df.rename({'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum', 
                         'total_adult_patients_hospitalized_confirmed_covid_7_day_sum':'total_adult_patients_hospitalized_con_covid_7_day_sum', 
                         'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum', 
                         'total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum':'total_ped_patients_hospitalized_con_covid_7_day_sum', 
                         'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum':'staffed_icu_adult_patients_con_and_sus_covid_7_day_sum', 
                         'staffed_icu_adult_patients_confirmed_covid_7_day_sum':'staffed_icu_adult_patients_con_covid_7_day_sum'}, axis=1, inplace=True)
hospital_data_df

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001.0,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,1001.02020-07-31
1,1001.0,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,1001.02020-08-07
2,1001.0,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,1001.02020-08-14
3,1001.0,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,1001.02020-08-21
4,1001.0,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,1001.02020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,78020.02021-09-24
159867,78020.0,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,78020.02021-10-01
159868,78020.0,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,78020.02021-10-08
159869,78020.0,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,78020.02021-10-15
159870,78020.0,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,78020.02021-10-22

In [172]:
# Eliminate rows with fips_date values that do not appear in hospitals dataset
nyt_data_grouped = nyt_data_grouped[~nyt_data_grouped['fips_date'].isin(remove_list)]
nyt_data_grouped

           fips        date  cases  deaths          fips_date
0        1001.0  2020-07-31   6817   147.0   1001.02020-07-31
1        1001.0  2020-08-07   7503   150.0   1001.02020-08-07
2        1001.0  2020-08-14   8531   158.0   1001.02020-08-14
3        1001.0  2020-08-21   9009   161.0   1001.02020-08-21
4        1001.0  2020-08-28   9484   161.0   1001.02020-08-28
...         ...         ...    ...     ...                ...
208912  78020.0  2021-09-24   2258    21.0  78020.02021-09-24
208913  78020.0  2021-10-01   2293    21.0  78020.02021-10-01
208914  78020.0  2021-10-08   2317    21.0  78020.02021-10-08
208915  78020.0  2021-10-15   2317    21.0  78020.02021-10-15
208916  78020.0  2021-10-22   2322    21.0  78020.02021-10-22

[159064 rows x 5 columns]

In [173]:
nyt_data_grouped.dtypes

fips          object
date          object
cases          int64
deaths       float64
fips_date     object
dtype: object

In [174]:
# Convert float data types to integers in NYT data set
columns = ['deaths']
nyt_data_grouped[columns] = nyt_data_grouped[columns].applymap(np.int64)
nyt_data_grouped

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

           fips        date  cases  deaths          fips_date
0        1001.0  2020-07-31   6817     147   1001.02020-07-31
1        1001.0  2020-08-07   7503     150   1001.02020-08-07
2        1001.0  2020-08-14   8531     158   1001.02020-08-14
3        1001.0  2020-08-21   9009     161   1001.02020-08-21
4        1001.0  2020-08-28   9484     161   1001.02020-08-28
...         ...         ...    ...     ...                ...
208912  78020.0  2021-09-24   2258      21  78020.02021-09-24
208913  78020.0  2021-10-01   2293      21  78020.02021-10-01
208914  78020.0  2021-10-08   2317      21  78020.02021-10-08
208915  78020.0  2021-10-15   2317      21  78020.02021-10-15
208916  78020.0  2021-10-22   2322      21  78020.02021-10-22

[159064 rows x 5 columns]

In [175]:
# Convert NYT date column to datetime data type
nyt_data_grouped['date'] = pd.to_datetime(nyt_data_grouped['date'])
nyt_data_grouped

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           fips       date  cases  deaths          fips_date
0        1001.0 2020-07-31   6817     147   1001.02020-07-31
1        1001.0 2020-08-07   7503     150   1001.02020-08-07
2        1001.0 2020-08-14   8531     158   1001.02020-08-14
3        1001.0 2020-08-21   9009     161   1001.02020-08-21
4        1001.0 2020-08-28   9484     161   1001.02020-08-28
...         ...        ...    ...     ...                ...
208912  78020.0 2021-09-24   2258      21  78020.02021-09-24
208913  78020.0 2021-10-01   2293      21  78020.02021-10-01
208914  78020.0 2021-10-08   2317      21  78020.02021-10-08
208915  78020.0 2021-10-15   2317      21  78020.02021-10-15
208916  78020.0 2021-10-22   2322      21  78020.02021-10-22

[159064 rows x 5 columns]

In [176]:
nyt_data_grouped.dtypes

fips                 object
date         datetime64[ns]
cases                 int64
deaths                int64
fips_date            object
dtype: object

In [191]:
# Rename NYT columns 
nyt_data_grouped.rename({'date':'collection_week', 'cases':'cases_to_date', 'deaths':'deaths_to_date'}, axis=1, inplace=True)
nyt_data_grouped

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,fips,collection_week,cases_to_date,deaths_to_date,fips_date
0,1001.0,2020-07-31,6817,147,1001.02020-07-31
1,1001.0,2020-08-07,7503,150,1001.02020-08-07
2,1001.0,2020-08-14,8531,158,1001.02020-08-14
3,1001.0,2020-08-21,9009,161,1001.02020-08-21
4,1001.0,2020-08-28,9484,161,1001.02020-08-28
...,...,...,...,...,...
208912,78020.0,2021-09-24,2258,21,78020.02021-09-24
208913,78020.0,2021-10-01,2293,21,78020.02021-10-01
208914,78020.0,2021-10-08,2317,21,78020.02021-10-08
208915,78020.0,2021-10-15,2317,21,78020.02021-10-15
208916,78020.0,2021-10-22,2322,21,78020.02021-10-22

In [192]:
hospital_data_df.dtypes

fips_code                                                                object
collection_week                                                  datetime64[ns]
total_beds_7_day_sum                                                      int64
all_adult_hospital_beds_7_day_sum                                         int64
all_adult_hospital_inpatient_beds_7_day_sum                               int64
inpatient_beds_used_7_day_sum                                             int64
all_adult_hospital_inpatient_bed_occupied_7_day_sum                       int64
total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum             int64
total_adult_patients_hospitalized_con_covid_7_day_sum                     int64
total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum               int64
total_ped_patients_hospitalized_con_covid_7_day_sum                       int64
inpatient_beds_7_day_sum                                                  int64
total_icu_beds_7_day_sum                                                  int64
total_staffed_adult_icu_beds_7_day_sum                                    int64
icu_beds_used_7_day_sum                                                   int64
staffed_adult_icu_bed_occupancy_7_day_sum                                 int64
staffed_icu_adult_patients_con_and_sus_covid_7_day_sum                    int64
staffed_icu_adult_patients_con_covid_7_day_sum                            int64
fips_date                                                                object
dtype: object

In [193]:
# Convert float data types to integers in hospitals data set
columns = ['total_beds_7_day_sum', 'all_adult_hospital_beds_7_day_sum', 
           'all_adult_hospital_inpatient_beds_7_day_sum', 'inpatient_beds_used_7_day_sum', 
           'all_adult_hospital_inpatient_bed_occupied_7_day_sum', 
           'total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum', 
           'total_adult_patients_hospitalized_con_covid_7_day_sum', 
           'total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum', 
           'total_ped_patients_hospitalized_con_covid_7_day_sum', 'inpatient_beds_7_day_sum', 'total_icu_beds_7_day_sum', 
           'total_staffed_adult_icu_beds_7_day_sum', 'icu_beds_used_7_day_sum', 'staffed_adult_icu_bed_occupancy_7_day_sum',
           'staffed_icu_adult_patients_con_and_sus_covid_7_day_sum', 'staffed_icu_adult_patients_con_covid_7_day_sum']
hospital_data_df[columns] = hospital_data_df[columns].applymap(np.int64)
hospital_data_df

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001.0,2020-07-31,574,574,455,363,363,117,103,0,0,455,42,42,40,40,28,26,1001.02020-07-31
1,1001.0,2020-08-07,574,574,455,369,369,153,139,0,0,455,42,42,41,41,38,37,1001.02020-08-07
2,1001.0,2020-08-14,574,574,455,384,384,125,111,0,0,455,42,42,42,42,38,32,1001.02020-08-14
3,1001.0,2020-08-21,574,574,455,348,348,86,74,0,0,455,42,42,38,38,48,35,1001.02020-08-21
4,1001.0,2020-08-28,574,574,455,346,346,77,75,0,0,455,42,42,40,40,18,18,1001.02020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924,868,728,410,389,20,20,0,0,784,56,56,29,29,7,7,78020.02021-09-24
159867,78020.0,2021-10-01,924,868,728,362,340,12,12,0,0,784,56,56,43,43,7,7,78020.02021-10-01
159868,78020.0,2021-10-08,924,868,728,412,381,12,12,0,0,784,56,56,48,48,7,7,78020.02021-10-08
159869,78020.0,2021-10-15,924,868,728,402,365,7,7,0,0,784,56,56,40,40,7,7,78020.02021-10-15
159870,78020.0,2021-10-22,924,868,728,381,356,0,0,0,0,784,56,56,36,36,0,0,78020.02021-10-22

In [194]:
# Convert NYT date column to datetime data type
hospital_data_df['collection_week'] = pd.to_datetime(hospital_data_df['collection_week'])
hospital_data_df

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001.0,2020-07-31,574,574,455,363,363,117,103,0,0,455,42,42,40,40,28,26,1001.02020-07-31
1,1001.0,2020-08-07,574,574,455,369,369,153,139,0,0,455,42,42,41,41,38,37,1001.02020-08-07
2,1001.0,2020-08-14,574,574,455,384,384,125,111,0,0,455,42,42,42,42,38,32,1001.02020-08-14
3,1001.0,2020-08-21,574,574,455,348,348,86,74,0,0,455,42,42,38,38,48,35,1001.02020-08-21
4,1001.0,2020-08-28,574,574,455,346,346,77,75,0,0,455,42,42,40,40,18,18,1001.02020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924,868,728,410,389,20,20,0,0,784,56,56,29,29,7,7,78020.02021-09-24
159867,78020.0,2021-10-01,924,868,728,362,340,12,12,0,0,784,56,56,43,43,7,7,78020.02021-10-01
159868,78020.0,2021-10-08,924,868,728,412,381,12,12,0,0,784,56,56,48,48,7,7,78020.02021-10-08
159869,78020.0,2021-10-15,924,868,728,402,365,7,7,0,0,784,56,56,40,40,7,7,78020.02021-10-15
159870,78020.0,2021-10-22,924,868,728,381,356,0,0,0,0,784,56,56,36,36,0,0,78020.02021-10-22

In [195]:
hospital_data_df.dtypes

fips_code                                                                object
collection_week                                                  datetime64[ns]
total_beds_7_day_sum                                                      int64
all_adult_hospital_beds_7_day_sum                                         int64
all_adult_hospital_inpatient_beds_7_day_sum                               int64
inpatient_beds_used_7_day_sum                                             int64
all_adult_hospital_inpatient_bed_occupied_7_day_sum                       int64
total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum             int64
total_adult_patients_hospitalized_con_covid_7_day_sum                     int64
total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum               int64
total_ped_patients_hospitalized_con_covid_7_day_sum                       int64
inpatient_beds_7_day_sum                                                  int64
total_icu_beds_7_day_sum                                                  int64
total_staffed_adult_icu_beds_7_day_sum                                    int64
icu_beds_used_7_day_sum                                                   int64
staffed_adult_icu_bed_occupancy_7_day_sum                                 int64
staffed_icu_adult_patients_con_and_sus_covid_7_day_sum                    int64
staffed_icu_adult_patients_con_covid_7_day_sum                            int64
fips_date                                                                object
dtype: object

In [196]:
# Export grouped hospital data to CSV as hospitals_grouped.csv
hospital_data_df.to_csv(r'C:\Users\sophc\OneDrive\Desktop\Classwork\Group-3\hospitals_grouped.csv', index=False)

In [197]:
# Export grouped NYT data to CSV as counties_grouped.csv
nyt_data_grouped.to_csv(r'C:\Users\sophc\OneDrive\Desktop\Classwork\Group-3\counties_grouped.csv', index=False)

Connection String Attempt

In [198]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/COVID_Risk_Final_Project"

In [199]:
engine = create_engine(db_string)

In [201]:
nyt_data_grouped.to_sql(name='counties', con=engine)

In [202]:
hospital_data_df.to_sql(name='hospitals', con=engine)