In [ ]:
# pip install psycopg2-binary in mlenv
# Create config.py file with postgres password as db_password
# Create postgres database called COVID_Risk_Final_Project on POstgreSQL 13 server
# Create config.py file with connection string in a variable connection_string

In [64]:
# Import the requests library.
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import config
import pandas as pd
import psycopg2 as pg
from flask import Flask, jsonify, render_template
from functools import reduce
import numpy as np

In [2]:
# Read vaccination data into dataframe
vax_data = 'https://group3data.s3.us-west-2.amazonaws.com/COVID-19_Vaccinations_in_the_United_States_County.csv'
vax_data_df = pd.read_csv(vax_data)
vax_data_df

,Date,FIPS,MMWR_week,Recip_County,Recip_State,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_12Plus,Series_Complete_12PlusPop_Pct,Series_Complete_18Plus,...,SVI_CTGY,Series_Complete_Pop_Pct_SVI,Series_Complete_12PlusPop_Pct_SVI,Series_Complete_18PlusPop_Pct_SVI,Series_Complete_65PlusPop_Pct_SVI,Metro_status,Series_Complete_Pop_Pct_UR_Equity,Series_Complete_12PlusPop_Pct_UR_Equity,Series_Complete_18PlusPop_Pct_UR_Equity,Series_Complete_65PlusPop_Pct_UR_Equity
0,11/06/2021,21097,44,Harrison County,KY,43.2,8163,8163.0,50.7,7772,...,C,11.0,12.0,12.0,12.0,Non-metro,7.0,8.0,8.0,8.0
1,11/06/2021,18105,44,Monroe County,IN,54.7,81158,81155.0,61.0,76819,...,B,8.0,8.0,8.0,8.0,Metro,4.0,4.0,4.0,4.0
2,11/06/2021,46023,44,Charles Mix County,SD,47.3,4399,4398.0,59.8,4119,...,C,11.0,12.0,12.0,12.0,Non-metro,7.0,8.0,8.0,8.0
3,11/06/2021,41045,44,Malheur County,OR,42.2,12893,12884.0,51.1,12170,...,D,15.0,16.0,16.0,16.0,Non-metro,7.0,8.0,8.0,8.0
4,11/06/2021,39127,44,Perry County,OH,36.9,13339,13339.0,43.5,12823,...,C,10.0,11.0,11.0,12.0,Metro,2.0,3.0,3.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079793,12/13/2020,45045,51,Greenville County,SC,0.0,0,0.0,0.0,0,...,C,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN
1079794,12/13/2020,05145,51,White County,AR,0.0,0,0.0,0.0,0,...,C,NaN,NaN,NaN,NaN,Non-metro,NaN,NaN,NaN,NaN
1079795,12/13/2020,55025,51,Dane County,WI,0.0,0,0.0,0.0,0,...,A,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN
1079796,12/13/2020,18109,51,Morgan County,IN,0.0,0,0.0,0.0,0,...,A,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN
1079797,12/13/2020,72119,51,Rio Grande Municipio,PR,0.0,0,0.0,0.0,0,...,C,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN

In [3]:
# Create list of columns to drop from vaccinations data
drop_list_vax = ['MMWR_week', 'Recip_County', 'Recip_State', 'SVI_CTGY', 'Series_Complete_Pop_Pct_SVI', 
                 'Series_Complete_12PlusPop_Pct_SVI', 'Series_Complete_18PlusPop_Pct_SVI', 
                 'Series_Complete_65PlusPop_Pct_SVI', 'Metro_status', 'Series_Complete_Pop_Pct_UR_Equity', 
                 'Series_Complete_12PlusPop_Pct_UR_Equity', 'Series_Complete_18PlusPop_Pct_UR_Equity', 
                 'Series_Complete_65PlusPop_Pct_UR_Equity', 'Administered_Dose1_Recip_18Plus', 'Series_Complete_12Plus', 
                 'Series_Complete_12PlusPop_Pct', 'Administered_Dose1_Recip', 'Administered_Dose1_Recip_12Plus', 
                 'Administered_Dose1_Recip_12PlusPop_Pct', 'Administered_Dose1_Recip_65Plus']

In [4]:
# Remove drop_list columns from df
vax_data_df.drop(drop_list_vax, axis=1, inplace=True)
vax_data_df.head()

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct
0,11/06/2021,21097,43.2,8163,7772,53.2,2708,79.4,94.0,48.1,59.1,84.9
1,11/06/2021,18105,54.7,81158,76819,61.3,17297,86.0,98.7,57.9,64.7,89.0
2,11/06/2021,46023,47.3,4399,4119,63.2,1409,81.6,96.3,59.9,78.3,90.0
3,11/06/2021,41045,42.2,12893,12170,53.7,4168,81.1,97.8,47.2,59.9,88.0
4,11/06/2021,39127,36.9,13339,12823,46.4,4555,74.2,98.6,38.7,48.6,77.6

In [5]:
# Convert date column to datetime
vax_data_df['Date'] = pd.to_datetime(vax_data_df['Date'])

In [6]:
# Set each column to a string value so we can concatonate them together 
vax_data_df['FIPS'] = vax_data_df['FIPS'].astype('str')
vax_data_df['Date'] = vax_data_df['Date'].astype('str')

In [7]:
# Concatonate the date column and the fips column to create fips_date
vax_data_df['fips_date'] = vax_data_df['FIPS'] + vax_data_df['Date']
vax_data_df

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
0,2021-11-06,21097,43.2,8163,7772,53.2,2708,79.4,94.0,48.1,59.1,84.9,210972021-11-06
1,2021-11-06,18105,54.7,81158,76819,61.3,17297,86.0,98.7,57.9,64.7,89.0,181052021-11-06
2,2021-11-06,46023,47.3,4399,4119,63.2,1409,81.6,96.3,59.9,78.3,90.0,460232021-11-06
3,2021-11-06,41045,42.2,12893,12170,53.7,4168,81.1,97.8,47.2,59.9,88.0,410452021-11-06
4,2021-11-06,39127,36.9,13339,12823,46.4,4555,74.2,98.6,38.7,48.6,77.6,391272021-11-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079793,2020-12-13,45045,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,450452020-12-13
1079794,2020-12-13,05145,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,051452020-12-13
1079795,2020-12-13,55025,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,550252020-12-13
1079796,2020-12-13,18109,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,181092020-12-13
1079797,2020-12-13,72119,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,721192020-12-13

In [8]:
# Sort by fips_date
vax_data_df.sort_values(by=['fips_date'])

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
1079754,2020-12-13,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-13
1075917,2020-12-14,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-14
1071696,2020-12-15,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-15
1067633,2020-12-16,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-16
1065713,2020-12-17,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2952,2021-11-06,UNK,0.0,163735,158310,0.0,39580,0.0,92.6,0.0,0.0,0.0,UNK2021-11-06
2941,2021-11-06,UNK,0.0,379701,333208,0.0,101590,0.0,93.6,0.0,0.0,0.0,UNK2021-11-06
2664,2021-11-06,UNK,0.0,15721,14428,0.0,1714,0.0,0.0,0.0,0.0,0.0,UNK2021-11-06
2742,2021-11-06,UNK,0.0,2160207,2095932,0.0,533935,0.0,58.1,0.0,0.0,0.0,UNK2021-11-06
2500,2021-11-06,UNK,0.0,73412,72906,0.0,29599,0.0,96.7,0.0,0.0,0.0,UNK2021-11-06

In [9]:
# Eliminate '0' from fips_date columns that begin with '0'
cols_to_check = ['fips_date']
for col in cols_to_check:
    vax_data_df[col] = vax_data_df[col].apply(lambda x : x[1:] if x.startswith("0") else x)

In [10]:
# Sort in descending order by fips_date
vax_data_df.sort_values(by=['fips_date'])

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
1079237,2020-12-13,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-13
1073653,2020-12-14,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-14
1070840,2020-12-15,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-15
1069915,2020-12-16,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-16
1063782,2020-12-17,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2941,2021-11-06,UNK,0.0,379701,333208,0.0,101590,0.0,93.6,0.0,0.0,0.0,UNK2021-11-06
353,2021-11-06,UNK,0.0,33674,32944,0.0,8929,0.0,96.5,0.0,0.0,0.0,UNK2021-11-06
1550,2021-11-06,UNK,0.0,9206,9004,0.0,2436,0.0,96.4,0.0,0.0,0.0,UNK2021-11-06
2742,2021-11-06,UNK,0.0,2160207,2095932,0.0,533935,0.0,58.1,0.0,0.0,0.0,UNK2021-11-06
228,2021-11-06,UNK,0.0,152399,146910,0.0,35360,0.0,97.3,0.0,0.0,0.0,UNK2021-11-06

In [11]:
# Read NYT data into dataframe
nyt_data = 'https://group3data.s3.us-west-2.amazonaws.com/us-counties.csv'
nyt_data_df = pd.read_csv(nyt_data)
nyt_data_df

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
1888090  2021-11-05  Sweetwater     Wyoming  56037.0   7695    91.0
1888091  2021-11-05       Teton     Wyoming  56039.0   5243    14.0
1888092  2021-11-05       Uinta     Wyoming  56041.0   3901    27.0
1888093  2021-11-05    Washakie     Wyoming  56043.0   1780    35.0
1888094  2021-11-05      Weston     Wyoming  56045.0   1154     9.0

[1888095 rows x 6 columns]

In [12]:
# Convert the date column in the NYT data to a datetime object using pd.to_datetime
nyt_data_df['date'] = pd.to_datetime(nyt_data_df['date'])
nyt_data_df.head()

        date     county       state     fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061.0      1     0.0
1 2020-01-22  Snohomish  Washington  53061.0      1     0.0
2 2020-01-23  Snohomish  Washington  53061.0      1     0.0
3 2020-01-24       Cook    Illinois  17031.0      1     0.0
4 2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [13]:
# 1. Remove the data for dates before 7-31-20 and after 10-22-21
# 2. Bin the date column by weeks ending every friday
# 3. Sum the cases and deaths columns for each week binned

# Step 1:
nyt_data_filtered = nyt_data_df[nyt_data_df['date'] >= '2020-07-25']
nyt_data_filtered = nyt_data_filtered[nyt_data_filtered['date'] <= '2021-10-22']
nyt_data_filtered

              date      county    state     fips  cases  deaths
366652  2020-07-25     Autauga  Alabama   1001.0    932    21.0
366653  2020-07-25     Baldwin  Alabama   1003.0   2662    18.0
366654  2020-07-25     Barbour  Alabama   1005.0    552     4.0
366655  2020-07-25        Bibb  Alabama   1007.0    318     2.0
366656  2020-07-25      Blount  Alabama   1009.0    637     1.0
...            ...         ...      ...      ...    ...     ...
1842600 2021-10-22  Sweetwater  Wyoming  56037.0   7414    79.0
1842601 2021-10-22       Teton  Wyoming  56039.0   5119    14.0
1842602 2021-10-22       Uinta  Wyoming  56041.0   3781    26.0
1842603 2021-10-22    Washakie  Wyoming  56043.0   1676    33.0
1842604 2021-10-22      Weston  Wyoming  56045.0   1027     9.0

[1475953 rows x 6 columns]

In [14]:
# Step 2:
# Step 3:

nyt_data_grouped = nyt_data_filtered.groupby(['fips', pd.Grouper(key='date', freq='W-FRI')]).agg({'cases':'sum','deaths':'sum'}).reset_index()
nyt_data_grouped

           fips       date  cases  deaths
0        1001.0 2020-07-31   6817   147.0
1        1001.0 2020-08-07   7503   150.0
2        1001.0 2020-08-14   8531   158.0
3        1001.0 2020-08-21   9009   161.0
4        1001.0 2020-08-28   9484   161.0
...         ...        ...    ...     ...
208977  78030.0 2021-09-24  24720   297.0
208978  78030.0 2021-10-01  24982   304.0
208979  78030.0 2021-10-08  25204   308.0
208980  78030.0 2021-10-15  25290   311.0
208981  78030.0 2021-10-22  25435   315.0

[208982 rows x 4 columns]

In [15]:
# Convert fips to integer
columns = ['fips']
nyt_data_grouped[columns] = nyt_data_grouped[columns].applymap(np.int64)
nyt_data_grouped

         fips       date  cases  deaths
0        1001 2020-07-31   6817   147.0
1        1001 2020-08-07   7503   150.0
2        1001 2020-08-14   8531   158.0
3        1001 2020-08-21   9009   161.0
4        1001 2020-08-28   9484   161.0
...       ...        ...    ...     ...
208977  78030 2021-09-24  24720   297.0
208978  78030 2021-10-01  24982   304.0
208979  78030 2021-10-08  25204   308.0
208980  78030 2021-10-15  25290   311.0
208981  78030 2021-10-22  25435   315.0

[208982 rows x 4 columns]

In [16]:
# Set each column to a string value so we can concatonate them together 
nyt_data_grouped['fips'] = nyt_data_grouped['fips'].astype('str')
nyt_data_grouped['date'] = nyt_data_grouped['date'].astype('str')
nyt_data_grouped['fips'].dtype

dtype('O')

In [17]:
# Concatonate the date column and the fips column to create fips_date
nyt_data_grouped['fips_date'] = nyt_data_grouped['fips'] + nyt_data_grouped['date']
nyt_data_grouped

         fips        date  cases  deaths        fips_date
0        1001  2020-07-31   6817   147.0   10012020-07-31
1        1001  2020-08-07   7503   150.0   10012020-08-07
2        1001  2020-08-14   8531   158.0   10012020-08-14
3        1001  2020-08-21   9009   161.0   10012020-08-21
4        1001  2020-08-28   9484   161.0   10012020-08-28
...       ...         ...    ...     ...              ...
208977  78030  2021-09-24  24720   297.0  780302021-09-24
208978  78030  2021-10-01  24982   304.0  780302021-10-01
208979  78030  2021-10-08  25204   308.0  780302021-10-08
208980  78030  2021-10-15  25290   311.0  780302021-10-15
208981  78030  2021-10-22  25435   315.0  780302021-10-22

[208982 rows x 5 columns]

In [18]:
# Read Hospital data (healthdata.gov) into dataframe
hospital_data = 'https://group3data.s3.us-west-2.amazonaws.com/COVID-19_Reported_Patient_Impact_and_Hospital_Capacity_by_Facility.csv'
hospital_data_df = pd.read_csv(hospital_data)
hospital_data_df

,hospital_pk,collection_week,state,ccn,hospital_name,address,city,zip,hospital_subtype,fips_code,...,previous_day_admission_pediatric_covid_confirmed_7_day_coverage,previous_day_admission_adult_covid_suspected_7_day_coverage,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected
0,140158,2021/10/15,IL,140158,INSIGHT HOSPITAL AND MEDICAL CENTER CHICAGO,2525 S MICHIGAN AVE,CHICAGO,60616.0,Short Term,17031.0,...,7,7,7,0.0,NaN,NaN,NaN,0.0,NaN,False
1,450162,2021/10/15,TX,450162,GRACE SURGICAL HOSPITAL,2412 50TH ST,LUBBOCK,79412.0,Short Term,48303.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
2,451318,2021/10/15,TX,451318,STONEWALL MEMORIAL HOSPITAL DISTRICT,821 NORTH BROADWAY,ASPERMONT,79502.0,Critical Access Hospitals,48433.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
3,050769,2021/10/08,CA,050769,HOAG ORTHOPEDIC INSTITUTE,16250 SAND CANYON AVENUE,IRVINE,92618.0,Short Term,6059.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
4,291500,2021/10/08,NV,291500,NATHAN ADELSON HOSPICE,4141 UNIVERSITY CENTER DR,LAS VEGAS,89119.0,Short Term,32003.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324743,100291,2020/08/07,FL,100291,STEWARD REGIONAL MEDICAL CENTER,250 NORTH WICKHAM ROAD,MELBOURNE,32935.0,Short Term,12009.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
324744,250096,2020/07/31,MS,250096,MERIT HEALTH RANKIN,350 CROSSGATES BLVD,BRANDON,39042.0,Short Term,28121.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
324745,241345,2020/07/31,MN,241345,MAYO CLINIC HEALTH SYSTEM-WASECA,501 NORTH STATE STREET,WASECA,56093.0,Critical Access Hospitals,27161.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
324746,271311,2020/08/07,MT,271311,BIG SANDY MEDICAL CENTER,166 MONTANA AVE E,BIG SANDY,59520.0,Critical Access Hospitals,30015.0,...,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,False
324747,110045,2020/07/31,GA,110045,NORTHEAST GEORGIA MEDICAL CENTER BARROW,316 NORTH BROAD STREET,WINDER,30680.0,Short Term,13013.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [19]:
# Create list of columns to drop
drop_list_hospitals = ['hospital_pk', 'state', 'ccn', 'hospital_name', 'address', 'city', 'zip', 'hospital_subtype', 
                       'is_metro_micro', 'total_beds_7_day_avg', 'all_adult_hospital_beds_7_day_avg', 
                       'all_adult_hospital_inpatient_beds_7_day_avg', 'inpatient_beds_used_7_day_avg', 
                       'all_adult_hospital_inpatient_bed_occupied_7_day_avg', 
                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_avg', 
                       'total_adult_patients_hospitalized_confirmed_covid_7_day_avg', 
                       'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_avg', 
                       'total_pediatric_patients_hospitalized_confirmed_covid_7_day_avg', 'inpatient_beds_7_day_avg', 
                       'total_icu_beds_7_day_avg', 'total_staffed_adult_icu_beds_7_day_avg', 'icu_beds_used_7_day_avg', 
                       'staffed_adult_icu_bed_occupancy_7_day_avg', 
                       'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_avg', 
                       'staffed_icu_adult_patients_confirmed_covid_7_day_avg', 
                       'total_patients_hospitalized_confirmed_influenza_7_day_avg', 
                       'icu_patients_confirmed_influenza_7_day_avg', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_avg', 
                       'all_adult_hospital_inpatient_beds_7_day_coverage', 
                       'inpatient_beds_used_7_day_coverage', 'all_adult_hospital_inpatient_bed_occupied_7_day_coverage', 
                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_coverage', 
                       'total_adult_patients_hospitalized_confirmed_covid_7_day_coverage', 
                       'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_coverage', 
                       'total_pediatric_patients_hospitalized_confirmed_covid_7_day_coverage', 
                       'inpatient_beds_7_day_coverage', 'total_icu_beds_7_day_coverage', 
                       'total_staffed_adult_icu_beds_7_day_coverage', 'icu_beds_used_7_day_coverage', 
                       'staffed_adult_icu_bed_occupancy_7_day_coverage', 
                       'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_coverage', 
                       'staffed_icu_adult_patients_confirmed_covid_7_day_coverage', 
                       'total_patients_hospitalized_confirmed_influenza_7_day_coverage', 
                       'icu_patients_confirmed_influenza_7_day_coverage', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_coverage', 
                       'previous_day_admission_adult_covid_confirmed_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_18-19_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_20-29_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_30-39_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_40-49_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_50-59_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_60-69_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_70-79_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_80+_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_unknown_7_day_sum', 
                       'previous_day_admission_pediatric_covid_confirmed_7_day_sum', 
                       'previous_day_covid_ED_visits_7_day_sum', 'previous_day_admission_adult_covid_suspected_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_18-19_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_20-29_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_30-39_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_40-49_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_50-59_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_60-69_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_70-79_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_80+_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_unknown_7_day_sum', 
                       'previous_day_admission_pediatric_covid_suspected_7_day_sum', 
                       'previous_day_total_ED_visits_7_day_sum', 'previous_day_admission_influenza_confirmed_7_day_sum', 
                       'geocoded_hospital_address', 'hhs_ids', 
                       'previous_day_admission_adult_covid_confirmed_7_day_coverage', 
                       'previous_day_admission_pediatric_covid_confirmed_7_day_coverage', 
                       'previous_day_admission_adult_covid_suspected_7_day_coverage', 
                       'previous_day_admission_pediatric_covid_suspected_7_day_coverage', 
                       'previous_week_personnel_covid_vaccinated_doses_administered_7_day', 
                       'total_personnel_covid_vaccinated_doses_none_7_day', 
                       'total_personnel_covid_vaccinated_doses_one_7_day', 
                       'total_personnel_covid_vaccinated_doses_all_7_day', 
                       'previous_week_patients_covid_vaccinated_doses_one_7_day', 
                       'previous_week_patients_covid_vaccinated_doses_all_7_day', 'is_corrected', 
                       'total_beds_7_day_coverage', 'all_adult_hospital_beds_7_day_coverage',
                       'total_patients_hospitalized_confirmed_influenza_7_day_sum', 
                       'icu_patients_confirmed_influenza_7_day_sum', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_sum'
]

In [20]:
# Remove drop_list columns from df
hospital_data_df.drop(drop_list_hospitals, axis=1, inplace=True)
hospital_data_df.head()

,collection_week,fips_code,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,2021/10/15,17031.0,350.0,350.0,252.0,160.0,160.0,7.0,7.0,0.0,0.0,252.0,28.0,28.0,16.0,16.0,7.0,7.0
1,2021/10/15,48303.0,268.0,268.0,261.0,34.0,34.0,0.0,0.0,0.0,0.0,261.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2021/10/15,48433.0,77.0,77.0,63.0,0.0,0.0,0.0,0.0,0.0,0.0,63.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2021/10/08,6059.0,245.0,245.0,133.0,126.0,126.0,0.0,0.0,0.0,0.0,133.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2021/10/08,32003.0,266.0,266.0,266.0,191.0,191.0,11.0,11.0,0.0,0.0,266.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
# Convert the date column in the hospital data to a datetime object using pd.to_datetime
hospital_data_df['collection_week'] = pd.to_datetime(hospital_data_df['collection_week'])
# Check to verify the date is now a datetime object
hospital_data_df.dtypes

collection_week                                                                  datetime64[ns]
fips_code                                                                               float64
total_beds_7_day_sum                                                                    float64
all_adult_hospital_beds_7_day_sum                                                       float64
all_adult_hospital_inpatient_beds_7_day_sum                                             float64
inpatient_beds_used_7_day_sum                                                           float64
all_adult_hospital_inpatient_bed_occupied_7_day_sum                                     float64
total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum               float64
total_adult_patients_hospitalized_confirmed_covid_7_day_sum                             float64
total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum           float64
total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum                         float64
inpatient_beds_7_day_sum                                                                float64
total_icu_beds_7_day_sum                                                                float64
total_staffed_adult_icu_beds_7_day_sum                                                  float64
icu_beds_used_7_day_sum                                                                 float64
staffed_adult_icu_bed_occupancy_7_day_sum                                               float64
staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum                      float64
staffed_icu_adult_patients_confirmed_covid_7_day_sum                                    float64
dtype: object

In [22]:
# Sort the hospital data by date
hospital_data_df = hospital_data_df.sort_values(by='collection_week')
hospital_data_df

# The hospital data is binned by collection week ending on every friday

,collection_week,fips_code,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
324747,2020-07-31,13013.0,266.0,NaN,NaN,199.0,NaN,0.0,NaN,-999999.0,NaN,266.0,0.0,NaN,0.0,NaN,NaN,NaN
319367,2020-07-31,21015.0,1062.0,1062.0,1062.0,949.0,949.0,-999999.0,-999999.0,0.0,0.0,1062.0,126.0,108.0,109.0,109.0,-999999.0,-999999.0
319371,2020-07-31,12099.0,3332.0,2710.0,2710.0,1873.0,1859.0,266.0,266.0,0.0,0.0,3206.0,287.0,287.0,178.0,178.0,41.0,41.0
319374,2020-07-31,19049.0,102.0,126.0,84.0,-999999.0,9.0,4.0,-999999.0,0.0,0.0,84.0,0.0,0.0,0.0,0.0,0.0,0.0
319375,2020-07-31,6037.0,824.0,404.0,341.0,296.0,296.0,5.0,0.0,0.0,0.0,341.0,20.0,20.0,18.0,18.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10378,2021-10-22,37005.0,42.0,42.0,42.0,26.0,26.0,-999999.0,-999999.0,0.0,0.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0
10377,2021-10-22,48039.0,15.0,15.0,9.0,4.0,4.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
6377,2021-10-22,20019.0,154.0,154.0,126.0,10.0,10.0,0.0,0.0,0.0,0.0,126.0,0.0,0.0,0.0,0.0,0.0,0.0
10372,2021-10-22,21125.0,1421.0,864.0,864.0,658.0,658.0,158.0,158.0,0.0,0.0,864.0,336.0,336.0,229.0,229.0,71.0,71.0
10352,2021-10-22,13015.0,1134.0,1134.0,834.0,821.0,791.0,69.0,69.0,0.0,0.0,842.0,147.0,147.0,139.0,139.0,47.0,47.0

In [23]:
# Group and sort hospital_data_df by fips_code
hospital_data_df = hospital_data_df.groupby(['fips_code', pd.Grouper(key='collection_week', freq='W-FRI')]).agg({'total_beds_7_day_sum':'sum','all_adult_hospital_beds_7_day_sum':'sum', 'all_adult_hospital_inpatient_beds_7_day_sum':'sum', 'inpatient_beds_used_7_day_sum':'sum', 'all_adult_hospital_inpatient_bed_occupied_7_day_sum':'sum', 
                                                                                                                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 'total_adult_patients_hospitalized_confirmed_covid_7_day_sum': 'sum', 'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 'total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum':'sum', 'inpatient_beds_7_day_sum':'sum', 'total_icu_beds_7_day_sum':'sum', 
                                                                                                                       'total_staffed_adult_icu_beds_7_day_sum':'sum', 'icu_beds_used_7_day_sum':'sum', 'staffed_adult_icu_bed_occupancy_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_covid_7_day_sum':'sum'}).reset_index()
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,1001.0,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0
1,1001.0,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0
2,1001.0,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0
3,1001.0,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0
4,1001.0,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0
159867,78020.0,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0
159868,78020.0,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0
159869,78020.0,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0
159870,78020.0,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0

In [24]:
# Convert fips to integer
columns = ['fips_code']
hospital_data_df[columns] = hospital_data_df[columns].applymap(np.int64)
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0

In [25]:
# Convert the hospital date and fips_code column to strings
hospital_data_df['collection_week'] = hospital_data_df['collection_week'].astype('str')
hospital_data_df['fips_code'] = hospital_data_df['fips_code'].astype('str')

In [26]:
# Concat the date and fips_code for new columns fips_date
hospital_data_df['fips_date'] = hospital_data_df['fips_code'] + hospital_data_df['collection_week']
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,10012020-07-31
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,10012020-08-07
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,10012020-08-14
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,10012020-08-21
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,780202021-09-24
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,780202021-10-01
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,780202021-10-08
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,780202021-10-15
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0,780202021-10-22

In [27]:
# Convert all negative values to 0
num = hospital_data_df._get_numeric_data()
num[num < 0] = 0

In [29]:
# Create variable for list of uniques fips_date values in hospital data
f = hospital_data_df['fips_date'].unique()

In [30]:
# Create variable for list of uniques fips_date values in counties data
x = nyt_data_grouped['fips_date'].unique()

In [31]:
# Create list of fips_date values that only appear in one data set
remove_list = list(set(x).symmetric_difference(set(f)))
remove_list

['510232021-07-23',
 '310772020-08-21',
 '370432021-08-13',
 '291252020-07-31',
 '121292020-08-14',
 '484172021-02-26',
 '720272020-09-11',
 '132692021-09-24',
 '515302020-09-25',
 '210292021-04-30',
 '132892021-03-19',
 '460032020-10-16',
 '401072021-06-25',
 '311172020-11-20',
 '460872021-07-23',
 '21882020-08-14',
 '291512021-05-07',
 '481252020-10-23',
 '281192021-01-15',
 '171932020-10-02',
 '190312020-09-18',
 '211692021-10-22',
 '483012021-05-28',
 '221212021-06-25',
 '460612020-09-25',
 '481552021-07-16',
 '212232021-04-16',
 '720332021-01-15',
 '170032021-06-11',
 '471752020-09-11',
 '720772020-12-18',
 '471732020-07-31',
 '550112021-01-29',
 '171712021-05-14',
 '530592020-08-21',
 '540492020-12-04',
 '210292020-10-16',
 '181472020-08-28',
 '180472021-07-09',
 '50532021-02-05',
 '360812021-03-26',
 '291972020-12-11',
 '484672021-03-26',
 '720292021-09-17',
 '420972020-09-18',
 '480652020-12-11',
 '721172020-08-14',
 '171752020-09-04',
 '720472020-10-09',
 '301092021-01-29',
 '220752021-03-26',
 '461052020-07-31',
 '290892021-08-20',
 '471272021-06-25',
 '200492021-04-16',
 '420972020-09-04',
 '220372020-10-02',
 '470572021-08-13',
 '211912020-10-09',
 '360472021-10-15',
 '360472020-12-11',
 '310352020-12-18',
 '211032021-09-17',
 '380132020-08-14',
 '471612021-09-17',
 '132432020-10-30',
 '482032020-08-07',
 '120432021-02-26',
 '511832021-10-08',
 '60912020-12-04',
 '471392020-08-28',
 '360052021-01-01',
 '511632020-12-04',
 '131452021-10-01',
 '550372020-10-02',
 '171532021-04-30',
 '460212021-01-22',
 '311832021-05-28',
 '50672021-10-15',
 '510092021-04-16',
 '133152021-09-03',
 '280092021-01-08',
 '160752020-12-25',
 '50892021-10-22',
 '540312021-01-01',
 '720572021-02-26',
 '220752020-12-11',
 '201072021-01-15',
 '516102021-06-11',
 '516002021-05-28',
 '511192021-05-14',
 '210392021-07-30',
 '550412020-10-30',
 '360612021-02-19',
 '510252021-05-21',
 '20702021-07-02',
 '721112021-08-13',
 '510212020-10-16',
 '80392020-08-14',
 '20502021-05-07',
 '471292021-10-01',
 '280572021-04-23',
 '721332020-10-09',
 '350232021-05-28',
 '511632021-09-17',
 '480092021-02-19',
 '720712021-10-08',
 '470332020-10-02',
 '260892020-08-28',
 '380472020-10-23',
 '721012021-03-05',
 '401412020-09-04',
 '310772021-02-26',
 '720752020-10-23',
 '131472021-02-05',
 '212292021-06-11',
 '260852021-10-15',
 '270452021-01-15',
 '482292021-05-07',
 '721392020-08-21',
 '460852021-08-06',
 '132732021-02-12',
 '120652021-05-28',
 '80572020-07-31',
 '290252021-10-01',
 '51292020-10-16',
 '131492020-08-07',
 '450612021-03-19',
 '21852021-01-15',
 '720892021-05-14',
 '130072021-08-27',
 '260852021-01-29',
 '540992021-06-11',
 '470232021-07-16',
 '260312020-08-28',
 '50492020-08-14',
 '482972021-02-19',
 '131252021-04-09',
 '21202020-08-28',
 '220752021-01-29',
 '133072021-10-15',
 '460312021-03-26',
 '211632021-04-02',
 '171712021-03-19',
 '461022021-06-11',
 '461172021-04-09',
 '371432020-10-09',
 '470472020-12-04',
 '121212021-06-25',
 '371152021-02-19',
 '483852021-10-01',
 '190312021-01-01',
 '481912021-10-15',
 '80532021-04-16',
 '511932021-02-12',
 '511632020-09-11',
 '20682021-02-05',
 '181012021-09-17',
 '460192021-07-02',
 '121292021-10-15',
 '221072021-10-01',
 '300372021-08-13',
 '720932021-03-19',
 '371312021-07-30',
 '482352021-05-21',
 '720392020-11-27',
 '120752020-08-14',
 '450092021-03-05',
 '320112021-08-20',
 '120072020-11-27',
 '191292020-11-06',
 '310852021-02-19',
 '480672020-11-27',
 '180252020-09-25',
 '380432020-08-14',
 '540792021-05-21',
 '270092020-10-02',
 '471012021-07-09',
 '481752021-08-27',
 '484312021-07-02',
 '130032020-08-28',
 '22902021-08-13',
 '361152021-04-23',
 '21582021-09-24',
 '80932021-01-22',
 '511412020-10-09',
 '160732021-03-05',
 '518302021-05-21',
 '720472021-07-16',
 '510492021-04-02',
 '210612021-09-17',
 '132312021-01-08',
 '482692021-05-07',
 '370032021-07-30',
 '482612021-02-26',
 '550072021-10-15',
 '300752021-09-17',
 '510352020-10-02',
 '550412021-06-18',
 '420532020-10-16',
 '130032020-12-11',
 '511452020-12-25',
 '130732021-04-02',
 '130112020-09-04',
 '511692021-04-23',
 '560352021-06-04',
 '550782020-10-23',
 '720752020-11-27',
 '490312021-08-13',
 '470272021-09-10',
 '133072021-06-18',
 '40112021-02-12',
 '480812021-03-05',
 '132892020-09-25',
 '240192021-06-25',
 '212352021-09-10',
 '481052021-06-25',
 '360412021-03-05',
 '292292021-01-01',
 '380132020-09-25',
 '721392021-03-19',
 '132712021-02-12',
 '211812021-09-24',
 '281432020-10-09',
 '721432020-11-13',
 '471012021-04-09',
 '160752020-09-11',
 '360412021-10-08',
 '132712021-02-05',
 '170132021-10-15',
 '281432020-09-25',
 '511052021-08-20',
 '484192020-09-25',
 '720932020-09-18',
 '510792021-08-13',
 '400772020-08-28',
 '180472021-08-06',
 '291512021-10-15',
 '211232020-10-23',
 '540312021-03-19',
 '21952021-06-25',
 '511932020-11-20',
 '280572020-09-04',
 '50952021-10-08',
 '51472020-12-25',
 '380332020-09-11',
 '390872021-03-05',
 '311152021-02-12',
 '290632021-04-09',
 '391272021-06-25',
 '240192021-04-30',
 '21582020-11-13',
 '310352020-09-18',
 '480192021-09-24',
 '720932021-07-30',
 '360052020-12-18',
 '511092020-10-23',
 '540492021-07-09',
 '20502021-03-26',
 '511252021-10-08',
 '131672021-08-06',
 '482432020-10-09',
 '220432020-08-28',
 '380432021-05-21',
 '482692020-10-30',
 '511612020-10-30',
 '517502020-11-20',
 '22902021-04-30',
 '291492021-06-25',
 '291332021-06-18',
 '211432020-11-27',
 '490312021-05-14',
 '191292020-08-28',
 '290432021-01-08',
 '720652021-03-26',
 '300452021-07-09',
 '460972021-09-17',
 '181192021-05-07',
 '170472021-02-12',
 '291812020-10-23',
 '171332021-04-09',
 '10372021-02-05',
 '292012021-01-29',
 '270212021-08-20',
 '160512021-02-26',
 '280532020-08-28',
 '511412021-05-28',
 '171712021-08-06',
 '130832020-12-25',
 '50892020-12-18',
 '380452021-02-05',
 '320092021-05-21',
 '160332021-06-11',
 '22602021-04-30',
 '510992020-10-23',
 '10672021-06-11',
 '361152020-11-27',
 '300052021-06-11',
 '370792020-08-21',
 '340152021-05-07',
 '720272021-01-29',
 '181612021-08-20',
 '461372020-11-13',
 '517352020-11-27',
 '516902020-10-16',
 '360992021-09-17',
 '300372020-12-18',
 '380652020-12-04',
 '130292020-11-27',
 '720392021-05-07',
 '511112021-05-21',
 '480192020-11-20',
 '400772021-05-28',
 '371852020-11-20',
 '482972021-01-29',
 '510372021-09-10',
 '211532021-04-30',
 '290352020-08-28',
 '440012021-08-06',
 '361152020-09-04',
 '511052020-10-23',
 '291352020-12-04',
 '460872020-10-23',
 '210792021-04-09',
 '261412021-08-13',
 '260012020-09-04',
 '51112021-03-12',
 '481692021-04-02',
 '510992021-07-16',
 '460692020-08-14',
 '310212021-09-17',
 '291492020-07-31',
 '510212021-03-05',
 '120672021-04-09',
 '410692021-06-25',
 '460952021-05-07',
 '470872021-07-30',
 '720272021-01-15',
 '131672021-03-26',
 '170092020-10-23',
 '261132020-09-18',
 '470232021-03-26',
 '50912021-02-05',
 '270092021-08-13',
 '191292021-08-13',
 '271252020-11-20',
 '292272020-09-18',
 '510972021-04-23',
 '380272020-08-14',
 '391112021-04-23',
 '400912021-07-02',
 '210112021-10-15',
 '180472021-02-26',
 '290432021-10-01',
 '480332021-07-09',
 '481912021-10-22',
 '261092021-07-23',
 '121292021-01-29',
 '51352020-07-31',
 '500132021-09-03',
 '292032021-05-14',
 '483592020-09-18',
 '450612021-06-04',
 '511352020-11-13',
 '720172020-11-06',
 '50792020-08-28',
 '310272021-07-16',
 '191732020-08-14',
 '160512021-05-28',
 '201992021-02-05',
 '240352021-04-30',
 '484552021-07-02',
 '484172021-05-21',
 '461192021-10-08',
 '483112021-10-01',
 '511692020-10-09',
 '721392021-10-01',
 '22612021-04-09',
 '450172021-04-09',
 '380412021-02-19',
 '210292020-08-14',
 '480092020-09-04',
 '511092020-12-18',
 '460612021-10-01',
 '515802020-10-30',
 '391352021-04-30',
 '721472020-09-11',
 '21852020-11-20',
 '550772021-08-20',
 '482032021-01-01',
 '310752021-06-04',
 '290592021-10-01',
 '510352021-03-19',
 '120652021-03-12',
 '516002021-07-30',
 '390872021-07-23',
 '470332020-10-23',
 '132432021-06-04',
 '191952021-04-30',
 '210312021-02-19',
 '20502020-11-20',
 '170472020-11-20',
 '220372021-08-20',
 '721232020-08-07',
 '300432021-07-09',
 '22902021-10-08',
 '320092021-09-17',
 '280552021-01-29',
 '290412021-09-10',
 '160632020-10-16',
 '80532020-09-18',
 '550372021-08-20',
 '181112021-04-09',
 '21222021-01-22',
 '170232020-09-04',
 '370732021-09-17',
 '390872020-08-07',
 '483872020-07-31',
 '130832021-02-26',
 '201072021-02-05',
 '131952021-08-13',
 '510112020-12-25',
 '420232020-11-27',
 '11072021-06-18',
 '202072021-08-27',
 '510992021-02-19',
 '510752020-08-14',
 '371312021-10-15',
 '481312021-03-26',
 '460632020-10-30',
 '191152021-06-18',
 '721112021-08-27',
 '516852021-05-07',
 '482592021-09-10',
 '460612021-09-03',
 '290432020-12-04',
 '510432021-05-07',
 '530592021-08-13',
 '721332021-10-08',
 '211972020-11-06',
 '80532021-03-12',
 '420232021-03-05',
 '470392021-03-12',
 '511652020-10-02',
 '10292021-03-12',
 '130852021-03-19',
 '460612021-08-27',
 '190312021-05-07',
 '450812021-01-29',
 '51472020-10-16',
 '311812020-08-14',
 '80332021-04-23',
 '310092021-08-27',
 '721392021-07-02',
 '371772021-07-23',
 '391352021-02-19',
 '211472020-11-06',
 '280092021-10-15',
 '160752021-02-19',
 '391212021-07-16',
 '320112020-10-02',
 '210232020-11-27',
 '540312021-08-20',
 '310092021-07-02',
 '370792020-11-27',
 '81092020-09-11',
 '400912021-06-25',
 '541092021-04-02',
 '511052021-03-12',
 '21222021-08-27',
 '461052020-12-25',
 '720832021-06-25',
 '380052020-07-31',
 '171512021-07-09',
 '721432020-12-11',
 '380272020-12-11',
 '483812020-11-06',
 '511452021-01-15',
 '511612020-08-07',
 '510932020-12-25',
 '471292021-08-20',
 '482972021-04-02',
 '211132021-09-10',
 '120652021-10-15',
 '131912021-04-16',
 '211132020-09-18',
 '51292021-10-08',
 '510492020-11-06',
 '290672020-10-02',
 '340152021-04-02',
 '350232021-10-15',
 '721332020-08-21',
 '290152020-09-18',
 '480452020-07-31',
 '510652021-08-13',
 '10872021-02-05',
 '460692020-10-30',
 '21852021-09-17',
 '511272020-08-28',
 '360352021-07-02',
 '516902020-11-20',
 '310912020-09-11',
 '210292021-07-16',
 '360612021-01-15',
 '483192020-12-04',
 '380472020-09-11',
 '721372021-10-01',
 '510992020-08-14',
 '220952021-06-18',
 '481052021-03-12',
 '170172020-08-28',
 '391352021-03-05',
 '690002021-08-20',
 '371772020-08-07',
 '320292021-10-22',
 '370732021-01-15',
 '131832020-11-20',
 '511752021-06-11',
 '482052020-09-11',
 '10872021-01-08',
 '720752021-02-19',
 '212012020-10-16',
 '291512021-09-24',
 '510112021-01-01',
 '300052020-11-06',
 '721072021-06-11',
 '371032020-09-04',
 '460632021-02-26',
 '171292021-04-09',
 '132652021-07-23',
 '483432020-08-07',
 '22902021-09-24',
 '500132020-11-20',
 '281192020-09-04',
 '311152021-04-23',
 '540792021-02-05',
 '511052020-11-27',
 '400532021-01-15',
 '461022020-09-11',
 '311712021-07-09',
 '461112021-06-18',
 '51352021-03-19',
 '130372021-08-27',
 '280152021-06-25',
 '721312021-07-02',
 '483332020-11-20',
 '471272021-03-05',
 '210312021-06-25',
 '240192020-10-02',
 '481552021-10-01',
 '380252020-12-18',
 '132652021-07-16',
 '160512020-09-18',
 '80272020-12-25',
 '131232020-12-11',
 '21952021-04-16',
 '320092021-06-18',
 '220472021-09-17',
 '310512021-05-07',
 '370332020-11-13',
 '292232021-06-25',
 '380852021-03-05',
 '191712020-08-14',
 '490152021-01-08',
 '180152021-08-20',
 '510432021-06-18',
 '720152021-05-14',
 '484672021-02-26',
 '511352021-10-15',
 '191812021-05-21',
 '720412021-04-30',
 '210392021-02-12',
 '483612021-02-05',
 '280152021-08-20',
 '470332021-07-23',
 '133112020-12-04',
 '80112021-10-22',
 '420532021-05-07',
 '511932021-04-30',
 '29982020-08-28',
 '180472021-04-16',
 '292272021-04-02',
 '291332021-08-27',
 '480472021-06-18',
 '310432021-09-24',
 '292012021-08-13',
 '290692020-11-20',
 '171552021-05-21',
 '483272020-10-30',
 '210752021-07-30',
 '310352020-09-25',
 '480192021-01-15',
 '484092021-08-20',
 '181212020-12-04',
 '261132020-08-21',
 '471012021-07-23',
 '510092020-12-11',
 '220472021-10-01',
 '191292021-09-03',
 '131772020-12-04',
 '310732021-10-15',
 '461212021-02-12',
 '290252021-03-12',
 '540632020-08-07',
 '270392020-11-06',
 '482032020-11-06',
 '290452021-03-12',
 '181212020-08-28',
 '191952021-07-02',
 '270392021-03-26',
 '482972021-06-18',
 '211652021-02-05',
 '291192020-10-30',
 '460712021-04-30',
 '511372021-10-08',
 '310512021-05-21',
 '280732020-08-07',
 '270092020-08-07',
 '460952021-09-03',
 '131672021-04-23',
 '290252021-02-19',
 '721512020-10-09',
 '180132020-11-20',
 '160372020-12-11',
 '291812021-07-16',
 '350112020-10-09',
 '210292021-02-05',
 '517352021-02-26',
 '270552021-03-05',
 '371032021-03-26',
 '290032021-09-03',
 '29972020-08-21',
 '131012020-12-25',
 '510772020-12-18',
 '270552020-11-06',
 '170132020-10-09',
 '530592020-11-13',
 '460572021-02-26',
 '461372021-02-26',
 '350612020-11-27',
 '511312021-08-27',
 '510232021-08-27',
 '290152020-12-18',
 '440012020-10-30',
 '240392021-08-27',
 '721212021-06-25',
 '20502021-02-12',
 '515202021-03-12',
 '221072020-08-14',
 '471372020-10-02',
 '470472021-01-08',
 '260012020-10-02',
 '510352021-01-29',
 '510452021-03-05',
 '120072020-10-30',
 '170172021-05-28',
 '131012021-01-01',
 '410552021-04-16',
 '290892021-04-02',
 '210232021-02-12',
 '720332020-10-23',
 '470492020-12-18',
 '291252021-01-29',
 '720872020-12-04',
 '720652021-10-22',
 '515702021-07-02',
 '380832021-10-22',
 '391212020-09-18',
 '720732021-08-20',
 '490292021-07-23',
 '240112021-01-08',
 '511132021-05-14',
 '131452020-12-25',
 '370532021-01-29',
 '160632021-06-11',
 '51012021-07-09',
 '490312021-01-08',
 '290352021-02-05',
 '261432020-09-18',
 '485072020-12-04',
 '483952021-01-22',
 '481192021-01-29',
 '130492020-11-13',
 '350112021-07-09',
 '160632021-02-12',
 '310052020-08-28',
 '360472021-04-30',
 '290432021-04-16',
 '460312021-03-05',
 '483932021-07-16',
 '22612021-02-19',
 '720112021-03-12',
 '212292021-10-22',
 '320092021-07-09',
 '511812021-04-02',
 '310872021-04-30',
 '291692021-06-04',
 '380812021-08-13',
 '511592021-02-19',
 '720732020-12-04',
 '260312021-06-25',
 '160732020-12-11',
 '540492021-07-16',
 '540172021-08-06',
 '483872021-08-13',
 '511412020-10-30',
 '81112020-08-07',
 '721512021-10-01',
 '181612021-09-17',
 '482432021-03-05',
 '132692021-04-23',
 '261432021-04-02',
 '540172021-04-30',
 '311632020-10-23',
 '360812020-08-21',
 '181472021-01-15',
 '511252021-09-03',
 '340152020-08-07',
 '517902021-10-22',
 '202072020-07-31',
 '80252020-12-18',
 '380052020-09-04',
 '510452021-05-21',
 '780302021-10-22',
 '181252020-07-31',
 '500092020-09-11',
 '480472021-05-07',
 '210072021-08-20',
 '481052021-02-19',
 '360812020-12-25',
 '292052021-04-09',
 '540732020-09-25',
 '460852020-11-20',
 '510492020-09-25',
 '211232021-07-02',
 '482352020-11-27',
 '370732021-04-16',
 '220472021-02-12',
 '130932020-12-04',
 '401072021-09-03',
 '390152021-10-22',
 '131252020-10-30',
 '50672020-10-30',
 '510792021-01-29',
 '780302021-07-02',
 '350572021-09-17',
 '291812020-09-11',
 '211052020-08-14',
 '22902021-08-20',
 '530692020-10-02',
 '210112021-04-23',
 '220372021-10-15',
 '300052021-02-05',
 '482832021-09-03',
 '181552020-08-28',
 '230232021-02-19',
 '550412021-05-21',
 '350572020-09-18',
 '201392021-08-13',
 '301032021-03-19',
 '541052020-08-21',
 '130792021-06-04',
 '132692020-12-04',
 '481192020-09-04',
 '291412021-09-17',
 '311672021-01-01',
 '211692020-09-04',
 '400032021-01-29',
 '460952020-12-04',
 '482712020-10-09',
 '180252020-12-25',
 '260892020-09-25',
 '181192021-07-09',
 '471752021-05-07',
 '22102020-11-13',
 '131232020-08-21',
 '450392021-02-12',
 '292052021-10-08',
 '170472021-01-29',
 '720652021-01-29',
 '490092020-10-16',
 '81112021-07-09',
 '471292021-02-05',
 '480592020-12-25',
 '210792020-10-09',
 '471392021-10-22',
 '170932021-02-19',
 '511092020-09-11',
 '401072021-09-10',
 '311172020-11-27',
 '202072021-04-23',
 '510972020-11-13',
 '133072020-07-31',
 '482052020-11-27',
 '517352021-04-30',
 '481192020-09-18',
 '550072021-02-26',
 '510772021-02-19',
 '20682020-12-18',
 '511012020-09-04',
 '50972021-07-23',
 '380332020-10-09',
 '22602020-10-02',
 '291392021-04-02',
 '180472021-10-15',
 '290612021-01-22',
 '541092020-08-14',
 '371152021-01-01',
 '291252021-03-19',
 '371972021-02-26',
 '211872020-09-18',
 '121292021-08-06',
 '371972020-08-28',
 '391152020-12-11',
 '484432021-06-25',
 '511412021-04-09',
 '490312021-04-23',
 '371032020-12-11',
 '22752020-11-20',
 '460712021-08-13',
 '291392021-03-05',
 '50532021-02-26',
 '380052021-01-15',
 '281432020-08-28',
 '390872021-01-22',
 '51352021-01-29',
 '290612020-12-25',
 '300112020-08-14',
 '290532021-09-17',
 '260852021-06-11',
 '291392021-10-01',
 '361072020-08-28',
 '540492021-08-13',
 '132492021-01-15',
 '720172020-09-18',
 '482612021-04-09',
 '291412021-06-25',
 '371312020-10-23',
 '510792021-06-18',
 '260852021-03-26',
 '50672021-08-20',
 '120652021-10-01',
 '130732021-02-19',
 '380912020-08-21',
 '484892021-04-09',
 '120412020-09-25',
 '461172021-08-27',
 '480312021-09-24',
 '481372021-10-08',
 '483332021-02-12',
 '461022020-10-02',
 '181292020-10-02',
 '490552021-01-22',
 '516102020-10-02',
 '130372021-08-20',
 '480812020-12-11',
 '270452021-05-28',
 '510632021-03-05',
 '481732021-07-23',
 '292052021-07-23',
 '131672021-09-10',
 '380412020-10-16',
 '10852021-02-05',
 '132692021-02-19',
 '420972020-12-11',
 '270392021-07-16',
 '490292021-08-06',
 '540092021-03-12',
 '484112021-09-17',
 '51292021-10-01',
 '131812020-11-13',
 '292272021-01-01',
 '20502020-09-11',
 '480472020-11-20',
 '720432021-07-30',
 '180252021-08-20',
 '380272021-02-19',
 '511832021-02-19',
 '540932021-06-04',
 '540152021-06-11',
 '470952021-07-23',
 '471352021-02-19',
 '22202021-08-06',
 '50872020-10-16',
 '170092020-08-28',
 '720492021-04-30',
 '310492021-05-07',
 '21882021-04-09',
 '21852021-10-15',
 '130792020-10-09',
 '484172021-01-22',
 '515302021-07-02',
 '720572020-10-16',
 '240352020-08-21',
 '80332020-08-14',
 '481012021-07-02',
 '471392021-05-21',
 '470572021-06-04',
 '511092020-08-14',
 '310352021-01-01',
 '29982021-03-12',
 '291812020-12-25',
 '311632021-10-22',
 '461022021-04-09',
 '371152021-04-23',
 '22802020-11-06',
 '291252021-07-23',
 '511652021-09-03',
 '290872021-07-09',
 '21202021-04-09',
 '181112021-06-04',
 '401412020-12-11',
 '540092020-09-11',
 '360812021-05-14',
 '181472021-01-22',
 '310272021-04-09',
 '470952021-08-06',
 '391212021-07-23',
 '720232021-03-19',
 '50852021-01-01',
 '29972021-05-21',
 '511592021-07-02',
 '540992021-10-22',
 '20802021-09-03',
 '290352021-05-14',
 '290412021-05-14',
 '211352020-08-07',
 '481252021-04-02',
 '50132020-12-04',
 '170032021-04-16',
 '160152021-06-18',
 '290432020-07-31',
 '483592021-07-30',
 '171752021-07-16',
 '291512021-01-01',
 '720472021-04-02',
 '131412021-06-18',
 '460632021-05-14',
 '320092021-05-07',
 '170932021-07-02',
 '720772020-10-23',
 '133092021-07-16',
 '291532021-04-16',
 '480592021-02-26',
 '471732020-11-06',
 '311712020-11-13',
 '350232021-04-09',
 '132732020-11-20',
 '410212021-06-11',
 '132952020-09-04',
 '200492021-10-15',
 '171292021-06-04',
 '380812021-03-26',
 '470272020-10-23',
 '483012021-04-09',
 '721032020-11-13',
 '81092021-07-02',
 '212192020-08-14',
 '133092021-09-10',
 '210912020-08-07',
 '270212021-06-18',
 '291492021-03-19',
 '292092020-11-06',
 '60912021-04-09',
 '720192021-10-01',
 '510992021-05-07',
 '380072021-01-15',
 '131912021-06-25',
 '483112021-06-18',
 '471612021-07-02',
 '210772021-02-05',
 '291292020-11-27',
 '290172020-12-18',
 '720232021-06-04',
 '20162020-09-18',
 '721512021-08-27',
 '132832021-04-02',
 '421092020-12-04',
 '510892021-10-01',
 '391372021-01-29',
 '360992020-09-11',
 '80572020-11-06',
 '291332021-06-25',
 '292052021-05-21',
 '484072020-10-02',
 '290432020-08-14',
 '29972021-06-11',
 '292292020-07-31',
 '721012020-12-18',
 '201972020-08-28',
 '484592021-08-27',
 '290672020-11-06',
 '210232020-12-18',
 '291332021-07-23',
 '470272021-03-12',
 '540432021-08-13',
 '450652020-11-27',
 '260832020-10-30',
 '240112021-10-22',
 '281312021-08-27',
 ...]

In [32]:
# Eliminate rows with fips_date values that do not appear in counties dataset
hospital_data_df = hospital_data_df[~hospital_data_df['fips_date'].isin(remove_list)]
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,10012020-07-31
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,10012020-08-07
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,10012020-08-14
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,10012020-08-21
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,780202021-09-24
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,780202021-10-01
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,780202021-10-08
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,780202021-10-15
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,780202021-10-22

In [33]:
# Shorten column names to avoid truncating in postgres (confirmed=con, suspected=sus, pediatric=ped)
hospital_data_df.rename({'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum', 
                         'total_adult_patients_hospitalized_confirmed_covid_7_day_sum':'total_adult_patients_hospitalized_con_covid_7_day_sum', 
                         'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum', 
                         'total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum':'total_ped_patients_hospitalized_con_covid_7_day_sum', 
                         'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum':'staffed_icu_adult_patients_con_and_sus_covid_7_day_sum', 
                         'staffed_icu_adult_patients_confirmed_covid_7_day_sum':'staffed_icu_adult_patients_con_covid_7_day_sum'}, axis=1, inplace=True)
hospital_data_df

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,10012020-07-31
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,10012020-08-07
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,10012020-08-14
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,10012020-08-21
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,780202021-09-24
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,780202021-10-01
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,780202021-10-08
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,780202021-10-15
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,780202021-10-22

In [34]:
# Eliminate rows with fips_date values that do not appear in hospitals dataset
nyt_data_grouped = nyt_data_grouped[~nyt_data_grouped['fips_date'].isin(remove_list)]
nyt_data_grouped

         fips        date  cases  deaths        fips_date
0        1001  2020-07-31   6817   147.0   10012020-07-31
1        1001  2020-08-07   7503   150.0   10012020-08-07
2        1001  2020-08-14   8531   158.0   10012020-08-14
3        1001  2020-08-21   9009   161.0   10012020-08-21
4        1001  2020-08-28   9484   161.0   10012020-08-28
...       ...         ...    ...     ...              ...
208912  78020  2021-09-24   2258    21.0  780202021-09-24
208913  78020  2021-10-01   2293    21.0  780202021-10-01
208914  78020  2021-10-08   2317    21.0  780202021-10-08
208915  78020  2021-10-15   2317    21.0  780202021-10-15
208916  78020  2021-10-22   2322    21.0  780202021-10-22

[159064 rows x 5 columns]

In [35]:
# Convert float data types to integers in NYT data set
columns = ['deaths']
nyt_data_grouped[columns] = nyt_data_grouped[columns].applymap(np.int64)
nyt_data_grouped

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

         fips        date  cases  deaths        fips_date
0        1001  2020-07-31   6817     147   10012020-07-31
1        1001  2020-08-07   7503     150   10012020-08-07
2        1001  2020-08-14   8531     158   10012020-08-14
3        1001  2020-08-21   9009     161   10012020-08-21
4        1001  2020-08-28   9484     161   10012020-08-28
...       ...         ...    ...     ...              ...
208912  78020  2021-09-24   2258      21  780202021-09-24
208913  78020  2021-10-01   2293      21  780202021-10-01
208914  78020  2021-10-08   2317      21  780202021-10-08
208915  78020  2021-10-15   2317      21  780202021-10-15
208916  78020  2021-10-22   2322      21  780202021-10-22

[159064 rows x 5 columns]

In [36]:
# Convert NYT date column to datetime data type
nyt_data_grouped['date'] = pd.to_datetime(nyt_data_grouped['date'])
nyt_data_grouped

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         fips       date  cases  deaths        fips_date
0        1001 2020-07-31   6817     147   10012020-07-31
1        1001 2020-08-07   7503     150   10012020-08-07
2        1001 2020-08-14   8531     158   10012020-08-14
3        1001 2020-08-21   9009     161   10012020-08-21
4        1001 2020-08-28   9484     161   10012020-08-28
...       ...        ...    ...     ...              ...
208912  78020 2021-09-24   2258      21  780202021-09-24
208913  78020 2021-10-01   2293      21  780202021-10-01
208914  78020 2021-10-08   2317      21  780202021-10-08
208915  78020 2021-10-15   2317      21  780202021-10-15
208916  78020 2021-10-22   2322      21  780202021-10-22

[159064 rows x 5 columns]

In [37]:
# Verify date column datatype conversion
nyt_data_grouped.dtypes

fips                 object
date         datetime64[ns]
cases                 int64
deaths                int64
fips_date            object
dtype: object

In [38]:
# Rename NYT columns 
nyt_data_grouped.rename({'date':'collection_week', 'cases':'cases_to_date', 'deaths':'deaths_to_date'}, axis=1, inplace=True)
nyt_data_grouped

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

         fips collection_week  cases_to_date  deaths_to_date        fips_date
0        1001      2020-07-31           6817             147   10012020-07-31
1        1001      2020-08-07           7503             150   10012020-08-07
2        1001      2020-08-14           8531             158   10012020-08-14
3        1001      2020-08-21           9009             161   10012020-08-21
4        1001      2020-08-28           9484             161   10012020-08-28
...       ...             ...            ...             ...              ...
208912  78020      2021-09-24           2258              21  780202021-09-24
208913  78020      2021-10-01           2293              21  780202021-10-01
208914  78020      2021-10-08           2317              21  780202021-10-08
208915  78020      2021-10-15           2317              21  780202021-10-15
208916  78020      2021-10-22           2322              21  780202021-10-22

[159064 rows x 5 columns]

In [39]:
# check hospital datatypes
hospital_data_df.dtypes

fips_code                                                         object
collection_week                                                   object
total_beds_7_day_sum                                             float64
all_adult_hospital_beds_7_day_sum                                float64
all_adult_hospital_inpatient_beds_7_day_sum                      float64
inpatient_beds_used_7_day_sum                                    float64
all_adult_hospital_inpatient_bed_occupied_7_day_sum              float64
total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum    float64
total_adult_patients_hospitalized_con_covid_7_day_sum            float64
total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum      float64
total_ped_patients_hospitalized_con_covid_7_day_sum              float64
inpatient_beds_7_day_sum                                         float64
total_icu_beds_7_day_sum                                         float64
total_staffed_adult_icu_beds_7_day_sum                           float64
icu_beds_used_7_day_sum                                          float64
staffed_adult_icu_bed_occupancy_7_day_sum                        float64
staffed_icu_adult_patients_con_and_sus_covid_7_day_sum           float64
staffed_icu_adult_patients_con_covid_7_day_sum                   float64
fips_date                                                         object
dtype: object

In [40]:
# Convert float data types to integers in hospitals data set
columns = ['total_beds_7_day_sum', 'all_adult_hospital_beds_7_day_sum', 
           'all_adult_hospital_inpatient_beds_7_day_sum', 'inpatient_beds_used_7_day_sum', 
           'all_adult_hospital_inpatient_bed_occupied_7_day_sum', 
           'total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum', 
           'total_adult_patients_hospitalized_con_covid_7_day_sum', 
           'total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum', 
           'total_ped_patients_hospitalized_con_covid_7_day_sum', 'inpatient_beds_7_day_sum', 'total_icu_beds_7_day_sum', 
           'total_staffed_adult_icu_beds_7_day_sum', 'icu_beds_used_7_day_sum', 'staffed_adult_icu_bed_occupancy_7_day_sum',
           'staffed_icu_adult_patients_con_and_sus_covid_7_day_sum', 'staffed_icu_adult_patients_con_covid_7_day_sum']
hospital_data_df[columns] = hospital_data_df[columns].applymap(np.int64)
hospital_data_df

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001,2020-07-31,574,574,455,363,363,117,103,0,0,455,42,42,40,40,28,26,10012020-07-31
1,1001,2020-08-07,574,574,455,369,369,153,139,0,0,455,42,42,41,41,38,37,10012020-08-07
2,1001,2020-08-14,574,574,455,384,384,125,111,0,0,455,42,42,42,42,38,32,10012020-08-14
3,1001,2020-08-21,574,574,455,348,348,86,74,0,0,455,42,42,38,38,48,35,10012020-08-21
4,1001,2020-08-28,574,574,455,346,346,77,75,0,0,455,42,42,40,40,18,18,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924,868,728,410,389,20,20,0,0,784,56,56,29,29,7,7,780202021-09-24
159867,78020,2021-10-01,924,868,728,362,340,12,12,0,0,784,56,56,43,43,7,7,780202021-10-01
159868,78020,2021-10-08,924,868,728,412,381,12,12,0,0,784,56,56,48,48,7,7,780202021-10-08
159869,78020,2021-10-15,924,868,728,402,365,7,7,0,0,784,56,56,40,40,7,7,780202021-10-15
159870,78020,2021-10-22,924,868,728,381,356,0,0,0,0,784,56,56,36,36,0,0,780202021-10-22

In [41]:
# Convert NYT date column to datetime data type
hospital_data_df['collection_week'] = pd.to_datetime(hospital_data_df['collection_week'])
hospital_data_df

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001,2020-07-31,574,574,455,363,363,117,103,0,0,455,42,42,40,40,28,26,10012020-07-31
1,1001,2020-08-07,574,574,455,369,369,153,139,0,0,455,42,42,41,41,38,37,10012020-08-07
2,1001,2020-08-14,574,574,455,384,384,125,111,0,0,455,42,42,42,42,38,32,10012020-08-14
3,1001,2020-08-21,574,574,455,348,348,86,74,0,0,455,42,42,38,38,48,35,10012020-08-21
4,1001,2020-08-28,574,574,455,346,346,77,75,0,0,455,42,42,40,40,18,18,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924,868,728,410,389,20,20,0,0,784,56,56,29,29,7,7,780202021-09-24
159867,78020,2021-10-01,924,868,728,362,340,12,12,0,0,784,56,56,43,43,7,7,780202021-10-01
159868,78020,2021-10-08,924,868,728,412,381,12,12,0,0,784,56,56,48,48,7,7,780202021-10-08
159869,78020,2021-10-15,924,868,728,402,365,7,7,0,0,784,56,56,40,40,7,7,780202021-10-15
159870,78020,2021-10-22,924,868,728,381,356,0,0,0,0,784,56,56,36,36,0,0,780202021-10-22

In [42]:
# Verify collection_week datatype conversion
hospital_data_df.dtypes

fips_code                                                                object
collection_week                                                  datetime64[ns]
total_beds_7_day_sum                                                      int64
all_adult_hospital_beds_7_day_sum                                         int64
all_adult_hospital_inpatient_beds_7_day_sum                               int64
inpatient_beds_used_7_day_sum                                             int64
all_adult_hospital_inpatient_bed_occupied_7_day_sum                       int64
total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum             int64
total_adult_patients_hospitalized_con_covid_7_day_sum                     int64
total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum               int64
total_ped_patients_hospitalized_con_covid_7_day_sum                       int64
inpatient_beds_7_day_sum                                                  int64
total_icu_beds_7_day_sum                                                  int64
total_staffed_adult_icu_beds_7_day_sum                                    int64
icu_beds_used_7_day_sum                                                   int64
staffed_adult_icu_bed_occupancy_7_day_sum                                 int64
staffed_icu_adult_patients_con_and_sus_covid_7_day_sum                    int64
staffed_icu_adult_patients_con_covid_7_day_sum                            int64
fips_date                                                                object
dtype: object

In [43]:
# Create variable for list of uniques fips_date values in vaccinations data
f = vax_data_df['fips_date'].unique()

In [44]:
# Create variable for list of uniques fips_date values in counties data
x = nyt_data_grouped['fips_date'].unique()

In [45]:
# Create list of unique fip_date columns to remove from all three datasets
remove_list_dates = list(set(x).symmetric_difference(set(f)))
remove_list_dates

['160772021-03-28',
 '510232021-07-23',
 '160752021-03-14',
 '511672021-11-01',
 '211312021-08-22',
 '201732021-11-05',
 '50272021-01-26',
 '490052021-08-28',
 '410052020-10-02',
 '171292021-05-16',
 '483832020-10-23',
 '10512021-08-03',
 '132272021-07-21',
 '484032021-10-31',
 '280712021-10-23',
 '280172021-04-07',
 '340112021-07-25',
 '484772021-07-11',
 '50352021-01-10',
 '450032021-10-29',
 '311132020-12-29',
 '160292021-08-26',
 '260492021-04-07',
 '310892021-08-16',
 '10632021-06-20',
 '50572021-09-15',
 '50972021-10-26',
 '440032021-01-02',
 '360192021-06-23',
 '200612020-07-31',
 '310332020-08-07',
 '212072020-12-31',
 '221232021-10-02',
 '360052021-07-14',
 '291672021-03-09',
 '171592021-08-22',
 '320092021-11-05',
 '270892021-10-11',
 '390992021-05-30',
 '720592021-02-07',
 '200412021-05-11',
 '480492021-10-05',
 '181232021-04-10',
 '180332021-01-25',
 '390452021-07-31',
 '270132021-08-01',
 '484592021-05-03',
 '160092021-03-15',
 '310232021-10-09',
 '390452021-10-26',
 '270332021-10-30',
 '160312021-06-16',
 '500012020-08-21',
 '480412021-01-14',
 '270912021-02-04',
 '460692021-10-14',
 '360492021-05-10',
 '550452021-02-01',
 '450032021-05-13',
 '360192021-01-12',
 '720992021-05-08',
 '461372021-01-13',
 '260592021-08-17',
 '171712021-05-14',
 '300692021-07-10',
 '481652020-12-04',
 '300292021-10-31',
 '260492021-02-18',
 '230232021-05-01',
 '482512021-03-20',
 '390832021-06-19',
 '240392021-03-10',
 '201232021-02-08',
 '191472021-04-22',
 '482132021-10-20',
 '271652021-09-28',
 '120712021-10-09',
 '170672021-07-06',
 '530332021-07-26',
 '160832021-03-30',
 '280312021-11-03',
 '260372021-01-02',
 '484552021-02-27',
 '390612021-05-06',
 '171952020-12-28',
 '400952021-07-10',
 '510532021-09-04',
 '221252020-12-29',
 '201192021-04-25',
 '470232021-06-10',
 '280732021-01-23',
 '180252021-03-27',
 '370292020-12-28',
 '120492021-02-21',
 '500212021-11-01',
 '50612020-12-04',
 '201532021-10-17',
 '131772021-06-06',
 '200952021-05-27',
 '370032021-06-13',
 '60492021-06-29',
 '370352021-07-14',
 '391212021-07-29',
 '420612021-06-20',
 '180532021-05-29',
 '540712021-03-08',
 '170692021-02-20',
 '420872021-05-18',
 '250032020-10-02',
 '120772021-07-05',
 '400092021-04-19',
 '202092020-12-27',
 '120512020-10-30',
 '400712021-10-26',
 '511112021-08-05',
 '81212021-10-21',
 '290892021-08-20',
 '131992021-06-16',
 '90072021-06-07',
 '370572021-01-19',
 '720132021-10-24',
 '261252021-06-22',
 '370352021-05-20',
 '120312021-11-06',
 '271552021-01-11',
 '311152020-12-17',
 '170692021-07-13',
 '391612021-05-27',
 '132092021-10-12',
 '300052021-07-10',
 '420532021-01-05',
 '721192021-03-29',
 '530632021-03-22',
 '480552021-04-20',
 '471732021-01-18',
 '500212020-12-26',
 '40112021-04-27',
 '230012020-10-02',
 '261152021-01-09',
 '260332021-08-18',
 '292152021-02-17',
 '550092021-03-01',
 '371292021-07-29',
 '170032021-04-20',
 '511732021-08-29',
 '170012021-08-09',
 '490252021-09-20',
 '484132021-01-04',
 '190572021-07-28',
 '370132021-07-21',
 '401292020-12-22',
 '10832021-03-14',
 '560352020-12-19',
 '180332021-03-30',
 '550772021-03-08',
 '560132021-02-11',
 '310592021-06-02',
 '420512021-06-03',
 '291572021-04-25',
 '510472021-09-13',
 '220752021-04-03',
 '420372021-03-11',
 '516902021-07-27',
 '470772021-07-26',
 '370312021-06-17',
 '270232020-12-27',
 '484592021-04-03',
 '260992021-09-23',
 '200932021-01-19',
 '250152021-02-09',
 '50512021-04-29',
 '181172021-01-06',
 '511712020-12-21',
 '290972020-11-27',
 '290432021-05-10',
 '310112021-06-13',
 '420292021-02-08',
 '480052021-01-27',
 '120392021-04-08',
 '482212021-10-28',
 '480552021-08-11',
 '482992021-06-24',
 '310392021-02-03',
 '171532021-04-30',
 '390532021-04-28',
 '240432021-01-20',
 '370992021-10-14',
 '450772020-12-30',
 '10292021-10-07',
 '271152021-05-25',
 '260492021-07-06',
 '22822021-01-27',
 '201132021-02-16',
 '401072020-12-29',
 '370592021-02-11',
 '720612021-08-02',
 '10712021-01-13',
 '10612021-09-05',
 '400272021-07-26',
 '482252021-09-02',
 '300712020-12-26',
 '480512020-12-24',
 '212032020-11-27',
 '50892021-10-22',
 '471612021-07-17',
 '171832021-07-27',
 '291732021-03-16',
 '271732021-05-22',
 '180532021-03-21',
 '720892020-12-26',
 '511032021-08-11',
 '181572021-02-01',
 '420952021-03-03',
 '311712021-02-24',
 '516102021-06-11',
 '131072021-03-18',
 '482612021-07-08',
 '380652021-10-18',
 '330152021-03-27',
 '200312021-08-26',
 '50112021-01-25',
 '210292021-06-30',
 '550272021-01-09',
 '171352021-03-20',
 '484412021-03-29',
 '201072021-01-16',
 '370192021-07-01',
 '170152021-01-18',
 '530632021-04-15',
 '201832021-04-12',
 '300492021-09-29',
 '200492021-05-27',
 '483552021-02-09',
 '20702021-07-02',
 '50112021-01-14',
 '200132021-09-09',
 '370832021-10-23',
 '50472021-01-07',
 '480692021-10-26',
 '50212021-03-07',
 '720152020-12-22',
 '121312021-02-22',
 '400512021-04-25',
 '120052021-06-22',
 '271132021-04-14',
 '420632021-01-26',
 '51152021-04-14',
 '540552021-02-09',
 '132012021-04-21',
 '120352021-11-05',
 '560112021-06-22',
 '471532021-10-31',
 '440032021-08-12',
 '460592020-12-13',
 '460092021-11-03',
 '370232021-03-08',
 '530652021-03-27',
 '132372021-10-04',
 '310072021-11-06',
 '471812021-09-19',
 '311052020-10-09',
 '370872021-02-03',
 '511392021-09-21',
 '220652020-11-13',
 '220072021-06-28',
 '290952021-10-23',
 '260032021-03-31',
 '483832021-02-16',
 '550492020-12-21',
 '290772021-07-19',
 '240232021-01-16',
 '400072021-02-01',
 '270892021-09-18',
 '120332021-03-02',
 '530652021-03-17',
 '191892021-07-19',
 '460672021-04-29',
 '311792021-05-19',
 '170632021-04-18',
 '201572021-01-20',
 '450332021-01-05',
 '281152021-04-01',
 '160652021-10-29',
 '500192021-06-01',
 '721492021-02-25',
 '270092021-07-27',
 '51212021-09-07',
 '460832020-12-30',
 '212012021-10-04',
 '311052021-02-01',
 '260112020-10-30',
 '60152021-03-07',
 '370272021-05-22',
 '380872020-12-17',
 '720052021-09-22',
 '450232021-08-11',
 '290612021-09-02',
 '211432021-09-15',
 '530252020-12-13',
 '410272021-04-28',
 '80532021-09-07',
 '480192021-08-12',
 '720892021-05-14',
 '60512021-06-27',
 '290132020-12-26',
 '310852021-10-03',
 '540992021-06-11',
 '260852021-01-29',
 '120292021-09-12',
 '391532021-10-21',
 '260852021-04-27',
 '482972021-02-19',
 '720332021-08-29',
 '90052020-12-22',
 '80352021-08-16',
 '460232021-04-01',
 '484272021-10-24',
 '380532021-06-03',
 '550752021-05-08',
 '60192020-11-27',
 '10152021-01-12',
 '480272021-08-30',
 '460392021-06-20',
 '170792021-01-23',
 '81072021-08-24',
 '460632020-12-20',
 '10952021-01-11',
 '471692021-06-14',
 '10172021-06-19',
 '120832021-09-22',
 '271692020-10-30',
 '721052021-09-11',
 '270132021-02-01',
 '560312021-09-28',
 '280752021-07-22',
 '482652020-12-14',
 '190892021-06-14',
 '410652021-09-28',
 '171732021-05-17',
 '530672021-05-16',
 '51172021-10-20',
 '480312021-03-30',
 '51072021-02-25',
 '221152021-06-08',
 '530692021-05-10',
 '212272021-10-24',
 '720732021-02-01',
 '420952021-08-22',
 '483852021-10-01',
 '170852021-06-08',
 '190312021-01-01',
 '461022020-12-17',
 '482372021-01-17',
 '190752021-09-22',
 '340032021-03-31',
 '511932021-02-12',
 '380792020-12-31',
 '470232021-08-29',
 '280292021-09-18',
 '471152021-06-27',
 '20682021-02-05',
 '450672021-01-18',
 '50272021-07-18',
 '460192021-07-02',
 '481312021-07-29',
 '200712021-06-19',
 '550972021-08-08',
 '260172021-08-03',
 '530552021-04-13',
 '311092021-02-10',
 '131292021-05-02',
 '180832021-03-11',
 '390772021-01-31',
 '190032021-01-25',
 '371532021-05-27',
 '480872021-05-30',
 '350212021-06-02',
 '261352021-07-22',
 '261192021-06-10',
 '380192021-01-23',
 '371852021-11-06',
 '310252021-01-24',
 '470552021-11-03',
 '212392021-05-23',
 '381032021-06-29',
 '310352021-05-08',
 '80212021-01-20',
 '40212021-05-11',
 '160092021-02-27',
 '484492021-01-13',
 '480872020-12-29',
 '121012020-12-20',
 '490212021-01-23',
 '40012021-09-08',
 '530232021-01-09',
 '310532021-07-31',
 '240192021-06-24',
 '481992021-04-27',
 '330032021-01-27',
 '210032020-09-04',
 '370912020-12-29',
 '210652021-03-23',
 '310352021-03-25',
 '483792021-10-19',
 '220612020-11-06',
 '200412021-09-14',
 '720112021-08-24',
 '261392021-01-02',
 '212052021-09-13',
 '391572021-02-04',
 '260032021-09-02',
 '291252021-03-29',
 '560352021-09-22',
 '482212021-05-12',
 '330112021-05-02',
 '80932021-01-22',
 '390052021-10-06',
 '421032020-12-29',
 '133152021-03-31',
 '191452021-07-19',
 '160012021-08-19',
 '291292021-10-05',
 '210612021-09-17',
 '340152021-03-28',
 '281572021-05-09',
 '481172021-01-11',
 '220632021-03-03',
 '211292021-10-04',
 '370032021-07-30',
 '230232021-05-23',
 '21852021-02-25',
 '220592021-03-24',
 '133132021-05-20',
 '420232021-09-04',
 '450412020-12-17',
 '281092021-08-14',
 '490572021-03-18',
 '420632021-04-26',
 '511552021-03-01',
 '270532021-10-17',
 '291412021-03-20',
 '10832020-10-30',
 '50092021-10-20',
 '510912021-07-06',
 '120912021-05-10',
 '120232021-06-19',
 '310752021-08-18',
 '482752021-04-01',
 '360072021-05-12',
 '211072021-08-16',
 '410192021-08-18',
 '292032021-07-25',
 '390912021-01-04',
 '391612021-10-12',
 '560372021-10-24',
 '201452020-08-07',
 '391552021-09-02',
 '120492021-11-01',
 '291292021-09-04',
 '170152021-02-22',
 '360012021-03-18',
 '220032021-10-06',
 '160412021-10-02',
 '470372021-02-17',
 '390572021-02-03',
 '181632021-05-23',
 '510832021-08-01',
 '471552021-03-09',
 '480472021-07-12',
 '211812021-04-25',
 '340012021-06-06',
 '240452021-07-13',
 '510332020-12-14',
 '80632021-10-09',
 '371892021-05-23',
 '211312021-03-31',
 '260292020-12-19',
 '291652021-03-24',
 '11232021-01-11',
 '280572021-07-07',
 '191252021-02-15',
 '720052021-05-13',
 '221092021-01-24',
 '371952021-10-26',
 '50672021-04-19',
 '271352021-08-19',
 '470272021-09-10',
 '120392021-07-28',
 '371352021-07-20',
 '720352021-06-23',
 '401172020-12-17',
 '511952021-04-28',
 '260152021-08-31',
 '290552021-05-29',
 '550512021-05-15',
 '131072021-04-04',
 '290132021-10-24',
 '371852021-09-12',
 '371332021-04-26',
 '60432021-09-20',
 '421032021-03-10',
 '370992021-05-24',
 '720492021-06-15',
 '360412021-03-05',
 '480772020-11-20',
 '721392021-03-19',
 '470312021-03-21',
 '360552021-11-03',
 '450012021-09-14',
 '310372021-05-15',
 '51192020-12-16',
 '401392021-03-27',
 '81172021-01-11',
 '371352020-11-27',
 '270312021-11-03',
 '340152020-12-31',
 '211812021-09-24',
 '240312021-10-23',
 '280852020-12-11',
 '181472021-02-16',
 '471032020-08-14',
 '482832021-05-20',
 '420012020-12-24',
 '330092021-07-18',
 '483872021-01-21',
 '220872021-07-03',
 '310212020-11-20',
 '270792021-11-02',
 '380532020-11-27',
 '40012021-04-04',
 '290772020-12-30',
 '131812021-03-10',
 '210352021-09-18',
 '200692021-01-27',
 '410032021-05-29',
 '550782021-02-04',
 '131992021-01-21',
 '210352021-06-10',
 '160172020-12-31',
 '280472021-04-14',
 '360492021-10-03',
 '291072020-12-17',
 '471572021-01-26',
 '310432021-07-24',
 '170512021-07-20',
 '290992021-02-01',
 '550852020-12-16',
 '220212020-12-29',
 '420112021-02-06',
 '390232021-01-24',
 '291892021-01-19',
 '80372021-08-15',
 '191732020-12-16',
 '516902021-09-14',
 '421172021-06-09',
 '401312021-07-12',
 '210152021-06-23',
 '420052021-07-29',
 '720592021-10-19',
 '201552021-05-04',
 '81052021-04-10',
 '410472020-12-19',
 '470072021-07-03',
 '10652021-06-02',
 '21952021-06-25',
 '40092021-06-29',
 '490012021-10-19',
 '11232020-12-22',
 '720472021-01-28',
 '460272021-01-02',
 '201112020-12-14',
 '310532021-04-17',
 '370172021-10-16',
 '130952021-09-22',
 '131752021-09-14',
 '90092021-09-09',
 '290292021-07-22',
 '450592021-01-12',
 '220772020-12-28',
 '170252021-05-01',
 '515952021-03-24',
 '391412021-04-03',
 '391492021-10-04',
 '481912021-09-30',
 '210432021-03-28',
 '170712021-01-09',
 '171292021-06-20',
 '61132020-12-04',
 '221072021-05-30',
 '460432021-05-13',
 '171092021-02-28',
 '260632021-03-14',
 '171732021-08-10',
 '540332021-10-13',
 '120072021-03-01',
 '291862021-09-18',
 '130752021-10-27',
 '80292021-05-29',
 '310692021-03-29',
 '120832021-02-01',
 '211952021-07-01',
 '480532021-01-28',
 '450832021-09-18',
 '482532021-09-01',
 '540852021-03-18',
 '390572021-02-11',
 '390752021-01-20',
 '550152021-01-24',
 '300932021-02-27',
 '132652021-08-23',
 '191072021-04-08',
 '202032021-02-24',
 '484412021-10-19',
 '160792021-02-18',
 '10692021-04-20',
 '60512021-01-19',
 '360892020-12-28',
 '300732021-05-10',
 '200252021-03-13',
 '371592021-04-13',
 '483592020-12-22',
 '60512021-05-01',
 '191312021-02-22',
 '131732021-09-21',
 '471892020-12-24',
 '211552021-03-10',
 '470912021-03-13',
 '220092021-05-16',
 '201952020-10-30',
 '261412021-10-24',
 '160012021-10-12',
 '380812021-05-04',
 '483912021-03-24',
 '470812020-12-13',
 '360152020-12-20',
 '311452021-11-01',
 '371492021-02-08',
 '480712021-09-07',
 '482092021-04-04',
 '220612021-03-07',
 '518302021-09-22',
 '191952021-05-20',
 '50732020-12-15',
 '201732021-09-30',
 '481932021-10-20',
 '550632021-09-13',
 '132672021-11-01',
 '211932021-01-03',
 '480152021-02-14',
 '410452020-12-15',
 '170092021-07-22',
 '280832021-07-01',
 '370612021-05-24',
 '482472021-08-28',
 '181732021-09-27',
 '540132021-02-24',
 '51432021-07-19',
 '290812021-04-25',
 '60492021-06-22',
 '291632021-10-31',
 '280292021-02-13',
 '482152021-08-05',
 '271172021-05-23',
 '400272021-10-17',
 '460912021-10-09',
 '550352021-09-14',
 '483192021-08-10',
 '50392021-05-12',
 '10432021-07-11',
 '510372021-02-18',
 '50912021-06-15',
 '470492021-08-11',
 '130432021-02-28',
 '371672021-07-24',
 '180272021-03-15',
 '120732021-07-01',
 '260932021-02-04',
 '191892021-06-19',
 '181752021-05-13',
 '40212021-02-08',
 '190672021-01-19',
 '191872021-07-28',
 '400272021-03-14',
 '300512021-01-27',
 '80972020-09-04',
 '290072020-12-14',
 '471872020-12-31',
 '180152021-07-25',
 '400352021-10-24',
 '450912021-07-31',
 '10732021-05-10',
 '320092021-05-21',
 '131072020-08-21',
 '281372021-09-25',
 '171912021-04-10',
 '121012021-02-23',
 '510652021-11-05',
 '281172021-05-31',
 '10172021-07-11',
 '201592021-07-05',
 '484412021-10-28',
 '260392021-11-04',
 '10792021-10-27',
 '133032021-09-06',
 '280252021-11-02',
 '260072020-08-21',
 '11212020-12-31',
 '200612021-09-26',
 '191572021-04-22',
 '311472021-06-03',
 '190092021-05-15',
 '511372021-04-26',
 '181072021-07-06',
 '300052021-06-11',
 '132792021-02-17',
 '121152020-12-28',
 '720132021-04-12',
 '471852021-05-24',
 '60812021-04-05',
 '550812021-01-28',
 '51492021-09-22',
 '60412021-08-28',
 '484492021-02-18',
 '483192021-08-03',
 '311032020-12-29',
 '181612021-08-20',
 '510732021-05-16',
 '721112021-08-16',
 '260832021-02-06',
 '51452020-11-20',
 '360692021-05-15',
 '60892021-09-25',
 '380832021-01-11',
 '420732020-08-07',
 '530172021-11-05',
 '10312021-07-31',
 '390452021-09-15',
 '450112021-09-19',
 '250212021-03-01',
 '260632021-08-01',
 '270212021-05-17',
 '221272021-08-01',
 '150052021-02-14',
 '280452021-05-22',
 '80632021-09-29',
 '250012021-02-14',
 '220532021-10-03',
 '181632021-04-21',
 '120772021-04-14',
 '10092021-10-17',
 '210152021-04-27',
 '132112020-07-31',
 '21882021-01-31',
 '200772020-12-21',
 '170692021-06-28',
 '290132021-02-23',
 '130172021-08-31',
 '220872021-08-31',
 '320312021-10-20',
 '300552021-09-18',
 '510832021-05-31',
 '485032021-11-06',
 '482212021-02-06',
 '371452021-09-22',
 '371592020-12-30',
 '310352021-10-14',
 '550632021-03-16',
 '260772020-12-23',
 '21302021-10-05',
 '551352021-02-15',
 '371172021-08-26',
 '490572021-08-04',
 '390672021-08-01',
 '550592021-04-13',
 '211972021-05-10',
 '281052021-10-04',
 '551392021-06-19',
 '280992021-05-29',
 '400772021-08-31',
 '51232021-01-31',
 '261092021-03-30',
 '20132021-08-12',
 '330132020-12-23',
 '370112021-03-09',
 '201432021-05-29',
 '390152021-03-28',
 '260372020-10-30',
 '460592021-06-27',
 '482372020-10-30',
 '280592021-06-02',
 '200532021-07-27',
 '370912021-01-03',
 '481152021-03-23',
 '132012021-01-18',
 '370312021-04-17',
 '150092021-03-14',
 '80652021-03-10',
 '120892021-02-08',
 '210932021-11-04',
 '40172021-10-27',
 '720632021-07-22',
 '250212021-05-01',
 '280832021-10-13',
 '270512021-04-18',
 '490192021-01-25',
 '461192021-11-02',
 '401192021-10-11',
 '340332021-07-31',
 '220652021-06-10',
 '450292020-09-25',
 '470232021-10-28',
 '131332021-05-11',
 '380512021-07-13',
 '481232021-09-21',
 '540572021-09-11',
 '191192021-09-18',
 '270652021-02-20',
 '480392021-01-23',
 '370952021-03-03',
 '21882021-02-08',
 '511472021-06-21',
 '401152021-03-09',
 '460972021-10-13',
 '170172021-07-28',
 '201632021-10-31',
 '481672021-02-04',
 '470612021-03-21',
 '201732021-05-09',
 '311272021-07-14',
 '260312021-03-28',
 '201212021-03-13',
 '190292021-02-04',
 '200352021-02-13',
 '221112021-03-14',
 '211512021-01-30',
 '371472021-06-03',
 '60932021-06-03',
 '480892021-04-26',
 '370332021-04-08',
 '470252021-04-18',
 '61112021-01-26',
 '22202021-02-10',
 '551372021-04-29',
 '311052021-01-31',
 '220712021-09-20',
 '515302021-09-02',
 '484712021-01-21',
 '410072021-11-01',
 '391612021-01-20',
 '130512021-07-05',
 '200152021-07-19',
 '484952021-08-18',
 '480332021-06-05',
 '120472021-09-02',
 '510192021-08-04',
 '130992021-01-31',
 '160812021-02-23',
 '482072021-09-02',
 '191112021-02-17',
 '280892021-09-27',
 '280672021-10-14',
 '200812020-11-27',
 '11032021-06-26',
 '300252021-04-03',
 '400952021-03-11',
 '470772021-01-14',
 '381032021-03-21',
 '450712021-07-28',
 '320232021-10-27',
 '292032021-05-14',
 '210572021-01-04',
 '291192021-01-26',
 '220552020-10-09',
 '170492021-09-07',
 '380072021-06-05',
 '720152021-09-12',
 '240092021-01-06',
 '551272021-04-26',
 '160232021-03-01',
 '230152021-04-28',
 '510052021-01-23',
 '290712021-06-05',
 '410332020-09-04',
 '310132021-08-17',
 '720542021-04-29',
 '460192021-11-03',
 '10092021-05-29',
 '380752021-10-19',
 '200032020-10-30',
 '21852021-06-20',
 '440092020-12-30',
 '280072021-02-16',
 '450512021-10-25',
 '10072021-07-22',
 '470772021-03-25',
 '401312021-02-07',
 '401472020-12-24',
 '271372021-10-07',
 '210772021-05-01',
 '370312020-09-11',
 '133032021-02-01',
 '450192021-07-14',
 '450632020-07-31',
 '420352021-10-05',
 '292192021-02-06',
 '410692021-06-06',
 '470672021-04-08',
 '280352020-08-21',
 '530572021-06-12',
 '191932021-04-27',
 '291492021-06-17',
 '380812021-06-10',
 '471512021-01-23',
 '290612021-01-07',
 '220572021-02-06',
 '311712021-03-08',
 '160172021-02-16',
 '360992021-08-23',
 '170952020-10-23',
 '511492021-03-20',
 '230092021-01-07',
 '211972021-05-08',
 '190912021-04-21',
 '131572021-08-22',
 '401332020-12-28',
 '221012021-05-13',
 '240432021-02-27',
 '132832021-05-09',
 '130832021-04-14',
 '310172021-10-19',
 '371952021-02-18',
 '60332021-04-18',
 '380532021-01-10',
 '460732021-08-04',
 '270032021-01-10',
 '10052021-05-12',
 '280592021-03-23',
 '180092021-05-30',
 '540012021-03-03',
 '350032021-09-14',
 '420652021-03-13',
 '461072021-02-06',
 '51232021-08-23',
 '181812021-02-06',
 '240272021-01-14',
 '220872021-04-08',
 '420692020-07-31',
 '516002021-07-30',
 '260612021-07-27',
 '80632021-04-03',
 '200052021-02-14',
 '80452021-10-25',
 '483652021-08-28',
 '490352021-02-08',
 '300812021-07-04',
 '120372021-07-29',
 '190352021-08-23',
 '132432021-06-04',
 '190172021-04-24',
 '390732021-10-23',
 '180052021-06-19',
 '515802021-04-05',
 '210312021-02-19',
 '483632021-05-11',
 '400192021-07-04',
 '51492021-10-18',
 '280712021-08-10',
 '190452021-10-20',
 '160672021-08-22',
 '540332021-06-27',
 '721492021-06-07',
 '484292021-08-31',
 '121072020-09-18',
 '540972021-01-05',
 '190892021-09-30',
 '80552021-01-03',
 '132212021-08-28',
 '481092021-07-14',
 '271552021-01-27',
 '210972021-11-04',
 '420892021-10-26',
 '511712021-01-27',
 '190532021-04-11',
 '460192021-04-29',
 '271572020-12-28',
 '180692021-11-01',
 '271392021-10-16',
 '171052021-06-14',
 '551392021-05-05',
 '21222021-01-22',
 '311492021-05-01',
 '511132021-10-31',
 '350132021-06-20',
 '290092021-05-10',
 '130832021-02-26',
 '201072021-02-05',
 '10932021-07-11',
 '483752020-11-20',
 '260832021-04-27',
 '410332021-03-13',
 ...]

In [46]:
# Drop unique fips_date rows from vaccinations data
vax_data_df = vax_data_df[~vax_data_df['fips_date'].isin(remove_list_dates)]
vax_data_df

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
49245,2021-10-22,16011,38.0,17795,17728,54.4,5292,78.0,97.6,42.6,60.8,83.3,160112021-10-22
49246,2021-10-22,48451,46.2,55067,52271,57.5,15433,82.9,99.1,52.1,64.7,89.3,484512021-10-22
49247,2021-10-22,48077,39.7,4162,4059,48.3,1756,70.7,99.1,43.4,52.6,74.0,480772021-10-22
49248,2021-10-22,51173,43.5,13103,12477,51.2,4617,67.9,83.0,50.1,58.9,76.2,511732021-10-22
49251,2021-10-22,47179,52.8,68276,65043,62.0,21163,87.2,97.9,59.1,69.1,94.3,471792021-10-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1063561,2020-12-18,42069,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,420692020-12-18
1063564,2020-12-18,48099,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,480992020-12-18
1063565,2020-12-18,13005,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,130052020-12-18
1063566,2020-12-18,18035,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,180352020-12-18
1063569,2020-12-18,48437,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,484372020-12-18

In [47]:
# Drop redundant columns from vaccinations data
vax_data_df_final = vax_data_df.drop(['Date', 'FIPS'], axis=1)
vax_data_df_final

,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
49245,38.0,17795,17728,54.4,5292,78.0,97.6,42.6,60.8,83.3,160112021-10-22
49246,46.2,55067,52271,57.5,15433,82.9,99.1,52.1,64.7,89.3,484512021-10-22
49247,39.7,4162,4059,48.3,1756,70.7,99.1,43.4,52.6,74.0,480772021-10-22
49248,43.5,13103,12477,51.2,4617,67.9,83.0,50.1,58.9,76.2,511732021-10-22
49251,52.8,68276,65043,62.0,21163,87.2,97.9,59.1,69.1,94.3,471792021-10-22
...,...,...,...,...,...,...,...,...,...,...,...
1063561,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,420692020-12-18
1063564,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,480992020-12-18
1063565,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,130052020-12-18
1063566,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,180352020-12-18
1063569,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,484372020-12-18

In [48]:
# Replace null values with 0 in vaccinations data
vax_data_df_final.fillna(0)

,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
49245,38.0,17795,17728,54.4,5292,78.0,97.6,42.6,60.8,83.3,160112021-10-22
49246,46.2,55067,52271,57.5,15433,82.9,99.1,52.1,64.7,89.3,484512021-10-22
49247,39.7,4162,4059,48.3,1756,70.7,99.1,43.4,52.6,74.0,480772021-10-22
49248,43.5,13103,12477,51.2,4617,67.9,83.0,50.1,58.9,76.2,511732021-10-22
49251,52.8,68276,65043,62.0,21163,87.2,97.9,59.1,69.1,94.3,471792021-10-22
...,...,...,...,...,...,...,...,...,...,...,...
1063561,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,420692020-12-18
1063564,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,480992020-12-18
1063565,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,130052020-12-18
1063566,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,180352020-12-18
1063569,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,484372020-12-18

In [49]:
# Drop unique fips_date rows from counties data
nyt_data_grouped_final = nyt_data_grouped[~nyt_data_grouped['fips_date'].isin(remove_list_dates)]
nyt_data_grouped_final

         fips collection_week  cases_to_date  deaths_to_date        fips_date
20       1001      2020-12-18          24040             296   10012020-12-18
21       1001      2020-12-25          26881             314   10012020-12-25
22       1001      2021-01-01          28791             333   10012021-01-01
23       1001      2021-01-08          31575             350   10012021-01-08
24       1001      2021-01-15          34774             382   10012021-01-15
...       ...             ...            ...             ...              ...
208912  78020      2021-09-24           2258              21  780202021-09-24
208913  78020      2021-10-01           2293              21  780202021-10-01
208914  78020      2021-10-08           2317              21  780202021-10-08
208915  78020      2021-10-15           2317              21  780202021-10-15
208916  78020      2021-10-22           2322              21  780202021-10-22

[110342 rows x 5 columns]

In [50]:
# Drop redundant columns from counties data
nyt_data_grouped_final = nyt_data_grouped_final.drop(['collection_week', 'fips'], axis=1)
nyt_data_grouped_final

        cases_to_date  deaths_to_date        fips_date
20              24040             296   10012020-12-18
21              26881             314   10012020-12-25
22              28791             333   10012021-01-01
23              31575             350   10012021-01-08
24              34774             382   10012021-01-15
...               ...             ...              ...
208912           2258              21  780202021-09-24
208913           2293              21  780202021-10-01
208914           2317              21  780202021-10-08
208915           2317              21  780202021-10-15
208916           2322              21  780202021-10-22

[110342 rows x 3 columns]

In [51]:
# Drop unique fips_date rows from hospitals data
hospital_data_df = hospital_data_df[~hospital_data_df['fips_date'].isin(remove_list_dates)]
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
20,1001,2020-12-18,581,581,462,425,425,220,209,0,0,462,42,42,39,39,27,27,10012020-12-18
21,1001,2020-12-25,581,581,462,445,445,286,281,0,0,462,42,42,42,42,27,27,10012020-12-25
22,1001,2021-01-01,581,581,462,454,454,282,272,0,0,462,42,42,42,42,29,29,10012021-01-01
23,1001,2021-01-08,602,602,462,431,431,291,283,0,0,462,42,42,42,42,38,35,10012021-01-08
24,1001,2021-01-15,602,602,462,423,423,250,247,0,0,462,42,42,42,42,39,39,10012021-01-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924,868,728,410,389,20,20,0,0,784,56,56,29,29,7,7,780202021-09-24
159867,78020,2021-10-01,924,868,728,362,340,12,12,0,0,784,56,56,43,43,7,7,780202021-10-01
159868,78020,2021-10-08,924,868,728,412,381,12,12,0,0,784,56,56,48,48,7,7,780202021-10-08
159869,78020,2021-10-15,924,868,728,402,365,7,7,0,0,784,56,56,40,40,7,7,780202021-10-15
159870,78020,2021-10-22,924,868,728,381,356,0,0,0,0,784,56,56,36,36,0,0,780202021-10-22

Connection String

In [65]:
# Instantiate engine
engine = create_engine(config.connection_string)

In [66]:
# Write counties data to PostgreSQL table
nyt_data_grouped_final.to_sql(name='counties', con=engine)

In [ ]:
# Write hospitals data to PostgreSQL table
hospital_data_df.to_sql(name='hospitals', con=engine)

In [ ]:
# Write vaccinatinos data to PostgreSQL table
vax_data_df_final.to_sql(name='vaccinations', con=engine)

Additional Tables for Generating Static Charts

In [52]:
# Create counties dataframe with relevant columns for exploratory charts
counties_charts_df = nyt_data_grouped[['collection_week', 'fips', 'cases_to_date', 'deaths_to_date']]
counties_charts_df

       collection_week   fips  cases_to_date  deaths_to_date
0           2020-07-31   1001           6817             147
1           2020-08-07   1001           7503             150
2           2020-08-14   1001           8531             158
3           2020-08-21   1001           9009             161
4           2020-08-28   1001           9484             161
...                ...    ...            ...             ...
208912      2021-09-24  78020           2258              21
208913      2021-10-01  78020           2293              21
208914      2021-10-08  78020           2317              21
208915      2021-10-15  78020           2317              21
208916      2021-10-22  78020           2322              21

[159064 rows x 4 columns]

In [53]:
# Create vaccinations dataframe with relevant columns for exploratory charts
vax_charts_df = vax_data_df[['Date', 'FIPS', 'Series_Complete_Pop_Pct']]
vax_charts_df

               Date   FIPS  Series_Complete_Pop_Pct
49245    2021-10-22  16011                     38.0
49246    2021-10-22  48451                     46.2
49247    2021-10-22  48077                     39.7
49248    2021-10-22  51173                     43.5
49251    2021-10-22  47179                     52.8
...             ...    ...                      ...
1063561  2020-12-18  42069                      0.0
1063564  2020-12-18  48099                      0.0
1063565  2020-12-18  13005                      0.0
1063566  2020-12-18  18035                      0.0
1063569  2020-12-18  48437                      0.0

[110342 rows x 3 columns]

In [54]:
# Create hospitals dataframe with relevant columns for exploratory charts
hospital_charts_df = hospital_data_df[['fips_code', 'collection_week', 'inpatient_beds_used_7_day_sum', 'inpatient_beds_7_day_sum']]
hospital_charts_df

,fips_code,collection_week,inpatient_beds_used_7_day_sum,inpatient_beds_7_day_sum
20,1001,2020-12-18,425,462
21,1001,2020-12-25,445,462
22,1001,2021-01-01,454,462
23,1001,2021-01-08,431,462
24,1001,2021-01-15,423,462
...,...,...,...,...
159866,78020,2021-09-24,410,784
159867,78020,2021-10-01,362,784
159868,78020,2021-10-08,412,784
159869,78020,2021-10-15,402,784
159870,78020,2021-10-22,381,784

In [55]:
# Create percentage_inpatient_beds_used column in hospitals dataframe
hospital_charts_df["Percentage_inpatient_beds_used"] = hospital_charts_df["inpatient_beds_used_7_day_sum"]/hospital_charts_df["inpatient_beds_7_day_sum"]
hospital_charts_df

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,fips_code,collection_week,inpatient_beds_used_7_day_sum,inpatient_beds_7_day_sum,Percentage_inpatient_beds_used
20,1001,2020-12-18,425,462,0.919913
21,1001,2020-12-25,445,462,0.963203
22,1001,2021-01-01,454,462,0.982684
23,1001,2021-01-08,431,462,0.932900
24,1001,2021-01-15,423,462,0.915584
...,...,...,...,...,...
159866,78020,2021-09-24,410,784,0.522959
159867,78020,2021-10-01,362,784,0.461735
159868,78020,2021-10-08,412,784,0.525510
159869,78020,2021-10-15,402,784,0.512755
159870,78020,2021-10-22,381,784,0.485969

In [56]:
# Drop columns used to calculate percentage_innpatient_beds_used
hospital_charts_df = hospital_charts_df.drop(columns=['inpatient_beds_used_7_day_sum', 'inpatient_beds_7_day_sum'])
hospital_charts_df

       fips_code collection_week  Percentage_inpatient_beds_used
20          1001      2020-12-18                        0.919913
21          1001      2020-12-25                        0.963203
22          1001      2021-01-01                        0.982684
23          1001      2021-01-08                        0.932900
24          1001      2021-01-15                        0.915584
...          ...             ...                             ...
159866     78020      2021-09-24                        0.522959
159867     78020      2021-10-01                        0.461735
159868     78020      2021-10-08                        0.525510
159869     78020      2021-10-15                        0.512755
159870     78020      2021-10-22                        0.485969

[110342 rows x 3 columns]

In [59]:
# Write counties data to PostgreSQL table
counties_charts_df.to_sql(name='counties_charts', con=engine)

In [60]:
# Write vaccinations data to PostgreSQL table
vax_charts_df.to_sql(name='vaccinations_chart', con=engine)

In [61]:
# Write hospitals data to PostgreSQL table
hospital_charts_df.to_sql(name='hospital_chart', con=engine)