In [ ]:
# pip install psycopg2-binary in mlenv
# Create config.py file with postgres password as db_password
# Create postgres database called COVID_Risk_Final_Project on POstgreSQL 13 server

In [1]:
# Import the requests library.
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from config import connection_string
import pandas as pd
import psycopg2 as pg
from flask import Flask, jsonify, render_template
from functools import reduce
import numpy as np

In [2]:
# Read vaccination data into dataframe
vax_data = 'https://group3data.s3.us-west-2.amazonaws.com/COVID-19_Vaccinations_in_the_United_States_County.csv'
vax_data_df = pd.read_csv(vax_data)
vax_data_df

,Date,FIPS,MMWR_week,Recip_County,Recip_State,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_12Plus,Series_Complete_12PlusPop_Pct,Series_Complete_18Plus,...,SVI_CTGY,Series_Complete_Pop_Pct_SVI,Series_Complete_12PlusPop_Pct_SVI,Series_Complete_18PlusPop_Pct_SVI,Series_Complete_65PlusPop_Pct_SVI,Metro_status,Series_Complete_Pop_Pct_UR_Equity,Series_Complete_12PlusPop_Pct_UR_Equity,Series_Complete_18PlusPop_Pct_UR_Equity,Series_Complete_65PlusPop_Pct_UR_Equity
0,11/06/2021,21097,44,Harrison County,KY,43.2,8163,8163.0,50.7,7772,...,C,11.0,12.0,12.0,12.0,Non-metro,7.0,8.0,8.0,8.0
1,11/06/2021,18105,44,Monroe County,IN,54.7,81158,81155.0,61.0,76819,...,B,8.0,8.0,8.0,8.0,Metro,4.0,4.0,4.0,4.0
2,11/06/2021,46023,44,Charles Mix County,SD,47.3,4399,4398.0,59.8,4119,...,C,11.0,12.0,12.0,12.0,Non-metro,7.0,8.0,8.0,8.0
3,11/06/2021,41045,44,Malheur County,OR,42.2,12893,12884.0,51.1,12170,...,D,15.0,16.0,16.0,16.0,Non-metro,7.0,8.0,8.0,8.0
4,11/06/2021,39127,44,Perry County,OH,36.9,13339,13339.0,43.5,12823,...,C,10.0,11.0,11.0,12.0,Metro,2.0,3.0,3.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079793,12/13/2020,45045,51,Greenville County,SC,0.0,0,0.0,0.0,0,...,C,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN
1079794,12/13/2020,05145,51,White County,AR,0.0,0,0.0,0.0,0,...,C,NaN,NaN,NaN,NaN,Non-metro,NaN,NaN,NaN,NaN
1079795,12/13/2020,55025,51,Dane County,WI,0.0,0,0.0,0.0,0,...,A,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN
1079796,12/13/2020,18109,51,Morgan County,IN,0.0,0,0.0,0.0,0,...,A,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN
1079797,12/13/2020,72119,51,Rio Grande Municipio,PR,0.0,0,0.0,0.0,0,...,C,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN

In [3]:
drop_list_vax = ['MMWR_week', 'Recip_County', 'Recip_State', 'SVI_CTGY', 'Series_Complete_Pop_Pct_SVI', 
                 'Series_Complete_12PlusPop_Pct_SVI', 'Series_Complete_18PlusPop_Pct_SVI', 
                 'Series_Complete_65PlusPop_Pct_SVI', 'Metro_status', 'Series_Complete_Pop_Pct_UR_Equity', 
                 'Series_Complete_12PlusPop_Pct_UR_Equity', 'Series_Complete_18PlusPop_Pct_UR_Equity', 
                 'Series_Complete_65PlusPop_Pct_UR_Equity', 'Administered_Dose1_Recip_18Plus', 'Series_Complete_12Plus', 
                 'Series_Complete_12PlusPop_Pct', 'Administered_Dose1_Recip', 'Administered_Dose1_Recip_12Plus', 
                 'Administered_Dose1_Recip_12PlusPop_Pct', 'Administered_Dose1_Recip_65Plus']

In [4]:
# Remove drop_list columns from df
vax_data_df.drop(drop_list_vax, axis=1, inplace=True)
vax_data_df.head()

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct
0,11/06/2021,21097,43.2,8163,7772,53.2,2708,79.4,94.0,48.1,59.1,84.9
1,11/06/2021,18105,54.7,81158,76819,61.3,17297,86.0,98.7,57.9,64.7,89.0
2,11/06/2021,46023,47.3,4399,4119,63.2,1409,81.6,96.3,59.9,78.3,90.0
3,11/06/2021,41045,42.2,12893,12170,53.7,4168,81.1,97.8,47.2,59.9,88.0
4,11/06/2021,39127,36.9,13339,12823,46.4,4555,74.2,98.6,38.7,48.6,77.6

In [5]:
# Convert date column to datetime
vax_data_df['Date'] = pd.to_datetime(vax_data_df['Date'])

In [6]:
# Set each column to a string value so we can concatonate them together 
vax_data_df['FIPS'] = vax_data_df['FIPS'].astype('str')
vax_data_df['Date'] = vax_data_df['Date'].astype('str')

In [7]:
# Concatonate the date column and the fips column to create fips_date
vax_data_df['fips_date'] = vax_data_df['FIPS'] + vax_data_df['Date']
vax_data_df

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
0,2021-11-06,21097,43.2,8163,7772,53.2,2708,79.4,94.0,48.1,59.1,84.9,210972021-11-06
1,2021-11-06,18105,54.7,81158,76819,61.3,17297,86.0,98.7,57.9,64.7,89.0,181052021-11-06
2,2021-11-06,46023,47.3,4399,4119,63.2,1409,81.6,96.3,59.9,78.3,90.0,460232021-11-06
3,2021-11-06,41045,42.2,12893,12170,53.7,4168,81.1,97.8,47.2,59.9,88.0,410452021-11-06
4,2021-11-06,39127,36.9,13339,12823,46.4,4555,74.2,98.6,38.7,48.6,77.6,391272021-11-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079793,2020-12-13,45045,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,450452020-12-13
1079794,2020-12-13,05145,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,051452020-12-13
1079795,2020-12-13,55025,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,550252020-12-13
1079796,2020-12-13,18109,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,181092020-12-13
1079797,2020-12-13,72119,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,721192020-12-13

In [8]:
# Sort by fips_date
vax_data_df.sort_values(by=['fips_date'])

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
1079754,2020-12-13,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-13
1075917,2020-12-14,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-14
1071696,2020-12-15,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-15
1067633,2020-12-16,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-16
1065713,2020-12-17,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2952,2021-11-06,UNK,0.0,163735,158310,0.0,39580,0.0,92.6,0.0,0.0,0.0,UNK2021-11-06
2941,2021-11-06,UNK,0.0,379701,333208,0.0,101590,0.0,93.6,0.0,0.0,0.0,UNK2021-11-06
2664,2021-11-06,UNK,0.0,15721,14428,0.0,1714,0.0,0.0,0.0,0.0,0.0,UNK2021-11-06
2742,2021-11-06,UNK,0.0,2160207,2095932,0.0,533935,0.0,58.1,0.0,0.0,0.0,UNK2021-11-06
2500,2021-11-06,UNK,0.0,73412,72906,0.0,29599,0.0,96.7,0.0,0.0,0.0,UNK2021-11-06

In [9]:
# Eliminate '0' from fips_date columns that begin with '0'
cols_to_check = ['fips_date']
for col in cols_to_check:
    vax_data_df[col] = vax_data_df[col].apply(lambda x : x[1:] if x.startswith("0") else x)

In [10]:
vax_data_df.sort_values(by=['fips_date'])

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
1079237,2020-12-13,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-13
1073653,2020-12-14,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-14
1070840,2020-12-15,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-15
1069915,2020-12-16,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-16
1063782,2020-12-17,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2941,2021-11-06,UNK,0.0,379701,333208,0.0,101590,0.0,93.6,0.0,0.0,0.0,UNK2021-11-06
353,2021-11-06,UNK,0.0,33674,32944,0.0,8929,0.0,96.5,0.0,0.0,0.0,UNK2021-11-06
1550,2021-11-06,UNK,0.0,9206,9004,0.0,2436,0.0,96.4,0.0,0.0,0.0,UNK2021-11-06
2742,2021-11-06,UNK,0.0,2160207,2095932,0.0,533935,0.0,58.1,0.0,0.0,0.0,UNK2021-11-06
228,2021-11-06,UNK,0.0,152399,146910,0.0,35360,0.0,97.3,0.0,0.0,0.0,UNK2021-11-06

In [11]:
# Read NYT data into dataframe
nyt_data = 'https://group3data.s3.us-west-2.amazonaws.com/us-counties.csv'
nyt_data_df = pd.read_csv(nyt_data)
nyt_data_df

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
1888090  2021-11-05  Sweetwater     Wyoming  56037.0   7695    91.0
1888091  2021-11-05       Teton     Wyoming  56039.0   5243    14.0
1888092  2021-11-05       Uinta     Wyoming  56041.0   3901    27.0
1888093  2021-11-05    Washakie     Wyoming  56043.0   1780    35.0
1888094  2021-11-05      Weston     Wyoming  56045.0   1154     9.0

[1888095 rows x 6 columns]

In [12]:
# Convert the date column in the NYT data to a datetime object using pd.to_datetime
nyt_data_df['date'] = pd.to_datetime(nyt_data_df['date'])
nyt_data_df.head()

        date     county       state     fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061.0      1     0.0
1 2020-01-22  Snohomish  Washington  53061.0      1     0.0
2 2020-01-23  Snohomish  Washington  53061.0      1     0.0
3 2020-01-24       Cook    Illinois  17031.0      1     0.0
4 2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [13]:
# 1. Remove the data for dates before 7-31-20 and after 10-22-21
# 2. Bin the date column by weeks ending every friday
# 3. Sum the cases and deaths columns for each week binned

# Step 1:
nyt_data_filtered = nyt_data_df[nyt_data_df['date'] >= '2020-07-25']
nyt_data_filtered = nyt_data_filtered[nyt_data_filtered['date'] <= '2021-10-22']
nyt_data_filtered

              date      county    state     fips  cases  deaths
366652  2020-07-25     Autauga  Alabama   1001.0    932    21.0
366653  2020-07-25     Baldwin  Alabama   1003.0   2662    18.0
366654  2020-07-25     Barbour  Alabama   1005.0    552     4.0
366655  2020-07-25        Bibb  Alabama   1007.0    318     2.0
366656  2020-07-25      Blount  Alabama   1009.0    637     1.0
...            ...         ...      ...      ...    ...     ...
1842600 2021-10-22  Sweetwater  Wyoming  56037.0   7414    79.0
1842601 2021-10-22       Teton  Wyoming  56039.0   5119    14.0
1842602 2021-10-22       Uinta  Wyoming  56041.0   3781    26.0
1842603 2021-10-22    Washakie  Wyoming  56043.0   1676    33.0
1842604 2021-10-22      Weston  Wyoming  56045.0   1027     9.0

[1475953 rows x 6 columns]

In [14]:
# Step 2:
# Step 3:

nyt_data_grouped = nyt_data_filtered.groupby(['fips', pd.Grouper(key='date', freq='W-FRI')]).agg({'cases':'sum','deaths':'sum'}).reset_index()
nyt_data_grouped

           fips       date  cases  deaths
0        1001.0 2020-07-31   6817   147.0
1        1001.0 2020-08-07   7503   150.0
2        1001.0 2020-08-14   8531   158.0
3        1001.0 2020-08-21   9009   161.0
4        1001.0 2020-08-28   9484   161.0
...         ...        ...    ...     ...
208977  78030.0 2021-09-24  24720   297.0
208978  78030.0 2021-10-01  24982   304.0
208979  78030.0 2021-10-08  25204   308.0
208980  78030.0 2021-10-15  25290   311.0
208981  78030.0 2021-10-22  25435   315.0

[208982 rows x 4 columns]

In [15]:
# Convert fips to integer
columns = ['fips']
nyt_data_grouped[columns] = nyt_data_grouped[columns].applymap(np.int64)
nyt_data_grouped

         fips       date  cases  deaths
0        1001 2020-07-31   6817   147.0
1        1001 2020-08-07   7503   150.0
2        1001 2020-08-14   8531   158.0
3        1001 2020-08-21   9009   161.0
4        1001 2020-08-28   9484   161.0
...       ...        ...    ...     ...
208977  78030 2021-09-24  24720   297.0
208978  78030 2021-10-01  24982   304.0
208979  78030 2021-10-08  25204   308.0
208980  78030 2021-10-15  25290   311.0
208981  78030 2021-10-22  25435   315.0

[208982 rows x 4 columns]

In [16]:
# Set each column to a string value so we can concatonate them together 
nyt_data_grouped['fips'] = nyt_data_grouped['fips'].astype('str')
nyt_data_grouped['date'] = nyt_data_grouped['date'].astype('str')
nyt_data_grouped['fips'].dtype

dtype('O')

In [17]:
# Concatonate the date column and the fips column to create fips_date
nyt_data_grouped['fips_date'] = nyt_data_grouped['fips'] + nyt_data_grouped['date']
nyt_data_grouped

         fips        date  cases  deaths        fips_date
0        1001  2020-07-31   6817   147.0   10012020-07-31
1        1001  2020-08-07   7503   150.0   10012020-08-07
2        1001  2020-08-14   8531   158.0   10012020-08-14
3        1001  2020-08-21   9009   161.0   10012020-08-21
4        1001  2020-08-28   9484   161.0   10012020-08-28
...       ...         ...    ...     ...              ...
208977  78030  2021-09-24  24720   297.0  780302021-09-24
208978  78030  2021-10-01  24982   304.0  780302021-10-01
208979  78030  2021-10-08  25204   308.0  780302021-10-08
208980  78030  2021-10-15  25290   311.0  780302021-10-15
208981  78030  2021-10-22  25435   315.0  780302021-10-22

[208982 rows x 5 columns]

In [18]:
# Read Hospital data (healthdata.gov) into dataframe
hospital_data = 'https://group3data.s3.us-west-2.amazonaws.com/COVID-19_Reported_Patient_Impact_and_Hospital_Capacity_by_Facility.csv'
hospital_data_df = pd.read_csv(hospital_data)
hospital_data_df

,hospital_pk,collection_week,state,ccn,hospital_name,address,city,zip,hospital_subtype,fips_code,...,previous_day_admission_pediatric_covid_confirmed_7_day_coverage,previous_day_admission_adult_covid_suspected_7_day_coverage,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected
0,140158,2021/10/15,IL,140158,INSIGHT HOSPITAL AND MEDICAL CENTER CHICAGO,2525 S MICHIGAN AVE,CHICAGO,60616.0,Short Term,17031.0,...,7,7,7,0.0,NaN,NaN,NaN,0.0,NaN,False
1,450162,2021/10/15,TX,450162,GRACE SURGICAL HOSPITAL,2412 50TH ST,LUBBOCK,79412.0,Short Term,48303.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
2,451318,2021/10/15,TX,451318,STONEWALL MEMORIAL HOSPITAL DISTRICT,821 NORTH BROADWAY,ASPERMONT,79502.0,Critical Access Hospitals,48433.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
3,050769,2021/10/08,CA,050769,HOAG ORTHOPEDIC INSTITUTE,16250 SAND CANYON AVENUE,IRVINE,92618.0,Short Term,6059.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
4,291500,2021/10/08,NV,291500,NATHAN ADELSON HOSPICE,4141 UNIVERSITY CENTER DR,LAS VEGAS,89119.0,Short Term,32003.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324743,100291,2020/08/07,FL,100291,STEWARD REGIONAL MEDICAL CENTER,250 NORTH WICKHAM ROAD,MELBOURNE,32935.0,Short Term,12009.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
324744,250096,2020/07/31,MS,250096,MERIT HEALTH RANKIN,350 CROSSGATES BLVD,BRANDON,39042.0,Short Term,28121.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
324745,241345,2020/07/31,MN,241345,MAYO CLINIC HEALTH SYSTEM-WASECA,501 NORTH STATE STREET,WASECA,56093.0,Critical Access Hospitals,27161.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
324746,271311,2020/08/07,MT,271311,BIG SANDY MEDICAL CENTER,166 MONTANA AVE E,BIG SANDY,59520.0,Critical Access Hospitals,30015.0,...,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,False
324747,110045,2020/07/31,GA,110045,NORTHEAST GEORGIA MEDICAL CENTER BARROW,316 NORTH BROAD STREET,WINDER,30680.0,Short Term,13013.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [19]:
# Create list of columns to drop
drop_list_hospitals = ['hospital_pk', 'state', 'ccn', 'hospital_name', 'address', 'city', 'zip', 'hospital_subtype', 
                       'is_metro_micro', 'total_beds_7_day_avg', 'all_adult_hospital_beds_7_day_avg', 
                       'all_adult_hospital_inpatient_beds_7_day_avg', 'inpatient_beds_used_7_day_avg', 
                       'all_adult_hospital_inpatient_bed_occupied_7_day_avg', 
                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_avg', 
                       'total_adult_patients_hospitalized_confirmed_covid_7_day_avg', 
                       'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_avg', 
                       'total_pediatric_patients_hospitalized_confirmed_covid_7_day_avg', 'inpatient_beds_7_day_avg', 
                       'total_icu_beds_7_day_avg', 'total_staffed_adult_icu_beds_7_day_avg', 'icu_beds_used_7_day_avg', 
                       'staffed_adult_icu_bed_occupancy_7_day_avg', 
                       'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_avg', 
                       'staffed_icu_adult_patients_confirmed_covid_7_day_avg', 
                       'total_patients_hospitalized_confirmed_influenza_7_day_avg', 
                       'icu_patients_confirmed_influenza_7_day_avg', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_avg', 
                       'all_adult_hospital_inpatient_beds_7_day_coverage', 
                       'inpatient_beds_used_7_day_coverage', 'all_adult_hospital_inpatient_bed_occupied_7_day_coverage', 
                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_coverage', 
                       'total_adult_patients_hospitalized_confirmed_covid_7_day_coverage', 
                       'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_coverage', 
                       'total_pediatric_patients_hospitalized_confirmed_covid_7_day_coverage', 
                       'inpatient_beds_7_day_coverage', 'total_icu_beds_7_day_coverage', 
                       'total_staffed_adult_icu_beds_7_day_coverage', 'icu_beds_used_7_day_coverage', 
                       'staffed_adult_icu_bed_occupancy_7_day_coverage', 
                       'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_coverage', 
                       'staffed_icu_adult_patients_confirmed_covid_7_day_coverage', 
                       'total_patients_hospitalized_confirmed_influenza_7_day_coverage', 
                       'icu_patients_confirmed_influenza_7_day_coverage', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_coverage', 
                       'previous_day_admission_adult_covid_confirmed_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_18-19_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_20-29_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_30-39_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_40-49_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_50-59_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_60-69_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_70-79_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_80+_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_unknown_7_day_sum', 
                       'previous_day_admission_pediatric_covid_confirmed_7_day_sum', 
                       'previous_day_covid_ED_visits_7_day_sum', 'previous_day_admission_adult_covid_suspected_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_18-19_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_20-29_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_30-39_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_40-49_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_50-59_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_60-69_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_70-79_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_80+_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_unknown_7_day_sum', 
                       'previous_day_admission_pediatric_covid_suspected_7_day_sum', 
                       'previous_day_total_ED_visits_7_day_sum', 'previous_day_admission_influenza_confirmed_7_day_sum', 
                       'geocoded_hospital_address', 'hhs_ids', 
                       'previous_day_admission_adult_covid_confirmed_7_day_coverage', 
                       'previous_day_admission_pediatric_covid_confirmed_7_day_coverage', 
                       'previous_day_admission_adult_covid_suspected_7_day_coverage', 
                       'previous_day_admission_pediatric_covid_suspected_7_day_coverage', 
                       'previous_week_personnel_covid_vaccinated_doses_administered_7_day', 
                       'total_personnel_covid_vaccinated_doses_none_7_day', 
                       'total_personnel_covid_vaccinated_doses_one_7_day', 
                       'total_personnel_covid_vaccinated_doses_all_7_day', 
                       'previous_week_patients_covid_vaccinated_doses_one_7_day', 
                       'previous_week_patients_covid_vaccinated_doses_all_7_day', 'is_corrected', 
                       'total_beds_7_day_coverage', 'all_adult_hospital_beds_7_day_coverage',
                       'total_patients_hospitalized_confirmed_influenza_7_day_sum', 
                       'icu_patients_confirmed_influenza_7_day_sum', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_sum'
]

In [20]:
# Remove drop_list columns from df
hospital_data_df.drop(drop_list_hospitals, axis=1, inplace=True)
hospital_data_df.head()

,collection_week,fips_code,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,2021/10/15,17031.0,350.0,350.0,252.0,160.0,160.0,7.0,7.0,0.0,0.0,252.0,28.0,28.0,16.0,16.0,7.0,7.0
1,2021/10/15,48303.0,268.0,268.0,261.0,34.0,34.0,0.0,0.0,0.0,0.0,261.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2021/10/15,48433.0,77.0,77.0,63.0,0.0,0.0,0.0,0.0,0.0,0.0,63.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2021/10/08,6059.0,245.0,245.0,133.0,126.0,126.0,0.0,0.0,0.0,0.0,133.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2021/10/08,32003.0,266.0,266.0,266.0,191.0,191.0,11.0,11.0,0.0,0.0,266.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
# Convert the date column in the hospital data to a datetime object using pd.to_datetime
hospital_data_df['collection_week'] = pd.to_datetime(hospital_data_df['collection_week'])
# Check to verify the date is now a datetime object
hospital_data_df.dtypes

collection_week                                                                  datetime64[ns]
fips_code                                                                               float64
total_beds_7_day_sum                                                                    float64
all_adult_hospital_beds_7_day_sum                                                       float64
all_adult_hospital_inpatient_beds_7_day_sum                                             float64
inpatient_beds_used_7_day_sum                                                           float64
all_adult_hospital_inpatient_bed_occupied_7_day_sum                                     float64
total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum               float64
total_adult_patients_hospitalized_confirmed_covid_7_day_sum                             float64
total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum           float64
total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum                         float64
inpatient_beds_7_day_sum                                                                float64
total_icu_beds_7_day_sum                                                                float64
total_staffed_adult_icu_beds_7_day_sum                                                  float64
icu_beds_used_7_day_sum                                                                 float64
staffed_adult_icu_bed_occupancy_7_day_sum                                               float64
staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum                      float64
staffed_icu_adult_patients_confirmed_covid_7_day_sum                                    float64
dtype: object

In [22]:
# Sort the hospital data by date
hospital_data_df = hospital_data_df.sort_values(by='collection_week')
hospital_data_df

# The hospital data is binned by collection week ending on every friday

,collection_week,fips_code,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
324747,2020-07-31,13013.0,266.0,NaN,NaN,199.0,NaN,0.0,NaN,-999999.0,NaN,266.0,0.0,NaN,0.0,NaN,NaN,NaN
319367,2020-07-31,21015.0,1062.0,1062.0,1062.0,949.0,949.0,-999999.0,-999999.0,0.0,0.0,1062.0,126.0,108.0,109.0,109.0,-999999.0,-999999.0
319371,2020-07-31,12099.0,3332.0,2710.0,2710.0,1873.0,1859.0,266.0,266.0,0.0,0.0,3206.0,287.0,287.0,178.0,178.0,41.0,41.0
319374,2020-07-31,19049.0,102.0,126.0,84.0,-999999.0,9.0,4.0,-999999.0,0.0,0.0,84.0,0.0,0.0,0.0,0.0,0.0,0.0
319375,2020-07-31,6037.0,824.0,404.0,341.0,296.0,296.0,5.0,0.0,0.0,0.0,341.0,20.0,20.0,18.0,18.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10378,2021-10-22,37005.0,42.0,42.0,42.0,26.0,26.0,-999999.0,-999999.0,0.0,0.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0
10377,2021-10-22,48039.0,15.0,15.0,9.0,4.0,4.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
6377,2021-10-22,20019.0,154.0,154.0,126.0,10.0,10.0,0.0,0.0,0.0,0.0,126.0,0.0,0.0,0.0,0.0,0.0,0.0
10372,2021-10-22,21125.0,1421.0,864.0,864.0,658.0,658.0,158.0,158.0,0.0,0.0,864.0,336.0,336.0,229.0,229.0,71.0,71.0
10352,2021-10-22,13015.0,1134.0,1134.0,834.0,821.0,791.0,69.0,69.0,0.0,0.0,842.0,147.0,147.0,139.0,139.0,47.0,47.0

In [23]:
# Group and sort hospital_data_df by fips_code
hospital_data_df = hospital_data_df.groupby(['fips_code', pd.Grouper(key='collection_week', freq='W-FRI')]).agg({'total_beds_7_day_sum':'sum','all_adult_hospital_beds_7_day_sum':'sum', 'all_adult_hospital_inpatient_beds_7_day_sum':'sum', 'inpatient_beds_used_7_day_sum':'sum', 'all_adult_hospital_inpatient_bed_occupied_7_day_sum':'sum', 
                                                                                                                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 'total_adult_patients_hospitalized_confirmed_covid_7_day_sum': 'sum', 'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 'total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum':'sum', 'inpatient_beds_7_day_sum':'sum', 'total_icu_beds_7_day_sum':'sum', 
                                                                                                                       'total_staffed_adult_icu_beds_7_day_sum':'sum', 'icu_beds_used_7_day_sum':'sum', 'staffed_adult_icu_bed_occupancy_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_covid_7_day_sum':'sum'}).reset_index()
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,1001.0,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0
1,1001.0,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0
2,1001.0,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0
3,1001.0,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0
4,1001.0,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0
159867,78020.0,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0
159868,78020.0,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0
159869,78020.0,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0
159870,78020.0,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0

In [24]:
# Convert fips to integer
columns = ['fips_code']
hospital_data_df[columns] = hospital_data_df[columns].applymap(np.int64)
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0

In [25]:
# Convert the hospital date and fips_code column to strings
hospital_data_df['collection_week'] = hospital_data_df['collection_week'].astype('str')
hospital_data_df['fips_code'] = hospital_data_df['fips_code'].astype('str')

In [26]:
# Concat the date and fips_code for new columns fips_date
hospital_data_df['fips_date'] = hospital_data_df['fips_code'] + hospital_data_df['collection_week']
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,10012020-07-31
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,10012020-08-07
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,10012020-08-14
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,10012020-08-21
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,780202021-09-24
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,780202021-10-01
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,780202021-10-08
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,780202021-10-15
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0,780202021-10-22

In [27]:
# Convert all negative values to 0
num = hospital_data_df._get_numeric_data()
num[num < 0] = 0

In [28]:
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,10012020-07-31
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,10012020-08-07
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,10012020-08-14
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,10012020-08-21
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,780202021-09-24
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,780202021-10-01
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,780202021-10-08
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,780202021-10-15
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,780202021-10-22

In [29]:
f = hospital_data_df['fips_date'].unique()

In [30]:
x = nyt_data_grouped['fips_date'].unique()

In [31]:
# Create list of fips_date values that only appear in one data set
remove_list = list(set(x).symmetric_difference(set(f)))
remove_list

['180472020-08-14',
 '22802021-07-16',
 '380332020-09-25',
 '132892021-09-17',
 '132892021-05-28',
 '280732021-07-02',
 '132692021-02-19',
 '181192021-05-14',
 '311152021-09-17',
 '720832021-09-24',
 '221072020-12-25',
 '211532021-07-16',
 '370732021-09-17',
 '370292021-04-02',
 '10752020-11-06',
 '540312021-10-22',
 '721232021-07-02',
 '470232021-09-10',
 '133072021-03-05',
 '130492020-12-04',
 '51012021-01-15',
 '211052021-01-22',
 '290572021-10-01',
 '380052021-05-07',
 '483812021-08-27',
 '720732021-06-18',
 '721152020-11-06',
 '22802021-03-26',
 '210432020-09-18',
 '290412021-01-15',
 '371432021-05-07',
 '260832020-11-06',
 '21882020-12-11',
 '191732020-08-21',
 '471532020-09-11',
 '60032021-02-05',
 '460412020-09-18',
 '720572021-10-22',
 '210892020-08-14',
 '470612021-06-04',
 '371992021-05-07',
 '516852021-07-02',
 '511932021-04-16',
 '212352021-09-03',
 '720272020-10-23',
 '180132020-12-18',
 '720292021-01-15',
 '180152021-07-23',
 '510372020-12-11',
 '201392021-07-16',
 '171392020-08-28',
 '81212021-01-08',
 '160632021-05-21',
 '460192021-03-19',
 '482592020-11-27',
 '212192020-11-27',
 '721032020-11-13',
 '660102021-06-18',
 '540152021-06-04',
 '292032021-07-23',
 '132712021-04-30',
 '720832020-10-30',
 '292232021-01-08',
 '301092020-07-31',
 '170412020-10-23',
 '210392020-08-28',
 '131452021-01-29',
 '291492021-03-05',
 '460212021-10-22',
 '171512021-03-26',
 '511492021-04-23',
 '400532021-01-29',
 '51172020-11-06',
 '121212020-07-31',
 '511052020-12-25',
 '480812020-12-11',
 '540212020-10-23',
 '540732020-10-23',
 '60912020-10-30',
 '483312021-04-23',
 '720872021-06-18',
 '191812021-07-23',
 '391632020-10-30',
 '211912020-07-31',
 '190232021-01-29',
 '80272021-04-09',
 '541052020-12-04',
 '440012020-10-16',
 '721152021-02-12',
 '132832021-06-04',
 '50132021-01-29',
 '483432021-03-12',
 '160332021-05-07',
 '131232021-04-16',
 '720872021-04-16',
 '720012021-07-16',
 '260832021-07-23',
 '160372021-08-06',
 '401412021-06-25',
 '371772020-09-04',
 '132632020-12-04',
 '131452020-11-06',
 '131772020-10-09',
 '291252021-04-30',
 '133152020-08-28',
 '541052020-09-04',
 '511632020-09-18',
 '131692020-07-31',
 '517352021-06-18',
 '130252021-06-25',
 '51332021-01-08',
 '483612020-07-31',
 '291972021-06-04',
 '220752021-03-12',
 '270212021-01-08',
 '720732021-10-08',
 '50792021-10-22',
 '291372020-12-11',
 '130032021-09-03',
 '482872020-08-21',
 '50732020-11-27',
 '511052021-07-09',
 '460572020-08-28',
 '460172020-08-28',
 '690002020-12-04',
 '400912021-08-06',
 '517502021-02-05',
 '181612021-09-03',
 '482052021-02-12',
 '481912020-08-07',
 '50672021-07-16',
 '210392020-09-18',
 '310912020-10-23',
 '300052021-09-24',
 '484072021-02-19',
 '290252021-10-01',
 '221072021-10-15',
 '120432021-04-16',
 '291732020-09-25',
 '550412021-02-05',
 '483952021-01-29',
 '191812020-07-31',
 '540152021-04-09',
 '29972020-12-11',
 '481372020-10-30',
 '240192020-10-02',
 '511812021-01-08',
 '50852020-10-23',
 '180412021-02-26',
 '261352020-10-02',
 '482712021-07-30',
 '310512020-10-09',
 '81212020-11-13',
 '211692021-03-19',
 '350032021-03-26',
 '210292021-05-07',
 '511412021-02-26',
 '484672020-10-16',
 '120772021-07-09',
 '370952021-02-05',
 '780302021-07-23',
 '470272021-10-22',
 '300432020-08-07',
 '290592021-09-24',
 '20502021-03-19',
 '440012020-10-09',
 '380332021-03-26',
 '371152021-07-23',
 '540492021-03-19',
 '461192021-06-04',
 '720412021-07-09',
 '181252021-04-23',
 '212332021-04-09',
 '450092021-01-22',
 '132692021-01-29',
 '170132021-05-28',
 '120412021-10-22',
 '421032021-06-25',
 '292192020-09-25',
 '483772021-07-23',
 '380832021-05-14',
 '131772020-10-02',
 '281292020-12-04',
 '300452021-03-05',
 '540592020-11-27',
 '81092021-08-27',
 '480452021-02-05',
 '280092020-10-16',
 '540312021-06-25',
 '550772021-05-21',
 '21002021-07-02',
 '21802021-08-20',
 '50872021-01-29',
 '410212020-12-11',
 '51012021-09-17',
 '181552020-08-21',
 '483612021-03-12',
 '180132020-09-18',
 '291412020-10-16',
 '51172021-09-03',
 '80472021-06-18',
 '310252021-02-19',
 '460872021-04-16',
 '720392021-05-21',
 '421132020-08-28',
 '51472021-05-28',
 '481752021-01-22',
 '131912020-10-02',
 '517902020-09-25',
 '170132021-01-01',
 '480672021-02-05',
 '170032021-08-27',
 '450612020-12-11',
 '181112021-06-25',
 '540592021-07-02',
 '133072021-06-04',
 '22302021-10-01',
 '460872021-06-25',
 '517202020-08-07',
 '480812020-10-23',
 '120292020-08-21',
 '270452021-01-01',
 '212012021-01-15',
 '50912021-03-12',
 '130852021-05-14',
 '212332021-01-22',
 '80932020-10-02',
 '120772021-02-26',
 '380072021-04-09',
 '80252021-02-26',
 '410212021-07-23',
 '311832021-03-12',
 '132712021-04-09',
 '281432021-08-27',
 '460192021-06-25',
 '721352020-11-20',
 '131672020-10-02',
 '261192021-07-23',
 '181552020-11-06',
 '133152020-11-13',
 '29982020-09-11',
 '484072021-10-22',
 '721052021-01-01',
 '311672020-11-06',
 '210632021-05-07',
 '260012021-03-19',
 '131672020-11-06',
 '482592020-12-18',
 '170472020-09-18',
 '471012021-08-20',
 '516002021-08-06',
 '22202021-04-23',
 '360412021-06-18',
 '481052021-06-11',
 '291732021-05-14',
 '380772021-02-19',
 '518202021-01-22',
 '191712021-10-01',
 '201972020-12-11',
 '181612020-08-28',
 '292272021-08-20',
 '510792021-05-28',
 '211032021-04-02',
 '132312021-04-16',
 '240392020-12-11',
 '721172021-01-29',
 '292272021-07-30',
 '131472021-09-17',
 '131672020-10-16',
 '50872020-11-13',
 '21982020-10-16',
 '471272020-10-16',
 '133012020-12-25',
 '181292020-10-09',
 '380272021-10-22',
 '180152020-09-25',
 '720192021-06-04',
 '460172021-03-05',
 '540632021-10-22',
 '515302020-07-31',
 '510692020-12-18',
 '511352020-10-23',
 '721492021-10-15',
 '290172021-06-25',
 '160612021-01-08',
 '50252021-07-16',
 '481192021-03-19',
 '721152021-03-05',
 '170152021-08-20',
 '220952020-07-31',
 '292092020-08-28',
 '481552021-04-23',
 '371432021-08-06',
 '131472020-10-23',
 '460632021-06-04',
 '470872020-10-16',
 '460312021-08-06',
 '483012021-07-23',
 '483112021-10-08',
 '380772021-02-26',
 '540432021-05-28',
 '211592020-08-07',
 '211492021-09-03',
 '290532021-06-04',
 '181552021-04-02',
 '371852021-07-02',
 '210232021-01-01',
 '80252021-09-24',
 '511012021-02-26',
 '221212021-09-03',
 '310492020-07-31',
 '50992020-09-18',
 '481732021-10-08',
 '550612020-11-20',
 '220252020-08-28',
 '290152020-12-11',
 '511592021-03-05',
 '370732020-12-04',
 '510252021-07-23',
 '720072020-12-25',
 '181112020-12-04',
 '721352021-02-12',
 '511092020-10-16',
 '510812020-10-30',
 '280552021-09-24',
 '471392021-02-26',
 '510492020-09-11',
 '132692020-12-04',
 '540932021-09-03',
 '484212021-10-22',
 '511612021-02-05',
 '482832021-02-19',
 '420992020-10-16',
 '291512021-04-30',
 '21952021-06-04',
 '131232020-09-11',
 '132692020-08-21',
 '310772021-04-30',
 '400772021-02-05',
 '461292020-09-25',
 '360852021-04-02',
 '410092020-10-16',
 '290872021-04-02',
 '240112021-02-05',
 '517902021-06-25',
 '380912021-10-01',
 '301032020-12-25',
 '50132021-04-23',
 '380132021-09-24',
 '721292020-09-11',
 '290532021-05-28',
 '211292020-08-14',
 '483112021-05-14',
 '470872021-08-06',
 '380872021-05-07',
 '490152021-06-18',
 '22752021-09-03',
 '310732020-10-02',
 '221072021-06-25',
 '160612020-10-09',
 '230232021-10-15',
 '510692021-07-16',
 '310872021-01-15',
 '212292021-07-02',
 '20162021-10-08',
 '170712021-03-12',
 '211292021-08-20',
 '160752021-05-21',
 '380472021-04-30',
 '510362020-11-20',
 '471212021-06-18',
 '80472021-05-14',
 '540852021-06-18',
 '281372021-07-16',
 '391112021-01-15',
 '391632020-11-20',
 '210072021-04-30',
 '210112020-09-04',
 '471352021-05-28',
 '191732020-07-31',
 '481292021-01-29',
 '160732020-10-23',
 '290412020-08-07',
 '460312021-08-13',
 '290032020-08-28',
 '290152020-11-27',
 '260092020-08-28',
 '132212020-09-25',
 '170152021-09-17',
 '510452020-09-04',
 '291332021-09-03',
 '420232021-01-08',
 '310492020-12-18',
 '132872021-02-19',
 '380412021-03-26',
 '511092021-02-19',
 '310872021-07-30',
 '131832021-09-03',
 '380772021-04-16',
 '420532020-08-28',
 '320292020-08-14',
 '171552021-02-19',
 '21202021-09-24',
 '721032021-05-28',
 '211432020-09-04',
 '511312020-09-11',
 '481312021-08-06',
 '370792021-07-16',
 '191732020-12-18',
 '390152021-09-03',
 '450612021-09-24',
 '691102020-10-23',
 '721092021-03-05',
 '483432020-11-06',
 '80532021-01-29',
 '490552021-09-03',
 '292232021-08-27',
 '510352021-09-24',
 '212192020-12-11',
 '480192021-08-13',
 '131912021-07-23',
 '471012021-07-16',
 '483852021-07-16',
 '160152021-05-21',
 '200692021-04-09',
 '450612021-07-16',
 '721332020-10-23',
 '202072020-11-20',
 '181192021-07-23',
 '380492020-10-23',
 '511452021-09-03',
 '516902021-10-22',
 '131672020-09-04',
 '210312021-05-07',
 '270452020-12-04',
 '261192020-12-04',
 '51172021-08-27',
 '210232021-06-11',
 '511312021-05-28',
 '290172020-11-06',
 '212352020-09-04',
 '391112021-04-02',
 '11072021-04-02',
 '310492021-06-18',
 '370032021-02-19',
 '483312021-06-04',
 '120472021-02-12',
 '310772020-10-02',
 '400592020-08-28',
 '515802020-07-31',
 '211592020-09-11',
 '291252021-06-18',
 '510492021-07-09',
 '211192021-01-15',
 '511812021-06-11',
 '51012020-10-23',
 '540712021-02-12',
 '211632020-07-31',
 '211972021-07-16',
 '270552021-01-08',
 '132712021-01-08',
 '370432021-08-20',
 '482432020-10-16',
 '131472021-02-12',
 '421092021-04-16',
 '181012021-09-10',
 '29982021-01-22',
 '371372021-07-09',
 '510992021-09-24',
 '291372021-02-26',
 '370332020-09-25',
 '292052021-04-02',
 '310772021-03-05',
 '181152021-08-06',
 '160332020-07-31',
 '720452021-04-23',
 '290872020-07-31',
 '510072020-10-02',
 '210392020-10-02',
 '400772020-08-14',
 '450172021-05-28',
 '470612020-10-30',
 '211492021-01-22',
 '190312021-07-09',
 '510812020-12-11',
 '721372020-11-20',
 '21882021-05-07',
 '310272021-03-12',
 '170352021-09-24',
 '210392021-10-15',
 '720192021-04-30',
 '131232020-09-18',
 '290632020-08-14',
 '720752021-04-16',
 '391152020-11-20',
 '510752021-08-06',
 '400912021-05-07',
 '211352021-02-26',
 '210772021-08-20',
 '212232020-11-06',
 '191732020-12-11',
 '480592020-10-02',
 '340152021-04-30',
 '483952021-09-24',
 '212352021-10-22',
 '211032021-02-12',
 '21202020-09-11',
 '121212020-12-04',
 '130072020-08-28',
 '170152020-11-13',
 '510492021-08-13',
 '51292021-05-14',
 '210072021-08-27',
 '480192021-02-26',
 '310072020-07-31',
 '721292021-07-09',
 '470752021-06-25',
 '380652021-01-22',
 '160252021-01-08',
 '420972020-11-20',
 '471532021-02-05',
 '480192021-04-30',
 '483332021-08-13',
 '440012021-01-22',
 '515202020-09-18',
 '540932021-10-15',
 '481372021-07-16',
 '380432021-03-26',
 '470472021-09-03',
 '132632021-07-30',
 '510992020-10-23',
 '170932021-08-20',
 '22402021-04-23',
 '510752020-10-02',
 '260012021-10-15',
 '221212021-06-18',
 '470572020-12-11',
 '291512021-07-09',
 '130032021-03-26',
 '511432021-04-30',
 '191292021-05-21',
 '350612021-07-30',
 '371772021-01-22',
 '280552021-08-27',
 '471292021-06-04',
 '171232021-09-10',
 '211292021-04-16',
 '482952021-08-20',
 '481912021-06-25',
 '310272021-04-16',
 '720452020-08-28',
 '281292020-09-04',
 '281012020-07-31',
 '490552020-09-25',
 '270092021-01-22',
 '132292021-05-28',
 '120772021-01-08',
 '400332020-08-14',
 '720772021-10-22',
 '171232021-09-24',
 '310252021-01-29',
 '471092021-06-04',
 '490312021-10-22',
 '720192020-09-18',
 '400032020-10-23',
 '510112020-12-11',
 '210612021-10-01',
 '130292021-06-18',
 '132492020-09-04',
 '131452020-09-18',
 '191892020-11-13',
 '660102020-08-21',
 '420992021-07-02',
 '721352021-06-04',
 '380752020-12-04',
 '170032020-10-30',
 '310712021-10-01',
 '211052021-02-05',
 '212232021-01-22',
 '170072020-11-13',
 '470232021-01-15',
 '483152021-06-04',
 '291252021-10-15',
 '131412021-05-07',
 '483272021-03-12',
 '540092021-09-17',
 '311672020-12-11',
 '480112020-07-31',
 '350332020-09-18',
 '483612021-05-28',
 '261192021-10-01',
 '360352021-08-20',
 '50672020-09-11',
 '540792020-11-27',
 '401072020-09-18',
 '410212021-01-01',
 '291792020-07-31',
 '482352020-10-30',
 '721152021-08-27',
 '720472021-03-26',
 '22602020-08-07',
 '130112021-10-01',
 '350612021-03-05',
 '211652021-04-16',
 '421132020-12-18',
 '133152020-09-25',
 '371152020-09-11',
 '480112020-10-16',
 '181472021-03-19',
 '511992021-03-26',
 '482692020-10-23',
 '721032020-07-31',
 '261092021-10-01',
 '360812020-08-21',
 '380912021-04-09',
 '261432021-03-12',
 '131472021-01-22',
 '484312020-09-04',
 '483932021-09-10',
 '310252021-06-04',
 '511352020-08-07',
 '720572021-07-23',
 '132492020-12-11',
 '50672020-10-30',
 '131572021-04-30',
 '310492020-08-07',
 '260312021-07-02',
 '370952020-12-18',
 '390872021-06-04',
 '511932020-08-07',
 '720112021-04-23',
 '460872021-03-26',
 '310872020-09-11',
 '200492021-04-02',
 '691102020-11-06',
 '360992021-08-13',
 '721332021-09-24',
 '191732020-09-25',
 '720072021-01-01',
 '50252020-08-21',
 '400332021-02-05',
 '80932021-07-09',
 '481192021-08-20',
 '484732021-01-22',
 '720512021-08-20',
 '290592021-09-10',
 '510452020-08-21',
 '540592020-11-20',
 '483512021-04-16',
 '170072021-09-10',
 '720632020-12-04',
 '210792020-08-07',
 '720432021-02-05',
 '350112020-12-04',
 '210392020-09-25',
 '720332020-10-02',
 '721092020-10-30',
 '511112021-05-07',
 '21202021-02-26',
 '721492020-10-16',
 '510352021-06-18',
 '131712021-07-02',
 '201992021-07-23',
 '310432020-11-27',
 '511252021-01-01',
 '483112021-04-02',
 '481912021-05-28',
 '511412021-01-15',
 '540152021-03-26',
 '170352021-06-18',
 '460412021-07-30',
 '22602021-01-01',
 '510692021-04-23',
 '410692021-08-06',
 '516102021-10-01',
 '171232020-12-04',
 '191732021-05-21',
 '81112021-04-30',
 '160152020-07-31',
 '130292021-05-07',
 '720712021-02-05',
 '471532021-09-03',
 '171392021-01-15',
 '181552021-09-17',
 '280152021-04-16',
 '131252021-04-16',
 '480332020-12-11',
 '510532021-04-09',
 '170792021-03-19',
 '171392021-10-22',
 '130292020-08-14',
 '22752021-10-15',
 '721212021-01-08',
 '482292020-08-07',
 '721052021-09-10',
 '180072021-07-09',
 '484592021-07-16',
 '120072020-12-18',
 '660102020-08-07',
 '191892021-10-08',
 '270992020-07-31',
 '450352021-02-26',
 '291392020-12-04',
 '120472021-08-06',
 '261192021-01-15',
 '51112020-10-16',
 '470572020-09-11',
 '720172021-10-15',
 '480592020-12-18',
 '510792020-12-11',
 '22202020-10-09',
 '450812020-07-31',
 '483432020-08-21',
 '240352021-08-06',
 '133012020-07-31',
 '81092020-08-07',
 '371972020-12-11',
 '371372021-10-15',
 '230232021-09-17',
 '380872020-10-23',
 '132312021-07-23',
 '50892021-03-19',
 '132312021-09-24',
 '460972020-09-04',
 '360812020-07-31',
 '20502021-09-24',
 '210292021-08-13',
 '450172020-10-30',
 '471752021-08-20',
 '21202021-03-05',
 '230232021-05-21',
 '481752020-09-04',
 '515102020-08-21',
 '300372021-01-08',
 '371312021-06-11',
 '511992021-10-01',
 '420972021-01-01',
 '212152021-03-26',
 '721332020-09-18',
 '310052020-12-18',
 '510692020-12-25',
 '181112021-01-01',
 '211592021-09-17',
 '720632021-05-14',
 '181292021-08-06',
 '292252021-02-26',
 '361212020-08-21',
 '380072020-10-16',
 '390192021-09-17',
 '400772020-11-13',
 '60912020-11-20',
 '181252021-05-21',
 '291192021-10-15',
 '11052021-03-05',
 '191712020-08-21',
 '391152021-02-05',
 '10292020-09-18',
 '380452021-06-18',
 '260892020-10-30',
 '460032021-06-18',
 '484192021-10-15',
 '311032021-09-17',
 '211292021-01-15',
 '460312021-10-08',
 '211092021-03-19',
 '484112021-03-05',
 '480092020-11-27',
 '50852021-02-05',
 '212332020-11-20',
 '181472021-08-06',
 '391372021-10-01',
 '350612021-09-17',
 '380272021-02-12',
 '483432021-01-22',
 '50912020-10-09',
 '480592021-06-04',
 '450692021-08-27',
 '510452020-12-04',
 '721352020-08-14',
 '371312021-05-07',
 '310752021-04-02',
 '300452020-12-11',
 '181472021-09-10',
 '290172020-09-04',
 '390872020-09-04',
 '210112020-11-13',
 '380132020-10-16',
 '380652021-03-19',
 '20162021-07-23',
 '270452021-06-25',
 '220952020-08-14',
 '21582020-08-14',
 '720932021-03-26',
 '210432020-10-23',
 '510372021-02-26',
 '482712021-05-07',
 '370532021-10-01',
 '471152020-11-06',
 '470872021-06-04',
 '50972021-01-22',
 '360352020-08-21',
 '81092021-07-23',
 '160732021-03-05',
 '292232020-09-04',
 '271252020-12-11',
 '511752021-03-05',
 '290632021-09-03',
 '720512021-04-23',
 '482472021-07-16',
 '200492020-10-30',
 '290412021-02-05',
 '131692021-05-21',
 '10852021-09-10',
 '482832021-05-28',
 '481752021-02-05',
 '131572021-07-23',
 '460632021-10-08',
 '510252021-06-04',
 '483152021-09-17',
 '482592021-04-30',
 '211872020-09-18',
 '131952021-01-22',
 '290872021-09-24',
 '470752021-10-08',
 '211692021-06-04',
 '191152021-07-16',
 '311432020-08-14',
 '212232021-03-26',
 '290432021-09-17',
 '292052020-09-18',
 '171932021-03-26',
 '370752020-12-11',
 '50732020-07-31',
 '483852021-05-28',
 '484092021-04-16',
 '541092021-04-02',
 '21802020-07-31',
 '311172021-03-05',
 '482032021-09-10',
 '380432020-10-16',
 '310912020-12-18',
 '180252020-10-30',
 '391052020-09-11',
 '191292021-01-01',
 '170872021-07-30',
 '470572021-05-28',
 '482352021-07-09',
 '80272021-09-03',
 '391052021-03-12',
 '483612021-09-10',
 '470492021-03-12',
 '131492021-03-05',
 '470872020-09-18',
 '720492020-10-23',
 '171532021-02-05',
 '484192021-04-16',
 '460032021-08-06',
 '80912021-02-12',
 '371432020-08-28',
 '484432020-12-11',
 '460252020-08-07',
 '371992021-02-26',
 '361072021-02-12',
 '340152021-10-22',
 '490552021-04-16',
 '720752021-04-09',
 '80192021-04-02',
 '400332021-09-03',
 '211912021-07-23',
 '300752021-01-08',
 '170872020-11-06',
 '170092020-12-18',
 '483432021-01-29',
 '291972020-08-28',
 '281192020-08-21',
 '160732021-06-25',
 '132892021-04-02',
 '210772021-05-28',
 '132632021-01-01',
 '360412021-07-09',
 '281432021-03-12',
 '310712021-03-19',
 '211632020-09-18',
 '211532021-02-26',
 '510972020-11-27',
 '130112021-09-03',
 '540092021-06-11',
 '280732021-07-30',
 '484552021-07-02',
 '511452021-08-06',
 '482832021-02-26',
 '360612021-08-20',
 '721312021-01-29',
 '211432020-12-25',
 '292192020-11-27',
 '292052020-12-18',
 '460192020-11-06',
 '540852020-09-11',
 '516852021-04-09',
 '471732021-04-30',
 '311152021-07-30',
 '390872020-08-07',
 '481372021-01-01',
 '160512021-04-02',
 '320112020-10-02',
 '220952021-02-05',
 '170712021-05-21',
 '460972021-06-11',
 '281312020-10-23',
 '721292021-06-04',
 '50532020-12-11',
 '181472021-02-26',
 '721292021-05-21',
 '22102021-01-08',
 '211872021-10-08',
 '391352021-02-12',
 '720272021-04-02',
 '540092021-03-19',
 '721172020-12-11',
 '291032021-05-28',
 '51172021-08-13',
 '721032021-05-14',
 '22202021-06-04',
 '132212021-01-22',
 '280092021-08-20',
 '181212021-05-07',
 '311032021-10-15',
 '212152021-07-23',
 '120772021-08-27',
 '530592021-01-29',
 '482872020-11-13',
 '484172020-08-28',
 '510292020-09-18',
 '310252021-07-16',
 '410092020-11-20',
 '211872021-08-06',
 '480332021-09-17',
 '81132021-01-15',
 '281192021-04-30',
 '291532021-04-09',
 '400912021-01-01',
 '191712020-10-30',
 '170232021-06-25',
 '280732021-08-06',
 '480472021-03-26',
 '270272020-09-04',
 '301092020-10-23',
 '22802021-02-12',
 '517202021-06-25',
 '471752020-09-04',
 '60032021-08-06',
 '780302021-04-30',
 '691202021-05-07',
 '481752020-09-11',
 '483772021-07-30',
 '380852020-10-30',
 '511432020-10-09',
 '720712021-04-16',
 '510972021-01-29',
 '461192021-07-23',
 '391152020-08-21',
 '540432021-03-26',
 '210792020-09-04',
 '484432021-03-05',
 '280052021-09-24',
 '481912021-09-17',
 '540632021-10-15',
 '221072021-10-22',
 '51352020-09-11',
 '120752021-08-20',
 '170412021-10-15',
 '290872020-08-07',
 '240112021-04-16',
 '50872021-09-17',
 '160732021-06-04',
 '160032021-09-17',
 '720412020-07-31',
 '50252021-08-27',
 '80332021-04-30',
 '131572020-12-18',
 '721072020-10-30',
 '300432021-08-13',
 '720432021-08-13',
 '510992020-08-07',
 '291812020-09-25',
 '190232021-10-22',
 '300692021-02-12',
 '210612021-05-07',
 '211892021-03-19',
 '510352020-10-23',
 '484732020-09-25',
 '131692020-12-25',
 '292052021-05-21',
 '460852021-10-15',
 '132292021-06-18',
 '360412021-09-03',
 '400912020-11-27',
 '483812020-09-11',
 '201972021-01-29',
 '510372021-06-25',
 ...]

In [32]:
# Eliminate rows with fips_date values that do not appear in counties dataset
hospital_data_df = hospital_data_df[~hospital_data_df['fips_date'].isin(remove_list)]
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,10012020-07-31
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,10012020-08-07
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,10012020-08-14
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,10012020-08-21
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,780202021-09-24
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,780202021-10-01
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,780202021-10-08
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,780202021-10-15
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,780202021-10-22

In [33]:
# Shorten column names to avoid truncating in postgres (confirmed=con, suspected=sus, pediatric=ped)
hospital_data_df.rename({'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum', 
                         'total_adult_patients_hospitalized_confirmed_covid_7_day_sum':'total_adult_patients_hospitalized_con_covid_7_day_sum', 
                         'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum', 
                         'total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum':'total_ped_patients_hospitalized_con_covid_7_day_sum', 
                         'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum':'staffed_icu_adult_patients_con_and_sus_covid_7_day_sum', 
                         'staffed_icu_adult_patients_confirmed_covid_7_day_sum':'staffed_icu_adult_patients_con_covid_7_day_sum'}, axis=1, inplace=True)
hospital_data_df

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,10012020-07-31
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,10012020-08-07
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,10012020-08-14
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,10012020-08-21
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,780202021-09-24
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,780202021-10-01
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,780202021-10-08
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,780202021-10-15
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,780202021-10-22

In [34]:
# Eliminate rows with fips_date values that do not appear in hospitals dataset
nyt_data_grouped = nyt_data_grouped[~nyt_data_grouped['fips_date'].isin(remove_list)]
nyt_data_grouped

         fips        date  cases  deaths        fips_date
0        1001  2020-07-31   6817   147.0   10012020-07-31
1        1001  2020-08-07   7503   150.0   10012020-08-07
2        1001  2020-08-14   8531   158.0   10012020-08-14
3        1001  2020-08-21   9009   161.0   10012020-08-21
4        1001  2020-08-28   9484   161.0   10012020-08-28
...       ...         ...    ...     ...              ...
208912  78020  2021-09-24   2258    21.0  780202021-09-24
208913  78020  2021-10-01   2293    21.0  780202021-10-01
208914  78020  2021-10-08   2317    21.0  780202021-10-08
208915  78020  2021-10-15   2317    21.0  780202021-10-15
208916  78020  2021-10-22   2322    21.0  780202021-10-22

[159064 rows x 5 columns]

In [35]:
nyt_data_grouped.dtypes

fips          object
date          object
cases          int64
deaths       float64
fips_date     object
dtype: object

In [36]:
# Convert float data types to integers in NYT data set
columns = ['deaths']
nyt_data_grouped[columns] = nyt_data_grouped[columns].applymap(np.int64)
nyt_data_grouped

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

         fips        date  cases  deaths        fips_date
0        1001  2020-07-31   6817     147   10012020-07-31
1        1001  2020-08-07   7503     150   10012020-08-07
2        1001  2020-08-14   8531     158   10012020-08-14
3        1001  2020-08-21   9009     161   10012020-08-21
4        1001  2020-08-28   9484     161   10012020-08-28
...       ...         ...    ...     ...              ...
208912  78020  2021-09-24   2258      21  780202021-09-24
208913  78020  2021-10-01   2293      21  780202021-10-01
208914  78020  2021-10-08   2317      21  780202021-10-08
208915  78020  2021-10-15   2317      21  780202021-10-15
208916  78020  2021-10-22   2322      21  780202021-10-22

[159064 rows x 5 columns]

In [37]:
# Convert NYT date column to datetime data type
nyt_data_grouped['date'] = pd.to_datetime(nyt_data_grouped['date'])
nyt_data_grouped

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         fips       date  cases  deaths        fips_date
0        1001 2020-07-31   6817     147   10012020-07-31
1        1001 2020-08-07   7503     150   10012020-08-07
2        1001 2020-08-14   8531     158   10012020-08-14
3        1001 2020-08-21   9009     161   10012020-08-21
4        1001 2020-08-28   9484     161   10012020-08-28
...       ...        ...    ...     ...              ...
208912  78020 2021-09-24   2258      21  780202021-09-24
208913  78020 2021-10-01   2293      21  780202021-10-01
208914  78020 2021-10-08   2317      21  780202021-10-08
208915  78020 2021-10-15   2317      21  780202021-10-15
208916  78020 2021-10-22   2322      21  780202021-10-22

[159064 rows x 5 columns]

In [38]:
nyt_data_grouped.dtypes

fips                 object
date         datetime64[ns]
cases                 int64
deaths                int64
fips_date            object
dtype: object

In [39]:
# Rename NYT columns 
nyt_data_grouped.rename({'date':'collection_week', 'cases':'cases_to_date', 'deaths':'deaths_to_date'}, axis=1, inplace=True)
nyt_data_grouped

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

         fips collection_week  cases_to_date  deaths_to_date        fips_date
0        1001      2020-07-31           6817             147   10012020-07-31
1        1001      2020-08-07           7503             150   10012020-08-07
2        1001      2020-08-14           8531             158   10012020-08-14
3        1001      2020-08-21           9009             161   10012020-08-21
4        1001      2020-08-28           9484             161   10012020-08-28
...       ...             ...            ...             ...              ...
208912  78020      2021-09-24           2258              21  780202021-09-24
208913  78020      2021-10-01           2293              21  780202021-10-01
208914  78020      2021-10-08           2317              21  780202021-10-08
208915  78020      2021-10-15           2317              21  780202021-10-15
208916  78020      2021-10-22           2322              21  780202021-10-22

[159064 rows x 5 columns]

In [40]:
hospital_data_df.dtypes

fips_code                                                         object
collection_week                                                   object
total_beds_7_day_sum                                             float64
all_adult_hospital_beds_7_day_sum                                float64
all_adult_hospital_inpatient_beds_7_day_sum                      float64
inpatient_beds_used_7_day_sum                                    float64
all_adult_hospital_inpatient_bed_occupied_7_day_sum              float64
total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum    float64
total_adult_patients_hospitalized_con_covid_7_day_sum            float64
total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum      float64
total_ped_patients_hospitalized_con_covid_7_day_sum              float64
inpatient_beds_7_day_sum                                         float64
total_icu_beds_7_day_sum                                         float64
total_staffed_adult_icu_beds_7_day_sum                           float64
icu_beds_used_7_day_sum                                          float64
staffed_adult_icu_bed_occupancy_7_day_sum                        float64
staffed_icu_adult_patients_con_and_sus_covid_7_day_sum           float64
staffed_icu_adult_patients_con_covid_7_day_sum                   float64
fips_date                                                         object
dtype: object

In [41]:
# Convert float data types to integers in hospitals data set
columns = ['total_beds_7_day_sum', 'all_adult_hospital_beds_7_day_sum', 
           'all_adult_hospital_inpatient_beds_7_day_sum', 'inpatient_beds_used_7_day_sum', 
           'all_adult_hospital_inpatient_bed_occupied_7_day_sum', 
           'total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum', 
           'total_adult_patients_hospitalized_con_covid_7_day_sum', 
           'total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum', 
           'total_ped_patients_hospitalized_con_covid_7_day_sum', 'inpatient_beds_7_day_sum', 'total_icu_beds_7_day_sum', 
           'total_staffed_adult_icu_beds_7_day_sum', 'icu_beds_used_7_day_sum', 'staffed_adult_icu_bed_occupancy_7_day_sum',
           'staffed_icu_adult_patients_con_and_sus_covid_7_day_sum', 'staffed_icu_adult_patients_con_covid_7_day_sum']
hospital_data_df[columns] = hospital_data_df[columns].applymap(np.int64)
hospital_data_df

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001,2020-07-31,574,574,455,363,363,117,103,0,0,455,42,42,40,40,28,26,10012020-07-31
1,1001,2020-08-07,574,574,455,369,369,153,139,0,0,455,42,42,41,41,38,37,10012020-08-07
2,1001,2020-08-14,574,574,455,384,384,125,111,0,0,455,42,42,42,42,38,32,10012020-08-14
3,1001,2020-08-21,574,574,455,348,348,86,74,0,0,455,42,42,38,38,48,35,10012020-08-21
4,1001,2020-08-28,574,574,455,346,346,77,75,0,0,455,42,42,40,40,18,18,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924,868,728,410,389,20,20,0,0,784,56,56,29,29,7,7,780202021-09-24
159867,78020,2021-10-01,924,868,728,362,340,12,12,0,0,784,56,56,43,43,7,7,780202021-10-01
159868,78020,2021-10-08,924,868,728,412,381,12,12,0,0,784,56,56,48,48,7,7,780202021-10-08
159869,78020,2021-10-15,924,868,728,402,365,7,7,0,0,784,56,56,40,40,7,7,780202021-10-15
159870,78020,2021-10-22,924,868,728,381,356,0,0,0,0,784,56,56,36,36,0,0,780202021-10-22

In [42]:
# Convert NYT date column to datetime data type
hospital_data_df['collection_week'] = pd.to_datetime(hospital_data_df['collection_week'])
hospital_data_df

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001,2020-07-31,574,574,455,363,363,117,103,0,0,455,42,42,40,40,28,26,10012020-07-31
1,1001,2020-08-07,574,574,455,369,369,153,139,0,0,455,42,42,41,41,38,37,10012020-08-07
2,1001,2020-08-14,574,574,455,384,384,125,111,0,0,455,42,42,42,42,38,32,10012020-08-14
3,1001,2020-08-21,574,574,455,348,348,86,74,0,0,455,42,42,38,38,48,35,10012020-08-21
4,1001,2020-08-28,574,574,455,346,346,77,75,0,0,455,42,42,40,40,18,18,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924,868,728,410,389,20,20,0,0,784,56,56,29,29,7,7,780202021-09-24
159867,78020,2021-10-01,924,868,728,362,340,12,12,0,0,784,56,56,43,43,7,7,780202021-10-01
159868,78020,2021-10-08,924,868,728,412,381,12,12,0,0,784,56,56,48,48,7,7,780202021-10-08
159869,78020,2021-10-15,924,868,728,402,365,7,7,0,0,784,56,56,40,40,7,7,780202021-10-15
159870,78020,2021-10-22,924,868,728,381,356,0,0,0,0,784,56,56,36,36,0,0,780202021-10-22

In [43]:
hospital_data_df.dtypes

fips_code                                                                object
collection_week                                                  datetime64[ns]
total_beds_7_day_sum                                                      int64
all_adult_hospital_beds_7_day_sum                                         int64
all_adult_hospital_inpatient_beds_7_day_sum                               int64
inpatient_beds_used_7_day_sum                                             int64
all_adult_hospital_inpatient_bed_occupied_7_day_sum                       int64
total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum             int64
total_adult_patients_hospitalized_con_covid_7_day_sum                     int64
total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum               int64
total_ped_patients_hospitalized_con_covid_7_day_sum                       int64
inpatient_beds_7_day_sum                                                  int64
total_icu_beds_7_day_sum                                                  int64
total_staffed_adult_icu_beds_7_day_sum                                    int64
icu_beds_used_7_day_sum                                                   int64
staffed_adult_icu_bed_occupancy_7_day_sum                                 int64
staffed_icu_adult_patients_con_and_sus_covid_7_day_sum                    int64
staffed_icu_adult_patients_con_covid_7_day_sum                            int64
fips_date                                                                object
dtype: object

In [44]:
# Eliminate rows with fips_date values that do not appear in counties dataset
f = vax_data_df['fips_date'].unique()

In [45]:
x = nyt_data_grouped['fips_date'].unique()

In [46]:
remove_list_dates = list(set(x).symmetric_difference(set(f)))
remove_list_dates

['490252021-01-21',
 '311172021-03-24',
 '300452021-03-10',
 '500032021-05-02',
 '450632021-09-12',
 '211152021-07-31',
 '211652021-07-12',
 '460172021-06-19',
 '132692021-02-19',
 '280332021-08-14',
 '401432021-02-28',
 '170552020-08-07',
 '484272021-01-13',
 '480292021-03-18',
 '510012021-06-16',
 '450572021-05-02',
 '390212021-05-20',
 '410672020-08-07',
 '191872021-09-15',
 '261212021-10-11',
 '460412021-08-15',
 '370292021-04-02',
 '480832020-12-24',
 '10472021-04-22',
 '560152021-01-04',
 '400832020-12-26',
 '210192021-02-06',
 '310332021-03-21',
 '450012021-04-28',
 '360752021-09-11',
 '291792021-03-22',
 '720972021-10-13',
 '10172021-06-29',
 '220192021-05-19',
 '380252021-04-11',
 '311392021-02-17',
 '484872021-02-18',
 '200952021-07-19',
 '131272021-03-10',
 '410672021-02-20',
 '132572021-06-29',
 '530512020-10-23',
 '390032020-12-14',
 '260552021-05-23',
 '500052021-04-04',
 '400452021-01-28',
 '80492021-09-27',
 '190412021-10-05',
 '560212021-05-17',
 '482672021-10-06',
 '191812021-02-01',
 '483372021-09-08',
 '181752021-01-02',
 '410092021-07-18',
 '371412021-09-28',
 '530372021-08-05',
 '80572021-09-08',
 '340132021-08-28',
 '100012021-06-26',
 '270652021-06-13',
 '132512021-05-29',
 '300052021-09-28',
 '130432021-08-01',
 '360892021-08-11',
 '370892021-06-22',
 '481452021-04-05',
 '311012021-10-31',
 '133092021-06-30',
 '220392021-05-10',
 '720252021-03-06',
 '421092021-05-06',
 '484912020-12-19',
 '720052021-09-02',
 '180332021-07-28',
 '490452021-08-12',
 '200592021-10-24',
 '290252020-12-21',
 '290452021-08-26',
 '400512021-06-16',
 '210912021-04-07',
 '360052021-03-04',
 '90112021-08-29',
 '515952021-02-09',
 '10552021-06-05',
 '310712021-08-02',
 '250032021-11-01',
 '60112021-06-07',
 '271532021-01-13',
 '550352021-02-23',
 '481772021-04-12',
 '202072021-02-20',
 '290032021-10-05',
 '170332021-06-15',
 '371972021-02-14',
 '410672021-07-11',
 '482512021-04-08',
 '191272021-02-21',
 '261032021-04-28',
 '261272021-04-03',
 '290632021-04-05',
 '210392021-02-02',
 '482452021-04-27',
 '530772020-12-20',
 '271172021-03-02',
 '391092021-02-18',
 '340272021-10-27',
 '420992021-01-10',
 '170172021-01-27',
 '261452021-09-25',
 '360752021-09-29',
 '221172021-06-26',
 '551212021-03-20',
 '470372021-03-20',
 '371492020-12-11',
 '510192021-03-25',
 '170412021-06-10',
 '310432021-08-22',
 '470392021-06-08',
 '540092021-02-27',
 '380912021-09-28',
 '211952021-01-24',
 '121032021-11-01',
 '81212021-01-08',
 '50672021-05-20',
 '290432021-09-12',
 '201052021-08-14',
 '271552021-08-05',
 '300352021-01-10',
 '310292021-04-17',
 '60272021-04-26',
 '550272021-04-20',
 '482112021-04-04',
 '181452020-12-30',
 '530332021-10-23',
 '133072021-05-16',
 '132472021-08-21',
 '370752021-02-13',
 '380972021-08-29',
 '80212021-08-02',
 '130632021-03-09',
 '201832021-09-22',
 '311352021-05-08',
 '200552021-01-13',
 '22902021-11-02',
 '550392021-08-03',
 '300172021-08-31',
 '481072021-06-09',
 '10772021-03-27',
 '510072021-04-11',
 '484392020-10-02',
 '180732021-08-08',
 '481672021-07-27',
 '50372021-10-31',
 '483472021-01-28',
 '51052021-08-16',
 '160352020-12-16',
 '80772020-09-18',
 '550452021-04-21',
 '400852021-02-04',
 '370292021-10-30',
 '211292021-03-06',
 '10352021-07-29',
 '171992021-05-15',
 '481252021-02-08',
 '270472021-05-19',
 '191472021-10-04',
 '211892021-04-27',
 '390112021-01-03',
 '81112021-03-29',
 '481612021-06-07',
 '10332021-02-20',
 '483612021-07-01',
 '212012021-11-01',
 '200192021-02-09',
 '170652021-07-24',
 '200092021-05-13',
 '550612021-10-09',
 '360732021-07-11',
 '291192021-02-07',
 '560052021-01-24',
 '200552021-08-12',
 '191812021-07-23',
 '310192021-10-31',
 '311012021-08-22',
 '350552021-01-13',
 '660102021-03-16',
 '130812021-01-23',
 '132932021-01-12',
 '51072020-12-20',
 '540092021-06-22',
 '483332021-08-11',
 '120312020-12-16',
 '301052021-08-01',
 '270152021-02-28',
 '240152021-03-11',
 '517402021-10-06',
 '483432021-03-12',
 '40252021-11-05',
 '260472021-01-25',
 '160672021-09-07',
 '490152021-06-26',
 '131132021-06-23',
 '133132021-03-04',
 '50812020-09-18',
 '291862021-05-17',
 '171912021-03-08',
 '560072021-01-25',
 '550912021-02-01',
 '200792021-10-14',
 '20202021-05-19',
 '720692021-11-01',
 '260832021-07-23',
 '10472020-08-21',
 '410112021-07-18',
 '270532021-09-02',
 '171012021-08-31',
 '550432021-01-21',
 '280812021-07-04',
 '530592021-04-18',
 '470532021-05-26',
 '131532021-07-25',
 '470492021-04-06',
 '421112021-01-12',
 '510772021-07-24',
 '380132021-04-29',
 '530492021-08-25',
 '190492021-03-04',
 '482112021-08-16',
 '480472021-10-23',
 '170272021-09-27',
 '310512021-06-16',
 '10252021-10-30',
 '133052021-05-10',
 '360312021-01-06',
 '310152020-12-27',
 '200592021-11-06',
 '120332021-10-24',
 '540372021-08-24',
 '470592021-08-10',
 '212232021-07-01',
 '10512021-09-05',
 '200732021-09-06',
 '190132021-05-29',
 '421072020-10-30',
 '420192021-03-31',
 '190172021-02-02',
 '510492021-03-18',
 '132052021-08-21',
 '211132021-03-01',
 '270212021-01-08',
 '720732021-10-08',
 '210612021-04-11',
 '400452021-04-19',
 '360332021-02-25',
 '80592021-09-30',
 '132952020-12-19',
 '483572021-10-14',
 '51012021-06-05',
 '10312021-02-15',
 '390592021-07-29',
 '380032021-02-21',
 '130472021-07-08',
 '292112021-03-31',
 '281292021-07-31',
 '390792021-07-21',
 '190872021-10-04',
 '120572021-09-26',
 '350062020-12-26',
 '540492021-08-18',
 '400152021-01-10',
 '560112021-01-10',
 '220312021-07-11',
 '120932021-02-23',
 '211352021-06-24',
 '720552021-06-17',
 '381052021-09-26',
 '360032021-07-12',
 '550632021-05-13',
 '120132021-01-24',
 '471052021-11-03',
 '171312021-01-09',
 '291472021-08-08',
 '170192021-05-09',
 '482192021-10-28',
 '471692021-10-18',
 '80152021-03-09',
 '482792021-07-03',
 '360192021-08-01',
 '200232021-09-18',
 '291332021-04-12',
 '410432021-08-30',
 '410272021-09-30',
 '261332021-09-21',
 '133052021-07-31',
 '471512021-06-12',
 '483012021-08-21',
 '301112021-02-24',
 '260652021-05-30',
 '360372021-04-04',
 '210312021-07-27',
 '230312021-09-20',
 '371652020-11-13',
 '380232021-02-16',
 '484792021-03-31',
 '230292021-06-26',
 '191892021-04-18',
 '421172021-11-02',
 '120552021-10-09',
 '481432021-02-24',
 '551332021-08-19',
 '481492021-09-30',
 '210892021-01-20',
 '482772021-04-20',
 '290692021-06-16',
 '401372021-11-06',
 '120832021-03-20',
 '470992021-10-03',
 '330112021-09-30',
 '720532021-08-28',
 '201452021-04-25',
 '511812021-01-08',
 '50912021-01-18',
 '471132021-09-09',
 '220852021-10-25',
 '180412021-02-26',
 '391192021-02-13',
 '361112021-10-12',
 '500012021-07-12',
 '60672021-04-01',
 '271472021-11-05',
 '500052021-07-01',
 '210552020-10-30',
 '720232021-11-02',
 '40092021-08-08',
 '291972021-03-02',
 '371892021-05-25',
 '181212021-08-02',
 '482652021-01-30',
 '483452021-06-16',
 '481912021-02-23',
 '260852021-11-05',
 '160392021-04-21',
 '130512021-03-08',
 '370292021-02-07',
 '270832021-03-23',
 '200092021-01-31',
 '390972021-01-02',
 '510212021-11-01',
 '470152021-09-28',
 '130072020-12-15',
 '300552020-10-02',
 '310852021-10-28',
 '191392020-07-31',
 '482172021-07-31',
 '171312021-10-07',
 '260252021-08-31',
 '350432021-09-26',
 '483792021-06-29',
 '483172021-09-27',
 '471512021-05-06',
 '370692020-12-29',
 '482732021-07-21',
 '780302021-07-23',
 '191772021-06-13',
 '11172020-09-25',
 '51092021-07-12',
 '11232021-06-20',
 '131812021-04-15',
 '170392021-08-12',
 '40052021-01-11',
 '260772021-03-08',
 '483372021-10-30',
 '290132021-10-10',
 '190352021-09-01',
 '551012021-08-31',
 '10872021-05-22',
 '370992021-05-27',
 '170272021-09-19',
 '211032021-06-21',
 '50292021-08-03',
 '350232021-06-07',
 '10712021-07-15',
 '481352021-07-17',
 '210272021-06-14',
 '400832021-05-09',
 '290512021-01-14',
 '511072021-09-20',
 '150092021-10-13',
 '311692021-08-09',
 '11292021-08-19',
 '261312021-05-10',
 '180632021-06-17',
 '350282021-06-14',
 '481152021-09-25',
 '371352021-10-04',
 '310872021-06-19',
 '210132021-08-09',
 '80092021-07-21',
 '50852021-05-22',
 '130592021-02-17',
 '50712021-01-31',
 '291812021-05-04',
 '510672021-01-11',
 '210272021-03-04',
 '511472020-11-13',
 '721292021-08-09',
 '720772021-02-21',
 '181252021-04-23',
 '170912021-08-26',
 '180612021-04-06',
 '481652021-01-18',
 '482292021-11-01',
 '380712021-09-29',
 '132692021-01-29',
 '130992021-01-10',
 '380632021-01-17',
 '310032021-05-22',
 '210892020-12-28',
 '170132021-05-28',
 '511572021-06-24',
 '132332021-11-06',
 '291632021-06-26',
 '350352021-04-25',
 '120092021-01-28',
 '81072021-04-17',
 '310832021-03-03',
 '483572021-04-20',
 '10672021-10-24',
 '483952021-01-16',
 '401532020-12-24',
 '551052021-01-10',
 '511612021-04-28',
 '481172021-06-29',
 '530772020-11-06',
 '460092021-07-01',
 '250052020-12-31',
 '280832021-08-07',
 '130852021-04-11',
 '482712021-02-27',
 '171592021-02-21',
 '310312021-05-02',
 '311252020-10-02',
 '511272021-07-15',
 '310612021-06-06',
 '191132021-02-03',
 '420132021-03-15',
 '301052021-07-04',
 '484512021-04-01',
 '260172021-10-04',
 '482852020-12-31',
 '410532021-10-20',
 '50672021-05-29',
 '391472021-09-08',
 '121152021-07-07',
 '450752021-06-30',
 '60732021-03-23',
 '540992021-10-03',
 '310452021-05-25',
 '51012021-09-17',
 '510432021-01-18',
 '371432021-03-07',
 '450312020-09-25',
 '510132020-10-16',
 '21642021-01-21',
 '483972021-11-03',
 '450012021-06-26',
 '211712021-06-19',
 '200912021-03-31',
 '720872021-08-18',
 '360272021-08-28',
 '401112021-01-25',
 '360032021-03-01',
 '311712021-02-03',
 '51172021-09-03',
 '10092021-07-03',
 '40032021-07-24',
 '450092021-03-23',
 '261032021-07-04',
 '370212021-03-23',
 '360712020-08-14',
 '310132020-08-21',
 '482172021-07-08',
 '482392021-09-29',
 '170492021-09-13',
 '450852021-06-09',
 '220872021-01-24',
 '400632021-05-30',
 '201572021-04-28',
 '10492021-07-18',
 '171612021-05-30',
 '180012021-03-21',
 '550512021-10-11',
 '170492021-07-25',
 '460232021-09-21',
 '201812021-10-03',
 '515402020-11-13',
 '181632020-12-19',
 '310712021-06-06',
 '170352021-01-07',
 '190652021-03-17',
 '360432021-04-15',
 '221132020-12-11',
 '291752021-03-17',
 '450712021-08-14',
 '380272021-06-20',
 '484692021-10-12',
 '60592021-08-31',
 '130252021-02-08',
 '61132021-07-22',
 '550952021-07-03',
 '281092021-09-08',
 '171052021-04-18',
 '720752020-12-19',
 '721512020-12-19',
 '160452021-07-19',
 '10592021-09-09',
 '510372021-04-19',
 '211512021-08-14',
 '245102021-09-06',
 '300492021-09-05',
 '60492020-12-23',
 '230252021-02-20',
 '483032021-09-11',
 '211692021-10-23',
 '51152021-09-14',
 '530272021-08-14',
 '517502021-10-02',
 '270972021-09-22',
 '211352021-10-20',
 '210012021-07-07',
 '720192021-09-01',
 '211812021-07-21',
 '60812021-01-05',
 '60612021-03-16',
 '190592021-03-16',
 '540552020-12-30',
 '484712021-02-06',
 '120772021-02-26',
 '420512021-01-31',
 '481672020-10-02',
 '121172021-09-04',
 '220652021-04-15',
 '200832021-11-06',
 '721412021-02-14',
 '420892021-10-09',
 '350072021-06-03',
 '50512021-04-24',
 '300252021-01-09',
 '200812021-01-13',
 '530292021-01-23',
 '260692021-05-25',
 '11092021-06-02',
 '360152021-07-26',
 '511252021-04-05',
 '132712021-04-09',
 '160532021-01-20',
 '483312021-08-21',
 '80412021-02-25',
 '300412021-03-31',
 '500032021-08-19',
 '300972021-06-13',
 '60652020-12-30',
 '80592021-08-02',
 '311592021-09-09',
 '370652021-06-13',
 '270852021-07-19',
 '300572021-02-22',
 '511792021-01-19',
 '300452021-07-29',
 '220792021-02-24',
 '132912021-01-27',
 '100052021-06-10',
 '130992021-09-20',
 '484492021-07-04',
 '390992021-06-20',
 '180832021-02-04',
 '180412021-10-18',
 '120972021-04-18',
 '220972021-04-08',
 '471532021-07-18',
 '720792021-11-02',
 '270732021-02-03',
 '10192021-01-28',
 '281412021-04-03',
 '510852021-07-08',
 '340012021-11-04',
 '420472021-07-28',
 '200312021-10-12',
 '310052021-08-21',
 '280452021-03-18',
 '721152021-09-07',
 '170992021-06-23',
 '390612021-08-26',
 '132812020-12-19',
 '311812021-07-07',
 '201732021-07-22',
 '181832021-04-26',
 '516002021-08-06',
 '220452020-10-02',
 '360412021-06-18',
 '300252021-03-28',
 '160452021-07-18',
 '484452021-03-24',
 '371412021-07-25',
 '120112021-10-18',
 '240372021-03-11',
 '371232021-07-17',
 '200352021-07-31',
 '421032021-10-16',
 '400232021-07-15',
 '421012021-05-09',
 '518102020-11-13',
 '480252021-07-24',
 '471532021-08-16',
 '291752020-10-02',
 '510832021-11-05',
 '470292021-05-22',
 '721492021-01-04',
 '311672021-04-29',
 '721312021-05-06',
 '540392021-09-14',
 '120972021-08-12',
 '471672021-09-26',
 '170272021-05-11',
 '120212021-10-06',
 '292072021-08-23',
 '130652020-12-17',
 '180432020-08-07',
 '50092021-07-10',
 '490272021-04-18',
 '340152021-07-29',
 '290412021-07-26',
 '51292021-04-15',
 '490512021-04-12',
 '131732021-10-23',
 '200032021-07-31',
 '50052021-08-10',
 '191612021-10-06',
 '510572021-06-21',
 '201492021-06-23',
 '483552021-03-28',
 '310612021-01-31',
 '511672021-08-30',
 '401152020-09-18',
 '291092021-05-27',
 '400792021-03-18',
 '720312021-02-07',
 '281072020-12-04',
 '490272021-07-22',
 '10832021-04-28',
 '201712021-10-29',
 '460412021-10-17',
 '80512021-03-01',
 '311272021-03-08',
 '511172021-08-21',
 '191552021-08-22',
 '484052021-05-25',
 '720192021-06-04',
 '460172021-03-05',
 '61012021-08-08',
 '471772021-04-20',
 '131472021-09-27',
 '500032021-10-10',
 '390632021-04-01',
 '191392021-02-25',
 '510692020-12-18',
 '481492020-10-30',
 '210692020-12-20',
 '360092021-05-25',
 '401232021-01-11',
 '280092020-12-26',
 '360052021-04-22',
 '130272021-03-20',
 '483512021-09-22',
 '450912021-05-19',
 '470692021-04-14',
 '370332021-02-23',
 '370252021-03-11',
 '171112021-10-12',
 '21802020-12-22',
 '311012021-02-10',
 '330072021-01-24',
 '181392021-08-04',
 '261512020-11-06',
 '510032021-01-09',
 '720692021-06-09',
 '171812020-11-20',
 '483332021-06-26',
 '390052021-06-29',
 '221252021-02-21',
 '391652021-08-17',
 '22822021-03-06',
 '11172021-01-18',
 '490392021-10-31',
 '380352021-04-20',
 '190752021-08-04',
 '120712021-02-10',
 '220452021-05-10',
 '310152021-10-18',
 '360132021-02-17',
 '190952021-07-27',
 '280852021-08-08',
 '380392021-04-01',
 '460512021-07-21',
 '450732021-10-02',
 '130052021-09-12',
 '517402021-04-27',
 '481552021-04-23',
 '210252020-09-04',
 '120992021-10-23',
 '200972021-01-04',
 '330132021-10-05',
 '260052021-01-02',
 '340152021-06-03',
 '260892021-11-02',
 '280072020-08-28',
 '50192021-08-05',
 '21002021-06-14',
 '181492021-01-27',
 '370492021-06-02',
 '250032020-12-27',
 '484872021-04-03',
 '311012021-08-19',
 '180952021-08-02',
 '300852021-09-04',
 '500032021-03-10',
 '50292021-02-06',
 '170092021-04-21',
 '541052021-06-23',
 '390112021-06-01',
 '261632021-09-02',
 '132972021-07-13',
 '271532021-03-03',
 '261032021-10-16',
 '131032020-12-15',
 '481872021-01-16',
 '210852021-02-28',
 '410632021-01-25',
 '470092021-09-19',
 '370892021-08-10',
 '530372021-03-07',
 '80252021-09-24',
 '480752021-08-22',
 '200152021-01-04',
 '516802021-06-22',
 '100052021-04-06',
 '550212021-09-15',
 '10512021-01-26',
 '450152020-12-28',
 '210512021-06-15',
 '484932020-12-27',
 '220432021-06-14',
 '200412021-05-03',
 '550312021-10-30',
 '171412021-09-08',
 '511972021-06-07',
 '511572021-02-28',
 '551352021-07-21',
 '460312021-02-28',
 '160352021-10-25',
 '371432020-12-31',
 '281172021-09-28',
 '551032021-09-30',
 '100012021-07-13',
 '483532021-02-25',
 '80112021-10-04',
 '482372021-09-04',
 '80532020-12-31',
 '260312021-09-25',
 '540392021-11-04',
 '211712020-12-26',
 '300052021-03-21',
 '350092021-06-13',
 '300212021-01-14',
 '201632021-10-29',
 '310472021-01-31',
 '80512021-08-04',
 '211552021-09-29',
 '280292021-07-18',
 '260932021-06-22',
 '171552021-08-26',
 '280072021-02-10',
 '461072020-12-11',
 '516502021-03-18',
 '211852021-07-31',
 '482532021-09-11',
 '420152021-03-20',
 '211312021-11-06',
 '511352021-09-08',
 '300892020-12-04',
 '300532021-02-25',
 '80472021-01-16',
 '380232021-07-08',
 '200912020-08-14',
 '511392021-02-03',
 '380932021-01-16',
 '292092020-12-16',
 '50872021-08-12',
 '484212021-10-22',
 '292132021-05-10',
 '220292020-12-27',
 '160592021-01-10',
 '132352021-01-09',
 '160092021-09-26',
 '220032021-09-09',
 '131552021-06-01',
 '121232020-12-14',
 '133112021-10-24',
 '201172021-11-03',
 '471512021-03-15',
 '220712021-08-25',
 '200012021-05-03',
 '450852020-12-16',
 '130132021-02-20',
 '200852021-10-13',
 '550972021-10-26',
 '160212021-07-18',
 '160332021-06-19',
 '560092021-06-10',
 '240252021-06-07',
 '21802021-01-28',
 '310212021-06-09',
 '350332021-10-03',
 '51032021-03-23',
 '191572021-01-09',
 '481432021-11-05',
 '400172021-07-15',
 '281272021-10-02',
 '517402021-02-18',
 '290612021-06-13',
 '210852021-05-19',
 '120672021-10-12',
 '311092021-03-06',
 '510692021-06-06',
 '450392021-10-07',
 '550652021-07-07',
 '120532021-09-13',
 '20162021-03-13',
 '131552021-09-11',
 '132892021-03-23',
 '530332021-03-20',
 '461032021-08-31',
 '160752021-05-05',
 '371472021-04-08',
 '400592021-04-20',
 '483292021-07-24',
 '410692021-09-13',
 '461272021-03-01',
 '180332021-08-08',
 '480572021-07-18',
 '200232021-01-18',
 '511552021-09-05',
 '421132021-09-09',
 '460272021-09-01',
 '21052021-02-15',
 '380872021-05-07',
 '120952021-07-04',
 '490432021-08-07',
 '60572021-07-12',
 '280312021-07-08',
 '320132021-03-07',
 '131252021-01-25',
 '483832021-01-06',
 '390052021-10-04',
 '130292021-01-28',
 '440092021-05-24',
 '310252021-08-24',
 '515702021-01-07',
 '291672021-08-01',
 '410112021-05-31',
 '391572021-03-13',
 '210632021-04-22',
 '420112021-10-14',
 '470952021-10-13',
 '120312021-01-12',
 '291852021-05-01',
 '211832021-05-17',
 '515302021-07-25',
 '721452020-09-04',
 '390732021-04-05',
 '481912021-10-13',
 '280532021-07-13',
 '292072021-05-26',
 '191612021-09-16',
 '460672021-07-05',
 '483252021-08-23',
 '350532021-02-10',
 '420632021-04-22',
 '171032021-03-24',
 '540812021-06-05',
 '270152021-06-09',
 '484152021-04-28',
 '460212021-06-03',
 '511812021-07-26',
 '470992021-10-29',
 '390692021-06-13',
 '360752021-07-14',
 '421152020-10-30',
 '482052021-09-18',
 '391352021-05-25',
 '360632021-03-31',
 '220132021-06-07',
 '450892021-08-18',
 '310132021-04-28',
 '220252020-12-29',
 '470832021-07-24',
 '320192021-07-22',
 '281092021-10-17',
 '390292021-01-21',
 '270292020-12-20',
 '291392020-12-29',
 '551132021-03-16',
 '380652021-11-06',
 '50492021-05-02',
 '370752021-04-13',
 '483472020-12-27',
 '517702020-10-30',
 '281272020-08-28',
 '450272021-01-19',
 '550492020-12-13',
 '391332021-03-07',
 '260932021-05-06',
 '290472021-09-12',
 '80872021-03-28',
 '180292021-01-02',
 '460312021-08-13',
 '201292021-08-01',
 '292252021-03-22',
 '191952021-04-22',
 '310592021-09-09',
 '511652021-06-07',
 '511912021-09-20',
 '310952021-07-31',
 '721232021-09-07',
 '480832021-05-18',
 '482772021-07-24',
 '484952021-02-27',
 '80512021-08-24',
 '230292021-07-28',
 '131212021-06-14',
 '780202021-10-13',
 '271512021-02-07',
 '171772021-08-30',
 '471872021-09-29',
 '311772020-12-20',
 '460052021-01-28',
 '390892021-05-05',
 '132132020-10-30',
 '450392021-04-18',
 '380372021-03-02',
 '516002020-12-22',
 '380152020-11-20',
 '421192021-06-17',
 '181632021-02-27',
 '160152021-05-03',
 '518102021-03-25',
 '540032021-04-27',
 '260532021-01-19',
 '551092021-05-30',
 '560452020-08-28',
 '120992021-10-18',
 '211132021-05-18',
 '310672021-07-26',
 '390492021-06-10',
 '200572021-03-02',
 '261372021-09-23',
 '200712021-06-26',
 '550452021-10-24',
 '300332021-01-09',
 '400412021-02-18',
 '470512021-08-21',
 '171292021-03-03',
 '60292021-10-21',
 '130352021-08-15',
 '515202021-07-01',
 '131612021-03-16',
 '460132021-01-16',
 '483392021-09-09',
 '211232021-10-19',
 '131832021-09-03',
 '200972021-01-23',
 '390192021-03-15',
 '480292021-02-06',
 '481372021-05-26',
 '460932021-03-22',
 '550772020-12-23',
 '481692021-10-07',
 '370152021-07-15',
 '290312021-08-11',
 '450892021-05-26',
 '130632021-10-25',
 '291012021-08-02',
 '170692021-04-11',
 '370792021-07-16',
 '420932021-05-09',
 '390152021-09-03',
 '181112021-02-04',
 '550132021-02-15',
 '280692021-02-17',
 '391552021-01-10',
 ...]

In [47]:
vax_data_df = vax_data_df[~vax_data_df['fips_date'].isin(remove_list_dates)]
vax_data_df

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
49245,2021-10-22,16011,38.0,17795,17728,54.4,5292,78.0,97.6,42.6,60.8,83.3,160112021-10-22
49246,2021-10-22,48451,46.2,55067,52271,57.5,15433,82.9,99.1,52.1,64.7,89.3,484512021-10-22
49247,2021-10-22,48077,39.7,4162,4059,48.3,1756,70.7,99.1,43.4,52.6,74.0,480772021-10-22
49248,2021-10-22,51173,43.5,13103,12477,51.2,4617,67.9,83.0,50.1,58.9,76.2,511732021-10-22
49251,2021-10-22,47179,52.8,68276,65043,62.0,21163,87.2,97.9,59.1,69.1,94.3,471792021-10-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1063561,2020-12-18,42069,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,420692020-12-18
1063564,2020-12-18,48099,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,480992020-12-18
1063565,2020-12-18,13005,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,130052020-12-18
1063566,2020-12-18,18035,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,180352020-12-18
1063569,2020-12-18,48437,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,484372020-12-18

In [48]:
vax_data_df_final = vax_data_df.drop(['Date', 'FIPS'], axis=1)
vax_data_df_final

,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
49245,38.0,17795,17728,54.4,5292,78.0,97.6,42.6,60.8,83.3,160112021-10-22
49246,46.2,55067,52271,57.5,15433,82.9,99.1,52.1,64.7,89.3,484512021-10-22
49247,39.7,4162,4059,48.3,1756,70.7,99.1,43.4,52.6,74.0,480772021-10-22
49248,43.5,13103,12477,51.2,4617,67.9,83.0,50.1,58.9,76.2,511732021-10-22
49251,52.8,68276,65043,62.0,21163,87.2,97.9,59.1,69.1,94.3,471792021-10-22
...,...,...,...,...,...,...,...,...,...,...,...
1063561,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,420692020-12-18
1063564,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,480992020-12-18
1063565,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,130052020-12-18
1063566,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,180352020-12-18
1063569,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,484372020-12-18

In [49]:
vax_data_df_final.fillna(0)

,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
49245,38.0,17795,17728,54.4,5292,78.0,97.6,42.6,60.8,83.3,160112021-10-22
49246,46.2,55067,52271,57.5,15433,82.9,99.1,52.1,64.7,89.3,484512021-10-22
49247,39.7,4162,4059,48.3,1756,70.7,99.1,43.4,52.6,74.0,480772021-10-22
49248,43.5,13103,12477,51.2,4617,67.9,83.0,50.1,58.9,76.2,511732021-10-22
49251,52.8,68276,65043,62.0,21163,87.2,97.9,59.1,69.1,94.3,471792021-10-22
...,...,...,...,...,...,...,...,...,...,...,...
1063561,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,420692020-12-18
1063564,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,480992020-12-18
1063565,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,130052020-12-18
1063566,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,180352020-12-18
1063569,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,484372020-12-18

In [50]:
nyt_data_grouped_final = nyt_data_grouped[~nyt_data_grouped['fips_date'].isin(remove_list_dates)]
nyt_data_grouped_final

         fips collection_week  cases_to_date  deaths_to_date        fips_date
20       1001      2020-12-18          24040             296   10012020-12-18
21       1001      2020-12-25          26881             314   10012020-12-25
22       1001      2021-01-01          28791             333   10012021-01-01
23       1001      2021-01-08          31575             350   10012021-01-08
24       1001      2021-01-15          34774             382   10012021-01-15
...       ...             ...            ...             ...              ...
208912  78020      2021-09-24           2258              21  780202021-09-24
208913  78020      2021-10-01           2293              21  780202021-10-01
208914  78020      2021-10-08           2317              21  780202021-10-08
208915  78020      2021-10-15           2317              21  780202021-10-15
208916  78020      2021-10-22           2322              21  780202021-10-22

[110342 rows x 5 columns]

In [51]:
nyt_data_grouped_final = nyt_data_grouped_final.drop(['collection_week', 'fips'], axis=1)
nyt_data_grouped_final

        cases_to_date  deaths_to_date        fips_date
20              24040             296   10012020-12-18
21              26881             314   10012020-12-25
22              28791             333   10012021-01-01
23              31575             350   10012021-01-08
24              34774             382   10012021-01-15
...               ...             ...              ...
208912           2258              21  780202021-09-24
208913           2293              21  780202021-10-01
208914           2317              21  780202021-10-08
208915           2317              21  780202021-10-15
208916           2322              21  780202021-10-22

[110342 rows x 3 columns]

In [52]:
hospital_data_df = hospital_data_df[~hospital_data_df['fips_date'].isin(remove_list_dates)]
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
20,1001,2020-12-18,581,581,462,425,425,220,209,0,0,462,42,42,39,39,27,27,10012020-12-18
21,1001,2020-12-25,581,581,462,445,445,286,281,0,0,462,42,42,42,42,27,27,10012020-12-25
22,1001,2021-01-01,581,581,462,454,454,282,272,0,0,462,42,42,42,42,29,29,10012021-01-01
23,1001,2021-01-08,602,602,462,431,431,291,283,0,0,462,42,42,42,42,38,35,10012021-01-08
24,1001,2021-01-15,602,602,462,423,423,250,247,0,0,462,42,42,42,42,39,39,10012021-01-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924,868,728,410,389,20,20,0,0,784,56,56,29,29,7,7,780202021-09-24
159867,78020,2021-10-01,924,868,728,362,340,12,12,0,0,784,56,56,43,43,7,7,780202021-10-01
159868,78020,2021-10-08,924,868,728,412,381,12,12,0,0,784,56,56,48,48,7,7,780202021-10-08
159869,78020,2021-10-15,924,868,728,402,365,7,7,0,0,784,56,56,40,40,7,7,780202021-10-15
159870,78020,2021-10-22,924,868,728,381,356,0,0,0,0,784,56,56,36,36,0,0,780202021-10-22

Connection String

In [ ]:
db_string = f"postgresql://postgres:YOURPASSWORDHERE@127.0.0.1:5432/COVID_Risk_Analysis"

In [ ]:
engine = create_engine(db_string)

In [ ]:
nyt_data_grouped_final.to_sql(name='counties', con=engine)

In [ ]:
hospital_data_df.to_sql(name='hospitals', con=engine)

In [ ]:
vax_data_df_final.to_sql(name='vaccinations', con=engine)

Additional Tables for Generating Static Charts

In [57]:
counties_charts_df = nyt_data_grouped[['collection_week', 'fips', 'cases_to_date', 'deaths_to_date']]
counties_charts_df

       collection_week   fips  cases_to_date  deaths_to_date
0           2020-07-31   1001           6817             147
1           2020-08-07   1001           7503             150
2           2020-08-14   1001           8531             158
3           2020-08-21   1001           9009             161
4           2020-08-28   1001           9484             161
...                ...    ...            ...             ...
208912      2021-09-24  78020           2258              21
208913      2021-10-01  78020           2293              21
208914      2021-10-08  78020           2317              21
208915      2021-10-15  78020           2317              21
208916      2021-10-22  78020           2322              21

[159064 rows x 4 columns]

In [56]:
vax_charts_df = vax_data_df[['Date', 'FIPS', 'Series_Complete_Pop_Pct']]
vax_charts_df

               Date   FIPS  Series_Complete_Pop_Pct
49245    2021-10-22  16011                     38.0
49246    2021-10-22  48451                     46.2
49247    2021-10-22  48077                     39.7
49248    2021-10-22  51173                     43.5
49251    2021-10-22  47179                     52.8
...             ...    ...                      ...
1063561  2020-12-18  42069                      0.0
1063564  2020-12-18  48099                      0.0
1063565  2020-12-18  13005                      0.0
1063566  2020-12-18  18035                      0.0
1063569  2020-12-18  48437                      0.0

[110342 rows x 3 columns]

In [55]:
hospital_charts_df = hospital_data_df[['fips_code', 'collection_week', 'inpatient_beds_used_7_day_sum', 'inpatient_beds_7_day_sum']]
hospital_charts_df

,fips_code,collection_week,inpatient_beds_used_7_day_sum,inpatient_beds_7_day_sum
20,1001,2020-12-18,425,462
21,1001,2020-12-25,445,462
22,1001,2021-01-01,454,462
23,1001,2021-01-08,431,462
24,1001,2021-01-15,423,462
...,...,...,...,...
159866,78020,2021-09-24,410,784
159867,78020,2021-10-01,362,784
159868,78020,2021-10-08,412,784
159869,78020,2021-10-15,402,784
159870,78020,2021-10-22,381,784

In [58]:
hospital_charts_df["Percentage_inpatient_beds_used"] = hospital_charts_df["inpatient_beds_used_7_day_sum"]/hospital_charts_df["inpatient_beds_7_day_sum"]
hospital_charts_df

C:\Users\sophc\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,fips_code,collection_week,inpatient_beds_used_7_day_sum,inpatient_beds_7_day_sum,Percentage_inpatient_beds_used
20,1001,2020-12-18,425,462,0.919913
21,1001,2020-12-25,445,462,0.963203
22,1001,2021-01-01,454,462,0.982684
23,1001,2021-01-08,431,462,0.932900
24,1001,2021-01-15,423,462,0.915584
...,...,...,...,...,...
159866,78020,2021-09-24,410,784,0.522959
159867,78020,2021-10-01,362,784,0.461735
159868,78020,2021-10-08,412,784,0.525510
159869,78020,2021-10-15,402,784,0.512755
159870,78020,2021-10-22,381,784,0.485969

In [59]:
hospital_charts_df = hospital_charts_df.drop(columns=['inpatient_beds_used_7_day_sum', 'inpatient_beds_7_day_sum'])
hospital_charts_df

       fips_code collection_week  Percentage_inpatient_beds_used
20          1001      2020-12-18                        0.919913
21          1001      2020-12-25                        0.963203
22          1001      2021-01-01                        0.982684
23          1001      2021-01-08                        0.932900
24          1001      2021-01-15                        0.915584
...          ...             ...                             ...
159866     78020      2021-09-24                        0.522959
159867     78020      2021-10-01                        0.461735
159868     78020      2021-10-08                        0.525510
159869     78020      2021-10-15                        0.512755
159870     78020      2021-10-22                        0.485969

[110342 rows x 3 columns]

In [ ]:
counties_charts_df.to_sql(name='counties_charts', con=engine)

In [ ]:
vax_charts_df.to_sql(name='vaccinations_chart', con=engine)

In [ ]:
hospital_charts_df.to_sql(name='hospital_chart', con=engine)