In [1]:
# pip install psycopg2-binary in mlenv
# Create config.py file with postgres password as db_password
# Create postgres database called COVID_Risk_Final_Project on POstgreSQL 13 server

In [3]:
# Import the requests library.
import requests
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
from sqlalchemy import create_engine
from config import connection_string
import numpy as np

In [4]:
# Read vaccination data into dataframe
vax_data = 'https://group3data.s3.us-west-2.amazonaws.com/COVID-19_Vaccinations_in_the_United_States_County.csv'
vax_data_df = pd.read_csv(vax_data)
vax_data_df

,Date,FIPS,MMWR_week,Recip_County,Recip_State,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_12Plus,Series_Complete_12PlusPop_Pct,Series_Complete_18Plus,...,SVI_CTGY,Series_Complete_Pop_Pct_SVI,Series_Complete_12PlusPop_Pct_SVI,Series_Complete_18PlusPop_Pct_SVI,Series_Complete_65PlusPop_Pct_SVI,Metro_status,Series_Complete_Pop_Pct_UR_Equity,Series_Complete_12PlusPop_Pct_UR_Equity,Series_Complete_18PlusPop_Pct_UR_Equity,Series_Complete_65PlusPop_Pct_UR_Equity
0,11/06/2021,21097,44,Harrison County,KY,43.2,8163,8163.0,50.7,7772,...,C,11.0,12.0,12.0,12.0,Non-metro,7.0,8.0,8.0,8.0
1,11/06/2021,18105,44,Monroe County,IN,54.7,81158,81155.0,61.0,76819,...,B,8.0,8.0,8.0,8.0,Metro,4.0,4.0,4.0,4.0
2,11/06/2021,46023,44,Charles Mix County,SD,47.3,4399,4398.0,59.8,4119,...,C,11.0,12.0,12.0,12.0,Non-metro,7.0,8.0,8.0,8.0
3,11/06/2021,41045,44,Malheur County,OR,42.2,12893,12884.0,51.1,12170,...,D,15.0,16.0,16.0,16.0,Non-metro,7.0,8.0,8.0,8.0
4,11/06/2021,39127,44,Perry County,OH,36.9,13339,13339.0,43.5,12823,...,C,10.0,11.0,11.0,12.0,Metro,2.0,3.0,3.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079793,12/13/2020,45045,51,Greenville County,SC,0.0,0,0.0,0.0,0,...,C,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN
1079794,12/13/2020,05145,51,White County,AR,0.0,0,0.0,0.0,0,...,C,NaN,NaN,NaN,NaN,Non-metro,NaN,NaN,NaN,NaN
1079795,12/13/2020,55025,51,Dane County,WI,0.0,0,0.0,0.0,0,...,A,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN
1079796,12/13/2020,18109,51,Morgan County,IN,0.0,0,0.0,0.0,0,...,A,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN
1079797,12/13/2020,72119,51,Rio Grande Municipio,PR,0.0,0,0.0,0.0,0,...,C,NaN,NaN,NaN,NaN,Metro,NaN,NaN,NaN,NaN

In [5]:
drop_list_vax = ['MMWR_week', 'Recip_County', 'Recip_State', 'SVI_CTGY', 'Series_Complete_Pop_Pct_SVI', 
                 'Series_Complete_12PlusPop_Pct_SVI', 'Series_Complete_18PlusPop_Pct_SVI', 
                 'Series_Complete_65PlusPop_Pct_SVI', 'Metro_status', 'Series_Complete_Pop_Pct_UR_Equity', 
                 'Series_Complete_12PlusPop_Pct_UR_Equity', 'Series_Complete_18PlusPop_Pct_UR_Equity', 
                 'Series_Complete_65PlusPop_Pct_UR_Equity', 'Administered_Dose1_Recip_18Plus', 'Series_Complete_12Plus', 
                 'Series_Complete_12PlusPop_Pct', 'Administered_Dose1_Recip', 'Administered_Dose1_Recip_12Plus', 
                 'Administered_Dose1_Recip_12PlusPop_Pct', 'Administered_Dose1_Recip_65Plus']

In [6]:
# Remove drop_list columns from df
vax_data_df.drop(drop_list_vax, axis=1, inplace=True)
vax_data_df.head()

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct
0,11/06/2021,21097,43.2,8163,7772,53.2,2708,79.4,94.0,48.1,59.1,84.9
1,11/06/2021,18105,54.7,81158,76819,61.3,17297,86.0,98.7,57.9,64.7,89.0
2,11/06/2021,46023,47.3,4399,4119,63.2,1409,81.6,96.3,59.9,78.3,90.0
3,11/06/2021,41045,42.2,12893,12170,53.7,4168,81.1,97.8,47.2,59.9,88.0
4,11/06/2021,39127,36.9,13339,12823,46.4,4555,74.2,98.6,38.7,48.6,77.6

In [7]:
# Convert date column to datetime
vax_data_df['Date'] = pd.to_datetime(vax_data_df['Date'])

In [8]:
# Set each column to a string value so we can concatonate them together 
vax_data_df['FIPS'] = vax_data_df['FIPS'].astype('str')
vax_data_df['Date'] = vax_data_df['Date'].astype('str')

In [9]:
# Concatonate the date column and the fips column to create fips_date
vax_data_df['fips_date'] = vax_data_df['FIPS'] + vax_data_df['Date']
vax_data_df

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
0,2021-11-06,21097,43.2,8163,7772,53.2,2708,79.4,94.0,48.1,59.1,84.9,210972021-11-06
1,2021-11-06,18105,54.7,81158,76819,61.3,17297,86.0,98.7,57.9,64.7,89.0,181052021-11-06
2,2021-11-06,46023,47.3,4399,4119,63.2,1409,81.6,96.3,59.9,78.3,90.0,460232021-11-06
3,2021-11-06,41045,42.2,12893,12170,53.7,4168,81.1,97.8,47.2,59.9,88.0,410452021-11-06
4,2021-11-06,39127,36.9,13339,12823,46.4,4555,74.2,98.6,38.7,48.6,77.6,391272021-11-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079793,2020-12-13,45045,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,450452020-12-13
1079794,2020-12-13,05145,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,051452020-12-13
1079795,2020-12-13,55025,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,550252020-12-13
1079796,2020-12-13,18109,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,181092020-12-13
1079797,2020-12-13,72119,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,721192020-12-13

In [10]:
# Sort by fips_date
vax_data_df.sort_values(by=['fips_date'])

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
1079754,2020-12-13,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-13
1075917,2020-12-14,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-14
1071696,2020-12-15,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-15
1067633,2020-12-16,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-16
1065713,2020-12-17,01001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,010012020-12-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2952,2021-11-06,UNK,0.0,163735,158310,0.0,39580,0.0,92.6,0.0,0.0,0.0,UNK2021-11-06
2941,2021-11-06,UNK,0.0,379701,333208,0.0,101590,0.0,93.6,0.0,0.0,0.0,UNK2021-11-06
2664,2021-11-06,UNK,0.0,15721,14428,0.0,1714,0.0,0.0,0.0,0.0,0.0,UNK2021-11-06
2742,2021-11-06,UNK,0.0,2160207,2095932,0.0,533935,0.0,58.1,0.0,0.0,0.0,UNK2021-11-06
2500,2021-11-06,UNK,0.0,73412,72906,0.0,29599,0.0,96.7,0.0,0.0,0.0,UNK2021-11-06

In [11]:
# Eliminate '0' from fips_date columns that begin with '0'
cols_to_check = ['fips_date']
for col in cols_to_check:
    vax_data_df[col] = vax_data_df[col].apply(lambda x : x[1:] if x.startswith("0") else x)

In [12]:
vax_data_df.sort_values(by=['fips_date'])

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
1079237,2020-12-13,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-13
1073653,2020-12-14,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-14
1070840,2020-12-15,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-15
1069915,2020-12-16,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-16
1063782,2020-12-17,10001,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,100012020-12-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2941,2021-11-06,UNK,0.0,379701,333208,0.0,101590,0.0,93.6,0.0,0.0,0.0,UNK2021-11-06
353,2021-11-06,UNK,0.0,33674,32944,0.0,8929,0.0,96.5,0.0,0.0,0.0,UNK2021-11-06
1550,2021-11-06,UNK,0.0,9206,9004,0.0,2436,0.0,96.4,0.0,0.0,0.0,UNK2021-11-06
2742,2021-11-06,UNK,0.0,2160207,2095932,0.0,533935,0.0,58.1,0.0,0.0,0.0,UNK2021-11-06
228,2021-11-06,UNK,0.0,152399,146910,0.0,35360,0.0,97.3,0.0,0.0,0.0,UNK2021-11-06

In [13]:
# Read NYT data into dataframe
nyt_data = 'https://group3data.s3.us-west-2.amazonaws.com/us-counties.csv'
nyt_data_df = pd.read_csv(nyt_data)
nyt_data_df

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
1888090  2021-11-05  Sweetwater     Wyoming  56037.0   7695    91.0
1888091  2021-11-05       Teton     Wyoming  56039.0   5243    14.0
1888092  2021-11-05       Uinta     Wyoming  56041.0   3901    27.0
1888093  2021-11-05    Washakie     Wyoming  56043.0   1780    35.0
1888094  2021-11-05      Weston     Wyoming  56045.0   1154     9.0

[1888095 rows x 6 columns]

In [14]:
# Convert the date column in the NYT data to a datetime object using pd.to_datetime
nyt_data_df['date'] = pd.to_datetime(nyt_data_df['date'])
nyt_data_df.head()

        date     county       state     fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061.0      1     0.0
1 2020-01-22  Snohomish  Washington  53061.0      1     0.0
2 2020-01-23  Snohomish  Washington  53061.0      1     0.0
3 2020-01-24       Cook    Illinois  17031.0      1     0.0
4 2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [15]:
# 1. Remove the data for dates before 7-31-20 and after 10-22-21
# 2. Bin the date column by weeks ending every friday
# 3. Sum the cases and deaths columns for each week binned

# Step 1:
nyt_data_filtered = nyt_data_df[nyt_data_df['date'] >= '2020-07-25']
nyt_data_filtered = nyt_data_filtered[nyt_data_filtered['date'] <= '2021-10-22']
nyt_data_filtered

              date      county    state     fips  cases  deaths
366652  2020-07-25     Autauga  Alabama   1001.0    932    21.0
366653  2020-07-25     Baldwin  Alabama   1003.0   2662    18.0
366654  2020-07-25     Barbour  Alabama   1005.0    552     4.0
366655  2020-07-25        Bibb  Alabama   1007.0    318     2.0
366656  2020-07-25      Blount  Alabama   1009.0    637     1.0
...            ...         ...      ...      ...    ...     ...
1842600 2021-10-22  Sweetwater  Wyoming  56037.0   7414    79.0
1842601 2021-10-22       Teton  Wyoming  56039.0   5119    14.0
1842602 2021-10-22       Uinta  Wyoming  56041.0   3781    26.0
1842603 2021-10-22    Washakie  Wyoming  56043.0   1676    33.0
1842604 2021-10-22      Weston  Wyoming  56045.0   1027     9.0

[1475953 rows x 6 columns]

In [16]:
# Step 2:
# Step 3:

nyt_data_grouped = nyt_data_filtered.groupby(['fips', pd.Grouper(key='date', freq='W-FRI')]).agg({'cases':'sum','deaths':'sum'}).reset_index()
nyt_data_grouped

           fips       date  cases  deaths
0        1001.0 2020-07-31   6817   147.0
1        1001.0 2020-08-07   7503   150.0
2        1001.0 2020-08-14   8531   158.0
3        1001.0 2020-08-21   9009   161.0
4        1001.0 2020-08-28   9484   161.0
...         ...        ...    ...     ...
208977  78030.0 2021-09-24  24720   297.0
208978  78030.0 2021-10-01  24982   304.0
208979  78030.0 2021-10-08  25204   308.0
208980  78030.0 2021-10-15  25290   311.0
208981  78030.0 2021-10-22  25435   315.0

[208982 rows x 4 columns]

In [17]:
# Convert fips to integer
columns = ['fips']
nyt_data_grouped[columns] = nyt_data_grouped[columns].applymap(np.int64)
nyt_data_grouped

         fips       date  cases  deaths
0        1001 2020-07-31   6817   147.0
1        1001 2020-08-07   7503   150.0
2        1001 2020-08-14   8531   158.0
3        1001 2020-08-21   9009   161.0
4        1001 2020-08-28   9484   161.0
...       ...        ...    ...     ...
208977  78030 2021-09-24  24720   297.0
208978  78030 2021-10-01  24982   304.0
208979  78030 2021-10-08  25204   308.0
208980  78030 2021-10-15  25290   311.0
208981  78030 2021-10-22  25435   315.0

[208982 rows x 4 columns]

In [18]:
# Set each column to a string value so we can concatonate them together 
nyt_data_grouped['fips'] = nyt_data_grouped['fips'].astype('str')
nyt_data_grouped['date'] = nyt_data_grouped['date'].astype('str')
nyt_data_grouped['fips'].dtype

dtype('O')

In [19]:
# Concatonate the date column and the fips column to create fips_date
nyt_data_grouped['fips_date'] = nyt_data_grouped['fips'] + nyt_data_grouped['date']
nyt_data_grouped

         fips        date  cases  deaths        fips_date
0        1001  2020-07-31   6817   147.0   10012020-07-31
1        1001  2020-08-07   7503   150.0   10012020-08-07
2        1001  2020-08-14   8531   158.0   10012020-08-14
3        1001  2020-08-21   9009   161.0   10012020-08-21
4        1001  2020-08-28   9484   161.0   10012020-08-28
...       ...         ...    ...     ...              ...
208977  78030  2021-09-24  24720   297.0  780302021-09-24
208978  78030  2021-10-01  24982   304.0  780302021-10-01
208979  78030  2021-10-08  25204   308.0  780302021-10-08
208980  78030  2021-10-15  25290   311.0  780302021-10-15
208981  78030  2021-10-22  25435   315.0  780302021-10-22

[208982 rows x 5 columns]

In [20]:
# Read Hospital data (healthdata.gov) into dataframe
hospital_data = 'https://group3data.s3.us-west-2.amazonaws.com/COVID-19_Reported_Patient_Impact_and_Hospital_Capacity_by_Facility.csv'
hospital_data_df = pd.read_csv(hospital_data)
hospital_data_df

,hospital_pk,collection_week,state,ccn,hospital_name,address,city,zip,hospital_subtype,fips_code,...,previous_day_admission_pediatric_covid_confirmed_7_day_coverage,previous_day_admission_adult_covid_suspected_7_day_coverage,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected
0,140158,2021/10/15,IL,140158,INSIGHT HOSPITAL AND MEDICAL CENTER CHICAGO,2525 S MICHIGAN AVE,CHICAGO,60616.0,Short Term,17031.0,...,7,7,7,0.0,NaN,NaN,NaN,0.0,NaN,False
1,450162,2021/10/15,TX,450162,GRACE SURGICAL HOSPITAL,2412 50TH ST,LUBBOCK,79412.0,Short Term,48303.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
2,451318,2021/10/15,TX,451318,STONEWALL MEMORIAL HOSPITAL DISTRICT,821 NORTH BROADWAY,ASPERMONT,79502.0,Critical Access Hospitals,48433.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
3,050769,2021/10/08,CA,050769,HOAG ORTHOPEDIC INSTITUTE,16250 SAND CANYON AVENUE,IRVINE,92618.0,Short Term,6059.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
4,291500,2021/10/08,NV,291500,NATHAN ADELSON HOSPICE,4141 UNIVERSITY CENTER DR,LAS VEGAS,89119.0,Short Term,32003.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324743,100291,2020/08/07,FL,100291,STEWARD REGIONAL MEDICAL CENTER,250 NORTH WICKHAM ROAD,MELBOURNE,32935.0,Short Term,12009.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
324744,250096,2020/07/31,MS,250096,MERIT HEALTH RANKIN,350 CROSSGATES BLVD,BRANDON,39042.0,Short Term,28121.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
324745,241345,2020/07/31,MN,241345,MAYO CLINIC HEALTH SYSTEM-WASECA,501 NORTH STATE STREET,WASECA,56093.0,Critical Access Hospitals,27161.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
324746,271311,2020/08/07,MT,271311,BIG SANDY MEDICAL CENTER,166 MONTANA AVE E,BIG SANDY,59520.0,Critical Access Hospitals,30015.0,...,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,False
324747,110045,2020/07/31,GA,110045,NORTHEAST GEORGIA MEDICAL CENTER BARROW,316 NORTH BROAD STREET,WINDER,30680.0,Short Term,13013.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [21]:
# Create list of columns to drop
drop_list_hospitals = ['hospital_pk', 'state', 'ccn', 'hospital_name', 'address', 'city', 'zip', 'hospital_subtype', 
                       'is_metro_micro', 'total_beds_7_day_avg', 'all_adult_hospital_beds_7_day_avg', 
                       'all_adult_hospital_inpatient_beds_7_day_avg', 'inpatient_beds_used_7_day_avg', 
                       'all_adult_hospital_inpatient_bed_occupied_7_day_avg', 
                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_avg', 
                       'total_adult_patients_hospitalized_confirmed_covid_7_day_avg', 
                       'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_avg', 
                       'total_pediatric_patients_hospitalized_confirmed_covid_7_day_avg', 'inpatient_beds_7_day_avg', 
                       'total_icu_beds_7_day_avg', 'total_staffed_adult_icu_beds_7_day_avg', 'icu_beds_used_7_day_avg', 
                       'staffed_adult_icu_bed_occupancy_7_day_avg', 
                       'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_avg', 
                       'staffed_icu_adult_patients_confirmed_covid_7_day_avg', 
                       'total_patients_hospitalized_confirmed_influenza_7_day_avg', 
                       'icu_patients_confirmed_influenza_7_day_avg', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_avg', 
                       'all_adult_hospital_inpatient_beds_7_day_coverage', 
                       'inpatient_beds_used_7_day_coverage', 'all_adult_hospital_inpatient_bed_occupied_7_day_coverage', 
                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_coverage', 
                       'total_adult_patients_hospitalized_confirmed_covid_7_day_coverage', 
                       'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_coverage', 
                       'total_pediatric_patients_hospitalized_confirmed_covid_7_day_coverage', 
                       'inpatient_beds_7_day_coverage', 'total_icu_beds_7_day_coverage', 
                       'total_staffed_adult_icu_beds_7_day_coverage', 'icu_beds_used_7_day_coverage', 
                       'staffed_adult_icu_bed_occupancy_7_day_coverage', 
                       'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_coverage', 
                       'staffed_icu_adult_patients_confirmed_covid_7_day_coverage', 
                       'total_patients_hospitalized_confirmed_influenza_7_day_coverage', 
                       'icu_patients_confirmed_influenza_7_day_coverage', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_coverage', 
                       'previous_day_admission_adult_covid_confirmed_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_18-19_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_20-29_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_30-39_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_40-49_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_50-59_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_60-69_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_70-79_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_80+_7_day_sum', 
                       'previous_day_admission_adult_covid_confirmed_unknown_7_day_sum', 
                       'previous_day_admission_pediatric_covid_confirmed_7_day_sum', 
                       'previous_day_covid_ED_visits_7_day_sum', 'previous_day_admission_adult_covid_suspected_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_18-19_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_20-29_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_30-39_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_40-49_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_50-59_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_60-69_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_70-79_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_80+_7_day_sum', 
                       'previous_day_admission_adult_covid_suspected_unknown_7_day_sum', 
                       'previous_day_admission_pediatric_covid_suspected_7_day_sum', 
                       'previous_day_total_ED_visits_7_day_sum', 'previous_day_admission_influenza_confirmed_7_day_sum', 
                       'geocoded_hospital_address', 'hhs_ids', 
                       'previous_day_admission_adult_covid_confirmed_7_day_coverage', 
                       'previous_day_admission_pediatric_covid_confirmed_7_day_coverage', 
                       'previous_day_admission_adult_covid_suspected_7_day_coverage', 
                       'previous_day_admission_pediatric_covid_suspected_7_day_coverage', 
                       'previous_week_personnel_covid_vaccinated_doses_administered_7_day', 
                       'total_personnel_covid_vaccinated_doses_none_7_day', 
                       'total_personnel_covid_vaccinated_doses_one_7_day', 
                       'total_personnel_covid_vaccinated_doses_all_7_day', 
                       'previous_week_patients_covid_vaccinated_doses_one_7_day', 
                       'previous_week_patients_covid_vaccinated_doses_all_7_day', 'is_corrected', 
                       'total_beds_7_day_coverage', 'all_adult_hospital_beds_7_day_coverage',
                       'total_patients_hospitalized_confirmed_influenza_7_day_sum', 
                       'icu_patients_confirmed_influenza_7_day_sum', 
                       'total_patients_hospitalized_confirmed_influenza_and_covid_7_day_sum'
]

In [22]:
# Remove drop_list columns from df
hospital_data_df.drop(drop_list_hospitals, axis=1, inplace=True)
hospital_data_df.head()

,collection_week,fips_code,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,2021/10/15,17031.0,350.0,350.0,252.0,160.0,160.0,7.0,7.0,0.0,0.0,252.0,28.0,28.0,16.0,16.0,7.0,7.0
1,2021/10/15,48303.0,268.0,268.0,261.0,34.0,34.0,0.0,0.0,0.0,0.0,261.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2021/10/15,48433.0,77.0,77.0,63.0,0.0,0.0,0.0,0.0,0.0,0.0,63.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2021/10/08,6059.0,245.0,245.0,133.0,126.0,126.0,0.0,0.0,0.0,0.0,133.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2021/10/08,32003.0,266.0,266.0,266.0,191.0,191.0,11.0,11.0,0.0,0.0,266.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
# Convert the date column in the hospital data to a datetime object using pd.to_datetime
hospital_data_df['collection_week'] = pd.to_datetime(hospital_data_df['collection_week'])
# Check to verify the date is now a datetime object
hospital_data_df.dtypes

collection_week                                                                  datetime64[ns]
fips_code                                                                               float64
total_beds_7_day_sum                                                                    float64
all_adult_hospital_beds_7_day_sum                                                       float64
all_adult_hospital_inpatient_beds_7_day_sum                                             float64
inpatient_beds_used_7_day_sum                                                           float64
all_adult_hospital_inpatient_bed_occupied_7_day_sum                                     float64
total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum               float64
total_adult_patients_hospitalized_confirmed_covid_7_day_sum                             float64
total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum           float64
total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum                         float64
inpatient_beds_7_day_sum                                                                float64
total_icu_beds_7_day_sum                                                                float64
total_staffed_adult_icu_beds_7_day_sum                                                  float64
icu_beds_used_7_day_sum                                                                 float64
staffed_adult_icu_bed_occupancy_7_day_sum                                               float64
staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum                      float64
staffed_icu_adult_patients_confirmed_covid_7_day_sum                                    float64
dtype: object

In [24]:
# Sort the hospital data by date
hospital_data_df = hospital_data_df.sort_values(by='collection_week')
hospital_data_df

# The hospital data is binned by collection week ending on every friday

,collection_week,fips_code,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
324747,2020-07-31,13013.0,266.0,NaN,NaN,199.0,NaN,0.0,NaN,-999999.0,NaN,266.0,0.0,NaN,0.0,NaN,NaN,NaN
319367,2020-07-31,21015.0,1062.0,1062.0,1062.0,949.0,949.0,-999999.0,-999999.0,0.0,0.0,1062.0,126.0,108.0,109.0,109.0,-999999.0,-999999.0
319371,2020-07-31,12099.0,3332.0,2710.0,2710.0,1873.0,1859.0,266.0,266.0,0.0,0.0,3206.0,287.0,287.0,178.0,178.0,41.0,41.0
319374,2020-07-31,19049.0,102.0,126.0,84.0,-999999.0,9.0,4.0,-999999.0,0.0,0.0,84.0,0.0,0.0,0.0,0.0,0.0,0.0
319375,2020-07-31,6037.0,824.0,404.0,341.0,296.0,296.0,5.0,0.0,0.0,0.0,341.0,20.0,20.0,18.0,18.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10378,2021-10-22,37005.0,42.0,42.0,42.0,26.0,26.0,-999999.0,-999999.0,0.0,0.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0
10377,2021-10-22,48039.0,15.0,15.0,9.0,4.0,4.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
6377,2021-10-22,20019.0,154.0,154.0,126.0,10.0,10.0,0.0,0.0,0.0,0.0,126.0,0.0,0.0,0.0,0.0,0.0,0.0
10372,2021-10-22,21125.0,1421.0,864.0,864.0,658.0,658.0,158.0,158.0,0.0,0.0,864.0,336.0,336.0,229.0,229.0,71.0,71.0
10352,2021-10-22,13015.0,1134.0,1134.0,834.0,821.0,791.0,69.0,69.0,0.0,0.0,842.0,147.0,147.0,139.0,139.0,47.0,47.0

In [25]:
# Group and sort hospital_data_df by fips_code
hospital_data_df = hospital_data_df.groupby(['fips_code', pd.Grouper(key='collection_week', freq='W-FRI')]).agg({'total_beds_7_day_sum':'sum','all_adult_hospital_beds_7_day_sum':'sum', 'all_adult_hospital_inpatient_beds_7_day_sum':'sum', 'inpatient_beds_used_7_day_sum':'sum', 'all_adult_hospital_inpatient_bed_occupied_7_day_sum':'sum', 
                                                                                                                       'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 'total_adult_patients_hospitalized_confirmed_covid_7_day_sum': 'sum', 'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'sum', 'total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum':'sum', 'inpatient_beds_7_day_sum':'sum', 'total_icu_beds_7_day_sum':'sum', 
                                                                                                                       'total_staffed_adult_icu_beds_7_day_sum':'sum', 'icu_beds_used_7_day_sum':'sum', 'staffed_adult_icu_bed_occupancy_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum':'sum', 'staffed_icu_adult_patients_confirmed_covid_7_day_sum':'sum'}).reset_index()
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,1001.0,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0
1,1001.0,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0
2,1001.0,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0
3,1001.0,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0
4,1001.0,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020.0,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0
159867,78020.0,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0
159868,78020.0,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0
159869,78020.0,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0
159870,78020.0,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0

In [26]:
# Convert fips to integer
columns = ['fips_code']
hospital_data_df[columns] = hospital_data_df[columns].applymap(np.int64)
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0

In [27]:
# Convert the hospital date and fips_code column to strings
hospital_data_df['collection_week'] = hospital_data_df['collection_week'].astype('str')
hospital_data_df['fips_code'] = hospital_data_df['fips_code'].astype('str')

In [28]:
# Concat the date and fips_code for new columns fips_date
hospital_data_df['fips_date'] = hospital_data_df['fips_code'] + hospital_data_df['collection_week']
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,-999999.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,10012020-07-31
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,-999999.0,-999999.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,10012020-08-07
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,-999999.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,10012020-08-14
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,10012020-08-21
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,780202021-09-24
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,780202021-10-01
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,780202021-10-08
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,780202021-10-15
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,-999999.0,-999999.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,-999999.0,-999999.0,780202021-10-22

In [29]:
# Convert all negative values to 0
num = hospital_data_df._get_numeric_data()
num[num < 0] = 0

In [30]:
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,10012020-07-31
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,10012020-08-07
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,10012020-08-14
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,10012020-08-21
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,780202021-09-24
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,780202021-10-01
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,780202021-10-08
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,780202021-10-15
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,780202021-10-22

In [31]:
f = hospital_data_df['fips_date'].unique()

In [32]:
x = nyt_data_grouped['fips_date'].unique()

In [33]:
# Create list of fips_date values that only appear in one data set
remove_list = list(set(x).symmetric_difference(set(f)))
remove_list

['420972021-06-25',
 '361072021-03-12',
 '170232020-10-30',
 '390872021-06-11',
 '370952021-04-09',
 '311652021-08-13',
 '460952020-10-30',
 '511432021-09-03',
 '50912020-11-06',
 '370752021-07-09',
 '51472020-09-18',
 '281432020-09-04',
 '260852021-01-15',
 '410692021-04-02',
 '50672020-10-30',
 '480592021-01-08',
 '171532021-06-25',
 '170032020-11-20',
 '150052020-12-18',
 '510892020-09-11',
 '391052021-03-26',
 '180412021-04-30',
 '380652021-10-01',
 '290412021-10-22',
 '511012020-12-18',
 '721512021-10-01',
 '482892021-08-27',
 '270552021-09-03',
 '540712021-07-30',
 '410212020-12-11',
 '481552020-12-04',
 '80392020-08-28',
 '240192021-07-30',
 '720272021-07-09',
 '380872021-04-23',
 '461192021-07-23',
 '171232021-02-12',
 '171512020-10-09',
 '721332021-08-20',
 '131832021-09-03',
 '510432020-11-06',
 '483612021-06-18',
 '380812021-02-19',
 '721392021-01-08',
 '310632020-12-04',
 '132652021-06-04',
 '400912021-02-05',
 '80232020-12-11',
 '160752020-12-18',
 '720652020-10-23',
 '21852021-05-21',
 '510492021-05-21',
 '450612020-09-04',
 '471752020-08-28',
 '380852020-10-16',
 '270212021-02-05',
 '260832021-10-01',
 '481292020-09-25',
 '130372021-02-12',
 '291192021-06-25',
 '261192021-08-20',
 '81132020-10-02',
 '50672020-12-18',
 '370752020-08-14',
 '380852020-10-09',
 '484192021-01-15',
 '212332021-03-05',
 '440012021-02-19',
 '460412020-11-06',
 '21202021-07-02',
 '132432021-04-16',
 '51352021-02-05',
 '130612020-10-02',
 '380772021-01-08',
 '517352020-10-09',
 '483112021-09-17',
 '490332021-01-15',
 '471612020-07-31',
 '130832021-05-07',
 '541052021-03-12',
 '510812021-09-24',
 '540852021-02-12',
 '260832021-09-03',
 '721192021-10-08',
 '131692021-05-21',
 '191712020-10-30',
 '485072021-09-24',
 '130492021-08-27',
 '510992021-07-16',
 '540792020-08-07',
 '470752021-03-05',
 '20802021-02-05',
 '720472021-01-01',
 '210432021-02-05',
 '470472021-06-18',
 '720632021-03-12',
 '401412021-05-14',
 '721492021-06-18',
 '132732021-02-19',
 '470392020-12-18',
 '720892020-12-25',
 '131412021-09-10',
 '691102021-02-26',
 '29982020-08-21',
 '510332021-09-10',
 '461022020-12-11',
 '483512021-08-20',
 '720512021-09-03',
 '21852021-07-09',
 '171332021-10-01',
 '50772021-06-18',
 '300752021-04-09',
 '180412021-10-15',
 '290352021-09-10',
 '50792020-08-21',
 '450392021-08-13',
 '550612021-04-16',
 '280732021-08-13',
 '291192021-10-08',
 '131952021-07-23',
 '450172021-10-15',
 '720852021-03-19',
 '380812021-09-03',
 '540732021-05-07',
 '280732021-10-01',
 '291412020-10-09',
 '201992021-07-02',
 '510912021-07-30',
 '281432021-01-08',
 '290572021-09-17',
 '20702021-03-19',
 '212372021-09-10',
 '210612020-08-28',
 '481012021-05-21',
 '380132021-07-16',
 '511592021-08-20',
 '211192020-12-11',
 '22602020-08-07',
 '50792020-11-27',
 '720152021-07-30',
 '470392021-07-23',
 '440012021-09-10',
 '260092021-01-29',
 '310512020-10-30',
 '371852020-12-18',
 '360472021-10-22',
 '281192021-09-24',
 '541092021-07-23',
 '190312021-01-01',
 '300052020-08-07',
 '720032021-04-16',
 '120672021-01-29',
 '310752021-03-19',
 '510312021-01-22',
 '210752021-04-09',
 '240392021-06-18',
 '240392020-09-11',
 '180072021-07-23',
 '191812021-09-17',
 '22302021-10-08',
 '181212021-07-23',
 '380472020-10-02',
 '540212021-09-03',
 '470572021-01-08',
 '461022020-11-20',
 '210392020-08-07',
 '450112021-10-22',
 '160032021-03-12',
 '721372021-08-20',
 '132712020-11-27',
 '210752020-12-11',
 '483952021-08-06',
 '22402021-10-15',
 '515302021-04-30',
 '511832021-03-12',
 '720632021-10-01',
 '320292020-10-16',
 '511312021-03-19',
 '540092021-03-19',
 '133152021-03-26',
 '311172020-10-02',
 '380272020-11-06',
 '380052021-03-05',
 '292052021-03-05',
 '211492021-05-28',
 '10852021-10-22',
 '10672021-02-12',
 '170932021-07-16',
 '130852020-07-31',
 '540092021-08-27',
 '380452021-10-01',
 '380452021-04-02',
 '120292021-01-29',
 '460972021-05-14',
 '20162021-08-20',
 '480312021-07-09',
 '511572021-05-07',
 '421092020-08-14',
 '130852021-08-20',
 '515202021-01-29',
 '450172021-02-12',
 '483772021-01-08',
 '515202021-04-02',
 '22752021-08-06',
 '480112021-10-22',
 '170872021-06-04',
 '400532021-10-08',
 '29972021-03-12',
 '211532020-08-28',
 '220952020-08-07',
 '261092020-08-14',
 '484732021-07-09',
 '510362021-02-26',
 '460612020-12-04',
 '170872021-05-28',
 '290592020-11-13',
 '220432021-07-30',
 '720832021-03-26',
 '720172020-09-04',
 '511372020-11-27',
 '481312020-09-11',
 '516002020-09-18',
 '212372021-01-01',
 '484212021-09-24',
 '450172021-08-13',
 '410212021-03-05',
 '270992021-01-08',
 '80472021-05-21',
 '540152021-06-25',
 '170032020-11-06',
 '511352021-10-15',
 '220252021-02-26',
 '191952021-04-02',
 '310272020-10-30',
 '180452020-09-04',
 '470472021-02-26',
 '290892020-09-11',
 '160332021-05-14',
 '361152021-08-20',
 '310252020-12-25',
 '720452021-08-20',
 '310912021-04-23',
 '540092020-11-06',
 '80192021-02-12',
 '181192021-07-02',
 '300372021-07-30',
 '132312021-08-27',
 '22302020-12-11',
 '210752021-01-29',
 '484192021-01-08',
 '380052021-08-27',
 '350612020-08-07',
 '170932020-10-16',
 '132492021-04-23',
 '80932021-10-22',
 '484092020-11-13',
 '460692021-07-02',
 '515302020-10-16',
 '720552021-05-21',
 '292292021-04-23',
 '471212021-10-22',
 '132212021-08-20',
 '181012021-01-22',
 '511012021-08-13',
 '292232021-07-30',
 '230232021-02-05',
 '460852020-12-18',
 '510632021-07-09',
 '180252020-12-25',
 '310352021-05-28',
 '240352021-07-09',
 '22752021-03-26',
 '380852021-03-19',
 '290572021-01-08',
 '540432020-11-20',
 '212232021-08-20',
 '212292021-02-26',
 '200432021-02-05',
 '500092021-09-03',
 '380652021-07-02',
 '510312021-08-13',
 '170412021-02-05',
 '371152021-02-19',
 '720832020-08-14',
 '720792021-01-15',
 '510772021-05-28',
 '291312021-03-12',
 '160432021-01-08',
 '280732020-09-18',
 '60912020-09-11',
 '400252020-08-28',
 '471372020-07-31',
 '440012020-08-07',
 '511252021-09-10',
 '720732021-07-23',
 '720572020-10-02',
 '511092020-10-23',
 '201392020-11-27',
 '200432021-08-27',
 '540632021-08-06',
 '720392020-09-25',
 '550412020-09-11',
 '170092021-07-09',
 '541092020-10-23',
 '350612021-07-02',
 '131832020-08-14',
 '211592021-07-23',
 '400532021-05-14',
 '550072021-04-30',
 '261412021-05-28',
 '484212021-08-13',
 '80472020-12-11',
 '510992021-03-26',
 '291812020-11-13',
 '460872020-11-06',
 '540172021-10-15',
 '132432020-08-14',
 '80332021-02-26',
 '482052021-05-28',
 '120672020-09-18',
 '380652021-01-22',
 '471612021-01-15',
 '550772021-07-16',
 '291352021-02-19',
 '260832021-08-06',
 '380832021-06-18',
 '311632021-09-10',
 '180472021-04-02',
 '530692021-01-29',
 '470232020-12-11',
 '484192021-10-15',
 '51352021-09-17',
 '211352021-07-02',
 '490152020-09-18',
 '310632021-03-19',
 '484072021-06-18',
 '510072020-09-18',
 '540092020-10-30',
 '131772021-10-08',
 '721472021-05-21',
 '181212021-04-02',
 '290252020-10-02',
 '210232021-10-22',
 '181152021-10-01',
 '51372020-07-31',
 '291032021-06-11',
 '160732020-09-11',
 '350572021-04-16',
 '510312020-10-02',
 '400532020-10-30',
 '131912020-08-21',
 '211292021-07-30',
 '292012020-11-27',
 '280092021-09-10',
 '390192020-10-30',
 '291332020-10-16',
 '130612021-08-27',
 '51052020-10-23',
 '482952021-08-20',
 '360472021-02-19',
 '310912020-08-07',
 '460192020-08-28',
 '510092021-03-19',
 '51012020-10-02',
 '131772020-10-23',
 '210892020-12-04',
 '290032021-07-09',
 '471292020-11-06',
 '291792020-09-04',
 '511432021-03-26',
 '171532021-03-26',
 '540312020-09-04',
 '22802021-01-29',
 '10172020-11-06',
 '211092020-12-18',
 '290592021-07-09',
 '511592021-01-15',
 '191812021-03-05',
 '230232020-12-11',
 '471532020-12-11',
 '210772021-04-16',
 '540712020-10-23',
 '133112020-09-11',
 '132292021-02-12',
 '121212021-02-19',
 '720672021-10-22',
 '160152020-10-02',
 '450652020-10-09',
 '292192021-02-12',
 '81092020-10-02',
 '292252021-03-05',
 '211292021-05-21',
 '471272021-01-08',
 '130292021-05-14',
 '483512020-12-18',
 '400772021-07-30',
 '720392021-05-07',
 '371032021-07-23',
 '311172020-07-31',
 '170352021-04-16',
 '171712021-09-17',
 '540172021-08-06',
 '130492021-04-16',
 '371152021-07-23',
 '350112020-09-18',
 '300112020-08-14',
 '483312021-04-02',
 '350032021-07-16',
 '310772021-07-02',
 '261192021-04-23',
 '51292021-04-30',
 '210052021-04-02',
 '212332020-09-04',
 '290672021-06-04',
 '80932021-03-26',
 '511352021-05-28',
 '484672021-05-28',
 '720752021-05-07',
 '720452021-06-18',
 '181152021-06-11',
 '201972021-03-26',
 '721492021-05-28',
 '201392020-09-04',
 '540992020-11-13',
 '340152021-05-14',
 '22602020-08-28',
 '482972021-03-26',
 '481552021-06-11',
 '301092021-05-28',
 '290032021-08-27',
 '380132021-09-03',
 '720452021-05-07',
 '780302021-07-16',
 '540212020-08-07',
 '211872021-10-15',
 '380272021-09-24',
 '540592021-04-30',
 '50912021-10-01',
 '484072021-03-26',
 '380852021-03-12',
 '131772021-04-09',
 '10872021-06-11',
 '300052021-01-01',
 '292192021-09-03',
 '540152021-10-01',
 '721012021-05-14',
 '720472020-12-11',
 '201072020-08-14',
 '518202020-08-07',
 '22612021-09-03',
 '511312020-12-25',
 '170172021-04-16',
 '371372021-05-14',
 '11052021-02-19',
 '484112021-04-09',
 '10672020-11-06',
 '483432021-10-08',
 '720112020-12-11',
 '21952021-09-03',
 '290612021-03-19',
 '190232020-10-16',
 '391052020-10-23',
 '10752020-09-18',
 '410212021-09-10',
 '210772021-07-23',
 '510532021-03-19',
 '310352020-08-28',
 '371852021-08-06',
 '550412021-06-25',
 '22302021-10-15',
 '510972021-01-15',
 '370432021-01-01',
 '720772021-08-06',
 '511052020-09-04',
 '470952021-07-16',
 '410092021-05-14',
 '481912021-02-26',
 '511592021-03-26',
 '721092021-09-03',
 '380412021-09-03',
 '210072021-03-19',
 '721512020-11-20',
 '721332021-07-16',
 '261352021-08-13',
 '511372021-07-23',
 '380812020-12-04',
 '292192021-10-15',
 '50792021-04-09',
 '480332021-03-19',
 '510632020-12-04',
 '212332021-10-22',
 '483452021-06-04',
 '518302021-01-01',
 '261412021-03-19',
 '120472021-09-03',
 '170152020-08-21',
 '80232020-11-27',
 '510692021-02-26',
 '290432020-11-27',
 '720152020-11-20',
 '540212021-07-16',
 '360472020-08-07',
 '380652020-09-25',
 '270092021-02-19',
 '50952020-10-16',
 '380412021-01-01',
 '440012021-02-12',
 '211292021-04-23',
 '380652020-09-18',
 '80232020-11-13',
 '400332021-07-09',
 '130832021-01-29',
 '511992021-03-26',
 '540592021-06-25',
 '270092020-07-31',
 '511332020-10-16',
 '240192020-09-25',
 '371032021-10-22',
 '180132020-11-06',
 '380432021-07-30',
 '120412020-12-18',
 '81092020-09-25',
 '361072021-01-22',
 '132732020-10-09',
 '370952020-11-06',
 '271252020-08-14',
 '510112020-11-06',
 '310352020-10-23',
 '132872021-08-20',
 '510072021-03-12',
 '220952021-07-16',
 '484732021-02-19',
 '360852021-08-27',
 '510432020-10-02',
 '401072021-04-09',
 '361212020-09-25',
 '361072021-06-11',
 '21802021-08-06',
 '171532020-08-21',
 '301032021-03-05',
 '370532020-10-09',
 '515302021-06-18',
 '171552020-10-09',
 '371432021-08-27',
 '510362021-06-25',
 '721472020-09-04',
 '371992021-09-17',
 '51352020-10-09',
 '460972021-09-17',
 '292092021-07-23',
 '460212021-06-18',
 '511692021-02-05',
 '132712021-09-24',
 '132092020-09-18',
 '540712020-11-27',
 '120652021-05-28',
 '20702021-06-11',
 '470472020-10-23',
 '210312021-03-12',
 '400012020-10-09',
 '51012020-11-13',
 '490332021-05-07',
 '720672020-10-23',
 '720932021-08-27',
 '350572020-10-16',
 '721312020-10-16',
 '721152021-08-27',
 '490552021-05-28',
 '131952021-10-08',
 '720192021-08-27',
 '471532020-09-25',
 '391052020-11-13',
 '380072020-11-06',
 '10372020-12-18',
 '461052021-09-24',
 '518302020-08-28',
 '350032021-02-12',
 '132652021-09-17',
 '50892020-08-28',
 '720112020-12-18',
 '370292021-08-06',
 '371152020-09-18',
 '720852021-07-23',
 '131252021-07-09',
 '120432020-10-02',
 '220372020-12-04',
 '721392021-03-19',
 '371992021-03-26',
 '240352021-05-07',
 '180152020-12-25',
 '510912021-10-15',
 '131492021-06-25',
 '211532020-07-31',
 '220472020-12-11',
 '460312020-11-13',
 '131812020-08-07',
 '210052020-09-18',
 '516852021-09-10',
 '484892020-08-07',
 '485072021-04-23',
 '530692021-08-13',
 '290852020-10-09',
 '291812021-10-01',
 '720492021-08-13',
 '390192021-08-13',
 '511152021-04-30',
 '483952020-10-16',
 '132712021-04-02',
 '484732021-09-03',
 '170092021-05-07',
 '291032021-07-30',
 '471372020-11-27',
 '22752020-08-21',
 '511352020-11-06',
 '720412020-11-27',
 '80192021-07-23',
 '120752021-04-23',
 '50912021-05-21',
 '484172020-11-13',
 '400332020-07-31',
 '511432021-04-16',
 '511332021-01-22',
 '380132020-09-18',
 '350212020-10-30',
 '720852020-08-21',
 '721112021-07-30',
 '22612021-07-02',
 '484312021-04-16',
 '131832021-09-10',
 '484552020-09-18',
 '132432021-04-30',
 '310832020-08-21',
 '511012021-10-08',
 '510912021-01-22',
 '511372021-05-21',
 '510492021-08-06',
 '390872020-11-27',
 '482432021-04-16',
 '211692021-01-22',
 '191952020-08-14',
 '211592020-10-02',
 '292292020-11-06',
 '291692021-07-30',
 '292232021-02-19',
 '292092020-11-06',
 '51292020-08-28',
 '132732021-08-06',
 '482052021-07-23',
 '170172021-03-12',
 '291972021-08-13',
 '132292020-11-13',
 '291252021-08-27',
 '471152020-12-04',
 '471212020-11-20',
 '420992021-01-29',
 '391212021-04-23',
 '50492020-09-18',
 '22102021-09-17',
 '360612020-12-11',
 '211912021-10-22',
 '516902021-07-02',
 '201992021-02-05',
 '212192021-02-26',
 '50132020-10-02',
 '371992021-07-02',
 '483952021-07-09',
 '421092020-11-27',
 '484732021-04-23',
 '484212021-10-15',
 '540172020-10-23',
 '210292021-03-05',
 '171552020-11-27',
 '510492020-07-31',
 '450612020-10-02',
 '510112021-03-12',
 '120072021-02-26',
 '131692021-02-12',
 '720272021-03-26',
 '780302021-08-20',
 '21852021-02-19',
 '511612021-05-21',
 '310052020-09-11',
 '483792021-02-12',
 '483852021-10-15',
 '300432021-06-25',
 '482292020-09-04',
 '280212020-08-21',
 '133112021-04-16',
 '371032021-06-18',
 '515202021-03-05',
 '130732021-01-15',
 '511652020-12-04',
 '131492021-02-05',
 '11052020-10-02',
 '510652020-08-07',
 '540312021-07-30',
 '515802021-03-05',
 '720572021-10-22',
 '400332021-10-22',
 '170152020-12-18',
 '450092021-07-16',
 '371852021-03-12',
 '371432021-03-12',
 '370032020-12-04',
 '720542021-03-05',
 '721512020-07-31',
 '311672021-07-23',
 '481592021-05-21',
 '516852020-08-21',
 '292272020-09-04',
 '130372021-10-15',
 '50672021-02-26',
 '290672021-07-16',
 '515702021-01-29',
 '720672021-03-19',
 '131232020-10-16',
 '470752021-10-01',
 '481292021-02-19',
 '22902021-03-19',
 '481912021-09-03',
 '291372021-04-30',
 '461022021-05-28',
 '131472021-06-11',
 '211692021-04-23',
 '310872021-07-02',
 '721372021-01-08',
 '720772021-01-01',
 '171932021-08-13',
 '170412021-09-24',
 '210292021-03-19',
 '360812021-09-03',
 '721352021-02-19',
 '132692021-03-26',
 '380412021-01-08',
 '211232021-06-04',
 '80232020-08-21',
 '420672021-02-05',
 '171232020-08-14',
 '510932021-06-18',
 '292052021-10-22',
 '211292021-09-17',
 '133092020-09-18',
 '261412020-09-11',
 '280152021-10-15',
 '211592021-07-30',
 '260312021-10-01',
 '460612020-11-13',
 '291032020-12-25',
 '420972020-09-18',
 '515302021-03-19',
 '261352020-10-09',
 '120672021-10-01',
 '191152021-10-22',
 '461112021-04-23',
 '500092020-09-18',
 '131832021-08-27',
 '50772020-10-16',
 '371772021-08-13',
 '21982021-07-02',
 '510992020-09-11',
 '181212021-10-01',
 '191292021-08-20',
 '370332020-07-31',
 '310092021-05-07',
 '470392021-08-13',
 '720752020-11-06',
 '50132021-02-19',
 '20682020-10-09',
 '211632021-07-09',
 '482712021-01-08',
 '211492021-02-19',
 '22602021-06-04',
 '80792021-04-23',
 '461372021-01-22',
 '391052020-08-28',
 '510362020-09-25',
 '721312021-08-06',
 '380452021-06-25',
 '515302020-11-06',
 '550112020-11-20',
 '370792021-07-09',
 '171392021-05-21',
 '21202020-12-25',
 '482612020-12-18',
 '80912020-08-14',
 '211812020-08-28',
 '21802021-08-20',
 '410092021-04-30',
 '510092021-02-05',
 '540432020-11-06',
 '720632020-10-23',
 '131252021-07-30',
 '290852021-04-23',
 '291972021-04-23',
 '212232020-08-07',
 '510772020-09-25',
 '80532020-08-21',
 '290692021-03-26',
 '300372021-06-18',
 '380052021-03-26',
 '390152021-10-01',
 '460412020-10-02',
 '171752021-07-16',
 '260012020-10-16',
 '484552020-11-20',
 '400532020-12-11',
 '80252021-02-19',
 '484312020-09-11',
 '220472021-07-02',
 '350332020-12-25',
 '260852021-02-19',
 '212152021-06-11',
 '480332020-10-23',
 '170232020-11-06',
 '171292021-05-21',
 '371032021-05-28',
 '10372021-04-23',
 '370732021-10-15',
 '485052021-02-26',
 '510792021-10-22',
 '51352020-08-14',
 '181212020-10-23',
 '471372020-09-11',
 '511752021-10-01',
 '540152021-04-16',
 '121212021-06-18',
 '80932021-03-12',
 '310912020-10-09',
 '120672021-04-02',
 '220252021-02-12',
 '420992020-11-13',
 '471212021-04-23',
 '130852021-07-30',
 '190232020-10-02',
 '131572021-09-17',
 '280552021-03-05',
 '471092021-04-16',
 '300372020-10-23',
 '721012021-04-23',
 '180412021-07-30',
 '131052020-08-28',
 '721152021-01-22',
 '720932021-03-12',
 '131232021-10-15',
 '460972021-02-26',
 '721392020-10-16',
 '60032021-08-06',
 '510932021-09-17',
 '181472020-12-25',
 '380432021-07-16',
 '400532020-09-25',
 '291692021-04-23',
 '191152021-09-03',
 '511652021-03-19',
 '29972020-09-11',
 '280552021-10-22',
 '410552020-11-06',
 '540432020-10-30',
 '510772021-09-24',
 '480472020-11-27',
 '720542021-10-01',
 '540592021-02-19',
 '450172021-06-04',
 '160512021-08-06',
 '291692021-01-08',
 '210232020-08-07',
 '530172020-08-14',
 '483812020-08-21',
 '721032021-04-23',
 '360852021-05-07',
 '132652021-04-02',
 '481312021-02-12',
 '20682020-11-06',
 '280532021-04-23',
 '721072021-09-10',
 '483272020-10-30',
 '510892020-11-13',
 '210632021-02-19',
 '290032021-05-07',
 '50252021-07-09',
 '391632020-10-23',
 '720412021-10-15',
 '360472021-04-23',
 '50252021-04-16',
 '51332021-03-26',
 '380872020-11-27',
 '210392020-11-20',
 '380072020-12-18',
 '484592020-12-18',
 '211432020-08-07',
 '22202021-10-01',
 '481752021-09-24',
 '540432020-08-14',
 '310872021-07-09',
 '481552021-02-12',
 '210112021-07-02',
 '311632021-03-12',
 '310752020-12-25',
 '511332021-03-26',
 '720632021-01-08',
 '51292020-11-20',
 '211872020-10-09',
 '311032021-04-23',
 '290152021-01-15',
 '540592021-07-30',
 '460952021-01-15',
 '50532021-01-29',
 '121292021-04-30',
 '130252021-02-19',
 '130072020-11-06',
 '518202021-05-14',
 '291492021-03-12',
 '482052021-08-06',
 '511412021-02-05',
 '120072021-05-28',
 '485052020-11-20',
 '471752021-05-07',
 '130532021-08-06',
 '221072020-10-09',
 '260832020-08-21',
 '301092021-02-12',
 '361072021-07-16',
 '483872021-03-26',
 '310912020-08-14',
 '160752021-06-18',
 '120752020-11-13',
 '310852021-09-24',
 '190312020-09-11',
 '170592021-05-07',
 '720552020-12-04',
 '210632020-09-18',
 '310272021-08-27',
 '720672021-04-23',
 '400032021-04-16',
 '170352021-10-22',
 '132692021-06-18',
 '484672020-11-13',
 '720672020-07-31',
 '300752020-12-11',
 '291392021-07-02',
 '380452021-07-23',
 '721492021-02-12',
 '281192021-08-13',
 '190312021-10-01',
 '60692020-10-16',
 '211912020-09-18',
 '511252020-10-16',
 '160372021-06-25',
 '201072021-09-24',
 '280552021-07-02',
 '511592021-09-17',
 '21852021-03-05',
 '461192021-04-23',
 '311812020-08-28',
 '180472020-07-31',
 '180472020-12-25',
 '483952020-12-04',
 '291032020-11-13',
 '180252020-12-11',
 '11052021-01-08',
 '132092021-08-06',
 '170152021-10-22',
 '720732021-05-14',
 '170472021-04-02',
 '311712021-05-07',
 '51052021-01-08',
 '22102021-01-29',
 '290432021-03-12',
 '511812021-08-20',
 '481692021-04-09',
 '390872020-12-11',
 '540932021-07-23',
 '80112021-06-04',
 '260832021-06-18',
 '180472020-08-28',
 '485052021-03-19',
 '482972020-11-06',
 '133152021-04-02',
 '132892021-01-15',
 '190312021-05-14',
 '131772021-07-30',
 '170872021-08-13',
 '511572021-07-09',
 '130292021-10-01',
 '291732021-09-03',
 '691202021-04-16',
 '480072020-11-20',
 '171232021-06-04',
 '131712021-08-20',
 '518302021-09-10',
 '132692020-09-04',
 '292012021-03-26',
 '20162021-06-18',
 '380332020-10-30',
 '484892020-10-23',
 '540632020-11-20',
 '170132021-03-26',
 '460032021-06-25',
 '181112021-04-23',
 '292192020-10-30',
 ...]

In [34]:
# Eliminate rows with fips_date values that do not appear in counties dataset
hospital_data_df = hospital_data_df[~hospital_data_df['fips_date'].isin(remove_list)]
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_adult_patients_hospitalized_confirmed_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum,total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum,staffed_icu_adult_patients_confirmed_covid_7_day_sum,fips_date
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,10012020-07-31
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,10012020-08-07
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,10012020-08-14
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,10012020-08-21
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,780202021-09-24
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,780202021-10-01
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,780202021-10-08
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,780202021-10-15
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,780202021-10-22

In [35]:
# Shorten column names to avoid truncating in postgres (confirmed=con, suspected=sus, pediatric=ped)
hospital_data_df.rename({'total_adult_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum', 
                         'total_adult_patients_hospitalized_confirmed_covid_7_day_sum':'total_adult_patients_hospitalized_con_covid_7_day_sum', 
                         'total_pediatric_patients_hospitalized_confirmed_and_suspected_covid_7_day_sum':'total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum', 
                         'total_pediatric_patients_hospitalized_confirmed_covid_7_day_sum':'total_ped_patients_hospitalized_con_covid_7_day_sum', 
                         'staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum':'staffed_icu_adult_patients_con_and_sus_covid_7_day_sum', 
                         'staffed_icu_adult_patients_confirmed_covid_7_day_sum':'staffed_icu_adult_patients_con_covid_7_day_sum'}, axis=1, inplace=True)
hospital_data_df

/Users/davidszymkowiak/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001,2020-07-31,574.0,574.0,455.0,363.0,363.0,117.0,103.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,28.0,26.0,10012020-07-31
1,1001,2020-08-07,574.0,574.0,455.0,369.0,369.0,153.0,139.0,0.0,0.0,455.0,42.0,42.0,41.0,41.0,38.0,37.0,10012020-08-07
2,1001,2020-08-14,574.0,574.0,455.0,384.0,384.0,125.0,111.0,0.0,0.0,455.0,42.0,42.0,42.0,42.0,38.0,32.0,10012020-08-14
3,1001,2020-08-21,574.0,574.0,455.0,348.0,348.0,86.0,74.0,0.0,0.0,455.0,42.0,42.0,38.0,38.0,48.0,35.0,10012020-08-21
4,1001,2020-08-28,574.0,574.0,455.0,346.0,346.0,77.0,75.0,0.0,0.0,455.0,42.0,42.0,40.0,40.0,18.0,18.0,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924.0,868.0,728.0,410.0,389.0,20.0,20.0,0.0,0.0,784.0,56.0,56.0,29.0,29.0,7.0,7.0,780202021-09-24
159867,78020,2021-10-01,924.0,868.0,728.0,362.0,340.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,43.0,43.0,7.0,7.0,780202021-10-01
159868,78020,2021-10-08,924.0,868.0,728.0,412.0,381.0,12.0,12.0,0.0,0.0,784.0,56.0,56.0,48.0,48.0,7.0,7.0,780202021-10-08
159869,78020,2021-10-15,924.0,868.0,728.0,402.0,365.0,7.0,7.0,0.0,0.0,784.0,56.0,56.0,40.0,40.0,7.0,7.0,780202021-10-15
159870,78020,2021-10-22,924.0,868.0,728.0,381.0,356.0,0.0,0.0,0.0,0.0,784.0,56.0,56.0,36.0,36.0,0.0,0.0,780202021-10-22

In [36]:
# Eliminate rows with fips_date values that do not appear in hospitals dataset
nyt_data_grouped = nyt_data_grouped[~nyt_data_grouped['fips_date'].isin(remove_list)]
nyt_data_grouped

         fips        date  cases  deaths        fips_date
0        1001  2020-07-31   6817   147.0   10012020-07-31
1        1001  2020-08-07   7503   150.0   10012020-08-07
2        1001  2020-08-14   8531   158.0   10012020-08-14
3        1001  2020-08-21   9009   161.0   10012020-08-21
4        1001  2020-08-28   9484   161.0   10012020-08-28
...       ...         ...    ...     ...              ...
208912  78020  2021-09-24   2258    21.0  780202021-09-24
208913  78020  2021-10-01   2293    21.0  780202021-10-01
208914  78020  2021-10-08   2317    21.0  780202021-10-08
208915  78020  2021-10-15   2317    21.0  780202021-10-15
208916  78020  2021-10-22   2322    21.0  780202021-10-22

[159064 rows x 5 columns]

In [37]:
nyt_data_grouped.dtypes

fips          object
date          object
cases          int64
deaths       float64
fips_date     object
dtype: object

In [38]:
# Convert float data types to integers in NYT data set
columns = ['deaths']
nyt_data_grouped[columns] = nyt_data_grouped[columns].applymap(np.int64)
nyt_data_grouped

/Users/davidszymkowiak/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

         fips        date  cases  deaths        fips_date
0        1001  2020-07-31   6817     147   10012020-07-31
1        1001  2020-08-07   7503     150   10012020-08-07
2        1001  2020-08-14   8531     158   10012020-08-14
3        1001  2020-08-21   9009     161   10012020-08-21
4        1001  2020-08-28   9484     161   10012020-08-28
...       ...         ...    ...     ...              ...
208912  78020  2021-09-24   2258      21  780202021-09-24
208913  78020  2021-10-01   2293      21  780202021-10-01
208914  78020  2021-10-08   2317      21  780202021-10-08
208915  78020  2021-10-15   2317      21  780202021-10-15
208916  78020  2021-10-22   2322      21  780202021-10-22

[159064 rows x 5 columns]

In [39]:
# Convert NYT date column to datetime data type
nyt_data_grouped['date'] = pd.to_datetime(nyt_data_grouped['date'])
nyt_data_grouped

/Users/davidszymkowiak/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         fips       date  cases  deaths        fips_date
0        1001 2020-07-31   6817     147   10012020-07-31
1        1001 2020-08-07   7503     150   10012020-08-07
2        1001 2020-08-14   8531     158   10012020-08-14
3        1001 2020-08-21   9009     161   10012020-08-21
4        1001 2020-08-28   9484     161   10012020-08-28
...       ...        ...    ...     ...              ...
208912  78020 2021-09-24   2258      21  780202021-09-24
208913  78020 2021-10-01   2293      21  780202021-10-01
208914  78020 2021-10-08   2317      21  780202021-10-08
208915  78020 2021-10-15   2317      21  780202021-10-15
208916  78020 2021-10-22   2322      21  780202021-10-22

[159064 rows x 5 columns]

In [40]:
nyt_data_grouped.dtypes

fips                 object
date         datetime64[ns]
cases                 int64
deaths                int64
fips_date            object
dtype: object

In [41]:
# Rename NYT columns 
nyt_data_grouped.rename({'date':'collection_week', 'cases':'cases_to_date', 'deaths':'deaths_to_date'}, axis=1, inplace=True)
nyt_data_grouped

/Users/davidszymkowiak/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

         fips collection_week  cases_to_date  deaths_to_date        fips_date
0        1001      2020-07-31           6817             147   10012020-07-31
1        1001      2020-08-07           7503             150   10012020-08-07
2        1001      2020-08-14           8531             158   10012020-08-14
3        1001      2020-08-21           9009             161   10012020-08-21
4        1001      2020-08-28           9484             161   10012020-08-28
...       ...             ...            ...             ...              ...
208912  78020      2021-09-24           2258              21  780202021-09-24
208913  78020      2021-10-01           2293              21  780202021-10-01
208914  78020      2021-10-08           2317              21  780202021-10-08
208915  78020      2021-10-15           2317              21  780202021-10-15
208916  78020      2021-10-22           2322              21  780202021-10-22

[159064 rows x 5 columns]

In [42]:
hospital_data_df.dtypes

fips_code                                                         object
collection_week                                                   object
total_beds_7_day_sum                                             float64
all_adult_hospital_beds_7_day_sum                                float64
all_adult_hospital_inpatient_beds_7_day_sum                      float64
inpatient_beds_used_7_day_sum                                    float64
all_adult_hospital_inpatient_bed_occupied_7_day_sum              float64
total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum    float64
total_adult_patients_hospitalized_con_covid_7_day_sum            float64
total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum      float64
total_ped_patients_hospitalized_con_covid_7_day_sum              float64
inpatient_beds_7_day_sum                                         float64
total_icu_beds_7_day_sum                                         float64
total_staffed_adult_icu_beds_7_day_sum                           float64
icu_beds_used_7_day_sum                                          float64
staffed_adult_icu_bed_occupancy_7_day_sum                        float64
staffed_icu_adult_patients_con_and_sus_covid_7_day_sum           float64
staffed_icu_adult_patients_con_covid_7_day_sum                   float64
fips_date                                                         object
dtype: object

In [43]:
# Convert float data types to integers in hospitals data set
columns = ['total_beds_7_day_sum', 'all_adult_hospital_beds_7_day_sum', 
           'all_adult_hospital_inpatient_beds_7_day_sum', 'inpatient_beds_used_7_day_sum', 
           'all_adult_hospital_inpatient_bed_occupied_7_day_sum', 
           'total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum', 
           'total_adult_patients_hospitalized_con_covid_7_day_sum', 
           'total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum', 
           'total_ped_patients_hospitalized_con_covid_7_day_sum', 'inpatient_beds_7_day_sum', 'total_icu_beds_7_day_sum', 
           'total_staffed_adult_icu_beds_7_day_sum', 'icu_beds_used_7_day_sum', 'staffed_adult_icu_bed_occupancy_7_day_sum',
           'staffed_icu_adult_patients_con_and_sus_covid_7_day_sum', 'staffed_icu_adult_patients_con_covid_7_day_sum']
hospital_data_df[columns] = hospital_data_df[columns].applymap(np.int64)
hospital_data_df

/Users/davidszymkowiak/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001,2020-07-31,574,574,455,363,363,117,103,0,0,455,42,42,40,40,28,26,10012020-07-31
1,1001,2020-08-07,574,574,455,369,369,153,139,0,0,455,42,42,41,41,38,37,10012020-08-07
2,1001,2020-08-14,574,574,455,384,384,125,111,0,0,455,42,42,42,42,38,32,10012020-08-14
3,1001,2020-08-21,574,574,455,348,348,86,74,0,0,455,42,42,38,38,48,35,10012020-08-21
4,1001,2020-08-28,574,574,455,346,346,77,75,0,0,455,42,42,40,40,18,18,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924,868,728,410,389,20,20,0,0,784,56,56,29,29,7,7,780202021-09-24
159867,78020,2021-10-01,924,868,728,362,340,12,12,0,0,784,56,56,43,43,7,7,780202021-10-01
159868,78020,2021-10-08,924,868,728,412,381,12,12,0,0,784,56,56,48,48,7,7,780202021-10-08
159869,78020,2021-10-15,924,868,728,402,365,7,7,0,0,784,56,56,40,40,7,7,780202021-10-15
159870,78020,2021-10-22,924,868,728,381,356,0,0,0,0,784,56,56,36,36,0,0,780202021-10-22

In [44]:
# Convert NYT date column to datetime data type
hospital_data_df['collection_week'] = pd.to_datetime(hospital_data_df['collection_week'])
hospital_data_df

/Users/davidszymkowiak/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
0,1001,2020-07-31,574,574,455,363,363,117,103,0,0,455,42,42,40,40,28,26,10012020-07-31
1,1001,2020-08-07,574,574,455,369,369,153,139,0,0,455,42,42,41,41,38,37,10012020-08-07
2,1001,2020-08-14,574,574,455,384,384,125,111,0,0,455,42,42,42,42,38,32,10012020-08-14
3,1001,2020-08-21,574,574,455,348,348,86,74,0,0,455,42,42,38,38,48,35,10012020-08-21
4,1001,2020-08-28,574,574,455,346,346,77,75,0,0,455,42,42,40,40,18,18,10012020-08-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924,868,728,410,389,20,20,0,0,784,56,56,29,29,7,7,780202021-09-24
159867,78020,2021-10-01,924,868,728,362,340,12,12,0,0,784,56,56,43,43,7,7,780202021-10-01
159868,78020,2021-10-08,924,868,728,412,381,12,12,0,0,784,56,56,48,48,7,7,780202021-10-08
159869,78020,2021-10-15,924,868,728,402,365,7,7,0,0,784,56,56,40,40,7,7,780202021-10-15
159870,78020,2021-10-22,924,868,728,381,356,0,0,0,0,784,56,56,36,36,0,0,780202021-10-22

In [45]:
hospital_data_df.dtypes

fips_code                                                                object
collection_week                                                  datetime64[ns]
total_beds_7_day_sum                                                      int64
all_adult_hospital_beds_7_day_sum                                         int64
all_adult_hospital_inpatient_beds_7_day_sum                               int64
inpatient_beds_used_7_day_sum                                             int64
all_adult_hospital_inpatient_bed_occupied_7_day_sum                       int64
total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum             int64
total_adult_patients_hospitalized_con_covid_7_day_sum                     int64
total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum               int64
total_ped_patients_hospitalized_con_covid_7_day_sum                       int64
inpatient_beds_7_day_sum                                                  int64
total_icu_beds_7_day_sum                                                  int64
total_staffed_adult_icu_beds_7_day_sum                                    int64
icu_beds_used_7_day_sum                                                   int64
staffed_adult_icu_bed_occupancy_7_day_sum                                 int64
staffed_icu_adult_patients_con_and_sus_covid_7_day_sum                    int64
staffed_icu_adult_patients_con_covid_7_day_sum                            int64
fips_date                                                                object
dtype: object

In [46]:
# Eliminate rows with fips_date values that do not appear in counties dataset
f = vax_data_df['fips_date'].unique()

In [47]:
x = nyt_data_grouped['fips_date'].unique()

In [48]:
remove_list_dates = list(set(x).symmetric_difference(set(f)))
remove_list_dates

['484252020-09-18',
 '171312021-01-28',
 '280112021-05-31',
 '133092021-07-27',
 '210052021-09-26',
 '291132021-05-02',
 '340272021-05-29',
 '391632021-10-11',
 '260052021-10-06',
 '517302021-10-21',
 '230292021-06-21',
 '260312021-04-29',
 '132332021-02-18',
 '483332021-02-18',
 '40092020-11-20',
 '560112020-10-02',
 '290312021-02-16',
 '191612021-04-05',
 '370752021-07-09',
 '390312021-09-27',
 '371532021-01-30',
 '80612021-08-11',
 '171792020-12-16',
 '471852021-01-23',
 '410692021-04-02',
 '280412021-02-27',
 '480592021-01-08',
 '370952021-06-16',
 '460632021-07-15',
 '371132020-09-11',
 '482912021-10-18',
 '120392021-06-28',
 '180972020-08-28',
 '450772021-02-15',
 '190152021-08-23',
 '261352021-08-11',
 '471352021-10-23',
 '291692020-12-27',
 '511012020-12-18',
 '130232021-02-03',
 '330132020-10-02',
 '10812021-04-27',
 '211432021-08-26',
 '160772021-06-12',
 '290032021-04-20',
 '271512021-10-04',
 '484612021-08-10',
 '300912021-01-30',
 '171712021-09-02',
 '180852021-07-29',
 '160472021-10-27',
 '720032021-10-02',
 '371992021-10-04',
 '371212021-04-20',
 '511772021-07-24',
 '380772021-04-21',
 '50692021-10-04',
 '10932021-10-05',
 '515802021-08-07',
 '220592021-07-22',
 '11272021-07-11',
 '421192021-03-01',
 '310732021-02-20',
 '721192021-09-12',
 '490132021-07-05',
 '200172021-01-13',
 '291792021-03-03',
 '721332021-08-20',
 '260732021-03-07',
 '360372021-07-25',
 '220532020-11-27',
 '60492021-10-21',
 '482332021-06-26',
 '550052021-10-19',
 '21852021-08-11',
 '450812021-03-25',
 '450092021-07-04',
 '510452021-01-24',
 '171032021-04-08',
 '60392021-01-02',
 '511692021-09-19',
 '212372021-03-01',
 '80092021-01-11',
 '80372021-02-28',
 '171932021-03-02',
 '461232021-05-27',
 '180752021-04-22',
 '191292021-04-14',
 '50792020-12-15',
 '480612021-04-27',
 '370012021-08-10',
 '160292021-01-09',
 '290392021-03-25',
 '133172021-05-01',
 '171052021-06-20',
 '201632021-08-28',
 '511692020-12-27',
 '131692021-02-25',
 '470812021-04-26',
 '420952021-06-27',
 '400692021-10-29',
 '461372021-01-06',
 '10492021-06-09',
 '510072021-06-21',
 '380692021-10-10',
 '550812021-09-27',
 '40192021-08-10',
 '230112021-08-04',
 '171512021-05-20',
 '350062021-05-22',
 '130372021-02-12',
 '261212021-04-15',
 '211012021-01-12',
 '180352021-03-20',
 '560452021-10-28',
 '210232021-01-03',
 '260692020-10-02',
 '260892021-09-30',
 '170052021-04-06',
 '300852021-06-03',
 '460832021-10-30',
 '120652021-06-17',
 '484492021-10-16',
 '310432021-10-16',
 '460952021-10-13',
 '421212021-06-10',
 '310712021-05-20',
 '550032021-05-13',
 '80092021-05-04',
 '540692020-10-16',
 '201052021-05-31',
 '80852021-01-07',
 '211832020-12-24',
 '180532020-09-11',
 '60712021-03-11',
 '560092021-06-17',
 '390212021-06-13',
 '280172020-12-15',
 '200812021-08-14',
 '511772021-01-24',
 '350432021-10-30',
 '540552021-09-14',
 '310632021-06-02',
 '51152021-10-14',
 '291652021-05-18',
 '181552021-07-03',
 '483392021-06-07',
 '281132021-02-27',
 '180132021-01-07',
 '470472021-06-22',
 '120172021-04-11',
 '291952021-10-31',
 '310752021-09-29',
 '171652021-03-22',
 '482212021-07-14',
 '540352021-06-13',
 '511432021-04-14',
 '391432021-02-01',
 '160712021-09-19',
 '201792021-07-04',
 '511092021-05-26',
 '10492021-04-17',
 '240392020-12-27',
 '51352021-02-05',
 '720472021-03-01',
 '370052020-08-28',
 '220252021-10-06',
 '490372021-09-22',
 '80012020-12-23',
 '484612021-03-17',
 '181292021-01-07',
 '131032021-01-19',
 '260172021-01-21',
 '490432021-09-06',
 '80212021-11-06',
 '160352021-04-12',
 '311412021-08-18',
 '290232021-10-04',
 '421192021-01-28',
 '510492021-09-11',
 '170332021-02-23',
 '220032021-06-05',
 '180992021-07-22',
 '271632021-01-04',
 '50312020-12-24',
 '470932021-02-23',
 '483012021-08-25',
 '291492021-05-11',
 '550772021-07-25',
 '484532021-03-27',
 '201852021-06-06',
 '483712020-12-22',
 '133152021-02-10',
 '10312021-01-03',
 '420952021-03-23',
 '410232021-09-12',
 '212112021-09-18',
 '131392021-07-26',
 '260952021-04-26',
 '180852021-01-16',
 '550292020-08-07',
 '480072021-03-08',
 '50672021-01-07',
 '721312021-05-05',
 '60992021-01-18',
 '510092020-12-22',
 '371312021-07-14',
 '281452021-02-01',
 '360092020-12-29',
 '515402021-07-11',
 '480472021-10-17',
 '211532021-04-03',
 '560092021-08-10',
 '50612021-02-22',
 '400792021-10-03',
 '191492021-07-07',
 '120072020-12-22',
 '81112021-03-10',
 '120892020-12-26',
 '270152021-03-17',
 '400252020-12-22',
 '270332021-02-21',
 '171292021-05-29',
 '310572021-10-24',
 '480792021-07-24',
 '10212021-08-29',
 '490292021-03-02',
 '133212021-01-11',
 '530272021-09-07',
 '515202021-03-20',
 '280052021-06-19',
 '500052021-08-28',
 '482872021-08-15',
 '171112021-10-12',
 '260532021-04-11',
 '200252021-07-12',
 '281212021-02-14',
 '190012020-09-25',
 '480292021-05-05',
 '350332021-03-03',
 '481512021-08-22',
 '260792021-03-18',
 '390172021-05-18',
 '481012020-12-15',
 '160452021-06-01',
 '220812021-09-13',
 '550592021-08-05',
 '180412021-10-15',
 '240052021-08-08',
 '300692021-03-15',
 '200172021-03-01',
 '190752021-09-25',
 '131252021-05-17',
 '511592021-07-06',
 '270972021-10-07',
 '180132021-01-03',
 '280392021-10-13',
 '132492021-05-03',
 '550852021-02-14',
 '371472020-09-25',
 '300172021-08-14',
 '160832021-07-17',
 '551292021-10-02',
 '300532021-08-05',
 '551132021-05-03',
 '191212021-05-11',
 '220512021-02-15',
 '720852021-03-19',
 '201972021-09-09',
 '540732021-05-07',
 '60972020-12-31',
 '484472021-07-06',
 '280732021-10-01',
 '210212021-09-09',
 '480612021-03-21',
 '181552021-02-10',
 '51432021-01-21',
 '484072021-11-01',
 '131712021-01-04',
 '270192021-08-23',
 '281452021-06-23',
 '281232021-07-26',
 '280932021-10-30',
 '361172021-10-26',
 '480332021-10-11',
 '22612021-04-24',
 '210892021-02-21',
 '330152021-01-16',
 '300132021-05-31',
 '484972021-01-31',
 '450692021-05-13',
 '60232021-07-19',
 '516202021-01-21',
 '300052020-12-31',
 '401452021-02-28',
 '481652021-05-08',
 '50512021-06-08',
 '450912021-05-19',
 '170152021-02-06',
 '190072020-12-16',
 '60532021-08-21',
 '310292021-07-14',
 '530072021-05-30',
 '484052021-05-09',
 '132632020-12-29',
 '470632021-07-15',
 '510232021-09-16',
 '550152021-05-11',
 '460972021-02-13',
 '90152021-04-17',
 '400152021-08-12',
 '490572020-10-23',
 '540692021-09-09',
 '131212021-03-13',
 '325102021-08-12',
 '440012021-03-02',
 '281152020-10-23',
 '121272021-02-15',
 '391372021-01-07',
 '481252021-05-03',
 '291432021-02-25',
 '410372021-04-19',
 '230312021-09-09',
 '483412020-12-16',
 '500032021-02-01',
 '210172021-03-13',
 '300392021-04-18',
 '484052021-08-07',
 '300672021-10-06',
 '260292021-04-13',
 '200852021-02-21',
 '160552021-11-04',
 '260712021-05-08',
 '210172021-01-30',
 '80572021-06-21',
 '540892021-06-06',
 '132612021-02-24',
 '310752021-03-19',
 '132732021-03-31',
 '280032020-12-13',
 '380752020-12-17',
 '484952021-06-23',
 '450572021-07-13',
 '181212021-02-06',
 '130852021-01-20',
 '180352021-06-10',
 '171492021-04-14',
 '20202021-08-25',
 '60292021-06-09',
 '22402021-03-27',
 '172032020-12-13',
 '510232021-03-24',
 '461252021-07-15',
 '370412021-05-16',
 '481732021-04-18',
 '181212021-07-23',
 '191532021-02-13',
 '518002020-12-22',
 '540492021-05-10',
 '180072021-01-27',
 '350062020-09-04',
 '400832021-09-22',
 '550532021-04-11',
 '550452021-07-17',
 '421112021-09-13',
 '291552021-03-15',
 '460712021-01-05',
 '483972021-03-07',
 '450112021-10-22',
 '80912021-07-10',
 '511832021-10-06',
 '271592020-12-17',
 '310892021-01-10',
 '160792021-10-14',
 '260592021-06-12',
 '450132021-09-08',
 '131212021-09-06',
 '421092021-09-11',
 '380232021-05-29',
 '482372021-04-14',
 '461232021-01-18',
 '131092021-08-23',
 '200132021-06-12',
 '22202021-01-09',
 '191852021-05-20',
 '310412021-03-08',
 '370912021-02-08',
 '420752021-01-24',
 '484852021-09-30',
 '310272021-07-03',
 '420592021-05-06',
 '350152021-04-17',
 '410172021-01-17',
 '460492020-12-30',
 '260032021-11-02',
 '210912021-01-12',
 '50792021-09-13',
 '311152020-12-15',
 '20202020-11-27',
 '10732020-11-06',
 '300912021-02-16',
 '540372021-05-18',
 '220392021-10-07',
 '133152021-03-26',
 '482112021-02-09',
 '291072021-05-03',
 '721112021-03-27',
 '191612021-09-01',
 '400452021-04-08',
 '191912021-10-21',
 '260212021-01-30',
 '191552021-04-18',
 '470212021-01-04',
 '40232021-08-04',
 '260552021-02-17',
 '460592021-10-21',
 '360232021-02-24',
 '300252021-03-14',
 '260972021-02-28',
 '485032021-06-17',
 '261272021-06-01',
 '484292021-08-18',
 '271032021-04-18',
 '260972021-09-13',
 '22302021-08-02',
 '181012021-06-14',
 '470892021-04-03',
 '550972021-03-24',
 '90072021-03-01',
 '483492020-10-16',
 '120862021-10-20',
 '460052021-05-18',
 '280712021-01-13',
 '160492021-10-11',
 '220892021-03-11',
 '480492020-12-14',
 '81012021-07-10',
 '410172021-03-23',
 '130852021-08-20',
 '295102021-04-20',
 '516302021-01-28',
 '484652021-10-27',
 '210832021-11-03',
 '540152021-05-18',
 '181552021-10-21',
 '510272021-04-20',
 '191792021-10-06',
 '720152021-05-22',
 '130832021-08-25',
 '270232021-03-16',
 '281412020-12-27',
 '482312021-08-24',
 '250052021-11-06',
 '170872021-06-04',
 '271352021-11-02',
 '720512021-05-06',
 '81252021-01-30',
 '540832020-12-04',
 '560172021-06-27',
 '132892021-04-24',
 '371692021-06-09',
 '481152021-02-10',
 '201552021-10-04',
 '484352021-06-08',
 '190832021-06-27',
 '311332021-06-12',
 '132952021-01-21',
 '80912021-09-26',
 '290632021-10-10',
 '540432021-09-26',
 '50432020-10-23',
 '510952021-06-05',
 '400752021-09-19',
 '120572021-10-04',
 '510212021-08-07',
 '270032021-02-23',
 '170872021-05-28',
 '120712021-01-16',
 '212392021-04-21',
 '160492021-01-04',
 '340212020-09-11',
 '460712021-06-15',
 '720532021-05-09',
 '530192020-12-27',
 '280112021-04-19',
 '482652021-02-27',
 '10872021-04-19',
 '551392021-06-24',
 '171792021-04-26',
 '60752021-03-31',
 '720232021-05-10',
 '250252021-06-17',
 '482412021-03-03',
 '470852020-10-16',
 '150052021-08-26',
 '260732021-08-10',
 '60812020-12-21',
 '210992021-09-23',
 '482212021-08-23',
 '81232021-11-02',
 '410452020-12-14',
 '461292021-09-14',
 '10452021-07-20',
 '10872021-06-01',
 '420112021-01-02',
 '350232021-08-23',
 '130992021-09-22',
 '221032021-04-05',
 '450012021-03-28',
 '212372021-01-01',
 '340192021-03-02',
 '181532021-05-03',
 '270272021-10-09',
 '550472021-03-25',
 '340212021-05-11',
 '340192021-09-05',
 '470112020-12-04',
 '171132021-07-29',
 '380392021-04-05',
 '60112021-10-25',
 '410212021-03-05',
 '380772021-07-12',
 '80872021-06-13',
 '550932021-01-19',
 '500152020-12-13',
 '350612021-03-24',
 '181032021-07-24',
 '350452021-06-30',
 '191552021-04-14',
 '481192021-01-05',
 '261312021-03-03',
 '120812020-10-16',
 '191212020-11-06',
 '270692021-05-01',
 '720912020-12-30',
 '550372021-09-09',
 '240412021-10-09',
 '212272021-08-09',
 '550752021-05-18',
 '130712021-07-07',
 '482472021-08-23',
 '482092021-06-19',
 '482332021-07-05',
 '160772021-08-08',
 '260112021-02-01',
 '530392021-02-07',
 '270632020-11-27',
 '290252021-10-26',
 '482132021-05-11',
 '191792021-09-14',
 '270012021-04-21',
 '540472021-08-04',
 '482172021-10-23',
 '271572020-12-20',
 '540212021-06-07',
 '460352021-10-23',
 '484192021-01-08',
 '410592021-04-20',
 '250032021-06-17',
 '311772021-08-16',
 '380052021-08-27',
 '191252021-02-07',
 '190732021-04-28',
 '400172021-02-23',
 '483672021-09-04',
 '361132020-11-27',
 '220392021-10-11',
 '220452021-08-26',
 '291452021-06-09',
 '370172021-07-26',
 '401072021-09-26',
 '270152021-06-08',
 '550812021-05-27',
 '212312021-08-04',
 '400772021-06-09',
 '350352021-07-08',
 '181532021-04-08',
 '720052021-10-28',
 '490512021-07-24',
 '550372021-06-22',
 '410412020-12-11',
 '171872021-04-21',
 '471332021-11-02',
 '281472021-05-27',
 '180432021-05-27',
 '470832020-10-16',
 '360252021-05-05',
 '291592020-12-15',
 '510172021-07-10',
 '310512021-03-27',
 '191632021-07-20',
 '120892021-05-20',
 '300832021-10-29',
 '360092021-02-09',
 '380832021-05-03',
 '100032021-04-04',
 '420012021-08-25',
 '420252021-04-25',
 '280532021-01-13',
 '80312021-09-05',
 '540392021-09-05',
 '181012021-01-22',
 '470972020-12-20',
 '200792021-08-01',
 '450752020-11-13',
 '220712021-07-24',
 '120932021-06-26',
 '371032021-10-20',
 '171832021-07-20',
 '181792020-10-02',
 '271172021-10-12',
 '230232021-02-05',
 '483112021-02-21',
 '132452021-06-16',
 '221132021-10-29',
 '201112021-05-24',
 '171752021-05-02',
 '11212021-08-01',
 '60812021-07-12',
 '191072020-12-23',
 '201312021-05-23',
 '530712020-12-23',
 '281192021-03-03',
 '281112021-04-06',
 '191212021-02-11',
 '201472021-06-10',
 '10192021-09-18',
 '510492021-08-07',
 '191412021-03-22',
 '220152021-05-19',
 '440072021-10-12',
 '260552021-05-22',
 '130232021-03-25',
 '280332021-09-20',
 '300532020-12-26',
 '518402021-07-10',
 '390432021-04-27',
 '400212021-09-15',
 '500092021-09-03',
 '240032021-05-29',
 '482732020-10-02',
 '360732021-09-28',
 '180932021-04-06',
 '470672021-04-11',
 '170412021-02-05',
 '720312021-02-03',
 '391012021-07-06',
 '80912021-07-06',
 '171512021-09-26',
 '460052021-01-19',
 '120572021-10-10',
 '200772021-05-09',
 '180232021-01-26',
 '271492021-01-21',
 '212152021-11-06',
 '483612021-10-11',
 '181292021-08-03',
 '350432021-01-18',
 '181292021-05-17',
 '261052021-09-01',
 '121092021-03-31',
 '22902021-06-06',
 '390392021-01-17',
 '290332021-02-18',
 '410272021-09-23',
 '460152021-01-21',
 '380332021-09-12',
 '220012021-06-24',
 '60932021-07-13',
 '471852021-10-14',
 '420912021-02-18',
 '510212021-07-05',
 '300252021-03-10',
 '11012021-09-09',
 '132652021-06-05',
 '300832021-11-02',
 '50212021-09-13',
 '290492021-05-24',
 '511092021-08-14',
 '481552021-10-28',
 '201752020-10-16',
 '180492021-08-11',
 '210712021-11-02',
 '250252021-07-04',
 '51392021-08-15',
 '201892021-10-21',
 '460292021-10-25',
 '261572020-12-28',
 '200492021-08-21',
 '470332021-03-11',
 '271712021-01-20',
 '180752021-09-20',
 '290252021-05-02',
 '510292021-03-16',
 '461212021-06-05',
 '280832020-08-07',
 '721132021-01-26',
 '490432021-06-06',
 '10992020-12-16',
 '420212021-08-02',
 '484652021-10-11',
 '390472021-10-05',
 '291332021-01-21',
 '261412021-05-28',
 '292232021-02-06',
 '160592021-03-18',
 '720672021-02-27',
 '171612021-06-17',
 '550432021-08-11',
 '10652021-06-24',
 '292072021-10-21',
 '292212021-07-27',
 '230012021-11-01',
 '132052021-09-29',
 '280252021-07-17',
 '270312021-06-29',
 '240092021-09-02',
 '210432021-06-17',
 '391192021-02-18',
 '484392021-07-25',
 '560212020-12-23',
 '280472021-09-21',
 '270312020-12-27',
 '370672021-05-19',
 '131172021-07-25',
 '171432021-09-22',
 '510312021-09-15',
 '60452021-07-13',
 '461352021-01-18',
 '550312021-10-30',
 '400652021-05-30',
 '360372021-02-08',
 '371272021-02-04',
 '515202021-02-01',
 '260672021-05-08',
 '560132021-05-11',
 '450432021-02-09',
 '131372021-09-14',
 '450312021-05-31',
 '360052021-05-16',
 '361152021-04-14',
 '201172021-04-06',
 '121152021-09-20',
 '483392021-09-25',
 '421272021-04-01',
 '300432021-10-28',
 '484192021-10-15',
 '270652021-06-12',
 '300872021-05-10',
 '482372020-08-28',
 '211072021-07-27',
 '131092021-11-05',
 '440032021-09-06',
 '240272021-08-16',
 '470912020-12-28',
 '121092021-04-29',
 '511852021-03-21',
 '60712020-12-19',
 '720632021-10-25',
 '400712021-04-28',
 '482432021-11-06',
 '131112021-08-18',
 '211572021-08-28',
 '481892021-05-04',
 '201392021-02-06',
 '310872021-10-25',
 '483852020-12-20',
 '483492021-02-08',
 '420152021-01-24',
 '530672021-09-30',
 '130992021-07-22',
 '50572021-03-02',
 '281592021-08-18',
 '540472021-08-03',
 '490452021-02-02',
 '170432021-05-18',
 '280912020-07-31',
 '720592021-01-07',
 '550352021-07-22',
 '510232021-03-04',
 '470972021-01-07',
 '181212021-04-02',
 '420592021-01-05',
 '210212021-11-02',
 '300612021-05-02',
 '133112021-09-01',
 '211892021-09-15',
 '291032021-06-11',
 '60052021-01-17',
 '360852021-09-12',
 '370412021-03-27',
 '50252021-08-16',
 '481972020-11-20',
 '470172021-07-31',
 '482992021-05-13',
 '390372021-05-02',
 '90012021-01-25',
 '391672021-01-26',
 '510252021-07-06',
 '200592021-08-22',
 '60912021-06-30',
 '202032021-06-06',
 '220612021-04-11',
 '400132021-03-01',
 '483732021-08-08',
 '420052021-04-11',
 '220472020-12-13',
 '190512021-02-01',
 '471212021-01-20',
 '360912020-12-30',
 '291212021-05-26',
 '480092021-01-30',
 '490352021-10-24',
 '210252021-02-06',
 '401192021-10-07',
 '340352021-06-09',
 '10992020-08-21',
 '470932021-07-13',
 '291032021-05-15',
 '517202021-07-10',
 '280932021-06-20',
 '201992021-01-16',
 '150012021-06-17',
 '410372021-03-13',
 '471292021-07-27',
 '484152020-12-28',
 '481072021-03-13',
 '281152021-10-17',
 '481312021-02-22',
 '490452020-08-14',
 '540752020-08-14',
 '50592021-08-03',
 '260452020-09-18',
 '311492021-09-20',
 '172032021-02-13',
 '510632021-05-16',
 '510312020-12-29',
 '61012020-08-28',
 '150092021-07-21',
 '131632021-08-12',
 '484292021-03-18',
 '130572021-02-21',
 '132932021-03-11',
 '210332020-09-11',
 '421092021-03-02',
 '550872020-12-29',
 '191212021-07-14',
 '510732021-06-02',
 '211712021-07-08',
 '170272021-04-20',
 '511432021-03-26',
 '391572021-03-31',
 '470732021-01-03',
 '260992021-08-30',
 '10632021-10-30',
 '720252021-06-01',
 '481172020-12-26',
 '180232021-08-23',
 '50872021-09-22',
 '230192021-05-19',
 '270052021-01-23',
 '81172021-05-29',
 '260252021-09-14',
 '201152021-05-17',
 '390612021-04-28',
 '340372021-09-07',
 '482272021-08-04',
 '290552021-08-19',
 '340032020-12-13',
 '121212021-09-30',
 '370552021-07-14',
 '471572021-04-18',
 '460572021-06-28',
 '11212021-06-29',
 '420012021-04-08',
 '132712021-09-11',
 '450752021-01-20',
 '190852021-06-01',
 '530092021-06-30',
 '211432021-07-18',
 '80792021-09-12',
 '420632021-07-25',
 '190772020-12-27',
 '250072021-06-05',
 '371432021-03-15',
 '291872021-01-31',
 '261292021-05-23',
 '511652021-03-24',
 '400932021-06-24',
 '511012021-10-23',
 '290592021-04-17',
 '190932021-03-08',
 '132652021-03-25',
 '510272021-01-27',
 '380852021-07-04',
 '310212020-11-06',
 '160632021-03-25',
 '271052021-02-08',
 '370152020-12-15',
 '292252021-03-05',
 '300472021-07-01',
 '200212021-10-27',
 '350532021-03-28',
 '380072021-10-05',
 '510012020-10-02',
 '10932021-03-17',
 '390132021-02-09',
 '420292021-10-21',
 '60392021-07-07',
 '371632021-09-08',
 '130292021-05-14',
 '271152021-10-16',
 '484192021-03-01',
 '483512020-12-18',
 '220552021-09-04',
 '482532021-06-02',
 '21502021-08-08',
 '291712021-08-24',
 '11212020-10-09',
 '720012021-03-13',
 '490572021-04-20',
 '60272021-02-02',
 '181412021-11-02',
 '290732021-09-21',
 '370112021-04-14',
 '270892021-09-08',
 '370172021-11-04',
 '481872021-08-09',
 '400252021-08-21',
 '220972021-05-17',
 '400292021-06-10',
 '371732021-03-17',
 '560012021-06-12',
 '420692021-08-17',
 '211832021-05-22',
 '281572021-07-26',
 '483232021-06-10',
 '720232021-06-26',
 '51092021-06-13',
 '500232021-02-13',
 '485012021-09-08',
 '720972021-06-10',
 '190332021-01-10',
 '131212021-10-09',
 '350592021-06-12',
 '420112021-10-11',
 '221032021-10-24',
 '511552021-11-02',
 '280212020-11-20',
 '371312021-03-13',
 '310732021-04-01',
 '270872021-03-01',
 '190012021-02-10',
 '330132021-04-26',
 '460552020-12-28',
 '484112021-10-17',
 '401132020-12-28',
 '211052021-06-12',
 '51232020-12-14',
 '181172021-09-30',
 '340272021-06-29',
 '190072021-08-28',
 '420172021-05-13',
 '370812021-03-08',
 '490532020-11-13',
 '271352021-05-19',
 '720132021-08-19',
 '270092021-10-30',
 '410452021-03-31',
 '201092021-04-06',
 '281512021-06-13',
 '540752021-01-14',
 '171232021-10-16',
 '190292020-10-16',
 '11092021-05-23',
 '10612021-02-24',
 '51152021-01-31',
 '281632021-05-31',
 '160852021-02-11',
 '510312021-06-26',
 '483852021-04-19',
 '481692021-09-13',
 '380812021-03-25',
 '360652021-02-10',
 '130252021-05-09',
 '170512021-06-28',
 '130992020-12-14',
 '281472021-02-03',
 '51252021-07-26',
 '471832021-09-07',
 '220212021-04-11',
 '271112020-12-13',
 '350112021-07-13',
 '511132021-09-19',
 '550352021-03-17',
 '51152021-06-05',
 '510072021-09-22',
 '471572021-08-18',
 '540412021-01-30',
 '300512021-04-14',
 ...]

In [49]:
vax_data_df = vax_data_df[~vax_data_df['fips_date'].isin(remove_list_dates)]
vax_data_df

,Date,FIPS,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
49245,2021-10-22,16011,38.0,17795,17728,54.4,5292,78.0,97.6,42.6,60.8,83.3,160112021-10-22
49246,2021-10-22,48451,46.2,55067,52271,57.5,15433,82.9,99.1,52.1,64.7,89.3,484512021-10-22
49247,2021-10-22,48077,39.7,4162,4059,48.3,1756,70.7,99.1,43.4,52.6,74.0,480772021-10-22
49248,2021-10-22,51173,43.5,13103,12477,51.2,4617,67.9,83.0,50.1,58.9,76.2,511732021-10-22
49251,2021-10-22,47179,52.8,68276,65043,62.0,21163,87.2,97.9,59.1,69.1,94.3,471792021-10-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1063561,2020-12-18,42069,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,420692020-12-18
1063564,2020-12-18,48099,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,480992020-12-18
1063565,2020-12-18,13005,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,130052020-12-18
1063566,2020-12-18,18035,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,180352020-12-18
1063569,2020-12-18,48437,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,484372020-12-18

In [50]:
vax_data_df = vax_data_df.drop(['Date', 'FIPS'], axis=1)
vax_data_df

,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
49245,38.0,17795,17728,54.4,5292,78.0,97.6,42.6,60.8,83.3,160112021-10-22
49246,46.2,55067,52271,57.5,15433,82.9,99.1,52.1,64.7,89.3,484512021-10-22
49247,39.7,4162,4059,48.3,1756,70.7,99.1,43.4,52.6,74.0,480772021-10-22
49248,43.5,13103,12477,51.2,4617,67.9,83.0,50.1,58.9,76.2,511732021-10-22
49251,52.8,68276,65043,62.0,21163,87.2,97.9,59.1,69.1,94.3,471792021-10-22
...,...,...,...,...,...,...,...,...,...,...,...
1063561,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,420692020-12-18
1063564,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,480992020-12-18
1063565,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,130052020-12-18
1063566,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,180352020-12-18
1063569,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,484372020-12-18

In [51]:
vax_data_df.fillna(0)

,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct,Completeness_pct,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65PlusPop_Pct,fips_date
49245,38.0,17795,17728,54.4,5292,78.0,97.6,42.6,60.8,83.3,160112021-10-22
49246,46.2,55067,52271,57.5,15433,82.9,99.1,52.1,64.7,89.3,484512021-10-22
49247,39.7,4162,4059,48.3,1756,70.7,99.1,43.4,52.6,74.0,480772021-10-22
49248,43.5,13103,12477,51.2,4617,67.9,83.0,50.1,58.9,76.2,511732021-10-22
49251,52.8,68276,65043,62.0,21163,87.2,97.9,59.1,69.1,94.3,471792021-10-22
...,...,...,...,...,...,...,...,...,...,...,...
1063561,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,420692020-12-18
1063564,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,480992020-12-18
1063565,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,130052020-12-18
1063566,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,180352020-12-18
1063569,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,484372020-12-18

In [52]:
nyt_data_grouped = nyt_data_grouped[~nyt_data_grouped['fips_date'].isin(remove_list_dates)]
nyt_data_grouped

         fips collection_week  cases_to_date  deaths_to_date        fips_date
20       1001      2020-12-18          24040             296   10012020-12-18
21       1001      2020-12-25          26881             314   10012020-12-25
22       1001      2021-01-01          28791             333   10012021-01-01
23       1001      2021-01-08          31575             350   10012021-01-08
24       1001      2021-01-15          34774             382   10012021-01-15
...       ...             ...            ...             ...              ...
208912  78020      2021-09-24           2258              21  780202021-09-24
208913  78020      2021-10-01           2293              21  780202021-10-01
208914  78020      2021-10-08           2317              21  780202021-10-08
208915  78020      2021-10-15           2317              21  780202021-10-15
208916  78020      2021-10-22           2322              21  780202021-10-22

[110342 rows x 5 columns]

In [53]:
nyt_data_grouped = nyt_data_grouped.drop(['collection_week', 'fips'], axis=1)
nyt_data_grouped

        cases_to_date  deaths_to_date        fips_date
20              24040             296   10012020-12-18
21              26881             314   10012020-12-25
22              28791             333   10012021-01-01
23              31575             350   10012021-01-08
24              34774             382   10012021-01-15
...               ...             ...              ...
208912           2258              21  780202021-09-24
208913           2293              21  780202021-10-01
208914           2317              21  780202021-10-08
208915           2317              21  780202021-10-15
208916           2322              21  780202021-10-22

[110342 rows x 3 columns]

In [54]:
hospital_data_df = hospital_data_df[~hospital_data_df['fips_date'].isin(remove_list_dates)]
hospital_data_df

,fips_code,collection_week,total_beds_7_day_sum,all_adult_hospital_beds_7_day_sum,all_adult_hospital_inpatient_beds_7_day_sum,inpatient_beds_used_7_day_sum,all_adult_hospital_inpatient_bed_occupied_7_day_sum,total_adult_patients_hospitalized_con_and_sus_covid_7_day_sum,total_adult_patients_hospitalized_con_covid_7_day_sum,total_ped_patients_hospitalized_con_and_sus_covid_7_day_sum,total_ped_patients_hospitalized_con_covid_7_day_sum,inpatient_beds_7_day_sum,total_icu_beds_7_day_sum,total_staffed_adult_icu_beds_7_day_sum,icu_beds_used_7_day_sum,staffed_adult_icu_bed_occupancy_7_day_sum,staffed_icu_adult_patients_con_and_sus_covid_7_day_sum,staffed_icu_adult_patients_con_covid_7_day_sum,fips_date
20,1001,2020-12-18,581,581,462,425,425,220,209,0,0,462,42,42,39,39,27,27,10012020-12-18
21,1001,2020-12-25,581,581,462,445,445,286,281,0,0,462,42,42,42,42,27,27,10012020-12-25
22,1001,2021-01-01,581,581,462,454,454,282,272,0,0,462,42,42,42,42,29,29,10012021-01-01
23,1001,2021-01-08,602,602,462,431,431,291,283,0,0,462,42,42,42,42,38,35,10012021-01-08
24,1001,2021-01-15,602,602,462,423,423,250,247,0,0,462,42,42,42,42,39,39,10012021-01-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159866,78020,2021-09-24,924,868,728,410,389,20,20,0,0,784,56,56,29,29,7,7,780202021-09-24
159867,78020,2021-10-01,924,868,728,362,340,12,12,0,0,784,56,56,43,43,7,7,780202021-10-01
159868,78020,2021-10-08,924,868,728,412,381,12,12,0,0,784,56,56,48,48,7,7,780202021-10-08
159869,78020,2021-10-15,924,868,728,402,365,7,7,0,0,784,56,56,40,40,7,7,780202021-10-15
159870,78020,2021-10-22,924,868,728,381,356,0,0,0,0,784,56,56,36,36,0,0,780202021-10-22

Connection String

In [55]:
db_string = f"postgresql://postgres:#Summer2021@127.0.0.1:5432/COVID_Risk_Analysis"

In [56]:
engine = create_engine(db_string)

In [57]:
nyt_data_grouped.to_sql(name='counties', con=engine)

In [58]:
hospital_data_df.to_sql(name='hospitals', con=engine)

In [59]:
vax_data_df.to_sql(name='vaccinations', con=engine)